[2017-03-08 18:18] rychlis commented on #1314
ok the issue that we have fixed was unrelated to your issue. Thanks for the screenshot, this explains the issue very well and it should be pretty easy to fix :)

[2017-03-08 19:55] reconstrukt opened #1315 "crash"
-----
App v. `2.11.1`
Avocode UID: 76380
[code]

[2017-03-08 20:08] vojtatranta commented on #1315
Hello,
you have an old version of Avocode, please update via autoupdate or download newest build from https://avocode.com/download/

[2017-03-08 20:08] #1315 closed

[2017-03-09 11:55] McMurphy123 commented on #1310
Sorry, but I don't have a photoshop

[2017-03-09 15:42] whoiskjl opened #1316 "Mouse Position not showing"
Mouse position is not being displayed
also the measure tool doesn't display the dimension of select box

![screen shot 2017-03-09 at 10 40 56 am](https://cloud.githubusercontent.com/assets/1874874/23757476/f3120f80-04b4-11e7-9a3e-d8e72d8b2c5b.png)

[2017-03-10 12:02] vojtatranta commented on #1316
That's on the web, right?

[2017-03-10 13:37] garnaga opened #1317 "processing error"
![screen shot 2017-03-10 at 3 35 15 pm](https://cloud.githubusercontent.com/assets/9252457/23797196/47fa9222-05a7-11e7-8618-97b450ea9c1c.png)

[2017-03-10 13:48] bolekkerous commented on #1317
Hey, @garnaga -
could you please provide a little bit more information about the issue?

Were you trying to upload Sketch or Photoshop design?

[2017-03-10 13:50] garnaga commented on #1317
It was Photoshop design

On Mar 10, 2017 3:48 PM, "Bolek" <notifications@github.com> wrote:

[2017-03-10 13:51] bolekkerous commented on #1317
I see. Could you please send us the problematic PSD file to team@avocode.com, so we can investigate properly?

[2017-03-10 20:09] cedarstay opened #1318 "Freezing on Export"
When attempting to export 2 layers and change from the default png to jpg, once the export is initiated, the application freezes. I am on version 2.12.6 and was able to replicate in the online newer beta version in a chrome browser as well.

[2017-03-11 11:09] PixelT opened #1319 "SVG export -> result code"
When I export svg from avocode, I got much unnecessary code + cosmic values like 4417.4400000000005H1245.83C1245.99 😨
Below is example for this same icon:

Export from avocode:
[code]

vs
[code]

Both examples works (https://jsfiddle.net/y4d7a2tk)
Do you plan some improvements in this area? (svg export)

[2017-03-11 11:57] petrbrzek commented on #1319
We are going to add SVGO (https://github.com/svg/svgo) optimizer to the next release that should be out next week. It will produce much more compact SVG result.

[2017-03-11 11:59] PixelT commented on #1319
Yeah, that's very good news!
Thanks for fast response +1

[2017-03-13 09:41] #1310 closed

[2017-03-13 22:17] db-portfolio opened #1320 "Can't upload JPG file"
![screenshot 2017-03-13 15 16 12](https://cloud.githubusercontent.com/assets/11156404/23877557/14ddf11c-0800-11e7-9b9a-fe5139d67873.png)

[2017-03-13 23:07] vojtatranta commented on #1318
@cedarstay could you send us URL of the design?

[2017-03-14 01:41] JayCarney opened #1321 "Feature Request: Command + Scroll-wheel for zoom on designs in acocode web app"
All other shortcuts seem the same as the desktop app (didn't actually notice I was using it at one point, had the desktop app and the web app open at the same time), just missing the easy zoom-in zoom-out from the scroll-wheel + command, makes getting around a design much slower without it.

[2017-03-14 08:14] vojtatranta commented on #1321
@JayCarney noooo, how could you not notice that you are no in the desktop app. The web app is soo much faster :( :-D

Commnad + scroll should work on the web. I just tried it and it runs OK.

[2017-03-14 08:58] bolekkerous commented on #1320
Hello -
have you tried reuploading it again, whether it wasn't just some connectivity issue?

If it happens again, could you share the image with us at team@avocode.com?

Thanks!

[2017-03-14 08:59] bolekkerous commented on #1321
@JayCarney if it still does't work for you, could you please tell us which OS and browser are you using?

Thanks!

[2017-03-14 12:24] rychlis commented on #1314
We've just bumped the limit to 1000 characters which should fix your issue

[2017-03-14 12:24] #1314 closed

[2017-03-14 14:30] bolekkerous commented on #1316
This should now be fixed in the web version.

Feel free to let us know in case you encounter this or any issue!
Best regards,
Bolek, Avocode Team

[2017-03-14 14:30] #1316 closed

[2017-03-14 23:24] JayCarney commented on #1321
Just double checked; Command + scroll ins't working for me in Chrome, Safari, or Firefox.

Shift + scroll is moving horizontally though.

Mac OS: Sierra 10.12
Chrome: 56.0.2924.87 (64-bit)
Safari: 10.0 (12602.1.50.0.10)
Firefox: 52.0 (64-bit)

Not sure if this will help, but this is the contents of the event object passed to a generic keydown listener on my machine in Chrome, figured the keycodes

[2017-03-15 05:49] shitpoet opened #1323 "The design failed processing and cannot be opened..."
* avocode-app-linux-2.12.6:

* native:

* linux:

Fresh install of Avocode.

After uploading this psd - https://drive.google.com/drive/folders/0B6-DjrCemVsoZVZlbDh4NFNiWHc
received this error when tried to open it:
"The design failed processing and cannot be opened..."

[2017-03-15 09:56] connor-bean commented on #1311
Please comment here if you can send us the problematic designs to team@avocode.com

[2017-03-15 09:56] #1311 closed

[2017-03-15 09:56] connor-bean commented on #1317
I see. Could you please send us the problematic PSD file to team@avocode.com, so we can investigate properly?

[2017-03-15 12:08] vAhyThe opened #1324 "Open design"
* **Version**: 2.12.6

* **Native/Web**: Native

* **Platform**:  mac OSX SIerra 10.12.3

When try open design show this

![image](https://cloud.githubusercontent.com/assets/6084353/23947740/640e929c-0980-11e7-9e4b-fb557dd47ef8.png)

[2017-03-15 16:32] bolekkerous commented on #1321
You're right, we managed to find the problem - we'll close the issue as soon as the problem is fixed.

Thanks a lot for your report, it's very helpful. :)

[2017-03-15 16:42] bolekkerous commented on #1324
Hey, @vAhyThe -
could you please send us your Avocode account e-mail and name of the design that fails to open to team@avocode.com?

Thanks!

[2017-03-15 16:45] bolekkerous commented on #1323
Hey, @shitpoet -
could you hit us up at team@avocode.com from your Avocode account e-mail?

We can help you upload the design there.

[2017-03-16 09:46] LenaDishchenko commented on #1289
Hi,
Do you already know the reason of bug? When you will fix it?

[2017-03-16 12:19] Vashiru opened #1325 "Beta 4 gives unexpected error upon start (error 1/2)"
IMPORTANT: Please try to describe how did it happen.

When I start Beta 4, I get "An unexpected error has occured" twice at start, with options to dismiss or send report. This is the first one. I had this issue with Beta 1 as well.
-----
App v. `2.13.0-community-beta.4`
Avocode UID: 21082
[code]

[2017-03-16 12:21] Vashiru opened #1326 "Unexpected error has occured on beta 4 (error 2/2)"
IMPORTANT: Please try to describe how did it happen.

When I start Beta 4, I get "An unexpected error has occured" twice at start, with options to dismiss or send report. This is the second one. I had this issue with Beta 1 as well.
-----
App v. `2.13.0-community-beta.4`
Avocode UID: 21082
[code]

[2017-03-16 12:23] Vashiru commented on #1326
Also happens on current stable

[2017-03-16 12:23] Vashiru commented on #1325
Also happens on current stable

[2017-03-16 12:29] vojtatranta commented on #1326
@Vashiru in the stsable `2.12.6` too?

[2017-03-16 12:30] #1325 closed

[2017-03-16 12:30] vojtatranta commented on #1325
duplicat of #1326

[2017-03-16 13:05] Vashiru commented on #1326
@vojtatranta I have it on the latest 2.12.6 stable as well yes.

Further information (mentioned it scattered across Slack as well but good to list it here):
- Projects won't load before both errors have been cleared
- It's not specific to my machine, developers on my team are also seeing this issue.
- OS X Sierra 10.12.3 on a MacBook Pro (Retina, 15-inch, Mid 2015) for me
- Avocode works fine beyo

[2017-03-16 13:14] vojtatranta commented on #1326
@Vashiru we are not able to reproduce it.

Can I kindly ask you to try older versions please? Just start these build and please tell me whic one does not produce error. Thank you soo much!
- https://avocode-media.s3.amazonaws.com/download/avocode-app/2.12.5/avocode-app-mac-2.12.5.zip
- https://avocode-media.s3.amazonaws.com/download/avocode-app/2.12.4/avocode-app-mac-2.12.4.zip
- https://avocode-m

[2017-03-16 13:42] Vashiru commented on #1326
Happens on all of them. As soon as I've dismissed them I get the "Update available" message. Before that only the Avocode logo is visible in the screen

[2017-03-17 10:33] skaut41 opened #1327 "Export of embedded document failed"
* **Version**: 2.12.1-w629c591
* **Native/Web**: web
* **Platform**: Ubuntu 14.04 / Chrome 57.0.2987.98 (64-bit)

Hi, I've encounter a bug with exporting an image from embedded document. When I try export image directly from main design file (`.psd`) nothing happens, but when I tried export it from its own file (`.psb` in a new tab) export is fine. Dev Tools show some exceptions though:

* [app.av

[2017-03-17 11:32] vladimir-shalaev22 opened #1328 "Could not download metadata"
* **Native/Web**: Native

* **Platform**: Linux 64

-----
App v. `2.13.0`
Avocode UID: 132692
[code]

Hi! I successfully upload my design, but then, when I try to open it, I get an error :(

![issue-1](https://cloud.githubusercontent.com/assets/20970438/24041318/b75bec92-0b47-11e7-9472-ad650c9ac15c.png)
![issue-2](https://cloud.githubusercontent.com/assets/20970438/24041319/b75dba68-0b47-11e7-8547

[2017-03-18 08:55] skyline94 opened #1329 "Failed to install avocode via APT"
* **Version**: 2.13.0

* **Native/Web**: Native

* **Platform**: Ubuntu Linux

Im trying to deal with Avocode installation via apt repository.
After `sudo apt update` I got errors below:
`W:The repository 'http://linux.avocode.com main Release' does not have a Release file., W:Data from such a repository can't be authenticated and is therefore potentially dangerous to use., W:See apt-secure(8) man

[2017-03-18 15:48] jakubzitny commented on #1329
Hi @skyline94, thanks for reporting this. I am sorry, this is my fault. The repo link in [the documentation](https://help.avocode.com/app-settings/installing-avocode-on-linux) was not correct. Now it's fixed.

Please replace the one you used `http://linux.avocode.com` with `http://linux.avocode.com/apt/`, run `sudo apt update` and let us know if you have any more problems. 🐧 😉

[2017-03-18 15:54] skyline94 commented on #1329
@jakubzitny issue still here :(
`W:The repository 'http://linux.avocode.com/apt main Release' does not have a Release file., W:Data from such a repository can't be authenticated and is therefore potentially dangerous to use., W:See apt-secure(8) manpage for repository creation and user configuration details., E:Failed to fetch http://linux.avocode.com/apt/dists/main/all/binary-amd64/Packages  403

[2017-03-18 16:13] jakubzitny commented on #1329
Yeah sorry again 😇 there was another problem on the same line in the `sources.list`. The whole line should be as follows:
[code]

We had the `all` and `main` swapped in the docs. Now it should really be okay. Can you please check again?

[2017-03-18 16:31] skyline94 commented on #1329
@jakubzitny yep, it's ok now) thank you :+1:

[2017-03-18 16:31] #1329 closed

[2017-03-18 16:36] jakubzitny commented on #1329
Thanks a lot @skyline94, sorry for trouble.

[2017-03-18 19:57] ArrowBaZ opened #1330 "Upload fail"
Hello,

I upload a PSD by drag'n'drop file on projet, with 2 tabs open.
Same upload pb when drag to project in project manager view

Note upload work, still upload for few percent
Upload by website work fine

-----
App v. `2.13.0`
Avocode UID: 102722
[code]

-----
App v. `2.13.0`
Avocode UID: 102722
[code]

IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.0`
Avocode UID: 10

[2017-03-19 18:46] thvi opened #1331 "Error: Cannot read property 'object' of undefined"
IMPORTANT: Please try to describe how did it happen.

-----
App v.2.8.0-beta.6
Source UID: 368
[code]

[2017-03-19 21:02] vojtatranta commented on #1331
You have an old beta, please update your application by downloading stable release:
https://avocode.com/download/

[2017-03-19 21:02] #1331 closed

[2017-03-19 21:03] vojtatranta commented on #1328
Seems like some connection problem - are you not behind some Proxy? Did it work in older versions?

[2017-03-19 21:07] vojtatranta commented on #1326
@Vashiru huh, that's really strange.

Could you please try `2.9.1`? Thanks! https://avocode-media.s3.amazonaws.com/download/avocode-app/2.9.1/avocode-app-mac-2.9.1.zip

[2017-03-19 23:53] Vashiru commented on #1326
@vojtatranta Gave it a try, no errors in that version :)

[2017-03-20 05:36] shitpoet commented on #1323
hi, thank you, but i do not need help with uploading that psd. i just want to help you improve your app by reporting bugs.

now i updated avocode to 2.13 and i experience the same problem with another psd - https://www.dropbox.com/sh/idlzla3h4z21w0e/AACn-5w668Jasv9pGtgNzowoa?dl=0&preview=VSLP2K17_Desktop_1920px.psd

i tried to upload it several thimes in 2.12.6 linux 64 bit and in 2.13.0 linux 64

[2017-03-20 07:41] dnikonov opened #1332 "TypeError: toISOString is not a function"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.0`
Avocode UID: 24143
[code]

[2017-03-20 08:54] Dang-Dango opened #1333 "Sketch Plugin Black Screen"
<img width="750" alt="zrzut ekranu 2017-03-20 o 09 48 50" src="https://cloud.githubusercontent.com/assets/26539132/24093218/0ae5031e-0d53-11e7-8ddd-a2a9733f117c.png">
<img width="759" alt="zrzut ekranu 2017-03-20 o 09 53 30" src="https://cloud.githubusercontent.com/assets/26539132/24093230/1a909daa-0d53-11e7-9a0f-b733fe3b3e55.png">

* **Version**:
Avocode plugin 42.0.0

* **Native/Web**:
Native

*

[2017-03-20 10:54] vojtatranta commented on #1330
Hello,
thank you for this report I am examining it today. I will give you more info later today.

[2017-03-20 10:54] vojtatranta commented on #1332
That's a bug, we will fix it in another minor `2.13.1`

[2017-03-20 10:57] vojtatranta commented on #1222
Should be fixed in `2.13.0`

[2017-03-20 10:57] #1222 closed

[2017-03-20 10:57] vojtatranta commented on #1249
Not in 2.13.0 yet

[2017-03-20 10:58] vojtatranta commented on #1240
Should be fixed in `2.13.0`

[2017-03-20 10:58] #1240 closed

[2017-03-20 11:00] vojtatranta commented on #1327
Taking a look at it now.

[2017-03-20 11:02] vojtatranta commented on #1326
Alright,
let me give one last version for you to try out. https://avocode-media.s3.amazonaws.com/download/avocode-app/2.10.1/avocode-app-mac-2.10.1.zip

I am really sorry bothering you with that, if we could reproduce it, it would be great. But unfortunately, we can't :(.

[2017-03-20 11:06] vojtatranta commented on #1321
We will release `2.13.1` on Wednesday and this feature will be there.

[2017-03-20 13:12] Vashiru commented on #1326
That one does throw the same 2 errors again. Clicked on send report, but again "no stack trace available".

No problem, happy to help solve the issue. Feel free to send me test versions as you go on solving it and I'll give them a spin.

[2017-03-20 13:39] Vashiru commented on #1333
Looks like the same issue as I had. As a workaround for now:

1. Open Sketch
2. Go to Plugins -> Manage plugins -> In the bottom left corner press the gear icon -> Show plugins folder
3. Delete avocode-token.json
4. Restart Sketch
5. Next time you start Avocode plugin it will ask you to sign in again, once you do Avocode will work as intended.

[2017-03-20 15:42] maxim1006 opened #1334 "Cant find letter-spacing in styles"
varsion: 2.12.6

native

Windows 7

In styles letter-spacing prop is absent

[2017-03-20 18:31] vojtatranta commented on #1330
@ArrowBaZ I can't reproduce this error.

Is it happening regularly again and again? Does it work with single tab opened?

[2017-03-21 04:11] vijayakumarGit opened #1335 "App crash for windows-10"
I try to login after login app would crash it happen all time in windows 10 system kindly fix this issue ASP

App v. `2.11.1`

[2017-03-21 09:33] jakubzitny commented on #1335
Hi @vijayakumarGit, you're using an old version of Avocode. Please download the latest version `2.13.0` from [manager.avocode.com/downloads](http://manager.avocode.com/downloads/) and let us know if you have any more problems.

[2017-03-21 09:33] #1335 closed

[2017-03-21 10:17] bolekkerous commented on #1319
Added in 2.13.

Your app should update automatically - and if it doesn't, you can always download the latest version here:
https://manager.avocode.com/downloads/

[2017-03-21 10:17] #1319 closed

[2017-03-21 10:18] bolekkerous commented on #1313
This should be fixed in 2.13. Your app should update automatically. If it doesn't, you can always download the latest version here:
https://manager.avocode.com/downloads/

If you still experience this issue, please comment here and we'll reopen the issue.

[2017-03-21 10:18] #1313 closed

[2017-03-21 10:20] bolekkerous commented on #1291
I'll close this issue as inactive - please follow the steps above to deal with this DNS issue.

If these doesn't help, please comment here and we'll reopen the issue.

[2017-03-21 10:20] #1291 closed

[2017-03-21 10:22] bolekkerous commented on #1282
We'll soon switch to new Help Centre ( https://help.avocode.com/ ), where this is fixed.

[2017-03-21 10:22] #1282 closed

[2017-03-21 10:42] bolekkerous commented on #485
Closing this as duplicate, because the other issue #793 has more comments.

[2017-03-21 10:42] #485 closed

[2017-03-21 10:43] bolekkerous commented on #1299
Letter spacing is currently supported only for Sketch, however we're planning to support it for Photoshop as well.

Closing this as duplicate, please follow the #793 issue for more info.

You can also upvote this feature request on our UserVoice:

https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/7024976-show-letter-spacing-in-photoshop-documents

[2017-03-21 10:43] #1299 closed

[2017-03-21 10:44] bolekkerous commented on #1334
Letter spacing is currently supported only for Sketch, however we're planning to support it for Photoshop as well.

Closing this as duplicate, please follow the #793 issue for more info.

You can also upvote this feature request on our UserVoice:

https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/7024976-show-letter-spacing-in-photoshop-documents

[2017-03-21 10:44] #1334 closed

[2017-03-21 10:53] connor-bean commented on #1333
Thanks for the comment @Vashiru.

@Dang-Dango - did this workaround work for you too>

[2017-03-21 11:20] Dang-Dango commented on #1333
Deleting the .json file works like a charm. Thanks for the reply.

[2017-03-21 11:34] Vashiru commented on #1333
This issue does keep returning for me though, so I wouldn't close it right now

[2017-03-21 15:37] vojtatranta commented on #1332
At the end, we weren't able to reproduce it, I'll keep it here if similar issue comes

[2017-03-22 00:01] JayCarney commented on #1321
Awesome, love your work

[2017-03-22 00:02] JayCarney commented on #1321
wrong button

[2017-03-22 07:46] makeitcreative13 opened #1337 "report"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.0`
Avocode UID: 40028
[code]

[2017-03-22 08:09] connor-bean commented on #1337
Hey are you behind some sort of proxy by chance?

[2017-03-22 12:22] kolundzija opened #1338 "Intercom 'id' of undefined"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.0`
Avocode UID: 16313
[code]

[2017-03-22 12:27] vojtatranta commented on #1338
This should be fixed in `2.13.1` releasing today.

[2017-03-22 17:39] vojtatranta commented on #1321
deployed https://app.avocode.com/

[2017-03-22 17:39] #1321 closed

[2017-03-23 08:50] p-boiko opened #1339 "apt-get update/upgrade from 2.13.0 to 2.13.1"
* **Version**: 2.13.1

* **Web/Desktop**: Desktop

* **Platform**: Debian GNU/Linux

After successful upgrade from 2.13.0 to 2.13.1 the app still asks to upgrade: [video](http://pavelb.dev.kim/screenshots/avocode_apt_issue.mp4)

[2017-03-23 11:33] Danny-weebo opened #1340 "Error uploading file"
every time when I clicked on + Upload design and picked a file or dragged it into the project's folder its showing this error.

-----
App v. `2.13.1`
Avocode UID: 20414
[code]

[2017-03-23 16:40] MaksHardy opened #1341 "Bug"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-03-23 22:46] jakubzitny commented on #1339
Hi @p-boiko, thanks for letting us know. This was our fault and it should be fixed now, can you please try upgrading once again? 🐧

[2017-03-24 01:29] rickmurt commented on #361
Any updates?  We're past fall :)

[2017-03-24 06:03] p-boiko commented on #1339
Ahoj @jakubzitny .
Děkuji, teď opravdu aktualizováno :)

[2017-03-24 06:03] #1339 closed

[2017-03-24 06:09] p-boiko commented on #1341
This affects me too. I have bugs in all versions of every apps I use on every platforms! Frustrating... Any ETA for fixes? :D

[2017-03-24 06:22] vojtatranta commented on #1341
@p-boiko what bugs? We can't do much with such report. We need stack traces or at least steps to reproduce.

[2017-03-24 06:53] p-boiko commented on #1341
Yeah, @vojtatranta , its not funny when it comes to bugs :)
I just joked about empty bug report by @MaksHardy
Sorry, no flooding anymore :)

[2017-03-24 08:58] vojtatranta commented on #1341
@p-boiko I am here at Avocode to fix bugs and I absolutely understand how pitty is it. But I need to know which ones to fix.

[2017-03-24 10:14] chielsen commented on #361
Yes thinking of cancelling subscription as I'm waiting for 15 months already.

[2017-03-24 10:27] vojtatranta commented on #361
@chielsen @rickmurt
Sorry guys, it's very complicated thing. The extension is now simply required, because sketch format is not easily parseable.

We already have an internal version of parser available and we started working on direct upload of sketch files.

We are now busy with Avocode on the web which requires all of our resources.

And current estimate fr sketch direct upload is June (Q2).

W

[2017-03-24 15:44] serzh-f opened #1342 "Error"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.13.1`

[2017-03-24 16:09] whoiskjl opened #1343 "Export Screen Shot feature for the web version"
- Avocode 2.13.1-w43ccea4

* **Version**:

* **Web/Desktop**:

Web

* **Platform**:

macOS 10.12.3

Export Screen Shot feature just like desktop app

[2017-03-24 16:10] vojtatranta commented on #1343
Do you mean cmd+p to expprt screenshot?

[2017-03-24 16:10] vojtatranta commented on #1342
This error corrured when app booted?

Dne 24. 3. 2017 4:44 odp. napsal uživatel "serzh-f" <
notifications@github.com>:

[2017-03-24 16:35] serzh-f commented on #1342
Hi. No. Error corrured with big .PSD. Many files don't uploading or don't rendering. I love Avocode (for Linux), but now layouts don't uploading fast (size about 30 - 100mb)

[2017-03-24 22:43] vojtatranta commented on #1342
100MB should not be a problem. It probably depends on the design. Can you send us these problematic designs at team@avocode.com? Thanks!

[2017-03-25 07:33] skyline94 opened #1344 "Wrong Avocode repository URL in Avocode."
* **Version**: 2.13.0

* **Web/Desktop**: Desktop

* **Platform**: Ubuntu Linux

Wrong URL to Avocode repository in instructions to update. Recently I met this issue and it was fixed in documentation, but URL still wrong in program itself. #1329
<...>
**echo deb http://linux.avocode.com main all >> /etc/apt/sources.list**
<...>
Should be `echo deb http://linux.avocode.com/apt all main >> /etc/apt/

[2017-03-25 09:05] glutaminefree commented on #1237
In version 2.13.1 on Fedora 24 x86_64 this "bug" return again. I have project with 78 designs, and when I click on one, it opens in same tab. And I need open new tab, open project, and scroll over all of this previews to find what I need. I'm scroll designs and cry T_T

[2017-03-25 09:24] vojtatranta commented on #1237
We wanted ti unify behavior between the web and the app. That's why we changed it.

If you just want to look on the while design quickly, just select it and hit space and preview window will pop up.

If you want to open a desing on a new tab just doubleclick + holding cmd / ctrl

[2017-03-25 09:25] glutaminefree commented on #1237
Ok, thanks!

[2017-03-25 09:31] vojtatranta commented on #1237
And we will be doing major uodates in Project Manager in the comming weeks. For examples subfolders etc. and it should make the experience much better, you wont have to scroll thaht much.

You can noe even use search (ctrl+f) to search fora design regardless the project where it is assigned into.

[2017-03-25 09:32] glutaminefree commented on #1237
I've got it! Thanks for hints :)

[2017-03-25 14:12] shitpoet opened #1345 "Horizontal scroll with shift+mouse stopped working"
* **Version**: 2.13.1

* **Web/Desktop**: Desktop

* **Platform**: Linux 64-bit (Debian 8 Stable)

In version 2.12 i could scroll a document using Shift + mouse, starting from version 2.13.0 it does not work. Now, Ctrl + mouse zooms the document, but Alt + mouse, Shift + mouse, Alt+Shift (and so on) + mouse - all do vertical scroll.

Is it intended behaviour or bug?

I'm using openbox WM if it doe

[2017-03-26 08:48] Zidar opened #1346 "Issue with system zoom in Windows other than 100%"
* **Version**: 2.13.1

* **Web/Desktop**: Desktop

* **Platform**: Windows 10

I use Avocode on laptop with 1600x900 screen resolution. **System zoom is set to 125%**.
**Workspace in Avocode looks blurry**. Sidebars in Avocode, icons, menu look ok.
![design-125](https://cloud.githubusercontent.com/assets/25146905/24329743/a326f1e4-120f-11e7-9789-24dd4f99a2ea.png)

If I set system zoom to 100%, eve

[2017-03-26 18:26] vojtatranta commented on #1340
I tried to reproduce it on monday but with completely no luck at all.

We will go deeper into this further on.

[2017-03-27 01:12] billhannah opened #1347 "Trying to export symbol as SVG"
IMPORTANT: Please try to describe how did it happen.
It seems the symbol wasn't synced when trying to export.
-----
App v. `2.13.1`
Avocode UID: 72062
[code]

[2017-03-27 06:34] vojtatranta commented on #1347
Thank you!

Thats a bug, we will fix it.

[2017-03-27 07:41] yoalex5 opened #1348 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.1`
Avocode UID: 76617
[code]

[2017-03-27 07:42] jakubzitny commented on #1348
Hi @yoalex5, thanks for reporting this. We already know about it and we're tracking the progress in #1347. The bug will be fixed in next version of Avocode.

[2017-03-27 07:42] #1348 closed

[2017-03-27 07:51] jakubzitny commented on #1344
Hi @skyline94, thanks a lot for noticing, this is my fault (again). I fixed it for the next Avocode release. You'll still see the incorrect line in `2.13.1` and it should be OK after next upgrade.

Thanks again, I'll keep this open untill we release the next version.

[2017-03-27 08:34] vojtatranta commented on #1346
Thank you for this report.

We did not encountered in and we will try to reproduce it. Thanks!

[2017-03-27 08:36] vojtatranta commented on #1345
We have never intended having an option to use the mouse to scroll horizontally.

For scrolling we have hand tool, which can be activated temporary by holding `space`. To switch to hand tool press `H`.

[2017-03-27 08:36] #1345 closed

[2017-03-27 08:52] bolekkerous commented on #1345
Just to clarify, @shitpoet  - is this issue about shift + drag with mouse or shift + middle mouse button scrolling?

[2017-03-27 09:21] kure- opened #1349 "Error when not getting online after suspending device"
IMPORTANT: Please try to describe how did it happen.
- basically turned laptop on and wifi did not get connected
- the app returned error
- went online again manually and seems to be fine
-----
App v. `2.13.1`
Avocode UID: 393
[code]

[2017-03-27 09:42] shitpoet commented on #1345
@bolekkerous shift + mouse wheel

i used to it cuz shift + mouse wheel for horizontal scroll also works in many other places, such as browsers, many code editors etc

for me switching to "hand" tool just to scrolll horizontally a little is less convinient

also that `shift + wheel` scroll was strictly horizontal, where "hand" tool moves freely - as far as i now, i never used it before! it is usefu

[2017-03-27 10:53] Daweo93 opened #1350 "Upload psd files"
When I tried to upload PSD file.s

-----
App v. `2.13.1`
Avocode UID: 81652
[code]

[2017-03-27 11:14] petrbrzek commented on #1350
Thanks for reporting. We know about this bug and the fix should be released tomorrow.

[2017-03-27 15:05] morcegon opened #1351 "getaddrinfo ENOTFOUND manager.avocode.com"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.1`
Avocode UID: 17209
[code]

[2017-03-27 15:12] jakubzitny commented on #1351
Hi @morcegon, thanks for reporting this. I've seen this error today as well, we're investigating it right now.

Can you please provide us with more info, what OS are you using, what have you been doing before this happened and did it happen more than once?

Thanks.

[2017-03-27 15:19] morcegon commented on #1351
Hello @jakubzitny !
I'm using Mac OS Sierra.
It's the first time this happen. The Avocode window was in background, I was in using Chrome

[2017-03-28 07:45] skaut41 commented on #1327
Hi, I've just tested it in version 2.13.1, exporting is working fine. Thank you! :+1:

[2017-03-28 07:45] #1327 closed

[2017-03-28 08:24] mbibko commented on #1346
My laptop 1920x1080 15". Everything is big, and the layout is blurred
http://c2n.me/3IV2OQU

[2017-03-28 08:35] jakubzitny commented on #1349
Hi @kure-, thanks for the report. We've already got some details in #1351, so I'm going to close this thread and we'll update you over there. We're looking into this problem.

[2017-03-28 08:35] #1349 closed

[2017-03-28 09:08] #1341 closed

[2017-03-28 10:37] Webdesme opened #1352 "none close"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.1`
Avocode UID: 31535
[code]

[2017-03-28 10:42] jakubzitny commented on #1338
Hi @kolundzija, we've not been able to fix this problem yet. We're investigating it right now. It is happening to some users but we are not sure why exactly, so any further details you might have could help us.

We hope the fix should be ready in one of the next releases.

[2017-03-28 10:45] jakubzitny commented on #1352
Hi @Webdesme, thanks for the report. Can you please provide us with more details on this error? How did it happen? Did it happen more than once?

We actually know about this issue and we're already tracking it in #1338, we just need more details. I am going to close this thread and let's continue in #1338.

[2017-03-28 10:45] #1352 closed

[2017-03-28 10:46] srdjanjovanovic opened #1353 "Failed to upload two designs"
* **Version**: 2.13.1

* **Web/Desktop**: Desktop

* **Platform**: Windows 10

Just uploaded 2 designs - (355Mb and 408Mb), and it showed What's wrong? button with red background.

[2017-03-28 10:59] vojtatranta commented on #1353
@srdjanjovanovic this means that design or designs failed to parse on our side. There may be many reasons.

We could upload them for you or you may try again one by one.

You can also send us these designs at team@avocode.com

[2017-03-28 11:02] bolekkerous commented on #1353
Yes - with that size, it might be possible that some parts of the design are too large to be processed on our side. We would need to see the actual files to know what exactly causes the problem.

If you can send us the designs to team@avocode.com, we should be able to upload these files through Photoshop plugin for you. Or if you have access to Photoshop yourself, you can download our Photoshop pl

[2017-03-28 11:28] AndriusZid commented on #1173
After upgrading to version **2.12.6** issue is not reproduced anymore.

[2017-03-28 12:29] zavod008 opened #1354 "Problem"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.1`
Avocode UID: 132779
[code]

[2017-03-28 13:35] yozzh opened #1355 "Error while uploading PSD"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.1`
Avocode UID: 111514
[code]

[2017-03-28 13:42] vojtatranta commented on #1332
We are closer to fix it.

The fix should land in `2.13.2` however we cannot reliably reproduce it.

[2017-03-28 13:42] vojtatranta commented on #1340
This is also a duplicate of #1332

[2017-03-28 13:42] #1340 closed

[2017-03-28 13:42] vojtatranta commented on #1354
This is a duplicate of #1332

[2017-03-28 13:42] #1354 closed

[2017-03-28 13:43] vojtatranta commented on #1355
This is a duplicate of #1332

[2017-03-28 13:43] #1355 closed

[2017-03-29 11:59] jakubzitny commented on #1347
This should be fixed in Avocode `2.13.2` we've just released. Let us know if this problem persists or if you have any other issues with it.

Thanks.

[2017-03-29 11:59] #1347 closed

[2017-03-29 12:02] jakubzitny commented on #1344
This should be fixed in Avocode `2.13.2` we've just released. You should see correct URL for the future releases.

Don't hesitate to let us know if you have any other issues with Avocode. 😉
Thanks.

[2017-03-29 12:02] #1344 closed

[2017-03-29 12:03] jakubzitny commented on #1350
This should be fixed in Avocode `2.13.2` we've just released. Let us know if this problem persists or if you have any other issues with it.

Thanks.

[2017-03-29 12:03] #1350 closed

[2017-03-29 17:38] petrbrzek commented on #1330
Fixed in 2.13.1

[2017-03-29 17:38] #1330 closed

[2017-03-30 11:10] prajwal78 opened #1356 "Issue"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.2`
Avocode UID: 126390
[code]

[2017-03-30 14:42] petrbrzek commented on #1356
Hello, can you describe us what does it happen? Are you able to launch the desktop app now? @prajwal78

[2017-03-30 15:03] prajwal78 commented on #1356
I ain't able to upload 60+ MB to the platform. Throws me error.

Sent from my iPhone

[2017-03-30 15:40] jpm1475 opened #1357 "On startup"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.2`
Avocode UID: 136157
[code]

[2017-03-31 08:07] petrbrzek commented on #1357
@jpm1475 Hello, can you describe us what does it happen? Are you able to launch the desktop app now?

[2017-03-31 12:26] cjkas opened #1358 "err"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-03-31 17:09] jpm1475 opened #1359 "WHen I opened the app"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.2`
Avocode UID: 136157
[code]

![image](https://cloud.githubusercontent.com/assets/23405932/24561026/33d1d9a0-1613-11e7-9759-a9b242e2c593.png)

[2017-03-31 17:12] jpm1475 opened #1360 "On Opening of the app"
IMPORTANT: Please try to describe how did it happen.
Everytime I open the app I get this error:
![image](https://cloud.githubusercontent.com/assets/23405932/24561105/946d1414-1613-11e7-83cf-f99a7020f7d8.png)

I have been trying to synch from sketch and it tells me on the Sketch side that the artboards were synched, however, they are not showing up
-----
App v. `2.13.2`
Avocode UID: 136157
[code]

[2017-03-31 17:49] petrbrzek commented on #1360
@jpm1475 are you able to open the desktop app or are you getting the error every time?

[2017-03-31 17:53] petrbrzek commented on #1359
Closing as a duplicate #1357.

[2017-03-31 17:53] #1359 closed

[2017-03-31 17:58] petrbrzek commented on #1356
@prajwal78 so you are not getting the error when you start the app but when you upload a file?

[2017-03-31 17:59] jpm1475 commented on #1360
Every time I open the app I get that error. I click through and the app seems to work fine, but why do I get the error?

--
JP McCaffrey

[2017-03-31 18:12] petrbrzek commented on #1360
I am guessing it might be something with changed data structures in the new version. If you have time, would you be willing to send us your `~/.avocode/state.json` to team@avocode.com and also try following?

- Close the app and uninstall/delete all versions of Avocode you have.
- Backup and remove directory ~/.avocode with all user data.
- Install the latest again.

Let me know if it helped.

[2017-04-03 07:50] #1358 closed

[2017-04-03 07:51] connor-bean commented on #1358
Hello-

In order for us to properly troubleshoot this one, we will need more information from you.

What was the error? What Avocode version are you running? What OS? Does it happen repeatedly?

Please comment with more information and we can reopen the ticket.

[2017-04-03 10:15] vikynandha opened #1361 "An unexpected error has occurred"
IMPORTANT: Please try to describe how did it happen.

I had just kept it open for a few hours and was doing something else. Avocode in the dock (Mac) immediately started bouncing. And there was this popup saying "An unexpected error has occurred". The worst part is the popup keeps coming up again no matter whether I click on "Dismiss" or "Send Report". As if it's stuck in some infinite loop.

----

[2017-04-03 10:44] connor-bean commented on #1361
Hey @vikynandha

Thanks for the detailed report. We're tracking this in #1331 so I will close this and follow it there.

[2017-04-03 10:44] #1361 closed

[2017-04-03 15:58] z4kk opened #1362 "error on drag & drop psd in project folder"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.12.6`
Avocode UID: 56383
[code]

[2017-04-03 17:24] odedyar opened #1363 "can't upload new files"
* **Version**:
2.13.2

* **Web/Desktop**:
Desktop

* **Platform**:
Windows 10

can't upload new psd files anymore

[2017-04-03 17:38] vojtatranta commented on #1363
Can you please be more specific? What does not work? How do you try to upload new files?

[2017-04-03 17:53] odedyar commented on #1363
Hi,

The new file just doesn't upload and it stuck on 0%.

I try drag and drop and also Upload Design button and get the same result.

From: vojtatranta [mailto:notifications@github.com]
Sent: Monday, April 3, 2017 8:39 PM
To: avocode/avocode <avocode@noreply.github.com>
Cc: odedyar <odedyar@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [avocode/avocode] can't upload new files (#1363

[2017-04-03 17:55] vojtatranta commented on #1363
I suppose that this happens with any file you try regardless of size etc. right?

Are you not behind some corporate proxy?

[2017-04-03 18:02] odedyar commented on #1363
Yes, any file size and no proxy.

It was just fine 4 days ago.

Reagrds,

Oded

From: vojtatranta [mailto:notifications@github.com]
Sent: Monday, April 3, 2017 8:55 PM
To: avocode/avocode <avocode@noreply.github.com>
Cc: odedyar <odedyar@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [avocode/avocode] can't upload new files (#1363)

I suppose that this happens with any file you try re

[2017-04-03 19:02] vojtatranta commented on #1363
We have no reports about connectivity issues reported so far. I tried to upload a file and it works completely OK.

4 days ago you had `2.13.1` version?

[2017-04-03 19:06] odedyar commented on #1363
I think I did install a new update a few days ago

[2017-04-03 19:10] vojtatranta commented on #1363
Are you sure it is not some connection-related problem?

[2017-04-03 19:15] odedyar commented on #1363
I have this problem already more than 8 hours ago and didn't have any connection related problem

[2017-04-03 19:22] vojtatranta commented on #1363
I see.

Well it does not seem as a problem on our end. I'll ask our backend guys.

[2017-04-03 19:23] odedyar commented on #1363
Thanks

[2017-04-03 19:41] odedyar commented on #1363
Ok, I found the problem. the computer clock was wrong. thanks.

[2017-04-03 21:45] #1363 closed

[2017-04-03 21:45] jakubzitny commented on #1363
Thanks for letting us know @odedyar. Don't hesitate to create new issue if you have any other problems.

[2017-04-04 08:19] nikulinn opened #1364 "crashed"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.1`
Avocode UID: 135318
[code]

[2017-04-04 08:23] connor-bean commented on #1362
Hey @z4kk -

Thanks for the report. We are tracking this in #1249 so I will close this as it is a duplicate.

[2017-04-04 08:23] #1362 closed

[2017-04-04 08:27] connor-bean commented on #1364
Hey @nikulinn -

Thanks for the report. We will look into it as this is similar to #1332

[2017-04-04 08:36] vojtatranta commented on #1332
Actually. We found another source of this bug and it should be fixed in `2.13.3`

FYI: circular JSON of error event sent to sentry

[2017-04-04 08:37] vojtatranta commented on #1364
this one is duplicated, will be tracking in #1332

[2017-04-04 08:37] #1364 closed

[2017-04-04 09:14] aquelito opened #1365 "Error load project"
* **Version**:  last version

* **Web/Desktop**: web

* **Platform**:  OSX

I don't have access to my project

[2017-04-04 09:33] vojtatranta commented on #1365
Please can you be more specific? What happens that you cannot access your project?

[2017-04-04 09:39] aquelito commented on #1365
Check my screenshot, no more...
![telechargement](https://cloud.githubusercontent.com/assets/940004/24650704/4daf8cc6-192b-11e7-8b59-39ef5764b335.png)

[2017-04-04 09:45] monti84 opened #1366 "Horizontal scrolling with mouse wheel not working anymore?"
Hey Avocoders,
as I remember it was possible to scroll the document horizontally with shift + mouse wheel. I really missing the feature, can somebody tell me something about this?

-----------------------------
Version: 2.13.2
Web/Desktop: Desktop
Platform: Win 7 x64

[2017-04-04 12:28] aquelito commented on #1365
It is ok. I logout and login .........

[2017-04-04 12:28] #1365 closed

[2017-04-04 13:21] vojtatranta commented on #1365
This looks like a faulty sync.

If this occurs just hit Sync button in the top right. Which should resolve it.

Seems like designs were not properly downloaded.

[2017-04-04 18:41] vladimir-shalaev22 commented on #1328
I don't exactly remember version of Avocode, but in November or December 2016 it works fine.
The first error occurred in January this year.
I don't use any Proxy. And I have not problems with internet connection.

[2017-04-04 20:14] aquelito commented on #1365
No work on refresh,
No work on reboot
Nothing.
Just logout/login

[2017-04-05 07:46] Solomko2 opened #1367 "pizdec"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.0`
Avocode UID: 124843
[code]

[2017-04-05 07:56] vojtatranta commented on #1367
Metadata you are trying to download does exist on the server and they are accessible.

Have you managed to open the design at the end?

[2017-04-05 07:59] vojtatranta commented on #1366
We actually haven't known that this is even possible. We could definitely put it back.

But anyway now you can use Handtool just as easily. Just press `H` to switch to the hand tool. Or hold `space` to activate it temporarily.

[2017-04-05 08:08] monti84 commented on #1366
Thanks, that space thing is perfect :)

[2017-04-05 08:18] vojtatranta commented on #1366
We tried to put all those known shortcuts from other common programs like Photoshop to make it easy to use. So if you hit space when you have selected design in Project Manager a Preview will pop up. etc.

[2017-04-05 09:58] bagau opened #1368 "'firstMd5Digest' of undefined / Evaporate"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.2`
Avocode UID: 136762
[code]

[2017-04-05 10:54] jakubzitny commented on #1368
Hi @bagau, thanks for sharing this with us. Do you have any more info on how did this happen? Did it happen more than once? Also, are you using 32 or 64bit version of Avocode?

[2017-04-05 13:16] bagau commented on #1368
Do you have any more info on how did this happen?

[2017-04-06 08:49] #1332 closed

[2017-04-06 09:13] vAhyThe opened #1369 "Visual error"
* **Version**:
2.13.2

* **Web/Desktop**:
Desktop

* **Platform**:

Mac os 10.12.4 (16E195)

![image](https://cloud.githubusercontent.com/assets/6084353/24746588/f053dcae-1ab9-11e7-8ba0-f853127c5a80.png)

[2017-04-06 09:19] vojtatranta commented on #1369
@vAhyThe do you remember whether previous versions were ok?

[2017-04-06 09:20] vAhyThe commented on #1369
@vojtatranta previous version was ok. This was there like 1 ~ 2 seconds then was normal

[2017-04-06 15:47] krzaknet opened #1370 "Sketch 43 - failed to sync"
* **Version**: 42.0.0

* **Web/Desktop**: Desktop

* **Platform**:  Mac OS

Failed to sync to Avocode via Sketch plugin (42.0.0) after update Sketch to 43

[2017-04-06 18:50] vojtatranta commented on #1130
nažer se https://avocode-media.s3.amazonaws.com/download/avocode-app/2.13.3/Avocode-2.13.3.dmg

[2017-04-07 10:13] Zabavsky opened #1371 "ISSUE"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.3`
Avocode UID: 28514
[code]

[2017-04-07 11:43] vAhyThe opened #1372 "Vissual error in export JPG"
* **Version**:
2.13.3

* **Web/Desktop**:
Dekstop

* **Platform**:

MAC os 10.12.4 (16E195)

![image](https://cloud.githubusercontent.com/assets/6084353/24798761/05de3d2e-1b98-11e7-9373-841e5dc09eb0.png)

![image](https://cloud.githubusercontent.com/assets/6084353/24798772/1151117c-1b98-11e7-9d75-52a40c2f67d2.png)

[2017-04-07 11:58] vojtatranta commented on #1372
Could you please try older version whether it happens there too?
https://avocode-media.s3.amazonaws.com/download/avocode-app/2.11.1/avocode-app-mac-2.11.1.zip

I am just curious what's the reason, because it might be Electron.

[2017-04-07 11:59] vAhyThe commented on #1372
@vojtatranta sure gime me minute

[2017-04-07 12:04] vAhyThe commented on #1372
@vojtatranta export img is ok but there some wierd visual artefacts

![image](https://cloud.githubusercontent.com/assets/6084353/24799362/16a49632-1b9b-11e7-8084-2fe0991a42a2.png)

[2017-04-07 12:05] vojtatranta commented on #1372
yeah I know

[2017-04-07 14:28] whoiskjl opened #1373 "List view of all the comments in a project with a way to filter or/and to search"
* **Version**:
2.13.3

* **Web/Desktop**:
Desktop

* **Platform**:
macOS 10.12.4

I wish there was a way to **see all the existing comments in a project ( hopefully with some filter )** in a list view or something so we get a better overview of what comments need to be addressed. We use commenting to communicate between graphic designers / programmers - though, we still prefer face to face meeting

[2017-04-07 23:50] #1320 closed

[2017-04-10 09:53] larisagroza opened #1374 "Trying to upload a 72MB PSD - Processing failed"
* **Version**:
2.13.2

* **Web/Desktop**:
web + desktop mac

* **Platform**:
chrome

Hello,
I am trying to upload a PSD 72MB and it gets stuck at 96%.
Thanks,
Larisa

[2017-04-10 10:52] bolekkerous commented on #1374
Hey, Larisa -
this looks like a problem caused by using huge bitmap images in the design (usually stock images with huge resolutions). This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with Photoshop plugin, or we can upload it for you if you don't have access to Photoshop. If you want us

[2017-04-10 10:53] bolekkerous commented on #1371
Hey,
thanks for the report.

Do you remember how the error happened? What did you do exactly before this error popped-up?

Thanks!

[2017-04-10 10:55] bolekkerous commented on #1370
Completely reinstalling Sketch fixed the problem apparently.

[2017-04-10 10:55] #1370 closed

[2017-04-10 10:56] larisagroza commented on #1374
Hello,

I do not have access to photoshop!

Larisa

[2017-04-10 10:58] bolekkerous commented on #1374
Ok, could you either send us an e-mail to team@avocode.com or just write your e-mail address here, so we can send you the link to assign the uploaded design to your project?

[2017-04-10 18:07] bolekkerous commented on #1230
SVG images should be optimized since 2.13.

[2017-04-10 18:07] #1230 closed

[2017-04-11 09:13] k25neo opened #1375 "Uploading and Processing"
2.13.4

no updates available

* **Version**: 2.13.4

* **Web/Desktop**: Desktop

* **Platform**: Win 10,

while uploading and processing...
![avacode_2_13_4](https://cloud.githubusercontent.com/assets/21263926/24901614/14f52346-1ec1-11e7-8eb4-d7d8c2ee72f3.PNG)

[2017-04-11 09:17] bolekkerous commented on #1375
Hey,
thanks for the report and sorry for the inconvenience.

Did you upload these two files together? If you try to upload the 768_main.psd alone, does it work?

[2017-04-11 10:01] Vashiru commented on #1326
Hmm, looks like the issue has been resolved, won't know exactly which version, but on  on 2.13.3 I don't get any errors, nor on 2.13.4. 👍

[2017-04-11 10:03] bolekkerous commented on #1326
Great, happy to hear that. :)

Thanks for your cooperation, we appreciate it a lot!

[2017-04-11 10:03] #1326 closed

[2017-04-11 10:06] bolekkerous commented on #1374
Caused by huge bitmap stock image in the design. Should be fixed once we implement new processing architecture.

[2017-04-11 11:09] VaclovasV opened #1376 "Color mismatch of objects in design view"
2.13.4

Desktop

Windows 8

There is color mismatch in avocode, avocode displays colors incorrectly.
![image](https://cloud.githubusercontent.com/assets/3501072/24906317/ed70597c-1ebf-11e7-8b78-593cfab1e680.png)
Even integrated color picker, sees different color in design (correct is displayed in code panel).
Making screenshot and checking color in photoshop - color is incorrect.
Exporting image f

[2017-04-11 11:12] bolekkerous commented on #1376
Hey, @VaclovasV -
could you please check what color space is being used in the design? We do support only sRGB color space.

It would also help us if you could send us the problematic design (or just the problematic part), so we can take a closer look at the issue.

Thanks and sorry for the inconvenience.

[2017-04-11 11:33] VaclovasV commented on #1376
@bolekkerous, color space in which app? This is sketch file and RGB colors are used.

[2017-04-11 11:37] bolekkerous commented on #1376
Oh okay, it's a Sketch file. Then, could you please send us the design or just it's problematic part to team@avocode.com, so we can investigate the problem? It would help us a lot in pinpointing the problem.

[2017-04-11 11:42] VaclovasV commented on #1376
@bolekkerous, maybe this is related?
http://graphicdesign.stackexchange.com/questions/53073/color-mismatching-on-sketch-exports

[2017-04-11 13:07] insomniaOk opened #1377 "Changed in Default export path"
* **Version**:  2.13.4

* **Web/Desktop**: Desktop

* **Platform**: Linux

The "Default export path" in "App prefernces" have been changed to custom, but after installation of  latest version, it has hanged to default http://joxi.ru/4AkzWXwCOLNJ2q

[2017-04-11 13:29] bolekkerous commented on #1376
Might be, I added it to our internal bug tracking system and our product team should take a look at it soon. Thanks for sending us the file, we'll let you know once we know more.

[2017-04-11 13:31] petrbrzek commented on #1377
@insomniaOk Thanks for the report. I'm able to reproduce it. It's going to be fixed in the next release.

[2017-04-11 13:41] petrbrzek commented on #1371
Duplicate of #1338

[2017-04-11 13:41] #1371 closed

[2017-04-11 13:46] insomniaOk opened #1378 "Unable to import 2x (or more) size images"
* **Version**: 2.13.4

* **Web/Desktop**: Desktop

* **Platform**:  Linux

It is impossible to export an image in 2x or more size in a good quality directly from the design (screenshot http://joxi.ru/brRewqOcjGMnA1) You always need to open an image with double click and save it in original size only (screenshot http://joxi.ru/E2pea75cW0bLAY). And also you lose the photoshop filters by this saving.

[2017-04-11 17:25] digital-madam opened #1379 "Crash"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.4`
Avocode UID: 73232
[code]

[2017-04-11 19:19] sakralbar opened #1380 "No app in the menu when install from repository"
* **Version**: 2.13.5

* **Web/Desktop**: Desktop

* **Platform**:  ubuntu gnome 16.04

No app and no icon in the programs menu when install Avocode from repository for linux. Just can start app from terminal by command "avocode".

[2017-04-11 19:24] 1854 commented on #1333
Im stuck on loading screen, am using sketch 43.1, followed steps above, i see sketch-panels.log but avocode-token.json is not in the plugins folder, am using sketch-plugin-mac-42.0.0 (made the switch from invision yesterday)

[2017-04-11 21:08] oayoroa opened #1381 "design upload gets stuck around 90%+. Tried several times same thing happens. File is pretty big though, around 420mb"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-04-11 23:57] raquelmsouza opened #1382 "Export problem"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 126175
[code]

[2017-04-11 23:59] raquelmsouza opened #1383 "I've clicked in a slice and just happened"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 126175
[code]

[2017-04-12 03:47] finallyScholar opened #1384 "I don't know"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-04-12 07:12] AtifMohammed opened #1385 "Image assets are not previewing properly"
* **Version**: 2.13.5

* **Web/Desktop**: Desktop

* **Platform**: Ubuntu 16.04

Designs are rendering perfectly fine in the web version, but the desktop version is not loading all the image assets in the screen. Most of the png assets are missing from the rendered output.

[2017-04-12 07:27] connor-bean commented on #1379
Hello - we are tracking this in #1338 so I will close this duplicate

[2017-04-12 07:27] #1379 closed

[2017-04-12 07:28] #1384 closed

[2017-04-12 07:28] connor-bean commented on #1381
Hello -

Are you using the plugin to upload the design or directly adding it into Avocode yourself?

[2017-04-12 08:02] jakubzitny commented on #1383
Hi @raquelmsouza, thanks for the report. We can see this problem in our error tracking system and we will try to fix it as soon as possible. Does this happen all the time and you cannot export slices at all or did it happen only few times and you managed to export some slices?

[2017-04-12 08:02] jakubzitny commented on #1382
This is actually the same problem as in #1383, so I am going to close this thread.

[2017-04-12 08:02] #1382 closed

[2017-04-12 08:14] lk-geimfari opened #1386 "Images are exported incorrectly."
* **Version**: 2.13.5

* **Web/Desktop**: Desktop

* **Platform**: Linux (Ubuntu 16.04).

I have this image:
![image](https://cloud.githubusercontent.com/assets/15812620/24947754/a3eb5de0-1f70-11e7-97f8-b06c089d25a1.png)

When I try to export an image, this is what happens:
![image](https://cloud.githubusercontent.com/assets/15812620/24947802/c6d528b8-1f70-11e7-83b9-9b6c16f4e066.png)

[2017-04-12 08:23] jakubzitny commented on #1380
Hi @sakralbar, thanks for the issue. Sadly, this happens on some Linux distros and we're working on making sure it works properly on as many as possible.

As a quick fix I suggest you to open `/opt/Avocode/avocode.desktop.in`, fix the `Exec` and `Icon` paths to point to `/opt/Avocode/avocode` and `/opt/Avocode/avocode.png` respectively, and move it to `/usr/share/applications/`. The icon should ap

[2017-04-12 08:23] vojtatranta commented on #1386
@lk-geimfari could you send us that psd at team@avocode.com?

What is that arrow? If it is a font it may cause these issues. Or the rotation might be an effect which may cause it.

[2017-04-12 08:23] vojtatranta commented on #1385
@AtifMohammed could you send screenshot please?

[2017-04-12 08:29] lk-geimfari commented on #1386
@vojtatranta It's a sketch file. I'm sorry, i can't send you this file this is the private (commercial) project.

Avocode show this information about image:
![image](https://cloud.githubusercontent.com/assets/15812620/24948423/f307fa08-1f72-11e7-908d-a37b6d93acdb.png)

[2017-04-12 08:36] AtifMohammed commented on #1385
![screen_2](https://cloud.githubusercontent.com/assets/14360360/24948810/2bde5ece-1f89-11e7-9541-5c116695ad47.jpg)
![screen_1](https://cloud.githubusercontent.com/assets/14360360/24948809/2bdac4da-1f89-11e7-926d-25952b735ab9.jpg)

Both are same screens, one viewed in chrome and other in Linux App. There is an extra blur and missing assets in the linux version.

[2017-04-12 08:48] vojtatranta commented on #1386
@lk-geimfari understood. But that's kinda hard for us to debug it if we don't have that source file.

Could you open Sketch and tell me which effects are applied to this layer?

[2017-04-12 08:55] jakubzitny commented on #1368
Thanks for the info @bagau. This should be fixed in the latest version of Avocode - `2.13.5`. You should be able to update automatically on Windows.

There are stilll some small issues with uploading a lot of files at the same time. Tt takes a bit longer than it should and we're working on improving that.

Let us know if you have any other issues with Avocode 😉

[2017-04-12 08:55] #1368 closed

[2017-04-12 08:59] bolekkerous commented on #1333
This might be a DNS problem, @1854 .

There are 3 possible things that you could try:

1. Try opening up https://sourcelocalhost.com:33162 in browser while the plugin screen is loading (it's where the plugin lives), maybe it will work in the browser if the error is isolated to Sketch.
2. Try Google DNS if possible
3. Add the DNS entry 127.0.0.1 sourcelocalhost.com to /etc/hosts manually

Here's an

[2017-04-12 09:05] ffiona opened #1387 "Processing failed. Can't upload any PSD."
* **Version**: 2.13.4 and 2.13.5

* **Web/Desktop**: Web and Desktop

* **Platform**: Ubuntu 14.04

Never got a chance to upload files. The image was uploaded successfully (100%) and then processing got 0% and this error.

Console error:

`(node) warning: possible EventEmitter memory leak detected. 11 listeners added. Use emitter.setMaxListeners() to increase limit.`

[2017-04-12 09:06] bolekkerous commented on #1387
Hey, @ffiona -
there was a problem that should be already fixed by our CTO, however because of the problem, there's now a queue for processing of designs. The system should be already stabilizing and as far as I know, it should be back to normal in a short while.

I'll let you know once the backlog is complete and if your upload fails even after that, we'll investigate further.

[2017-04-12 09:08] ffiona commented on #1387
@bolekkerous  thank you for reply and letting us know about the problem. Hope it'll be fixed pretty soon.

[2017-04-12 11:42] jaykobo opened #1388 "Import failed"
* **Version**: 2.13.5

* **Web/Desktop**: Desktop

* **Platform**: mac OS Sierra Version 10.12.1

Multiple PSD file import failed.

[2017-04-12 11:52] bolekkerous commented on #1388
Hey,
there was a problem that should be already fixed by our backend team, however because of the problem, there's now a queue for processing of designs. The system should be already stabilizing and as far as I know, it should be back to normal in a short while.

I'll let you know once the backlog is complete and if your upload fails even after that, we'll investigate further.

[2017-04-12 12:10] bolekkerous commented on #1387
The problem should now be fixed and queue completed - it should be possible to upload designs as usual.

Let us know in case of any problems with that.

[2017-04-12 12:10] #1387 closed

[2017-04-12 12:10] bolekkerous commented on #1388
The problem should now be fixed and queue completed - it should be possible to upload designs as usual.

Let us know in case of any problems with that.

[2017-04-12 12:10] #1388 closed

[2017-04-12 13:48] t1gu1 commented on #1298
Exact, you should **parseFloat the number** if it has and **sort** with it **or** add an option sorting. (Sort by number)

[2017-04-12 13:49] insomniaOk opened #1389 "The designs haven't been uploaded"
* **Version**: 2.13.5

* **Web/Desktop**:Desktop

* **Platform**: Linux

The designs haven't been uploaded (screenshot http://joxi.ru/RmzY7jOSogkKrO )

[2017-04-12 14:03] insomniaOk commented on #1377
Hello, the problem still haven't been fixed in new version 2.13.5

[2017-04-12 14:35] bolekkerous commented on #1389
Hey, @insomniaOk -
there was an issue with processing today, but it should be already fixed.

When you try to reupload these files again, do they still fail?

[2017-04-12 14:46] bolekkerous commented on #1378
Hey -
at the moment, we're only able to export vector shapes at @2x+ resolution, because we don't have the data for exporting bitmap images at larger scales.

We should be able to export even bitmap images at larger scales (if the source is at sufficient resolution) in the future, once we implement new processing and rendering architecture, which is in development for some time and should be finis

[2017-04-12 14:54] vojtatranta commented on #1377
@insomniaOk it will land in `2.13.6`

[2017-04-12 16:43] oayoroa commented on #1381
Hi, yes I was uploading it directly from the application. I tried using the
web manager and it succesfully uploaded the file. Also the plugin didnt
work as it's for a rather old version of PS. Cheers.

On Wed, Apr 12, 2017 at 3:28 AM Connor <notifications@github.com> wrote:

[2017-04-12 18:24] sakralbar commented on #1380
Hi @jakubzitny. I changed "exec" and "icon" patch (Exec=/opt/Avocode/avocode Icon=/opt/Avocode/avocode.png) in avocode.desktop.in and copyed it to /usr/share/applications but nothing has changed.

Then I changed /usr/share/applications/avocode.desktop to new "exec" and "icon" patches and now I have Avocode's icon in my programs menu, thanks :)

[2017-04-13 02:22] jcasabona opened #1390 "Can't open files."
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 57599
[code]

[2017-04-13 08:25] #1337 closed

[2017-04-13 08:25] connor-bean commented on #1390
Are you behind some sort of proxy by chance?

[2017-04-13 08:51] laion220995 opened #1391 "dont open a design page (psd)"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.3`
Avocode UID: 44420
[code]

[2017-04-13 08:52] connor-bean commented on #1391
Hello @laion220995 -

Are you behind some sort of proxy by chance?

[2017-04-13 09:58] laion220995 commented on #1391
With the proxy all right, reinstall did not help

[2017-04-13 11:39] jcasabona commented on #1390
I am not and it was working earlier.

Joe Casabona Web Developer
Website : Casabona.Org [http://www.casabona.org/] Learn WordPress: WP in One Month [https://wpinonemonth.com/] Podcast: How I Built It [https://howibuilt.it/]
On Thu, Apr 13, 2017 at 4:25 AM, Connor <notifications@github.com> wrote:
Are you behind some sort of proxy by chance?

—
You are receiving this because you authored the thread

[2017-04-14 11:19] sakralbar commented on #1385
Hi! I have a similar problem.
Avocode 2.13.5 do not show frames on top of photos. Both web and native versions.

Ubuntu gnome 16.04

This is a layout with a problem https://manager.avocode.com/view/2d7076a321eb41feae97216eeb489834/

![image](https://cloud.githubusercontent.com/assets/11180735/25041902/44c709ce-211c-11e7-83e0-f6342c6562ee.png)
![image](https://cloud.githubusercontent.com/assets/111

[2017-04-17 04:38] WebSkating opened #1392 "Please try to describe how did it happen."
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 126213
[code]

[2017-04-17 07:14] WebSkating opened #1393 "IMPORTANT: Please try to describe how did it happen."
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 126213
[code]

[2017-04-17 12:23] Zidar opened #1394 "Please add notes list for a project"
* **Version**:  2.13.5 + web

* **Web/Desktop**: Desktop + web

* **Platform**: Windows, any browser apply

Notes tool is convenient, thank you! But...

Typical project contains many files. It's boring and unproductive to open 10-20-30 files and search for notes in each of them.
Please add a page or popup with complete list of notes within a project.

[2017-04-17 13:41] agalar opened #1395 "dont open a design page"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-04-17 18:58] sayx opened #1396 "Error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 119999
[code]

[2017-04-17 19:01] shgkm0423 opened #1397 "Bug"
* **Version**:
2.13.5

* **Web/Desktop**:
Desktop

* **Platform**:
Mac OS sierra / Phoshop 2017(CC)

[2017-04-18 09:13] hunter-symphony opened #1398 "Opened a psd file"
IMPORTANT: Please try to describe how did it happen.

-----
App v.2.8.0
Source UID: 50466
[code]

[2017-04-18 09:23] connor-bean commented on #1397
Hello - what was the bug?

[2017-04-18 09:24] connor-bean commented on #1395
Hello - can you please provide us with more information (version, web/desktop, platform) so we can try to troubleshoot?

Did you receive an error?

[2017-04-18 09:25] connor-bean commented on #1394
Thanks for the feedback!

[2017-04-18 09:43] connor-bean commented on #1393
Hello -

Thanks for the report. Can you try again? We were able to download the metadata on our end so we're struggling to replicate this issue. Is your Internet connection ok?

[2017-04-18 09:43] connor-bean commented on #1392
Hello -

Thanks for the report. Can you try again? We were able to download the metadata on our end so we're struggling to replicate this issue. Is your Internet connection ok?

[2017-04-18 09:51] khoaanh2212 opened #1399 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 22760
[code]

[2017-04-18 15:47] jakubzitny commented on #1398
Hi there @hunter-symphony. You're using an old version of Avocode. Please download the latest `2.13.5` from [manager.avocode.com/downloads](https://manager.avocode.com/downloads/) and let us know if you have any other problems.

[2017-04-18 15:47] #1398 closed

[2017-04-18 23:43] shgkm0423 commented on #1397
I also sent it in chat, but after uploading PSD "Processed ....." will stop at 80%.
I was told to send PSD data for verification, so I sent it but there is no reply after that.
If you reduce the number of layers, it will be 50% instead of 80%, so the layer may be affecting.
Thank you.

[2017-04-19 06:35] rajrauther opened #1400 "Aocode Crash"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.13.5`

While uploading the files Avocode Crashed.

[2017-04-19 09:07] #1386 closed

[2017-04-19 09:15] connor-bean commented on #1399
Hello @khoaanh2212 -

Can you explain to us what you were doing when this error happened?

Could you also let us know your Avocode version?

[2017-04-19 09:48] jaykobo commented on #1388
Great, thanks for your answer.

[2017-04-19 10:54] bhenav opened #1401 "css comment name"
* **Version**: 2.13.5

* **Web/Desktop**: Desktop

* **Platform**: windows

![image](https://cloud.githubusercontent.com/assets/14276250/25176634/7bf9e544-2507-11e7-970b-c160cd123e0d.png)

[2017-04-19 11:03] jakubzitny commented on #1401
Hi @bhenav, thanks for the report. This is a bug and we should definitely fix it, hopefully as soon as possible.

[2017-04-19 15:45] christraverse commented on #1183
I'm getting this on all current projects across several users.  Only happening to people who have updated to the latest version.

[2017-04-19 17:42] set-taviskaron opened #1402 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.5`
Avocode UID: 105633
[code]

[2017-04-20 13:04] connor-bean commented on #1390
Hey @jcasabona -

Can you try this again? Are you still getting this error?

[2017-04-20 13:05] connor-bean commented on #1402
Can you try again? Did you receive this error once more?

[2017-04-20 13:05] connor-bean commented on #1400
Did you receive any error message when this happened?

[2017-04-20 13:09] jcasabona commented on #1390
Oops - I am not. All’s good.
Joe Casabona Web Developer
Website : Casabona.Org [http://www.casabona.org/] Learn WordPress: WP in One Month [https://wpinonemonth.com/] Podcast: How I Built It [https://howibuilt.it/]
On Thu, Apr 20, 2017 at 9:04 AM, Connor <notifications@github.com> wrote:
Hey @jcasabona [https://github.com/jcasabona] -

Can you try this again? Are you still getting this error?

—
Y

[2017-04-20 13:15] vojtatranta commented on #974
This is scheduled to be fixed in `2.14.0`

[2017-04-20 15:13] rajrauther commented on #1400
1c307e55-e88e-4326-b2f6-9ae11451e702

*Raj Rauther. +91 9867299966*
1st Floor, 225, Raghuleela Arcade,
Vishwaroop International Infotech Park,
Sector 30A,  Vashi, Navi Mumbai 400703.
<http://facebook.com/dadsonlogistics>
<http://us.linkedin.com/in/in.linkedin.com>  <http://twitter.com/>

*Statement of Confidentiality*

The contents of this e-mail message and any attachments are confidential
and ar

[2017-04-22 09:05] vojtatranta commented on #1401
thi should be fixed in `2.13.6`

[2017-04-22 09:05] #1401 closed

[2017-04-22 13:32] Sharkozp opened #1403 "Error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 138808
[code]

[2017-04-23 11:21] sayx opened #1404 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 119999
[code]

[2017-04-23 12:12] lowal opened #1405 "Received an "An unexpected error has occurred" while was aways from the app"
IMPORTANT: Please try to describe how did it happen.
I was away from the and I logged into web browser using Safari. I then logged into the new faster "Beta" in safari which gave me message the app was optimized for Chrome so login into Chrome. Then I noticed the Desktop app had an error message.
-----
App v. `2.13.6`
Avocode UID: 2239
[code]

[2017-04-24 09:48] hbeygel opened #1406 "issue"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 37719
[code]

[2017-04-24 09:52] AtifMohammed opened #1407 "Network Problem?"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 72381
[code]

[2017-04-24 18:34] connor-bean commented on #1404
Can you try again? Did you receive this error once more?

[2017-04-24 18:34] connor-bean commented on #1407
Can you try again? Did you receive this error once more?

[2017-04-25 09:23] connor-bean commented on #1406
Hello - can you tell us more about what you were doing when this happened?

Has it happened again since you first reported it?

[2017-04-25 09:24] connor-bean commented on #1405
Thanks for the report. We are aware of this bug.

[2017-04-25 09:26] connor-bean commented on #1403
Hello - can you tell us more about what you were doing when this happened?

Has it happened again since you first reported it?

[2017-04-26 01:16] JayCarney opened #1408 "Feature Request: Open Symbol in new tab from sidebar"
* **Version**: 2.13.6

* **Web/Desktop**: Web

* **Platform**: Mac

Would really appreciate the ability to open symbols in a a new tab while viewing a page, either a button next to the "Open Symbol" for "Open Symbol in new tab" or just support for `cmd + click` on the existing button.

`cmd + double click` on the symbol in-page currently works, just seems to be missing from the right hand sidebar

[2017-04-26 07:25] canberkcakmak opened #1409 "Exporting image"
IMPORTANT: Please try to describe how did the crash happen.
when i press the export image.

App v. `2.13.6`

[2017-04-26 07:53] vojtatranta commented on #1409
How big was the image? Avocode may got out of memory when exporting huge images...

[2017-04-26 08:03] vojtatranta commented on #1408
It confused me a bit :)

Because smart objects from Photoshop are opened by default on a new tab. I will unify this and symbols and smart objects will be opened on the new tab.

[2017-04-26 08:10] Solomon2014 opened #1410 "Incorrect display drop-down list"
I use Desktop version (release 2.13.6).
My OS is Linux Ubunut 16.04 LTS 64x.
Graphic Gallium 0.4 on AMD PITCAIRN (DRM 2.43.0 / 4.4.0-75-generic, LLVM 3.8.0).

And i have some little bug. Show [this file](https://ufile.io/07slh)
Maybe it's important to you. Thx.

[2017-04-26 08:35] canberkcakmak commented on #1409
sorry it is not image it is a shape and 656px * 359px. So it's not big.

[2017-04-26 09:02] connor-bean commented on #1410
Hey @Solomon2014 -

Thanks for the report. We are currently tracking this in #1158 so I will close out this duplicate.

[2017-04-26 09:02] #1410 closed

[2017-04-26 15:55] kure- opened #1411 "inactive window for certain period of time"
IMPORTANT: Please try to describe how did it happen.
Dunno, just had the Windows app on the background left untouched for a while (2 hours?)
-----
App v. `2.13.6`
Avocode UID: 393
[code]

[2017-04-26 16:08] erezLieberman opened #1412 "issue"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.1`
Avocode UID: 1073
[code]

[2017-04-26 17:16] n0rule5 commented on #1411
LOL this just happened to me, too.

[2017-04-26 17:21] vojtatranta commented on #1411
We had an unexpected outage which may have coused this :(

[2017-04-26 18:33] chiefeay opened #1413 "Can't access account setting, download invoice, team member setting on website"
* **Version**: 2.13.5

* **Web/Desktop**: Web

* **Platform**: Chrome

![screen shot 2017-04-26 at 11 28 18 am](https://cloud.githubusercontent.com/assets/25391446/25450524/0dff6f9c-2a74-11e7-8a98-8df32cff6b57.png)

[2017-04-27 05:34] dnikonov opened #1414 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 24143
[code]

[2017-04-27 12:32] ShichiroA opened #1415 "Happened when try to close :)"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 53754
[code]

[2017-04-28 00:58] JayCarney commented on #1408
Ahh, yes. Sorry I should have specified I was dealing with Sketch files not Photoshop, may have helped a little with the vocabulary

[2017-04-28 06:17] wmag777 opened #1416 "Broken Installation"
x32, Windows 7, India

2017-04-27 13:32:32> Program: Starting Squirrel Updater: --install .
2017-04-27 13:32:33> Program: Starting install, writing to C:\Users\User777\AppData\Local\SquirrelTemp
2017-04-27 13:32:33> Program: About to install to: C:\Users\User777\AppData\Local\avocode
2017-04-27 13:32:36> CheckForUpdateImpl: Couldn't write out staging user ID, this user probably shouldn't get beta

[2017-04-28 11:06] vojtatranta commented on #1413
We had outage back then, it should be ok.

[2017-04-28 11:06] #1413 closed

[2017-04-28 11:17] connor-bean commented on #1415
Hey @ShichiroA -

Unfortunately this looks like an electron error to us, which we don't have the ability to troubleshoot?

Does it continue to happen or no?

[2017-04-28 11:18] connor-bean commented on #1414
Hello - has this happened again since you first reported it yesterday?

[2017-04-28 11:18] connor-bean commented on #1412
Can you try again? Did you receive this error once more?

[2017-04-28 12:27] vojtatranta commented on #1408
I think that if you doublec clicked layer itself it opened a new tab, however I fixed it and tow "Open Symbol" button opens a new tab too.

[2017-04-29 19:34] MaximDobrolinsky opened #1417 "upload error"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-05-01 11:00] bohrytsenko opened #1418 "Can't upload psd file"
2.13.6
Desktop version
Windows 10
Can't upload psd file
https://cloud.githubusercontent.com/assets/12292734/25578342/79df91a0-2e76-11e7-949a-84daff0f9de2.png

[2017-05-01 12:13] Zidar opened #1419 "Couple of small hotkey bugs"
* **Version**: 2.13.6

* **Web/Desktop**: Desktop

* **Platform**: Windows

### Selection frame does not disappear when switching from "selection" to "hand" tool.
How to reproduce:
1. Activate "selection" tool
2. Hover an element. A blue frame will appear
3. Switch to "hand" tool by means of "h" hotkey without moving mouse.
4. Blue frame will resist.
The same issue with "measure" and "slice" tools

[2017-05-01 17:40] connor-bean commented on #1418
Closing as we are talking via Live Chat

[2017-05-01 17:40] #1418 closed

[2017-05-01 17:40] #1417 closed

[2017-05-01 17:45] connor-bean commented on #1411
@n0rule5 and @kure - Did this error happen again?

[2017-05-01 17:52] kure- commented on #1411
@connor-bean sorry can't confirm, haven't touched Avocode since then. I'll make sure i'll report back again when it happens

[2017-05-01 18:49] n0rule5 commented on #1411
@connor-bean Same here, I'll leave it open and see if it'll happen again.

[2017-05-02 12:15] jimbokid opened #1420 "bug report"
* **Version**:

* **Web/Desktop**: desktop

* **Platform**:  windows 10

[2017-05-02 13:20] connor-bean commented on #1420
Hello - can you please provide more information?

What was the bug? What were you doing when the bug happened? Has it occurred more than once? What version of Avocode are you running?

[2017-05-02 15:16] AlexandruDoda opened #1421 "Cannot call hover while not dragging"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 651
[code]

[2017-05-03 07:27] nitrodrill opened #1422 "bug"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 142895
[code]

[2017-05-03 07:39] connor-bean commented on #1421
Hey @AlexandruDoda -

Thanks for the report. We are tracking this in #1249 so I will close this as it is a duplicate.

[2017-05-03 07:39] #1421 closed

[2017-05-04 02:53] khoaanh2212 opened #1423 "working with one network but don't work with another network"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 22760
[code]

[2017-05-04 09:58] rychlis commented on #1029
We have been able to support these layers better, the export works fine now in the latest Avocode

[2017-05-04 11:00] ShichiroA opened #1424 "Stopping processing on 30%"
* **Version**: 2.13.6

* **Web/Desktop**: Desktop

* **Platform**: mac OS X

After successfully uploading PDF, crashing on 30% processing. Tried restart avocode, upload on web site, on another mac, but nothing work

[2017-05-05 06:32] connor-bean commented on #1424
Hello -

Thanks for the report. Can you send us this design to team@avocode.com?

[2017-05-05 06:32] #1414 closed

[2017-05-05 06:32] #1412 closed

[2017-05-05 06:33] #1407 closed

[2017-05-05 06:33] #1406 closed

[2017-05-05 06:33] #1404 closed

[2017-05-05 06:34] #1403 closed

[2017-05-05 06:34] #1395 closed

[2017-05-05 06:34] #1399 closed

[2017-05-05 06:35] #1393 closed

[2017-05-05 06:35] #1392 closed

[2017-05-05 06:36] #1402 closed

[2017-05-05 06:37] #1390 closed

[2017-05-05 06:37] #1415 closed

[2017-05-05 07:11] khoaanh2212 commented on #1399
In my place there are two lines of internet,but one of them can not access into avocode,although both of internet line still worked.

[2017-05-05 07:15] jakubzitny commented on #1399
Hi @khoaanh2212, can you give us more details on the two lines? Are both of them ethernet or Wi-Fi? Is it small home router or a company network? Any further details? Is there any chance one of them is filtering some network requests?

[2017-05-05 07:18] khoaanh2212 commented on #1399
i've just checked avocode.now,It works for both of internet line.Yesterday still had error.
Sorry for that convenience.
And thank you so much.

[2017-05-07 04:12] #1424 closed

[2017-05-07 08:15] SilencerWeb opened #1425 "Can't upload PSD layout"
* **Version**: 2.13.6

* **Web/Desktop**: Desktop

* **Platform**:  Windows

I can't upload my layout, I tried 3 times, but I couldn't... I reloaded Avocode, reloaded my computer but nothing.... Maybe it's something with this layout, I don't know but I could to upload other layouts but this one I can upload no way

**P.S. Oops, sorry, I tried for the fourth time and I could =)**

[2017-05-07 08:28] vojtatranta commented on #1425
Uf, it worked!

Where did it stuck by the way? At start or at the processing?

[2017-05-07 10:11] SilencerWeb commented on #1425
At the processing =) on 93% =)

[2017-05-09 04:54] WebKieth opened #1426 "Error on processing psd"
* **Version**: 2.13.6

* **Web/Desktop**:
Desktop

* **Platform**:
Ubuntu 16.04 (x64)

Hi everyone. I cant upload new landing page psd design. After uploading on processing step i see a thumb on a design card. Some time after start processing i have an error on a design card "What's wrong? Report us a bug" on red background.
Proccessing step stops on 30%.
A copy of uploaded psd: https://app.box.co

[2017-05-09 06:18] Nadezda27 opened #1427 "Bug report (font size)"
* **Version**: 2.13.6

* **Web/Desktop**: Desktop

* **Platform**:  Windows

Have noticed wrongly displayed font-size in my .psd file. Actual size is 138,48px.
If you need my.psd file for fixing the bug, please advice where to send.
![untitled](https://cloud.githubusercontent.com/assets/28538579/25837375/42f9475a-3496-11e7-93a7-2c5ac02ca82c.png)

[2017-05-10 01:59] Nexmean opened #1428 "Troubles with displaying."
* **Version**: 2.13.6

* **Web/Desktop**: Desktop

* **Platform**: Windows 10 CU

Avocode have problems with displaying a window. Look at attached screenshot.

![default](https://cloud.githubusercontent.com/assets/3821520/25879908/8e54ded0-3577-11e7-890e-e0f956b21c33.png)

[2017-05-10 09:08] petrbrzek commented on #1428
@Nexmean Thanks for reporting the issue. It's probably a bug in Electron (https://github.com/electron/electron/issues/8062) that supposed to be fixed. Can you please try those steps and check if the problem persists?

1. Right click on Avocode icon
2. Click on Properties
3. Leave only `Avocode.exe` in Target text field
4. Add flags `Avocode.exe --disable-gpu --dev-tools`
5. Try to launch Avocode

[2017-05-10 13:39] bolekkerous commented on #1427
Hey, thanks for the report - could you please send us the problematic design to team@avocode.com?

Thanks!

[2017-05-10 13:48] bolekkerous commented on #1416
Hello - from the log it looks like you might be trying to install wrong version of Avocode (x64 on x86 or the other way around).

Could you please try to download and install the correct version from:

https://manager.avocode.com/downloads/

Let me know whether it helps!

[2017-05-10 15:06] bolekkerous commented on #1375
This problem is caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with our Photoshop plugin, or we can upload it for you if you don't have acces

[2017-05-10 15:06] #1375 closed

[2017-05-10 15:08] bolekkerous commented on #1389
This problem might be also caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with our Photoshop plugin, or we can upload it for you if you don't

[2017-05-10 15:08] #1389 closed

[2017-05-10 15:09] bolekkerous commented on #1425
This problem is caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with our Photoshop plugin, or we can upload it for you if you don't have acces

[2017-05-10 15:09] #1425 closed

[2017-05-10 15:09] bolekkerous commented on #1426
Hey, thanks for the report.

I've sent a link with the uploaded design to your e-mail.

This problem is caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload t

[2017-05-10 15:09] #1426 closed

[2017-05-10 15:10] bolekkerous commented on #1317
This problem is probably caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with our Photoshop plugin, or we can upload it for you if you don't h

[2017-05-10 15:10] #1317 closed

[2017-05-10 15:10] bolekkerous commented on #1323
This problem is probably caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with our Photoshop plugin, or we can upload it for you if you don't h

[2017-05-10 15:10] #1323 closed

[2017-05-10 15:12] bolekkerous commented on #1381
This problem is caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with our Photoshop plugin, or we can upload it for you if you don't have acces

[2017-05-10 15:12] #1381 closed

[2017-05-10 15:13] bolekkerous commented on #1353
This problem is caused by huge bitmap images in the design (usually stock images with huge resolutions) or alternatively by huge design resolution or complexity. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with our Photoshop plugin, or we can upload it for you if you don't have acces

[2017-05-10 15:13] #1353 closed

[2017-05-10 16:55] wmag777 commented on #1416
oh, yes, thnk you for answer. you right, problem was in wrong version

2017-05-10 19:18 GMT+05:30 Bolek <notifications@github.com>:

--
_____________________________________________________________________

<http://xn--80aaxaajjaddq4b.xn--p1ai/>

С Уважением,* Ермаков Алексей*, директор по развитию бизнеса в интернете
Аналитика сайтов, отдел продаж, аудит трафика, повышение конверсии.
Внедряем IT

[2017-05-10 18:21] SilencerWeb commented on #1425
Oh, thank you for your message. Goodluck in your working on your very comfortable and useful app.

<div>-------- Original message --------</div><div>From: Bolek <notifications@github.com> </div><div>Date:10/05/2017  20:09  (GMT+05:00) </div><div>To: avocode/avocode <avocode@noreply.github.com> </div><div>Cc: SilencerWeb <Silencer.Web@mail.ru>,Author <author@noreply.github.com> </div><div>Subject:

[2017-05-11 08:51] #1416 closed

[2017-05-11 17:19] vAhyThe opened #1429 "Sketch long load"
* **Version**:

* **Web/Desktop**:

* **Platform**:

https://upx.cz/iuG

[2017-05-11 17:31] bolekkerous commented on #1429
Hello!

It looks like an issue we've seen a few times before. It may be happening because there are too many layers in the design. Because of that, the plugin isn't able to retrieve correctly all the layer data (because there are too many layers and the RAM can't handle the load).

You can combine path layers which are going to be exported as a one layer with Layer -> Combine -> Union - this will

[2017-05-11 17:31] #1429 closed

[2017-05-11 20:04] acreed829 opened #1430 ""No document open" error on Sketch plugin export"
* **Version**:

* **Web/Desktop**:

* **Platform**:

I use the latest version of Avocode & of Sketch also. OS Sierra. On export the Avocode Sketch Plugin make an error. "No document open"
I have reinstalled all the programs  and the Avocode also, and is not taking effect

[2017-05-11 20:06] bolekkerous commented on #1430
Hey -
this issue is caused by Sketch application name. If your Sketch application is named differently than just "Sketch" (usually something like "Sketch 2" or so), just rename it to Sketch and it should work.

Let us know whether it helps!

[2017-05-11 20:30] acreed829 commented on #1430
Thanks a lot !!!!

[2017-05-12 09:12] landsman opened #1431 "Crash after try to upload"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.12.6`
Avocode UID: 78094
[code]

[2017-05-12 09:13] vojtatranta commented on #1431
You are drag'n'dropping over top bar of avocode, right?

That's what cause this, just drag'n'drop over right left or bottom edge and everything should be OK.
Or use upload button in the menu / in the Manager

This is konown issue. duplicate of #1249

[2017-05-12 09:13] #1431 closed

[2017-05-15 07:05] akifuygun commented on #361
2 years :/ **2**

[2017-05-15 10:26] vojtatranta commented on #1068
Huh, did not noticed that this is still an issue.

So now you can just do following:
1. got o app Preferences, to the Code section (`cmd/ctrl + ,`)
![snimek obrazovky 2017-05-15 v 12 22 02](https://cloud.githubusercontent.com/assets/4154045/26053464/3184d6ec-3969-11e7-9cd8-4706492c8d57.png)
2. You can a) disable css properties you don't want to appear in code panel or b) you can move with by holdi

[2017-05-15 11:51] #1068 closed

[2017-05-16 10:50] kure- opened #1432 "Err while getting back from sleep mode on Windows"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 393
[code]

[2017-05-16 11:34] blitz156 opened #1433 "Export image as SVG failed."
v2.13.6 Desktop Ubuntu 14.04.3 LTS

1. click on image rigth btn
2. export as SVG
3. export

P.S. Sometimes worked normal.

![149493450914230](https://cloud.githubusercontent.com/assets/3949492/26104022/490a376e-3a66-11e7-8d57-ef5018d279ed.png)

[2017-05-16 11:36] bolekkerous commented on #1433
Hey -
thanks for the report and sorry for the inconvenience.

Could you please send us the problematic Sketch file to team@avocode.com?

Thanks!

[2017-05-16 11:40] jakubzitny commented on #1433
Hi @blitz156, are you using 32-bit or 64-bit Linux, please?

As a temporary workaround, you can disable the Export optimization option in menu `Help -> Troubleshooting` and try exporting again. Please let us know whether this works or not.

[2017-05-16 11:40] romaniv1024 opened #1434 "Avocode UID: 146009"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 146009
[code]

[2017-05-16 11:43] reneolivo opened #1435 "Could not download metadata"
I uploaded a PSD file a couple of days ago and I was able to open it at first, but today I was not. Other PSD files seemsto be working fine.

-----
App v. `2.13.6`
Avocode UID: 146890
[code]

[2017-05-16 12:08] blitz156 commented on #1433
@jakubzitny 64-bit Linux.
Disable export optimize not helped.

[2017-05-16 12:10] blitz156 commented on #1433
@bolekkerous done

[2017-05-16 12:33] bolekkerous commented on #1433
Ok, it looks like the problem is caused by exporting the symbol instance. To export the icon correctly, just double click the symbol and open it in a new tab (or click the open symbol button).

Does that work for you?

[2017-05-16 12:57] blitz156 commented on #1433
@bolekkerous
**Open in a new tab is work.**

[2017-05-16 15:03] suntalig opened #1436 "Error on lunching application"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 68767
[code]

[2017-05-16 17:21] tyler-barnes commented on #11
@rychlis any updates on this? It's been two years but this still doesn't seem to be part of avocode.

[2017-05-17 15:55] Cadeniuc opened #1437 "...)"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-05-18 04:37] mcfinley opened #1438 "PSD failed to process after 20 minutes "Processing 30%""
**Version**:  2.14.0
**Web/Desktop**: Desktop
**Platform**:  Ubuntu 16.04

PSD file failed to process after 20 minutes of "Processing 30%" with a red preview and "What's wrong" button.

Causing problem PSD (40mb):
https://drive.google.com/open?id=0ByA2zSuzfnhTOUtEbjBfUDNZV2M

[2017-05-18 05:43] beliarh opened #1439 "Incorrect rulers position"
* **Version**: 2.14.0

* **Web/Desktop**: desktop

* **Platform**: Linut Mint 18.1 Cinnamon 64-bit

Incorrect rulers position (if side panel is close):
![18-05-2017 09-37-45](https://cloud.githubusercontent.com/assets/4661335/26188005/aab3836a-3bad-11e7-811c-768a98aa74f6.jpg)

[2017-05-18 07:46] jakubzitny commented on #1439
Hi @beliarh, thanks for reporting this. This is a bug, we can reproduce it. We'll try to fix it for one of the next releases.

Feel free to let us know if you have any more problems with Avocode.

[2017-05-18 08:02] mcfinley commented on #1438
When psd is "Processing 30%" and got opened in comment mode then switched to inspect, it shows "Processing 65%". After the fail the same inspect mode says "Upload failed". idk if itd help but just in case

[2017-05-18 09:27] hog-seruj opened #1440 "Problems with PSD download."
* **Version**:  2.13.6; 2.14

* **Web/Desktop**: Web

* **Platform**: Ubuntu

I can't download PSD in 2 days. I tried 2.13.16 & last version. PSD don't download on web site & desktop APP.

[2017-05-18 10:23] Firehavvk opened #1441 "AutoUpdate fails from 2.12.2 to 2.14.0"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.12.2`

Application offers to download last update during project opening, after that app crashes offering to restart, report or quit. It is happening every time.

[2017-05-18 10:42] jakubzitny commented on #1441
Hi @Firehavvk, thanks for letting us know. There might be a problem with auto-update from such an old version of Avocode to the newest one. Can you please tell us what platform do you use and where is `Avocode.app` located in your system? Is it in `/Applications` or somewhere else?

To update to the latest Avocode `2.14.0`, please remove the app from the system and download the latest version manu

[2017-05-18 10:51] Firehavvk commented on #1441
I'm using Windows 10, current application path: C:\Users\%USEDIRECTORY%\AppData\Local\avocode. I think, appcrash can caused by lack of ram. When I killed several resource intensive processes the issue disaapeared.

[2017-05-18 10:56] jakubzitny commented on #1441
Thanks for the answer, is it 32 or 64-bit Windows?

Can you please confirm that when you download fresh version of Avocode, it runs correctly?

[2017-05-18 11:05] Firehavvk commented on #1441
64-bit,
Yes, there is no any problem, thank you.

[2017-05-18 11:06] jakubzitny commented on #1441
Thanks again, I'll close this thread then.

[2017-05-18 11:06] #1441 closed

[2017-05-18 11:20] bolekkerous commented on #1438
Hey, @mcfinley -
this looks like a problem caused by using huge bitmap images in the design (usually stock images with huge resolutions) or also by large complexity of the design. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with Photoshop plugin, or we can upload it for you if you do

[2017-05-18 11:20] #1438 closed

[2017-05-18 13:41] bolekkerous commented on #1408
Should be fixed now.

[2017-05-18 13:41] #1408 closed

[2017-05-18 13:45] vojtatranta commented on #974
Deployed!

[2017-05-18 13:45] #974 closed

[2017-05-18 13:45] vojtatranta commented on #1123
Deployed!

[2017-05-18 13:45] #1123 closed

[2017-05-18 13:52] StadnikovP opened #1442 "error 18.05.2017"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 50888
[code]

[2017-05-18 14:04] ardkevin84 opened #1443 "Selecting multiple layers shows only the intersection in the styles.code panel."
* **Version**: 2.14.0
* **Web/Desktop**: Desktop
* **Platform**: Linux\64 (Ubuntu Gnome)

**Issue:**
Selecting multiple layers shows *only* the intersection in the styles.code panel.

**Reproduce:**
Select 2+ similar items (eg: large text, small text, button text) and view the code in the styles panel.

**Expected:**
selectors along the lines of
[code]
**Actual:**
I only get the base selector (thi

[2017-05-18 14:09] connor-bean commented on #1440
Hello -

Are you receiving any error about this? Could you be behind some sort of proxy by chance?

[2017-05-18 14:10] #1437 closed

[2017-05-18 14:16] connor-bean commented on #1432
Hey @kure-

We are tracking this in #1351 so I will close it here.

[2017-05-18 14:16] #1432 closed

[2017-05-18 14:59] connor-bean commented on #1443
Hello @ardkevin84 -

Thanks for reporting this. It's a feature we used to have but decided to change to the current way of doing it.

We would definitely appreciate it if you could add your use case to UserVoice here: https://avocode.uservoice.com/forums/277080-feature-voting

[2017-05-18 14:59] #1443 closed

[2017-05-19 08:08] vojtatranta commented on #1442
Please update your app to `2.14.0`, we silenced this error as it is related to the network.

[2017-05-19 08:08] #1442 closed

[2017-05-19 08:11] vojtatranta commented on #1436
This is not something we could fix.

What's your os and architecture?

[2017-05-19 08:11] vojtatranta commented on #1433
We will put there a better notification explaining what is going on. Sorry for that.

[2017-05-19 08:12] vojtatranta commented on #1435
duplicate of #1442 , please update

[2017-05-19 08:12] #1435 closed

[2017-05-19 08:12] #1430 closed

[2017-05-19 08:13] vojtatranta commented on #1422
This should have been fixed in `2.14.0`, please update

[2017-05-19 08:13] #1422 closed

[2017-05-19 08:14] vojtatranta commented on #1423
Might be possible that you are behind some proxy.

[2017-05-19 08:17] vojtatranta commented on #1419
Thanks!
Selection frame does not disappear when switching from "selection" to "hand" tool.
- fixed in `2.14.0`

Hotkeys do not work till first click on workspace in case when tool is changed by click on toolbar
- we will take a look at it

[2017-05-19 08:19] vojtatranta commented on #1419
GL: 3525

[2017-05-19 08:20] vojtatranta commented on #1409
Hmhm... Would you send us the source file? team@avocode.com? Thanks!

[2017-05-19 08:23] vojtatranta commented on #1396
This should be silenced in 2.14.0 please update

[2017-05-19 17:57] whoiskjl commented on #1343
@vojtatranta no

[2017-05-19 18:03] whoiskjl opened #1444 "Sidebar with expandable / collapsible option for project designs"
2.14.0

* **Version**: 2.14.0

* **Web/Desktop**: Desktop

* **Platform**: macOS Sierra 10.12.5

A side bar with all the project designs organized with expand / collapse option. It's taking too much time and energy to scroll to navigate designs

[2017-05-20 12:26] LukasBicus opened #1445 "Error on avocode wake up"
IMPORTANT: Please try to describe how did it happen.
After longer computer sleep, I clicked on avocode icon in bottom menu (mac) to bring in to the front.
-----
App v. `2.13.6`
Avocode UID: 132730
[code]

[2017-05-20 12:46] vojtatranta commented on #1445
This is a network error, we handle it better in 2.14.0 please update, thanks!

[2017-05-20 12:46] #1445 closed

[2017-05-22 01:37] thomasaw opened #1446 "Processing failed errors for many project images"
* **Version**: 2.14

* **Web/Desktop**: Desktop

* **Platform**: macOS Sierra 10.12.5 (16F73)

I'm getting "Processing failed" errors for many of the thumbnails of the images in my project. The problem doesn't go away after using "Clear Previews" or "Clear Thumbnails" or restarting the app. The problem also doesn't go away after deleting the Avocode caches in ~/Library/Caches/.

The 'Processing fa

[2017-05-22 07:21] vojtatranta commented on #1446
Hi,
this does not seem like a problem with caches...

These designs are images? Like just jpegs or PNGs or complete PSDs?

Could you send us these designs at team@avocode.com?

[2017-05-22 07:32] thomasaw commented on #1446
They are PSDs. I'll send mail.

[2017-05-22 10:01] #1420 closed

[2017-05-22 12:05] tutmeecom opened #1447 "opening psd"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 147180
[code]

[2017-05-22 12:11] vojtatranta commented on #1447
This error should be handled better in `2.14.0` please update your app - Help menu -> Check for update

[2017-05-22 12:11] #1447 closed

[2017-05-22 13:42] igumenov opened #1448 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 7893
[code]

[2017-05-22 13:45] vladimirov opened #1449 "Error: Could not download metadata"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 147157
[code]

[2017-05-22 14:21] code-yo opened #1450 "Issue after upload and try to open new file."
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 84930
[code]

[2017-05-22 14:22] vojtatranta commented on #1450
This error should be handled better in 2.14.0 please update your app - Help menu -> Check for update

[2017-05-22 14:22] #1450 closed

[2017-05-22 16:38] vojtatranta commented on #1448
This error is handled better in `2.14` please update Help menu -> Check for updates

[2017-05-22 16:38] #1448 closed

[2017-05-22 16:38] vojtatranta commented on #1449
This error is handled better in `2.14` please update Help menu -> Check for updates

[2017-05-22 16:38] #1449 closed

[2017-05-22 16:38] vojtatranta commented on #1439
Fix deployed in `2.14.1` thank you for the report

[2017-05-22 16:38] #1439 closed

[2017-05-23 13:21] morcegon opened #1451 "Sass Variables Color"
* **Version**: 2.14.1

* **Web/Desktop**: Desktop

* **Platform**: macOS Sierra (10.12.4)

It's not a big deal, but something bother a little.
In Sass mode, variables with hyphen assume a strange color, as we can see in image below:

![screen shot 2017-05-23 at 10 17 44](https://cloud.githubusercontent.com/assets/31614/26356165/8d29ff84-3fa1-11e7-9eb1-048952b0243b.png)

[2017-05-23 13:38] vojtatranta commented on #1451
Oh, thank you for this. We did no notice.

Frankly, it is quite problematic because coloring is an issue, you can find color scheme which works for 99,1% of cases but for some very common in Avocode it does not work.

I'll keep this issue here in case when someone else complained.

[2017-05-24 18:37] janaobzerova opened #1452 "Export image with blending mode Pass through"
* **Version**: 2.14.1

* **Web/Desktop**: Desktop

* **Platform**: Mac OS Yosemite

Exporting layers which has some blending mode crash, it is export white image in png and black on jpg. (From sketch)

<img width="265" alt="screen shot 2017-05-24 at 20 37 01" src="https://cloud.githubusercontent.com/assets/12643008/26419683/c9967216-40c0-11e7-82e3-af74509dc56a.png">

[2017-05-25 05:51] oved-yavine opened #1453 "pdf processing failed"
2.14.1

* **Version**:

* **Web/Desktop**:desktop

* **Platform**: windows

PSDprocessing failed. See Rainbow project on my account. if you need the PSD, let me know

[2017-05-25 09:40] vojtatranta commented on #590
Hi guys, noticed this issue on Uservoice. We already added export scaling on June last year in 2.8.0 version. Are you OK with it? Does it work the way you expected it?

[2017-05-26 08:57] asyla commented on #1376
The same issue here.
Avocode shows incorrect color. Imported from Sketch as well.

![image](https://cloud.githubusercontent.com/assets/14801014/26488007/731c1fa8-420a-11e7-802c-d34ce65ddef9.png)

[2017-05-27 14:44] glebgorokhov opened #1454 "Error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.1`
Avocode UID: 111132
[code]

[2017-05-29 09:59] #1366 closed

[2017-05-29 12:43] vojtatranta commented on #1454
this looks like DNS could not have been found. I think this is a network issue which should be irregular.

[2017-05-29 12:43] #1454 closed

[2017-05-29 12:44] vojtatranta commented on #1453
I assume you tried to reupload the PSD still with no success?

[2017-05-29 12:44] vojtatranta commented on #1446
Thanks

[2017-05-29 12:44] oved-yavine commented on #1453
True

On May 29, 2017 3:44 PM, "Vojtěch Tranta" <notifications@github.com> wrote:

[2017-05-29 12:45] vojtatranta commented on #1444
Like list view you mean?

You'd rather display all projects in a list view than in the grid?

[2017-05-29 12:46] bolekkerous commented on #1453
Could you please send us the problematic PSD to team@avocode.com? We should know better what might be the problem with the actual PSD. We should also be able to upload the PSD for you with the PSD plugin.

[2017-05-29 14:51] pss234 opened #1455 "I don't see ending of names for artboards when exporting"
* **Version**:
2.14.1

* **Web/Desktop**:
Desktop

* **Platform**:
macOS Sierra
10.12.3

![c8b1bc1183](https://cloud.githubusercontent.com/assets/22349579/26553984/cbab2928-4496-11e7-9349-3b5794807c43.jpg)
How should I choose one of four similar files when exporting from Sketch if I don't see ending of name and image is too small to see the difference? Especially if it is long screen for mobile. W

[2017-05-29 16:08] vojtatranta commented on #1444
In `2.14.2` we will add recenlty opened tab per Project, so you will immediately see which design you've opened last in particular project.

[2017-05-30 10:39] alkirg opened #1456 "Avocode crashes on xubuntu 16.04"
I recently installed trial version of avocode on my xubuntu 16.04. The application starts, I can upload and open psd file, but sometimes, if it's quite big (~35 MB), avocode crashes while opening a psd from project folder. How can I fix it? Here is my system information:
Processor	2x Pentium(R) Dual-Core CPU E6500 @ 2.93GHz
Memory	2051MB
OpenGL Renderer	Mesa DRI Intel(R) G33 x86/MMX/SSE2
Kernel	Li

[2017-05-30 10:43] vojtatranta commented on #1456
Hmm, do you have 64bit version of Ubuntu?

[2017-05-30 12:14] alkirg commented on #1456
Nope. It seems that it's better to upgrade my 32-bit, right?

[2017-05-30 12:25] vojtatranta commented on #1456
I think `Kernel	Linux 4.8.0-52-generic (i686)` means that you **have** 32bit version of Ubuntu.

32bit is "lower" than 64bit version. One of the differences is that 64bit version OS can address more memory and that's probably the case.

Rendering a design requires a quite big chunk of memory to be allocated and on 32bit OS it cannot be done and therefore Avocode crashes.

We had similar issues wit

[2017-05-30 12:25] #1456 closed

[2017-05-30 16:25] whoiskjl commented on #1444
![screen shot 2017-05-30 at 12 20 26 pm](https://cloud.githubusercontent.com/assets/1874874/26593680/086795d0-4533-11e7-992b-b74f4cc37b42.png)

I hope this makes much sense :|

[2017-05-30 21:09] salexpro opened #1457 "tab moving error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.1`
Avocode UID: 30893
[code]

[2017-05-31 07:13] Voidek opened #1458 "Export images from PSD with mask and transparency"
* **Version**: 2.14.0

* **Web/Desktop**: Desktop

* **Platform**: Linux/Ubuntu

Hi, when I export pictures from the PSP format there are problems. For example: a blue rectangle (overlay), on top of it a mask is a translucent picture. After the export, the image is much darker or lighter  and does not look like a preview or layout. We have to run photoshop and get the picture there. Please fix thi

[2017-05-31 13:10] salexpro opened #1459 "Photoshop plugin mockup uploading"
Desktop, Mac OS

When I upload a new revision of mockup to existing project trough Photoshop plugin, modified date doesn't update.
Mockup should be the 1st in order.

[2017-05-31 13:23] LitvinenkoEvgeny commented on #1363
worked for me, unobvious thing

[2017-05-31 15:44] tedlin182 opened #1460 "Large Design files not loading in desktop app"
* **Version**:
2.14.1

* **Web/Desktop**:
Desktop App

* **Platform**:
Mac OS Sierra - 10.12.5

I tried loading up a larger PSD file in the Mac desktop app but comes up blank and is pretty sluggish trying to toggle layers on and off. Might be the size of the file, but we even tried re-uploading the PSD and it's still happening.

Not sure if there's a work around but I'm unable to work off this now

[2017-05-31 19:07] zachschrock opened #1461 "Cant load"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.6`
Avocode UID: 50197
[code]

[2017-06-01 03:19] connor-bean commented on #1461
Hello -

Thanks for the report. Are you having any network issues or could you be behind a proxy by chance?

Also - when you update to the most current version of Avocode, do you still receive this issue?

[2017-06-01 12:40] Vucek opened #1462 "Avocode crashed when switching organization and then trying to sync with CMD+E from Sketch and then creating a new project"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.2-sketch-sync-beta.0`
Avocode UID: 63690
[code]

[2017-06-02 08:35] chenLiTeng opened #1463 "Unable to upload PSD files"
the version is avocode-2.14.1-linux

* **Version**:

* **Web/Desktop**:

* **Platform**:

when I upload files, It stays at 0%

[2017-06-02 08:40] jakubzitny commented on #1463
Hi @chenLiTeng, thanks for the report. Can you please provide us with more details about your OS? Which Linux distro is it and is it 64-bit?

Also, we've seen that some Linux people had this problem when the computer clock was not set correctly. You can see the discussion in #1363. Can you confirm that this is not the case?

[2017-06-02 08:44] #1462 closed

[2017-06-02 19:09] salexpro commented on #1459
huh, after update from 1st of june this problem seems to fixed

[2017-06-03 10:07] BrotherCash opened #1464 "Designs are not rendered, blank screen with selection borders instead"
* **2.14.2**:

* **Desktop**:

* **Mac OS Sierra 10.12.3**:

![screenshot at 03 15-11-34](https://cloud.githubusercontent.com/assets/29160406/26752674/fba08d36-486e-11e7-82c0-4d5322b5a04f.png)

[2017-06-03 11:12] exdeniz opened #1465 "Avocode crash."
On select element in design, i have this screen http://i.imgur.com/AA4QWt5.png and stop select or any action. After avocode crash.

App v. `2.14.2`

[2017-06-03 11:13] exdeniz commented on #1464
Me too https://github.com/avocode/avocode/issues/1465

[2017-06-04 14:53] gradiusalisik commented on #1118
Коллеги и друзья, всем привет.

Прошу заглянуть в блог, где рассказано про мою племяшку (www.storied.mozello.ru)

Спасибо!

[2017-06-05 06:36] BrotherCash commented on #1464
Mine is not crashing, I just don't see a thing from the very begining but can choose invisible things

[2017-06-05 06:39] BrotherCash commented on #1464
And, by the way, this happens in newer versions. In older one - 2.12.6 - everything works fine. Seems like smth was changed in gpu acceleration engine or in rendering part.

[2017-06-05 06:44] exdeniz commented on #1464
Yes, old version work fine

[2017-06-05 06:48] petrbrzek commented on #1464
Does the web app work for you? https://app.avocode.com

[2017-06-05 06:51] exdeniz commented on #1464
No, error this:
[code]

[2017-06-05 07:20] BrotherCash commented on #1464
https://app.avocode.com works fine for me, but it's not so convenient as local app. Anyway, I would like to solve the problem, not to find a replacement or to work in online app.

[2017-06-05 09:57] jakubzitny commented on #1459
Thanks for the report @salexpro, don't hesitate to open a issue if you have any more problems. 😉

[2017-06-05 09:57] #1459 closed

[2017-06-05 09:59] bolekkerous commented on #1455
Hey, @pss234 -
we'll be replacing this plugin with a new version without UI, so you can just select the artboards in Sketch and upload these to Avocode. With that, the problem shouldn't exist anymore.

[2017-06-05 09:59] jakubzitny commented on #1465
Let's close this and move to #1464.

[2017-06-05 09:59] #1465 closed

[2017-06-05 10:00] bolekkerous commented on #1458
Hey, @Voidek -
thanks for the report.

Could you please e-mail us the problematic file to team@avocode.com, so we can investigate the issue properly?

Thanks!

[2017-06-05 10:07] bolekkerous commented on #1452
Hey -
could you please send us the problematic design and screenshots of the layers you're trying to export to team@avocode.com? It would help us a lot in troubleshooting the issue.

Thanks!

[2017-06-06 10:07] connor-bean commented on #1460
Hello - what is the size of the design?

You should be able to use the desktop app to upload designs up to 500mb. Larger designs will need to be uploaded through the PS plugin, which you can download here: www.manager.avocode.com/downloads

[2017-06-06 10:09] connor-bean commented on #1457
You are drag'n'dropping over top bar of avocode, right?

That's what cause this, just drag'n'drop over right left or bottom edge and everything should be OK.
Or use upload button in the menu / in the Manager

This is known issue. duplicate of #1249

[2017-06-06 10:09] #1457 closed

[2017-06-06 10:10] connor-bean commented on #1434
Hello - are you still having this problem?

[2017-06-06 11:54] salexpro commented on #1457
it's just drag'n'drop tab from 2nd to 1st place

[2017-06-06 13:48] shectermen opened #1466 "Clear Thumbnails: Cannot read property 'delete' of null"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.2`
Avocode UID: 46364
[code]

[2017-06-06 13:58] vojtatranta commented on #1466
This looks like a bug, what were you trying to do?

[2017-06-06 20:32] shectermen commented on #1466
Help -> Clear Thumbnail

[2017-06-06 21:28] AlexandruDoda opened #1467 "PSD - Red Screen of Death"
* **Version**:
Latest 2.14.2

* **Web/Desktop**:
Desktop

* **Platform**:
macOS

I was opening the PSD and it failed twice.

[2017-06-07 08:21] jakubzitny commented on #1466
Thanks for the info @shectermen, we'll look into it.

[2017-06-07 08:32] shectermen commented on #1466
I am glad to help

[2017-06-07 12:38] BrotherCash commented on #1464
Is there any solution or, maybe, guess?

[2017-06-07 13:04] bolekkerous commented on #1464
Hey - unfortunately we're not able to reproduce the problem on our machines. Could you please send us some example of a design that you encounter the problem with to team@avocode.com?

Thanks!

[2017-06-07 13:32] vojtatranta commented on #1464
@BrotherCash could you try this test build? https://upx.cz/it2

We changed one GPU flag in `2.14.2`, it might have caused it.

[2017-06-07 14:02] Vashiru opened #1468 "Uploading an artboard to an existing project results in an error"
IMPORTANT: Please try to describe how did it happen.
I tried to upload an artboard to an existing project.

-----
App v. `2.14.3-community-beta.1`
Avocode UID: 21082
[code]

[2017-06-07 14:06] jakubzitny commented on #1468
Hi @Vashiru, thanks for testing the community beta version. This has probably happened to you more than once, right? Was it the same artboard and project or different ones? Was the project empty?

I'll look into it, it's clearly a bug.

[2017-06-07 14:07] Vashiru commented on #1468
Hmm, seems like it might not have to do with uploading an artboard, just running it for a few minutes seems to trigger it. I'll try running it again for a few minutes to confirm.

[2017-06-07 14:11] p-boiko commented on #1158
Fixed for me in v2.14.2
[screenshot](http://screencloud.net/v/5Y0kz)
Can close, if it works for others too

[2017-06-07 14:14] Vashiru commented on #1468
Yeah got it:

1. Open avocode
2. Open sketch
3. Select an artboard and press "upload selected artboard"
4. The project picker in Avocode will show up
5. Just wait for about a minute, the error will repeatedly keep showing up

Note if you do press upload, it will start importing the file and prepare to upload but will still throw the error mentioned above.

[2017-06-07 16:30] exdeniz commented on #1464
@vojtatranta I try this build, this problem not solution.

[2017-06-08 05:51] BrotherCash commented on #1464
I've tried your build, but nothing changed. Everything the same.
![10-49-09](https://user-images.githubusercontent.com/29160406/26914048-681029aa-4c38-11e7-8b31-fa01258fdd73.png)

[2017-06-08 05:56] BrotherCash commented on #1464
Problem appeared not exactly in 2.14.2 version, somewhere in 2.13.. branch. I don't remember for sure. I tried and tried every next version but problem reproduced. Then I found as old installer as I could in my computer, installed it and .... voila! I saw my project.

[2017-06-08 06:04] BrotherCash commented on #1464
Sending my design to your email can be a problem - I'm not designer, I'm frontend developer, so we have big team project with a lot of folders. Our designers export their work to corresponding folder and then developer use that for makeup. I can see design only being logged in as a member of our team and don't have access to sources. Anyway I can say - there are HUNDREDS of designs in our projects

[2017-06-08 06:31] BrotherCash commented on #1464
I've just tried 2.13.5 version - no luck, I have elements, can see their properties but don't see them.

[2017-06-08 07:20] vojtatranta commented on #1464
@exdeniz seems like your GPU does not support WebGL, your machine is too old I suppose...

[2017-06-08 07:20] vojtatranta commented on #1464
@BrotherCash give me a sec. I'll investigate it...

[2017-06-08 07:33] vojtatranta commented on #1464
@BrotherCash I downgraded Electron to the version which was in `2.12.6` in this build of `2.14.2`.

So could you please try this build? https://upx.cz/it5

[2017-06-08 07:54] jakubzitny commented on #1158
Could be. Thanks a lot for the info @p-boiko. Let's close this and let us know if you encounter it (or anything else) again. 😉

[2017-06-08 08:43] jakubzitny commented on #1468
Thanks a lot for the info. Would you be willing to send us the sketch file to team@avocode.com? We have several crazy looking sketch files for testing, but I was not able to reproduce this particular error.

[2017-06-08 09:14] AmitBhavsarIphone opened #1469 "Could not download metadata"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.13.3`
Avocode UID: 153028
[code]

[2017-06-08 09:15] bolekkerous commented on #1467
Hey, @AlexandruDoda -
could you please send us the problematic design to team@avocode.com or at Slack?

[2017-06-08 09:17] vojtatranta commented on #1469
this error is handled better in later version of Avocode, please update to current `2.14.2`

[2017-06-08 09:17] #1469 closed

[2017-06-08 09:28] Vashiru commented on #1468
@jakubzitny Coming right up through WeTransfer. I'll reference the issue number to look for :)

[2017-06-08 09:48] connor-bean commented on #1468
@Vashiru - we received it and i passed it along to @jakubzitny. We'll follow up here when we have more info

[2017-06-08 10:10] skyline94 commented on #1158
Also confirm. its ok now!

[2017-06-08 11:40] AmitBhavsarIphone commented on #1469
The Same error occurs in latest version too.

Now the message is "An unexpected error has occurred."

[2017-06-08 11:44] vojtatranta commented on #1469
I see. I checked the metadatafile and it was not even created meaning that the request did not make it to our server.

You sure you are not behind some proxy? Have you tried open this file on the app.avocode.com?

[2017-06-08 12:06] Voidek commented on #1458
I sent the layout to team@avocode.com. And this problem is in every layout

[2017-06-08 13:52] BrotherCash commented on #1464
I think you're right, 'cos your build works correct. Everything is visible and looks as expected.

[2017-06-08 13:54] vojtatranta commented on #1464
And what machine do you have? Standard macbook or hackintosh or?

[2017-06-08 13:57] BrotherCash commented on #1464
hackintosh, with old 8600gt graphic card )

[2017-06-08 13:59] vojtatranta commented on #1464
I thought so....

This is going to be an issue though.... If there is an "unofficial" gup in non-apple device, it can be a problem.

I think I cannot help anyhow, you can try next version, when we upgrade electron again, and see whether it's okay, until then just keep this build. Sorry for that :(

[2017-06-08 13:59] #1464 closed

[2017-06-08 14:03] BrotherCash commented on #1464
Thanks for help. Anyway now I know the reason.

[2017-06-08 17:02] jakubzitny commented on #1468
I've fixed your problem @Vashiru in the latest community build. Can you please try it and let me know if it works, please? You can download it from https://upx.cz/itf.

Uploading artboards should work, all symbols within will be sync automatically. Since your particular file is quite big, I have problems syncing all artboards at once, but separate artboards and this `Invalid string length` should

[2017-06-08 20:25] Vashiru commented on #1468
Hmm, it works, but it has created 3 new designs in Avocode, rather than update the ones already existing. Is that because it's the new way of uploading vs the plugin?

[2017-06-09 08:12] jakubzitny commented on #1468
Hi, yeah, it's because of that. If you have empty project, sync some artboards, then make changes and sync again, it will update the artboards - they will be synced as a new revision of the existing ones. It does not work with the old ones though. We'll try to improve this scenario as well.

I will close this issue as it is already fixed, but feel free to let us know about any problems with Avocod

[2017-06-09 08:12] #1468 closed

[2017-06-09 11:30] Pangaj opened #1470 "Error Occurred"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.0`
Avocode UID: 148201
[code]

[2017-06-09 12:59] bolekkerous commented on #1470
Hey -
it seems like you're using an outdated version of the app.

Could you please try to update your app? The latest version should be 2.14.2.

To update your app, click the menu in your system bar and select Check for Update.

Let me know whether it helps!

[2017-06-09 20:13] shafqatali opened #1471 "Error in image export image after changing the default output directory"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.14.2`

Select an image and then click on export button. The export image popup appeared then I have changed the extension to JPG from PNG and also change the path to save the image.

[2017-06-09 22:31] TatianaTF opened #1472 "ENOTFOUND"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.2`
Avocode UID: 150867
[code]

[2017-06-11 22:52] Rizayev opened #1473 "installation has failed"
* **Version**:
 2.14.2

* **Web/Desktop**:
Desktop

* **Platform**:
Win10 64

2017-06-12 02:25:49> Program: Starting Squirrel Updater: --install .
2017-06-12 02:25:49> Program: Starting install, writing to C:\Users\Elsevar\AppData\Local\SquirrelTemp
2017-06-12 02:25:49> Program: About to install to: C:\Users\Elsevar\AppData\Local\atom
2017-06-12 02:25:49> CheckForUpdateImpl: Couldn't write out sta

[2017-06-12 07:49] pulpaluk opened #1474 "Error upload design"
* **Version**: 2.14.2

* **Web/Desktop**: Desktop

* **Platform**: Windows 7 Professional, 64bit, Service Pack 1

Hi!
I need help with upload design. When I upload PSD so show: "This design failed processing and cannot be opened. You can try to upload a new revision or delete the design."

What can be cause, please?

Thank you,
Lukáš Půlpán

[2017-06-12 10:53] StragelX opened #1475 "rp"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.2`
Avocode UID: 118742
[code]

[2017-06-12 13:47] bolekkerous commented on #1474
Hey, @pulpaluk  -
this looks like a problem caused by using huge bitmap images in the design (usually stock images with huge resolutions) or also by large complexity of the design. This should be fixed in the future once we implement our new upload and parsing architecture which we are already working on.

You can either upload the design with Photoshop plugin, or we can upload it for you if you d

[2017-06-12 13:47] #1474 closed

[2017-06-12 13:51] bolekkerous commented on #1473
Hey, @Rizayev -
thanks for the report. In the log it says that there might be something corrupted in the file.

Could you try downloading the installer again from here?

https://manager.avocode.com/downloads/

If it does not help, you might try installing it as Administrator. There were also a few cases when restarting the computer helped.

Let me know whether anything helps!

[2017-06-12 13:55] bolekkerous commented on #1471
Hey, @shafqatali -
thanks for the report. Are you able to reliably reproduce the problem? I've tried to follow the steps you mentioned and it worked for me. 😕

Or if you could send us a short video of the process to reproduce the problem, it would help a lot!

Thanks!

[2017-06-12 13:58] bolekkerous commented on #1440
Are you still having this problem? Is it about uploading a PSD to Avocode? Does it happen with all designs or just specific ones?

[2017-06-12 14:04] Rizayev commented on #1473
now its ok

[2017-06-12 14:33] sannebengtsson opened #1476 "Processing failed"
* **Version**:
2.14.2

* **Web/Desktop**:
Web

* **Platform**:
Ubuntu, Chrome

See attachment
![screenshot from 2017-06-12 16-30-10](https://user-images.githubusercontent.com/23257827/27038973-d79659dc-4f8c-11e7-9621-280924c00922.png)

[2017-06-13 21:46] t1gu1 opened #1478 "Export a visual content higher than the viewport (Like scroll content)"
* **Version**: 2.14.2
* **Desktop**: Desktop
* **Platform**: Linux/Ubuntu

When a an image/text is higer than the viewport, the visual isn't exportable with the full height size.

Eg: A scroll content(Higher than the viewport)

![higer than viewport](https://user-images.githubusercontent.com/12479055/27106166-366120c2-5060-11e7-9730-346dfa8eb5a5.png)

[2017-06-14 07:52] connor-bean commented on #1476
@sannebengtsson thanks for the report. How were you uploading these designs? Does it happen again now?

[2017-06-14 07:52] connor-bean commented on #1475
Hello @StragelX thanks for the report.

Are you behind a proxy by chance? What were you doing when this happened?

[2017-06-14 08:11] vojtatranta commented on #1478
Is that sketch?

[2017-06-15 11:45] connor-bean commented on #1455
Hey @pss234 - This is now fixed in version 2.14.3. Please update your app.

[2017-06-15 11:45] #1455 closed

[2017-06-15 11:46] connor-bean commented on #1333
Hey this is now fixed in 2.14.3 with the new plugin. Please update your app

[2017-06-15 11:46] #1333 closed

[2017-06-15 11:47] connor-bean commented on #859
Hey this is now fixed in 2.14.3. Please update your app

[2017-06-15 11:47] #859 closed

[2017-06-15 11:48] connor-bean commented on #960
Hey this is now fixed in 2.14.3. Please update your app

[2017-06-15 11:48] #960 closed

[2017-06-15 13:54] therealkevinard opened #1480 "apt update breaks avocode.desktop"
* **Version**:  avocode:amd64 2.14.3
* **Web/Desktop**: Desktop
* **Platform**:  Ubuntu 16.04 xenial
  - detailed system info:
[code]
  - apt repo:
[code]

Using the repository install, every update replaces my avocode.desktop launcher file (`/usr/share/applications/avocode.desktop`) with a non-functional launcher that the system ignores.
So: With every update I have to manually rebuild my avocode

[2017-06-15 13:56] jakubzitny commented on #1480
Hey @therealkevinard, sorry you have this problem, we already know about this, and we'll fix it upcoming weeks. 😉

[2017-06-15 14:07] therealkevinard commented on #1480
I figured you did but I didn't see anything logged here, so.... y'know... covering bases and all.  :smile:

[2017-06-15 15:00] jakubzitny commented on #1480
Hey @therealkevinard, can you please try installing this bundle if it works for you properly? It's 64-bit .deb -> https://upx.cz/ibg.

Install by `dpkg -i path/to/avocode_2.14.4-beta.1_amd64.deb`

[2017-06-15 15:59] therealkevinard commented on #1480
**tldr;**
**Muy Bien!** :smiley: The app itself fails here (just shows the chat window, but the rest of init fails), but the launcher part we're worried about seems golden.

**The long-winded, logg-y version** (guess I'm just in one of those moods today?):
1. removed the repo version, reinstalled from apt
[code]

2. yep. installed.
[code]

3. customize the apt avocode.desktop
[code]

4. squash the

[2017-06-15 17:06] jakubzitny commented on #1480
Hey, we've just released another minor version of Avocode — `2.14.4`, I've added the changes from the beta, so the installation should now end with correct and working shortcut and icon in Ubuntu.

Can you confirm that it works like that, please?

[2017-06-15 18:33] jakubzitny commented on #1480
Hey, we've just released another minor version of Avocode — 2.14.4, I've added the changes from the beta, so the installation should now end with correct and working shortcut and icon in Ubuntu.

Can you confirm that it works like that, please?

[2017-06-15 18:43] therealkevinard commented on #1480
Flawless! Thank you, sir!

[2017-06-15 19:49] #1480 closed

[2017-06-16 16:04] sakralbar opened #1481 "No frames around images"
* **Version**: 2.14.4
* **Web/Desktop**: Desktop
* **Platform**:  Debian stretch

Hello.
The problem in screenshot below.
![issue](https://user-images.githubusercontent.com/11180735/27234456-ce3b982a-52c5-11e7-9479-d3b513b69518.jpg)

And here the link to problem psd: https://yadi.sk/d/r1RK-jVo3KCFMa

[2017-06-17 11:11] AshamanVK opened #1482 "cant inspect psd file"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-06-17 11:13] AshamanVK opened #1483 "error on uploading psd"
* **Version**:  2.14.4

* **Web/Desktop**:Desktop

* **Platform**: Windows 7

http://take.ms/ulEdg

[2017-06-17 12:09] vojtatranta commented on #1482
Could you be more specific? Thanks!

[2017-06-17 12:09] vojtatranta commented on #1483
Have you tried running sync manually?

[2017-06-17 13:46] AshamanVK commented on #1483
what do you mean manually? in avocode i click upload design and chose psd file. Also in web version i have the same error

[2017-06-18 09:55] lkdnvc opened #1484 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.4`
Avocode UID: 153762
[code]

[2017-06-18 11:23] VinnikovV opened #1485 "Cant upload designs"
2.14.4

Desktop

Windows 7

Cant upload designs
http://dl4.joxi.net/drive/2017/06/18/0012/3659/798283/83/0cbcf47ee2.jpg

[2017-06-18 11:26] VinnikovV commented on #1485
Tried again - same http://dl4.joxi.net/drive/2017/06/18/0012/3659/798283/83/df28d8c31d.jpg

[2017-06-18 16:28] #1473 closed

[2017-06-18 17:08] petrbrzek commented on #1485
@VinnikovV can you please try it on app.avocode.com?

[2017-06-19 07:15] worldzhy opened #1486 "can not connect"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.2`
Avocode UID: 37102
[code]

[2017-06-19 08:54] VinnikovV commented on #1485
Hi, i`m already uploaded. It works if upload by 1 file in same time. If upload 3-5 psd in same time - it is crashes

[2017-06-19 09:05] petrbrzek commented on #1486
@worldzhy Please update to the latest version of Avocode.

[2017-06-19 09:05] #1486 closed

[2017-06-19 15:07] petrbrzek commented on #1484
@lkdnvc thanks for reporting the issue. We fixed this bug in our dev branch.

[2017-06-20 07:32] Bohandmitry opened #1487 "1"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.4`
Avocode UID: 155894
[code]

[2017-06-20 07:32] #1487 closed

[2017-06-20 09:54] AlbertRAR opened #1488 "Failure when opening design on both desktop and web app"
* **Version**:
2.14.4

* **Web/Desktop**:
Both web and dwsktop

* **Platform**:
Ubuntu 16.04

![https-github com-avocode-avocode-issues](https://user-images.githubusercontent.com/6898522/27327520-821bf31e-55b7-11e7-939c-d1fe51ce1146.jpg)

[2017-06-20 10:02] AlbertRAR commented on #1488
BTW, error occurs on uploading only specific design. Do i need to upload in to team@avocode.com ?

[2017-06-20 10:03] connor-bean commented on #1488
@AlbertRAR yeah could you send us this design to team@avocode.com?

[2017-06-20 10:58] AlbertRAR commented on #1488
@connor-bean done

[2017-06-20 11:52] kolundzija opened #1489 "Upload failed"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.4`
Avocode UID: 16313
[code]

[2017-06-20 12:14] connor-bean commented on #1488
We worked on this via email. We were able to upload it for the user. I will close this out

[2017-06-20 12:14] #1488 closed

[2017-06-20 16:52] kirillDanshin opened #1490 "Can't use Avocode, bottom half is hidden"
* **Version**:
latest

* **Web/Desktop**:
desktop

* **Platform**:
latest Mac

![2017-06-20 19 49 41](https://user-images.githubusercontent.com/9026581/27345279-c165c8b2-55f1-11e7-82c2-96165ba8c5f7.png)

unable to use Avocode, bottom part is always under some overlay

[2017-06-20 19:38] t1gu1 commented on #1478
No, it's a .psd

[2017-06-21 11:11] mr-stasyuk opened #1491 "I just open app after update. MAC OS"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.4`
Avocode UID: 125155
[code]

[2017-06-21 16:19] whoiskjl opened #1492 "It's pulling a wrong font weight from the sketch"
2.14.4

* **Version**:

* **Web/Desktop**:
Desktop

* **Platform**:
macos 10.12.5

![27349484-6c512078-55c5-11e7-9244-965a1cf7db2d](https://user-images.githubusercontent.com/1874874/27394890-dc1745e8-567b-11e7-951c-3b42c36de602.png)

[2017-06-22 09:02] connor-bean commented on #1490
Hello -

Can you specify exactly your OS version and graphics card you have?

[2017-06-22 09:49] glutaminefree commented on #1481
Man, it's disgusting.

[2017-06-22 10:05] glutaminefree opened #1493 "Reseting filter when I open design in new tab"
* **Version**: 2.14.2

* **Web/Desktop**: Web

* **Platform**: Fedora 24 x86_64

When I use Ctrl+F to filter designs and I press Ctrl and double click on design, it opens in new window and filter reseted in main tab, but if I want open more than one design with this filter, I need print it again. It sucks :(
Reseting filter after simple click (not with Crlt) it's ok - this tab already lost ficus o

[2017-06-22 14:06] darshanasen opened #1494 "Asset Export Issue"
* **Version**: 2.14.4

* **Web/Desktop**: Desktop

* **Platform**: Windows 7 64 bit

I'm unable to export certain assets from a PSD. I'm able to select "Export" and download them. However, the file which is exported is very small (3 KB) and when I open it it's just a blank file (despite the attached dimensions on the file being accurate.)

[2017-06-22 19:33] n0rule5 opened #1495 "Api#updateUploadSlot 400/404"
IMPORTANT: Please try to describe how did it happen.

Trying to sync using the new plugin for the first time. It never finishes and kinda froze. Tried to add designs to the project again and error occurred. So confused.

-----
App v. `2.14.4`
Avocode UID: 35475
[code]

[2017-06-23 03:34] ronaldpushpay opened #1496 "Avocode can't export from Sketch after update"
2.14.4

Desktop

MAC OS Sierra 10.12.5

After updating to the latest Avocode, I can't export artboards from Sketch anymore. It kept coming up with the message below. Please advise.
![screen shot 2017-06-23 at 3 33 07 pm](https://user-images.githubusercontent.com/29169551/27465722-68d7f1f4-5829-11e7-9401-ef64ec59d622.png)

[2017-06-23 10:45] ZuBB opened #1497 "UI is frozen while some psd file is downloaded/rendered"
* **Version**: latest as of today

* **Web/Desktop**: Desctop

* **Platform**: Macos, latest version as of today

STR:
* doble click on some tile to make that page/file (downloaded and) rendered.
* click on '+' button to create new tab

AR: after click nothing happened
ER: downloading/rendering should happen in separate thread

[2017-06-23 10:47] connor-bean commented on #1494
Would you be able to send us the problematic file to team@avocode.com?

[2017-06-23 12:13] LetaiefAymen opened #1498 "Error happened"
IMPORTANT: Please try to describe how did it happen.
i clicked on the "Open in Avocode App" from the website (would be nice to say that it's already open or something, because i thought it's not working but it was) then i clicked on the screen in avocode
-----
App v. `2.14.4`
Avocode UID: 54517
[code]

[2017-06-23 19:03] kirillDanshin commented on #1490
@connor-bean 10.12.6. I can say you what exactly graphics card I have later, now I can say it's some amd mobile solution

[2017-06-23 23:37] zezic commented on #1105
OK. I got some emails and last email says that we should not hope for this. So, there is fastfix (but you will loose some subtle tab borders with it):
[code]
It looks like that:
![2017-06-24-022902_2560x1440_scrot](https://user-images.githubusercontent.com/1945127/27503588-f735db1c-5885-11e7-8295-8e16199e72e2.png)

[2017-06-24 12:03] PixelT opened #1499 "Possibility to declare default color when export SVG icons"
As in title - optionally possibility to define default svg icon(s) color when export

[2017-06-26 15:57] bolekkerous commented on #1492
Hey, @whoiskjl -
could you please send us the sample of the problematic design to team@avocode.com?

Thanks!

[2017-06-26 16:01] bolekkerous commented on #1496
Hey -
have you tried reinstalling the application? It looks like the application might be either somehow renamed or corrupted.

Here's a download link:

https://avocode.com/download

[2017-06-26 16:03] bolekkerous commented on #1497
Hey -
I just tried that and it does work for me - showing the new tab takes a little longer than usual, but then you should be able to browse projects and even open another design.

Can you still reproduce that same behaviour?

Could you possibly send us a video or screenshots of the problem?

Thanks!

[2017-06-26 16:17] vojtatranta commented on #1481
I assume this is a clipping mask?

[2017-06-26 19:00] jakubzitny commented on #1490
Hi @kirillDanshin, have you been using an older version of Avocode that was working before or is this your first time? Can you try [2.14.0](https://media.avocode.com/download/avocode-app/2.14.0/Avocode-2.14.0.dmg) or [2.13.0](https://media.avocode.com/download/avocode-app/2.13.0/Avocode-2.13.0.dmg) to see if some of them are working?

[2017-06-26 19:10] jakubzitny commented on #1483
Hi @AshamanVK, can you please send us the problematic design to team@avocode.com so we have a closer look at it?

[2017-06-26 19:11] jakubzitny commented on #1482
I believe this is related to #1483, so I'll close this one.

[2017-06-26 19:11] #1482 closed

[2017-06-26 19:20] jakubzitny commented on #1476
Hi @sannebengtsson, do you still have problems with uploading and inspecting designs in Avocode?

[2017-06-26 19:22] jakubzitny commented on #1495
Hi, thanks for reporting this issue. We already know about it and we'll be fixing it for `2.14.5`.

[2017-06-26 19:22] jakubzitny commented on #1489
Hi @kolundzija, thanks for reporting this. We are already tracking this in #1495, so I'll close this thread. We expect to have this fixed for the next patch release.

[2017-06-26 19:22] #1489 closed

[2017-06-26 19:25] jakubzitny commented on #1494
Hi @darshanasen, is this happening to all assets or just some? Which format are you exporing to? JPG, PNG or SVG? Is the same happening to all export formats? Are the layers masked by clipping masks by any chance? Thanks for you replies :)

[2017-06-26 21:04] kirillDanshin commented on #1490
@jakubzitny yes, this issue persists with any version I had. linux version is working as expected.

[2017-06-27 07:10] vojtatranta commented on #1499
I don't see quite benefit in this enhancement. You still can easily change color of SVG in CSS and that's what you should do.

[2017-06-27 07:12] vojtatranta commented on #1498
That's a bug, we'll fix it!

[2017-06-27 07:13] PixelT commented on #1499
Yes, I would like to update this issue to: Possibility to remove fill, width & height attributes in SVG file (because all of this properties you can set in CSS).

[2017-06-27 07:14] vojtatranta commented on #1497
@ZuBB opening a design is quite intense work. We are aware of that app lags during opening of a design but we are not able to do anything with that at the moment.

Saying that, we are working on a fix which should improve rendering much faster!

[2017-06-27 07:14] #1497 closed

[2017-06-27 17:11] jakubzitny commented on #1490
This is quite unfortunate, could you send us the Mac/Macbook model you're using or the graphics card info, please? You can send it to team@avocode.com if you don't want it public like this. It might help us with debugging the problem.

[2017-06-28 13:53] sakralbar commented on #1481
Maybe. I'm not familiar with Photoshop. I can only give a link to download psd with problem in Avocode)

[2017-06-28 14:23] jankuca commented on #1481
I examined the PSD and it is a layer clipped by a mask which has a stroke on it. This is a known bug which will get fixed in the coming months.

**The stroke/border is correctly rendered when exported.** This is only a problem with the design displayed in Avocode, not when it is exported.

![screen shot 2017-06-28 at 16 23 10](https://user-images.githubusercontent.com/367262/27642114-1a37a4ba-5c1e

[2017-06-28 14:25] jankuca commented on #1481
Duplicate of #462. You can track further progress there.

[2017-06-28 14:25] #1481 closed

[2017-06-28 18:17] kirillDanshin commented on #1490
@jakubzitny basically it's not a Mac/macbook. it's latest VMware Workstation Pro patched to run darwin. it can run anything but Avocode. now I can't export sketch design to avocode, and basically it means that I can't work while still subscribed to avocode. now I should work with sketch 45 that old plugin doesn't support.

[2017-06-28 19:33] lisafolkerson opened #1500 "Drag and Drop add PSD results in Error"
IMPORTANT: Please try to describe how did it happen.

Add project folder, then when drag and drop psd file onto avocode error occurs.

-----
App v. `2.14.4`
Avocode UID: 146408
[code]

[2017-06-29 08:29] jakubzitny commented on #1490
I thougt so, that explains it 😛 Thanks for the info.

Would you be willing to send me the darwin virtual image (stripped down of personal stuff) so I can try to reproduce the environment? Or some instructions on how to set it up?

We don't really have capacity to support such environments, but I'll try to find some time to try it out 😉

[2017-06-29 08:36] jakubzitny commented on #1500
Hi @lisafolkerson, thanks for reporting the problem. We already know about this and the behaviour will be fixed for `2.14.5`. You'll only see error notification instead of app problem.

The error basically says that we don't support uploading designs that are larger than 500MB. If you want to do that, please download our Photoshop plugin from [avocode.com/download](https://avocode.com/download) or

[2017-06-29 11:09] piotrburzynski opened #1501 "Upload PSD errror"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.4`
Avocode UID: 75411
[code]

[2017-06-29 12:46] jakubzitny commented on #1501
Hi @piotrburzynski, thanks for sending the report. We already know about this issue and we are tracking it in #1495, we'll be trying to fix it for `2.14.5`.

Please see #1495 for further details, I am going to close this.

[2017-06-29 12:46] #1501 closed

[2017-06-29 19:18] whoiskjl commented on #1492
I have sent the file to the email given. Thank you

[2017-06-30 08:15] ozzyosborne680 commented on #1494
Hi @jakubzitny

I have the same issue and mine is due to clipping masks. Don't suppose you know of a fix?

[2017-06-30 08:29] jakubzitny commented on #1494
Thanks for the info @ozzyosborne680.

Can you give me more details on your thing? Is your design from Sketch? Is the clipping mask empty? Which formats are you exporting to? Is the same happening for all export formats or not?

If it's not a sketch file with empty clipping mask, we'd need to examine you design if you're willing to send it to team@avocode.com.

[2017-06-30 08:44] ozzyosborne680 commented on #1494
Hi @jakubzitny

Thanks for the reply.

The design is indeed Sketch.
It is happening to all export formats (I couldn't test SVG).
The clipping mask has the image I need to export in it. example structure(s) attached.

![screen shot 2017-06-30 at 09 36 27](https://user-images.githubusercontent.com/6939017/27727739-b3251ff4-5d77-11e7-8b76-f715410323ac.png)

![screen shot 2017-06-30 at 09 40 26](https

[2017-06-30 08:47] jakubzitny commented on #1494
Thanks, I see. The fact that it is not happening to similarly masked layers is weird. Please send us the sketch file to team@avocode.com, we'll have look at it and we'll try to fix it.

[2017-06-30 15:14] Pavlo-Minkievych opened #1502 "Bug"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-06-30 15:15] #1502 closed

[2017-06-30 15:15] rihbim opened #1503 "Couldnt upload designs from Sketch to Avocode"
2.14.4

* **Version**:

* **Desktop**:

* **MacOS**:

Sketch plugin

I installed plugin Avocode on my MacOS. And I couldnt upload designs to Avocode from Sketch.
I made screen of problem - http://prntscr.com/fq22cx

[2017-06-30 15:20] jakubzitny commented on #1503
Hi @rihbim, thanks for letting us know. You seem to be still using the old plugin. The new one is described at [help.avocode.com](https://help.avocode.com/projects-and-designs/design-upload/upload-sketch-designs-via-avocode-sketch-plugin). Which macOS version are you using, please?

The new plugin should be automatically installed when you launched `2.14.4`. It it's not the case, please remove the

[2017-06-30 15:27] rihbim commented on #1503
Thanks for your fast reply

But I have 1 more problem.

When I uploaded Sketch to Avocode, designs disappear in Avocode after 15-20 min.

What can we do with this problem?

[2017-07-03 07:12] mr-stasyuk opened #1504 "Sync Sketch designs with Avocode project."
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.4`
Avocode UID: 125155
[code]

[2017-07-03 07:56] jakubzitny commented on #1503
Hi @rihbim, does the disappearing happen during the upload or after everything is uploaded? If it's during the upload, I am already working on a fix that will be include in next patch version `2.14.5`.

[2017-07-03 07:58] jakubzitny commented on #1504
Hi @mr-stasyuk, thank you for this report. We know about this and we're already working on a fix for `2.14.5`.

We're already tracking this in #1495 so I am going to close this issue and let's continue in #1495 with latest updates.

[2017-07-03 07:58] #1504 closed

[2017-07-03 08:27] DmitryLobachov opened #1505 "Error on drag & drop files to project"
I've just tried to drag&drop psd files to my new project.
-----
App v. `2.14.4`
Avocode UID: 159374
[code]

[2017-07-03 14:24] jakubzitny commented on #1148
Hi @fapires, we've recently released Avocode 2.14.4 with our new Sketch plugin. I tried to reproduce this issue with it and I had no problems. I think we can close this out.

Please download the latest Avocode and the new plugin will be automatically installed for you. Let us know if you have any more issues with it.

[2017-07-03 14:24] #1148 closed

[2017-07-03 15:18] esvlad commented on #1483
@jakubzitny The same problem, the designer sent the layout from the last Photoshop, 1 in 10 files does not open. What could be the problem?

[2017-07-03 15:23] jakubzitny commented on #1483
@esvlad Does the upload finish properly and you only have problems after you try opening the design? Or is it that the upload actually fails? Do you see any error dialog window or notification?

One relevant case can be that the PSDs are 500+MBs. If that's the case, please upload them via plugin or send them to us, we can upload it for you. If it's smaller than 500MB, there might be a problem on o

[2017-07-04 06:43] luckinamargo opened #1506 "upload design process failed"
Which version of avocode are you using?
2.14.4

Are you using the web or desktop version of Avocode?
Desktop

What OS are you using? If you use the web version, which browser are you using?
Ubuntu 16.04

[2017-07-04 06:45] luckinamargo commented on #1506
![screenshot from 2017-07-04 13-44-15](https://user-images.githubusercontent.com/22146672/27818226-fbba0b54-60be-11e7-93cd-f112ff68616e.png)

[2017-07-04 07:42] jakubzitny commented on #1506
Hi @luckinamargo, thanks for reporting your problem. Have you tried uploading different files that worked? Have you tried uploading this once more to see if it still fails? Would you mind sending us the PSD design to team@avocode.com so we can inspect the problem and upload the file for you?

[2017-07-04 14:52] luckinamargo commented on #1506
Thank you for answer. My designer says it was problem with psd file so I
have uploaded another one :) and you needn't uploaded it manually, thanks

2017-07-04 14:42 GMT+07:00 Jakub Žitný <notifications@github.com>:

[2017-07-04 14:59] jakubzitny commented on #1506
Thanks for the info. I am going to close this issue then.

Feel free to let us know if you have any more problems with Avocode 😉

[2017-07-04 14:59] #1506 closed

[2017-07-04 15:03] jakubzitny commented on #1496
Hi @ronaldpushpay, we changed the behaviour of how Avocode opens. It will be included in the next release `2.14.5` which will available today.

[2017-07-04 15:03] rihbim commented on #1506
But we still have this problem with upload design in Avocode from Sketch

Sketch version 45.1
Avocode 2.14.4
Plugin Avocode 43

[2017-07-04 15:05] luckinamargo commented on #1506
Thank you!

2017-07-04 22:03 GMT+07:00 rihbim <notifications@github.com>:

[2017-07-04 15:07] jakubzitny commented on #1506
Can you please create a new issue with more details, please @rihbim? We'll be releasing new patch version `2.14.5` today with some fixed for Sketch uploads. What exactly do you have problem with?

[2017-07-04 15:11] rihbim commented on #1503
This problem is still urgent
We cant upload design from Sketch to Avocode.
Problems with the load almost never happen in just 30-40 minutes, designs disappear

[2017-07-04 15:16] jakubzitny commented on #1503
Can you please send the sketch file to us, so we have a closer look at it? Is it happening to one particular Sketch file or all? Have you tried uploading not all artboards at once, but only some of them? Does that work, please?

[2017-07-04 15:20] rihbim commented on #1503
Ok
I will send sketch file to your mail
Yes, we tried upload just 1 artboard, but it doesnt changed :(

[2017-07-04 15:21] rihbim commented on #1503
​
 Layout_20_6_final-1.sketch
<https://drive.google.com/file/d/0B-nEnHKCqnx2TXAzSWhqcW1RQ1U/view?usp=drive_web>
​ for example

2017-07-04 18:16 GMT+03:00 Jakub Žitný <notifications@github.com>:

[2017-07-04 15:22] jakubzitny commented on #1503
Thanks, I will have a look at it.

[2017-07-04 15:25] rihbim commented on #1503
Thanks
I sent it to your mail

[2017-07-04 16:12] jakubzitny commented on #1496
We've just released `2.14.5`, please update the app and let us know if you have any more problems 😉

[2017-07-04 16:12] #1496 closed

[2017-07-04 16:12] jakubzitny commented on #1498
We've just released `2.14.5` with a fix for this bug, please update the app and let us know if you have any more problems 😉

[2017-07-04 16:12] #1498 closed

[2017-07-04 16:13] jakubzitny commented on #1484
We've just released `2.14.5` with a fix for this bug, please update the app and let us know if you have any more problems 😉

[2017-07-04 16:13] #1484 closed

[2017-07-04 16:13] jakubzitny commented on #1500
We've just released `2.14.5` where we handle this case properly, please update the app and let us know if you have any more problems 😉

[2017-07-04 16:13] #1500 closed

[2017-07-04 16:22] jakubzitny commented on #1503
Hi @rihbim, we've just released an update `2.14.5` with a bunch of fixes for Sketch upload. Our support team has uploaded the designs for you and everything worked on our side, so I believe it should work for as well.

Please update your app and let us know if you have any more problems 😉

[2017-07-04 16:22] #1503 closed

[2017-07-06 19:20] drblmb opened #1507 "Troubleshooting->Clear Previews"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.5`
Avocode UID: 120318
[code]

[2017-07-06 19:37] jakubzitny commented on #1507
Hi @drblmb, thanks for reporting this issue. This is a bug, we already know about it and we will try to fix it in upcoming weeks. We're already tracking it in #1466, so I am going to close this thread.

[2017-07-06 19:37] #1507 closed

[2017-07-06 20:23] niafreu opened #1508 "Can't open a PSD"
IMPORTANT: Please try to describe how did it happen.
I just opened it and it doesn't open it, just this error message.
-----
App v. `2.14.5`
Avocode UID: 159899
[code]

[2017-07-06 21:26] jakubzitny commented on #1508
Hi @niafreu, thanks for reporting this. We already have a fix for this in our development branch and it will be included in next release of Avocode.

This is the same as #1500, the problem is the size of your file. We do not support upload of 500+MB PSDs into Avocode. If you want to upload the file, please download our PS plugin, or send the PSD to team@avocode.com so our support team can upload i

[2017-07-07 08:41] vojtatranta commented on #1505
This is a known issue, this is due to bug in the window frame when you drag a file overt top edge of app it causes this error.

[2017-07-07 08:41] #1505 closed

[2017-07-07 08:42] vojtatranta commented on #1499
This makes sense.

Would it be OK if it was some global settings regardless of individual designs? Like global export option?

[2017-07-07 08:44] vojtatranta commented on #1494
@ozzyosborne680 if you want to export an image with clipping mask you have to export both - masked layer and the mask. I think clipping masks work OK. I was resolving similar issue last week and everything was OK.

[2017-07-07 13:51] buveur opened #1509 "It happens all the time"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.5`
Avocode UID: 159528
[code]

[2017-07-07 13:55] jakubzitny commented on #1509
Hi @buveur, thanks for reporting this problem. It's a bug, we'll try to fix it for the next release.

[2017-07-07 14:13] danigalindo opened #1510 "CANT INSTALL SKETCH PLUGIN"
IMPORTANT: Please try to describe how did it happen.
I wento to menu HELP>REINSTALL SKETCH PLUG IN and got this message " Failed to Resinstall Skectch plus ing, click here to report issue"
-----
App v. `2.14.5`
Avocode UID: 160674
[code]

[2017-07-07 14:19] jakubzitny commented on #1510
Hi @danigalindo, thanks for reporting your problem. Where do you have your Sketch app installed and how is it named? We're looking into `/Applications` and `/Downloads` by default.

Can you please check the access rights and/or run these couple of commands from Terminal with appropriate path to your Sketch app, to help us debug your problem?
[code]

[2017-07-08 09:24] Webdesme opened #1511 "filed upload"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.5`
Avocode UID: 31535
[code]

[2017-07-08 14:00] jakubzitny commented on #1511
Hi @Webdesme, thanks for reporting this. I believe this is a problem with syncing larger/older Sketch files we still have in latest version. We'll be trying to fix this as soon as possible.

[2017-07-09 10:46] shamboo opened #1512 "Avocode interface from version 12.13 is not working"
Version: 2.14.5
Web/Desktop: Desktop
Platform: macOS 10.12.6

Macbook Pro mid 2010
Intel HD Graphics 288 МБ and NVIDIA GeForce GT 330M

Avocode interface from version 12.13 is not working. Projects are not displayed

![2017-07-09 13 43 07](https://user-images.githubusercontent.com/1628257/27993178-d708cb1e-64ac-11e7-9253-2b4cf8c3e90e.png)
![2017-07-09 13 43 51](https://user-images.githubuserconten

[2017-07-09 12:43] janwagner opened #1513 "sketch project files in bad quality on retina devices"
after exporting a sketch artboard (375x667) to avocode, the project looks totally pixelated on retina screens. any chance of having projects in better quality?

<img width="1583" alt="grafik" src="https://user-images.githubusercontent.com/4516161/27993992-6cb8e02a-64b4-11e7-87fc-1a7983d5acad.png">

[2017-07-09 22:34] jankuca commented on #1513
Hello,

as of right now, this is the best you get in Avocode. We are working on many improvements to the in-app design canvas which will make it possible to render designs crisply on various pixel density displays.

You should note that the design is rendered in "lower quality" only on the canvas. When exporting assets from Avocode, the result should be crisp at any resolutions as long as you expo

[2017-07-10 05:49] janwagner commented on #1513
hi januka, thank you for your quick response :) yes, I was aware of the export quality. do you already know when the updated canvas will be released? right now this keeps me from fully switching to avocode.

[2017-07-10 08:28] ozzyosborne680 commented on #1494
Hi @vojtatranta

Thanks for the advice however exporting the masks was the first thing I tried.
Even selecting every layer in the design results in white spaces where the images should be.

Any other suggestions would be appreciated.

[2017-07-10 12:06] jakubzitny commented on #1512
Hi @shamboo, thanks for letting us know. We have never experienced such a thing so any details on your environment (Mac model, graphics card, ...) will help us with debugging this further. Are you by any chance using hackintosh or macOS inside a virtual machine? Can you check out issue #1490 to see if you're experiencing something similar?

[2017-07-10 12:09] jakubzitny commented on #1490
Hi @kirillDanshin, how about that environment details/howto? Can you please check out issue #1512 to see if it's similar to what you are experiencing? I guess it's still happening with `2.14.5`, right?

[2017-07-10 13:11] mehocode opened #1514 "Downloading revision 'get' of undefined"
IMPORTANT: Please try to describe how did it happen.
Uploaded 3 artboards, nothing showed up in project folder, hit refresh button and all 3 artboards got downloaded. Tried to open one of them and got this error. It is still loading with cancel button on the bottom while I'm typing this and I'm sure it won't open the artboard if I let it sit like that so going to cancel. 1 out of three opens fine.

[2017-07-10 13:47] jakubzitny commented on #1514
Hi @mehocode, thanks for reporting this issue. Do you have any further details on how did you get this error, please? Did it happen more than once? I think it might have happened after syncing a Sketch file, is that right? Anyway, it's a bug and we'll try to fix it as soon as possible.

[2017-07-10 13:57] jakubzitny commented on #1514
Right thanks. Would you be willing to send us the Sketch file you synced to team@avocode.com.

Also, we're tracking this same error in #1509, so I am going to close this issue and let's continue the conversation there. Thanks for the info for now :)

[2017-07-10 13:57] #1514 closed

[2017-07-10 13:59] Andrew-Dyachenko opened #1515 "asdcfbkasvdfkjclqewc"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.4`
Avocode UID: 116502
[code]

[2017-07-10 14:00] #1515 closed

[2017-07-10 14:00] jakubzitny commented on #1515
Hi @Andrew-Dyachenko, thanks for the report. We do not support uploading PSD files over 500MB via drag and drop. Please use our PS plugin or send the file to our support team and they will upload it for you.

[2017-07-10 17:52] shamboo commented on #1490
Macbook Pro mid 2010
Intel HD Graphics 288 МБ and NVIDIA GeForce GT 330M

[2017-07-10 17:53] shamboo commented on #1512
Macbook Pro mid 2010
Intel HD Graphics 288 МБ and NVIDIA GeForce GT 330M

[2017-07-10 19:30] jakubzitny commented on #1512
Allright, I think we'll be able to release a fix for this in the next version. This is the same as #1490, so I'll close this issue and we'll let you know there when new version is available. It should be no later than Wednesday this week.

[2017-07-10 19:30] #1512 closed

[2017-07-10 19:45] jakubzitny commented on #1510
Hey @danigalindo, do you happen to have any more info on this? Do you still have problems with installing our plugin, please?

[2017-07-11 07:34] jakubzitny commented on #1494
Hey guys @ozzyosborne680 and @darshanasen, is there any chance you're having a blending mode applied to the mask layer?

[2017-07-11 09:03] ozzyosborne680 commented on #1494
Hi @jakubzitny

The groups containing the images and masks have pass through enabled.
The images themselves don't have anything; And the ones that do seem to work are also done the same way.

Thanks for the continued debugging :)

[2017-07-11 16:05] morcegon opened #1516 "Alpha Image Exports"
* **Version**: 2.15.5

* **Web/Desktop**: Desktop

* **Platform**: MacOS 10.12.5

This:

![screen shot 2017-07-11 at 13 05 20](https://user-images.githubusercontent.com/31614/28077963-a1e9d3cc-6639-11e7-9e4d-f9bf08f73b35.png)

Export result:

![screen shot 2017-07-11 at 13 02 56](https://user-images.githubusercontent.com/31614/28077924-89e46594-6639-11e7-8cab-aa068ed70f5d.png)

[2017-07-12 06:34] Bobby90622 opened #1517 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.5`
Avocode UID: 161908
[code]

[2017-07-12 09:55] jakubzitny commented on #1517
Hi @Bobby90622, thanks for reporting this problem. Do you have any further info for us about how did this happen? What were you trying to do? Did it happen more than once for you?

We already know a bit about this and we're tracking it in #1495, so I'll close this thread and let's continue the discussion over there.

[2017-07-12 09:55] #1517 closed

[2017-07-12 10:09] darginyegor opened #1518 "Can't upload design. Ubuntu Linux 16.04"
Got this error immedeatly after selecting a psd file.

-----
App v. `2.14.5`
Avocode UID: 160764
[code]

[2017-07-12 10:12] jakubzitny commented on #1518
Hi @darginyegor, thanks for the report. Do you have any further details on this? Is it happening to all uploads? Did you try uploading via drag&drop? Are you able to upload via web interface or are you behind some sort of proxy?

[2017-07-12 10:13] jakubzitny commented on #1495
#1518 is related as well.

[2017-07-12 10:14] jakubzitny commented on #1518
Also, can you try logging out and loggin in? Is it still happening for all uploads afte re-logging?

[2017-07-12 10:15] darginyegor commented on #1518
@jakubzitny first time i got some popup errors and all i could see is something about "access denied"
it happens to all uploads
gonna try re-logging and upload using web-interface in a moment

[2017-07-12 10:20] darginyegor commented on #1518
well after relogging i see one of the designs i tried to upload, but cant open it. also now i can upload new files, but have same problem with all:
![2017-07-12 16-17-54](https://user-images.githubusercontent.com/22341230/28113349-0d945f90-671e-11e7-87a8-015fc736a1ed.png)

[2017-07-12 10:24] jakubzitny commented on #1518
Allright, this looks like a permission problem with the location where we are saving the data. it's in `~/.avocode`, can you try checking (and possibly repair) the permissions there?

The full path is `/home/darginyegor/.avocode`, this should help:
[code]

[2017-07-12 10:27] darginyegor commented on #1518
@jakubzitny
[code]

after running your chmod command with sudo (withuot sudo it told me he cant change permissions)

[2017-07-12 10:28] darginyegor commented on #1518
and i cant upload designs again

[2017-07-12 10:39] jakubzitny commented on #1518
Allright, you probably launched Avocode as a superuser, or assigned the `~/.avocode` folder to `root`. Please run:

[code]

and try again.

[2017-07-12 10:45] darginyegor commented on #1518
@jakubzitny
figured it out the moment before your last comment hah!
thanks! :+1:
looks like now everything's fine
best support ever

[2017-07-12 11:14] #1518 closed

[2017-07-12 16:44] DishanTD commented on #1071
Same issue , send screenshot to the team :)

Thanks!

[2017-07-12 17:33] jakubzitny commented on #1490
Hey @shamboo and @kirillDanshin, we've just released Avocode `2.14.6` with a possible fix for this issue. Let us know if it's still happening to you or if you have any other problem

[2017-07-12 17:33] #1490 closed

[2017-07-12 17:34] jakubzitny commented on #1511
Hi @Webdesme, we've just release new version of Avocode, please update and let us know if you still have problems with it 😉

[2017-07-12 17:34] #1511 closed

[2017-07-12 17:35] jakubzitny commented on #1510
Hi @danigalindo, we've released new version of Avocode, can you please try it and see if you can install the plugin?

[2017-07-12 17:35] jakubzitny commented on #1509
Hi @buveur, we've just released new version of Avocode, please update and let us know if you still have problems with it 😉

[2017-07-12 17:35] #1509 closed

[2017-07-12 17:36] jakubzitny commented on #1508
Hi there, we fixed how we handle this problem in latest Avocode `2.14.6` so I'll close this issue. If you still have problems with uploading large PSDs, please use our PS plugin or send the file to team@avocode.com so our support guys can upload it for you.

[2017-07-12 17:36] #1508 closed

[2017-07-12 17:37] jakubzitny commented on #1495
Hi @n0rule5, we've just released new version of Avocode, please update and let us know if you still have problems with this 😉

[2017-07-12 17:37] #1495 closed

[2017-07-12 17:37] #1510 closed

[2017-07-12 18:16] Pavlo-Minkievych opened #1519 "Does not load design"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 68767
[code]

[2017-07-12 18:17] Pavlo-Minkievych commented on #1519
At boot time it gives an error

[2017-07-12 18:35] Pavlo-Minkievych opened #1520 "Does not load design"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 68767
[code]

[2017-07-12 20:58] Pavlo-Minkievych opened #1521 "Error loading Sketch design"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 68767
[code]

[2017-07-13 07:30] PixelT commented on #1499
I think yes, but maybe global settings for all designs in single project, instead of each of them (designs) individually.

+ add also stroke attribute to list above

[2017-07-13 09:06] jakubzitny commented on #1520
Closing with respect to #1519.

[2017-07-13 09:06] #1520 closed

[2017-07-13 09:07] jakubzitny commented on #1521
Closing with respect to #1519.

[2017-07-13 09:07] #1521 closed

[2017-07-13 09:11] jakubzitny commented on #1519
Hi @Pavlo-Minkievych, it looks like you have reached a limit for requests to our backend servers. I am not sure if it happened on purpose or not, one of the reasons could be uploading Sketch files with hundreds of artboards repeatedly. We will change this limitation for today so Sketch artboards  are counted differently to your quota.

The limit should be refreshed for you today, so please let us

[2017-07-13 09:24] Pavlo-Minkievych commented on #1519
http://prntscr.com/fv4nlz
Unfortunately does not work

[2017-07-13 11:09] Pavlo-Minkievych opened #1522 "Part of the loaded Sketch design is not visually displayed but there are layers in the layers"
Avacode 2.14.6

* **Version**:

Desktop version
* **Web/Desktop**:

 macOS Sierra 10.12.5
* **Platform**:

[2017-07-13 11:10] Pavlo-Minkievych commented on #1522
http://prntscr.com/fv5yln

[2017-07-13 11:12] jakubzitny commented on #1519
How about now, @Pavlo-Minkievych?

[2017-07-13 11:17] jakubzitny commented on #1522
Hi @Pavlo-Minkievych, I believe you tried uploading and everything finished correctly now, right? So we can close #1519.

About the missing layers, we had similar problem in previous versions and I think it should be fixed. This might be another problem, did you try uploading it more than once? Would you be willing to share the design with us at team@avocode.com so we can inspect the problem more

[2017-07-13 11:25] Pavlo-Minkievych commented on #1522
Yes with downloading problem solved.
I've tried to download three times but the result is the same, link to design sent to the email you specified.

[2017-07-13 11:29] Pavlo-Minkievych commented on #1522
Best Regards,
Pavlo Minkievych
Convert designs, P2H
Cell: +380999144206
Skype:pavlo.b.minkievych

link to design
https://www.dropbox.com/s/1jugllfn4sub2tb/purenorth-weighty-misunderstanding.sketch?dl=0

[2017-07-13 11:30] jakubzitny commented on #1522
Thanks a lot, I'll look into it and update you when I have more info.

[2017-07-13 11:30] #1519 closed

[2017-07-13 11:35] Pavlo-Minkievych commented on #1522
Thank you I will wait for an answer from you

[2017-07-13 12:16] andersLandau opened #1523 "Trying to upload artboard"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 141424
[code]

[2017-07-13 12:19] jakubzitny commented on #1523
Hi @andersLandau, thanks for the report. This looks like #1511 which is supposed to be fixed in `2.14.6`. Let me look into it. Did it happen more than once to you? Can you send us the design to team@avocode.com, please, so we can test it more thoroughly?

[2017-07-13 13:31] KMADr opened #1524 "error"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.14.5`

[2017-07-13 13:34] jakubzitny commented on #1524
Hi @KMADr, do you mind sharing more info with us? What platform are you using? What happened when you saw this error?

I can see that you are using older version of Avocode. Please update the app to `2.14.6` and let us know if you have any other problems.

[2017-07-13 13:34] #1524 closed

[2017-07-13 13:40] KMADr commented on #1524
i trying to update, but he doesn't want. He write download updating... and all, after nothing happens

[2017-07-13 13:41] jakubzitny commented on #1524
@KMADr are you on Linux or Windows? Can you try downloading the app again from [avocode.com/download](https://avocode.com/download) ?

[2017-07-13 13:43] KMADr commented on #1524
i'm using windows, ok i try again reinstall app

[2017-07-13 13:45] jakubzitny commented on #1524
Is it 32-bit Windows or 64? Do you mind sharing the version as well?

[2017-07-13 13:49] KMADr commented on #1524
windows 64, i'm reinstalled the app, but the problem didn't disapper, black window when i copy picture. It happens only with one picture, with the rest there are no problems.

[2017-07-13 13:58] jakubzitny commented on #1524
What picture are you copying? Are you copying `base64` or anything else? Would you mind taking a screenshot or a video of the problem so we know what to fix? Or send us the design you are using to team@avocode.com?

[2017-07-13 14:01] KMADr commented on #1524
https://manager.avocode.com/view/d40ab37db35e44259ab5c25784a37a69/
png/jpg
stephen colbert don't copy

[2017-07-13 15:06] p-boiko commented on #1158
Oh no! They are back with v2.14.6 ;(

[2017-07-13 15:19] jakubzitny commented on #1158
Damn. Allright, so now we know the problem. We have added some gpu flags. However they caused that for some people the app wouldn't render at all. Like half of it or so. Look at issues #1512 and #1490. I think they have higher priority right now as they were not able to use the app at all. We'll look into this to see if we can satisfy both.

[2017-07-13 15:40] jakubzitny commented on #1158
Actually @p-boiko, can you please try to launch avocode via one of these commands to see if it helps?

[code]

[2017-07-13 17:32] jakubzitny commented on #1001
Hey guys, we've added `apt` repository a while ago, so I am closing this issue.

Ubuntu and other Debian-like distros should be able to install Avocode easily. Detailed info on how to add the repository, install and update is at [help.avocode.com](https://help.avocode.com/app-settings/installing-avocode-on-linux). We also have a [repo in AUR](https://aur.archlinux.org/packages/avocode/) for Arch L

[2017-07-13 17:32] #1001 closed

[2017-07-13 17:35] jakubzitny commented on #835
We've added apt repository a while ago so I'll close this issue.

Ubuntu and other Debian-like distros should be able to install Avocode easily with Desktop file as well. Detailed info on how to add the repository, install and update is at [help.avocode.com](https://help.avocode.com/app-settings/installing-avocode-on-linux). We also have a [repo in AUR](https://aur.archlinux.org/packages/avocode/)

[2017-07-13 17:35] #835 closed

[2017-07-13 17:41] jakubzitny commented on #1283
Hey @crh225, are you still having problems with this, or is it fixed in latest versions of Avocode?

[2017-07-13 17:49] jakubzitny commented on #1172
Hi @vAhyThe, we've added SVGO optimization for all SVG exports a while ago, the titles should be removed automatically and numbers should be rounded to two digits as well. There is another bunch of optimization options that are happening by default. You can disable Export optimization in `Help -> Troubleshooting` menu.

I am closing this issue, we might add a possibility to configure separate opti

[2017-07-13 17:49] #1172 closed

[2017-07-13 17:51] jakubzitny commented on #1187
Right now you should be able to delete separate Sketch artboards. In `2.15.0` we'll be adding different view for Sketch files with ability to delete everything as well. I think we can close this issue, right?

[2017-07-13 17:51] #1187 closed

[2017-07-13 17:52] jakubzitny commented on #1190
Hey @p-boiko, is this still happenig to you in latest Avocode, please?

[2017-07-13 17:52] #1194 closed

[2017-07-13 17:53] jakubzitny commented on #1225
Closing with respect to #1162.

[2017-07-13 17:53] #1225 closed

[2017-07-13 17:54] jakubzitny commented on #1318
Hi @cedarstay, do you still have problems with export in latest version of Avocode?

[2017-07-13 17:57] jakubzitny commented on #1342
Hi @serzh-f, do you still have problems with uploading PSDs?

[2017-07-13 17:57] #1356 closed

[2017-07-13 17:57] jakubzitny commented on #1357
Hi @jpm1475, do you still have problems starting the latest version of Avocode?

[2017-07-13 17:58] #1357 closed

[2017-07-13 17:58] jakubzitny commented on #1360
Hi @jpm1475, do you still have problems starting the latest version of Avocode?

[2017-07-13 17:59] jakubzitny commented on #1369
Hi @vAhyThe, do you still have this problem in the latest version of Avocode, please?

[2017-07-13 18:01] jakubzitny commented on #1380
Hi @sakralbar, we've fixed the Desktop file few versions back. I believe everything should work correctly for you in the latest Avocode, is that right? Please open a new issue if you have any more problems 😉

[2017-07-13 18:01] #1380 closed

[2017-07-13 18:01] shamboo commented on #1512
fixed!! thank you!

[2017-07-13 18:01] jakubzitny commented on #1383
This should be fixed in latest version of Avocode. Don't hesitate to open a new issue if you have any more problems 😉

[2017-07-13 18:01] #1383 closed

[2017-07-13 18:04] jakubzitny commented on #1400
Hey @rajrauther, do you still have problems with uploading in latest version of Avocode, please?

[2017-07-13 18:06] jakubzitny commented on #1367
Closing with respect to #1328.

[2017-07-13 18:06] #1367 closed

[2017-07-13 18:06] jakubzitny commented on #1434
Closing with respect to #1328.

[2017-07-13 18:06] #1434 closed

[2017-07-13 18:06] jakubzitny commented on #1328
Hi @vladimir-shalaev22, do you still have problems with this in the latest version of Avocode?

[2017-07-13 18:08] jakubzitny commented on #1397
Hi @shgkm0423, do you still have problems with uploading the file or other files? I think this issue is similar to #1374, so let's move the conversation there.

[2017-07-13 18:08] #1397 closed

[2017-07-13 18:09] jakubzitny commented on #1338
This should be fixed in latest version of Avocode, so I'll close this thread. Feel free to open a new issue if you have more problems with Avocode 😉

[2017-07-13 18:09] #1338 closed

[2017-07-13 18:10] jakubzitny commented on #1409
Hi @canberkcakmak, do you still have problems with export in latest version of Avocode?

[2017-07-13 18:11] jakubzitny commented on #1324
Hi @vAhyThe, do you still have problems with opening the particular design in Avocode?

[2017-07-13 18:12] jakubzitny commented on #1436
Closing with respect to #1360, please give us more information about your environment so we can debug this problem more thoroughly.

[2017-07-13 18:12] #1436 closed

[2017-07-13 18:16] jakubzitny commented on #1463
Hey @chenLiTeng, do you still have problems with uploading files to Avocode?

[2017-07-13 18:16] jakubzitny commented on #1470
This should be fixed in latest version of Avocode.

[2017-07-13 18:16] #1470 closed

[2017-07-13 18:17] jakubzitny commented on #1471
Hey @shafqatali, do you still have problems with exporting from Avocode?

[2017-07-13 18:18] jakubzitny commented on #1476
Closing due to inactivity.

[2017-07-13 18:18] #1476 closed

[2017-07-13 18:20] jakubzitny commented on #1483
Hey @esvlad, can you send us the design so we can debug this more thorougly, please?

[2017-07-13 18:22] jakubzitny commented on #1485
Hi @VinnikovV, sorry to keep you waiting so long. So if I understand this correctly, you're having problems only when you upload a bunch of files together. All of the files separatly get uploaded properly, right?

[2017-07-13 18:24] jakubzitny commented on #1461
Closing with respect to #1328.

[2017-07-13 18:24] #1461 closed

[2017-07-13 18:24] jakubzitny commented on #1423
Closing with respect to #1328.

[2017-07-13 18:24] #1423 closed

[2017-07-13 18:25] jakubzitny commented on #1472
Hi @TatianaTF, do you still have similar problems in latest version of Avocode, please?

[2017-07-13 18:25] jakubzitny commented on #1475
Hi @StragelX, do you still have similar problems in latest version of Avocode, please?

[2017-07-13 18:32] jakubzitny commented on #1494
Hi @ozzyosborne680, our rendering team will work on this and similar issues for next couple of weeks/months, we're implementing a new engine that should handle similar cases properly. We'll update you when it's ready.

[2017-07-13 18:34] jakubzitny commented on #1452
Hi @janaobzerova, we're fixing the support for blending modes and similar cases in export. We should be releasing improved version in upcoming months, so we'll update you here.

[2017-07-13 18:36] jakubzitny commented on #1516
Hi @morcegon, can you please send us the design to team@avocode.com, so we can further debug this issue?

[2017-07-13 18:52] VinnikovV commented on #1485
Yes it was such problem, don't know if it is resolved already

чт, 13 июля 2017 г. в 21:22, Jakub Žitný <notifications@github.com>:

[2017-07-14 06:23] p-boiko commented on #1190
Hi @jakubzitny
No problem with 2.14.6

[2017-07-14 06:23] #1190 closed

[2017-07-14 06:26] p-boiko commented on #1158
yes, this works :)
updated app's shortcut. Thanks!

[2017-07-14 06:36] jakubzitny commented on #1158
Allright, let's close this again and keep this as a workaround.
Is it the first one that is working or the second command with extra `--`?

[2017-07-14 06:36] #1158 closed

[2017-07-14 07:05] maximr89 opened #1525 "error"

[2017-07-14 07:08] p-boiko commented on #1158
First command. Didn't try the second, cause not sure what empty parameter can do, and the first command works :)

[2017-07-14 07:10] shectermen commented on #1187
yes , thank you

[2017-07-14 07:37] StragelX commented on #1475
No, as far as i see? no

[2017-07-14 08:03] skyline94 commented on #1158
2.14.6 no black boxes from 2.14.2

[2017-07-14 08:17] leonenko opened #1526 "I can't upload designs from sketch"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 69739
[code]

[2017-07-14 08:30] jakubzitny commented on #1475
Thanks, I will close this issue then. Let us know if you encounter any other problems with Avocode 😉

[2017-07-14 08:30] #1475 closed

[2017-07-14 08:31] #1525 closed

[2017-07-14 08:37] jakubzitny commented on #1526
Hi @leonenko, thanks for reporting this problem, I am sorry to hear that it doesn't work for you. Does this happen for all Sketch uploads or just one/some? When exactly does the error appear, please? Can you reproduce it?

[2017-07-14 11:50] andersLandau opened #1527 "Tried to upload artboard"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 141424
[code]

[2017-07-14 12:31] jakubzitny commented on #1527
Hi @andersLandau, this is the same as #1527, let's continue over there.

[2017-07-14 12:31] #1527 closed

[2017-07-14 12:33] connor-bean commented on #1523
Hey @andersLandau -

Would you be able to send us this file by chance?

[2017-07-14 12:46] andersLandau commented on #1523
Here you go

https://www.dropbox.com/s/1oranmnx8gqo018/Snaplytics%20-%20App%20-%20Design%20-%205.zip?dl=0

--
Anders Landau
CPO/Co-Founder

P: +45 3135 0600
E: anders@snaplytics.io <mailto:thomas@snaplytics.io>
W: snaplytics.io <http://snaplytics.io/>

[2017-07-14 13:10] crh225 opened #1528 "Avocode windows app is insanely slow 2.14.6"
2.14.6

* **Version**:

* **Web/Desktop**:
desktop

* **Platform**:
windows 7

when "downloading metadata" for the images, it takes way to long(about a minutes) per design. I have tried on multiple machines and it is so slow.

[2017-07-14 13:25] crh225 commented on #1528
If I open any screen for the original dashboard designs on desktop or web, all designs open very quickly(1-5 seconds) and display a message like the following

For any sketch in a certain folder, it always says 1/2

[2017-07-14 13:25] crh225 commented on #1528
![image](https://user-images.githubusercontent.com/19475195/28213967-fca90748-686d-11e7-8252-fa9671cc3ec1.png)

[2017-07-14 13:26] jakubzitny commented on #1523
Thanks, I'll look into it.

[2017-07-14 13:26] crh225 commented on #1528
If I open any sketch from a different folder it takes a while, and I noticed this message.
![image](https://user-images.githubusercontent.com/19475195/28213984-110ec998-686e-11e7-964f-c3df8f98ecdc.png)
Depending on the sketch, the total number (363 in the example above) changes.

I am the front end developer using the designs. I did not create the designs so I don't know how they are uploaded.

[2017-07-14 13:37] crh225 commented on #1283
latest version has fixed it

[2017-07-14 13:37] #1283 closed

[2017-07-14 18:19] Pavlo-Minkievych opened #1529 "Does not load Sketch design"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 68767
[code]

[2017-07-14 18:24] brianedelman opened #1530 "After logging in with incorrect email or pass, can only type 1 letter at a time in email input"
2.14.6

* **Version**:

* *Desktop**:

Using OSX 10.12.5

After logging in to the app with incorrect credentials, if I try to edit the email input I can only type 1 character before my cursor is forced back to the password line. To edit the email, I'd have to go through this process for every single letter.

![screen shot 2017-07-14 at 2 19 05 pm](https://user-images.githubusercontent.com/14008969

[2017-07-14 19:49] Pavlo-Minkievych opened #1531 "At boot time Sketch design crash occurred"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.14.6`

[2017-07-15 09:56] vladimir-shalaev22 commented on #1328
Hi:) I have not tested the latest version yet. I'll try to test today and then report the result14.07.2017, 01:06, "Jakub Žitný" <notifications@github.com>:Hi @vladimir-shalaev22, do you still have problems with this in the latest version of Avocode?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-15 10:49] vladimir-shalaev22 commented on #1328
@jakubzitny Tested in the latest version (2.14.6) - everything works perfectly. Close this issue

[2017-07-15 10:49] #1328 closed

[2017-07-17 03:17] gto999 opened #1532 "Please try to describe how did it happen."
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 164450
[code]

[2017-07-17 08:59] jakubzitny commented on #1530
Hi @brianedelman, thanks for reporting this. It's a bit annoying, I can reproduce it, we will fix it in upcoming release 😉

[2017-07-17 09:50] Pavlo-Minkievych commented on #1529
Having chosen the option of downloading the entire design, Avocode has been trying to synchronize the design for a long time, it looks like a cyclically moving strip and then it stops this operation and then nothing happens

[2017-07-17 09:56] Pavlo-Minkievych commented on #1531
Choosing the download option for the whole design Avocode for a long time trying to synchronize the design looks like this is a cyclically moving bar and then reaching 1% the download stops and information is displayed that the download failed and you need to repeat it. Repeated downloading will bring to the same error.

[2017-07-17 10:13] jakubzitny commented on #1531
Thanks a lot for the info @Pavlo-Minkievych, we have your file, we're looking into this. I think we can close #1529 and discuss the whole issue here (and in Intercom), it's probably the same problem. Thanks for the file and for helping us with debugging.

[2017-07-17 10:13] jakubzitny commented on #1529
Closing with respect to #1531.

[2017-07-17 10:13] #1529 closed

[2017-07-17 10:33] LitvinenkoEvgeny opened #1533 "avocode crashed when open .psb files"
IMPORTANT: Please try to describe how did the crash happen.
Hi, i'm trying to open .psb file which size ~400mb and avocode crashed with error
`
[24187:24221:0717/133232.045107:ERROR:browser_gpu_channel_host_factory.cc(103)] Failed to launch GPU process.

`
App v. `2.14.1`

[2017-07-17 10:35] bolekkerous commented on #1533
Hey, it looks like you're using an old version of Avocode.

Could you try updating it in the app menu (Check for updates) or if it doesn't work, then download a fresh version from here?

https://manager.avocode.com/downloads/

[2017-07-17 10:58] easynowbaby opened #1534 "Design failed processing"
* **Version**: 2.14.6

* **Web/Desktop**: Desktop

* **Platform**:  iOS

Design failed processing

[2017-07-17 10:59] bolekkerous commented on #1534
Hey, @easynowbaby -
is the design PSD or Sketch file?

[2017-07-17 11:04] easynowbaby commented on #1534
@bolekkerous it's a PSD

[2017-07-17 11:07] bolekkerous commented on #1534
I see - have you tried uploading it through the Photoshop plugin?

If you don't have access to Photoshop plugin, please send us the design to team@avocode.com and we should be able to upload it for you.

[2017-07-17 11:57] jakubzitny commented on #1533
Hi @LitvinenkoEvgeny, when you update the app and it's still happening, please let us know what platform are you using. Is it Windows? Is it 32-bit? I tried PSB upload just now, and it seems to be working, the problem might be in the specific file you are trying to upload. If it's still not working, please send the file to team@avocode.com so we can debug it more thoroughly.

Thanks 😉

[2017-07-17 12:06] LitvinenkoEvgeny commented on #1533
Hi @jakubzitny here is uname output:
`uname -a
Linux user 4.10.0-26-generic #30-Ubuntu SMP Tue Jun 27 09:29:33 UTC 2017 i686 i686 i686 GNU/Linux`
actually, i'm remove some big layers using photoshop and reduce file size from 400mb to 87 and it works after update

[2017-07-17 12:08] jakubzitny commented on #1533
Thanks for the info, I'm happy to hear that it kinda works after reducng the file size. Can you still send us the original design, so we can inspect the main problem there?

[2017-07-17 15:43] gurmiguel opened #1535 "Defining variable annoying behavior"
Happened at least until Avocode 2.14.6 (Desktop/Linux - Fedora 24+)

This is a behavior that happens with me and my team too, that whenever I try to define a variable, it shows me the dialog, focuses the "replaced text" field, but right after it loses focus, which forces me to manually click on the field to focus it again, which is really annoying.

Couldn't find any similar problem as an issue, s

[2017-07-17 15:45] jakubzitny commented on #1535
Hi @gurmiguel, thanks for reporting this. I feel your pain, we'll try to fix this ASAP. I think this might be related to #1530, where the input is also losing focus all the time. I'll keep this open and we'll update you when a new release is ready 😉

[2017-07-17 16:11] gurmiguel commented on #1535
Noticed it happens because of the tip on the top of the page, like when you copy a row, or similar, if you open the dialog before the tip fades out, it causes the related behavior when it finishes the animation.

[2017-07-17 17:08] Arhane opened #1536 "Failed to process design"
* **Version**:
Avocode 2.14.6

* **Web/Desktop**:
Desktop

* **Platform**:
Linux Ubuntu 17.04
Windows 7

I failed to upload a design.
Then I divided it to pieces.
Every piece was uploaded successfully except one.
I tried to remove a part with a big image and only then it worked.

[This is the piece that not worked](https://manager.avocode.com/view/181f32ba07b14c4aaf530d753e8f132a/)

[This is the i

[2017-07-17 17:37] jakubzitny commented on #1536
Amazing report, thanks a lot for the details @Andrew1024 😜

We'll look into it and come back to you with more info.

[2017-07-17 21:34] LitvinenkoEvgeny commented on #1533
Sorry for so long wait, link to .psb file
http://dropmefiles.com/kItig

[2017-07-18 08:55] jakubzitny commented on #1535
Hi @gurmiguel, we've tried to reproduce this particular thing in variable dialog and as you wrote above, when you copy a row and open the variable dialog before the notification fades out, the input loses focus. I can see that you are always copying something from the code panel into the variable dialog, so it makes sense that the focus should stay there.

We will try to fix the in one of the upco

[2017-07-18 12:02] rihbim opened #1537 "Doesnt finish upload"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 68767
[code]

[2017-07-18 12:41] guesshow opened #1538 "Your Avacode to me the whole system lays"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 152102
[code]

[2017-07-18 12:42] connor-bean commented on #1537
Hello - could you tell us more about this?

What OS are you running?
What version of Avocode?
Web app or desktop app?

Were you uploading a PSD or Sketch file? And if it was a PSD, was it uploading through the plugin or did you add it to Avocode yourself?

[2017-07-18 12:43] connor-bean commented on #1483
Hey @esvlad, can you send us the design so we can debug this more thorougly, please?

[2017-07-18 12:44] connor-bean commented on #1472
Hi @TatianaTF, do you still have similar problems in latest version of Avocode 2.14.6?

[2017-07-18 12:44] connor-bean commented on #1471
Hey @shafqatali, do you still have problems with exporting from Avocode?

[2017-07-18 12:44] connor-bean commented on #1463
Hey @chenLiTeng, do you still have problems with uploading files to Avocode?

[2017-07-18 12:44] #1460 closed

[2017-07-18 12:53] connor-bean commented on #1538
<img width="1440" alt="2017-07-18 15 41 32" src="https://user-images.githubusercontent.com/17878371/28317854-e1c0039c-6bc8-11e7-897a-fa677c789fe0.png">

[2017-07-18 12:57] jakubzitny commented on #1538
Hi @guesshow, thanks for reaching out. This is a bug, we will fix it till next release of Avocode and let you know here.

[2017-07-19 10:32] Purecoder opened #1539 "Firefox design bug"
* **Web**:

* **Firefox version 54.0.1 (32-bit)**:

On firefox when i open layouts left side slide down and outside.
First : http://imgur.com/D1OesHw
Last : http://imgur.com/xXKwdVl

[2017-07-19 15:05] nittalee opened #1540 "error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 165650
[code]

[2017-07-19 17:25] pablorcgjn opened #1541 "Error"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.6`
Avocode UID: 36883
[code]

[2017-07-19 19:04] potalok88 opened #1542 "getaddrinfo EAI_AGAIN manager.avocode.com:443"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.2`
Avocode UID: 31535
[code]

[2017-07-20 11:27] jakubzitny commented on #1540
Hi @nittalee, thanks for reporting this. We're already tracking the same problem in #1538, so let's close this and move the conversation there.

[2017-07-20 11:27] #1540 closed

[2017-07-20 11:28] jakubzitny commented on #1541
Hi @pablorcgjn, thanks for reporting this. We're already tracking the same problem in #1538, so let's close this and move the conversation there.

[2017-07-20 15:23] #1541 closed

[2017-07-20 20:04] landsman commented on #1001
Good job, I'll test it

[2017-07-21 10:32] laander commented on #1338
@jakubzitny Would you mind sharing how you fixed it?

I'm not using avocode TBH, but we experienced it in our product and I can't for the life of me figure out why it's happening. Maybe related to the Segment integration?
https://github.com/segment-integrations/analytics.js-integration-intercom/issues/24

[2017-07-21 10:45] jakubzitny commented on #1338
I think @vojtatranta might know better.

[2017-07-21 21:07] Solomko2 opened #1543 "Can't open template in inspect mode"
* **Version**:

* **Web/Desktop**:

* **Platform**:

[2017-07-23 17:03] vojtatranta commented on #1338
@laander try catch....

[2017-07-24 08:51] teremok1000 opened #1544 "Import sketch"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.7`
Avocode UID: 4043
[code]

[2017-07-24 09:02] jakubzitny commented on #1544
Hi @teremok1000, would you mind sharing the Sketch file that got you this error please? You can send it to team@avocode.com. Can you also verify that the Avocode plugin version in your Sketch is 43.7?

[2017-07-24 09:22] teremok1000 commented on #1544
Sorry I can not give away the sketch file it is from the customer, the version is yes 43.7

[2017-07-24 09:54] jakubzitny commented on #1544
Right, so was this happening to the same file for you in older versions as well? Or is it happening to different Sketch files for you?

I have a tip for you on how to sync the file, if the file has many artboards, try to sync them one by one. Also if it has symbols as well, try ignoring the symbols (use `Sync Without Symbols` menu item) and see if that works.

It will help us a lot if you try thes

[2017-07-24 10:00] jakubzitny commented on #1543
Hi there, thanks for leting us know, but we need more info to address you problem. This might be happening for very large files that need a lot of memory. Windows platform usually needs more memory to open such files. Are you on Window? Did you contact our support about this? Is it happening to multiple designs or just one? Did you try re-uploading the design? Is it Sketch or PSD?

[2017-07-24 10:02] jakubzitny commented on #1539
Hi @Purecoder, thanks for the info. Our web version is currently in Beta mode, so we only support Chrome right now. However, we're tuning the last details for supporting other browsers right now and we'll soon release it and let you know.

I'll keep this open so we don't forget about this particular case.

[2017-07-24 10:04] jakubzitny commented on #1530
Hi @brianedelman, we've fixed this in the latest Avocode `2.14.7`.

Please let us know if you have any more problems with Avocode 😉

[2017-07-24 10:04] #1530 closed

[2017-07-24 10:05] jakubzitny commented on #1538
Hi there, this should be fixed in the latest Avocode `2.14.7`.

Please let us know if you have any more problems with Avocode 😉

[2017-07-24 10:05] #1538 closed

[2017-07-24 10:07] jakubzitny commented on #1522
Hi @Pavlo-Minkievych, we've fixed this in the latest Avocode `2.14.7`, all layers should be uploaded correctly and visible all the time.

Please let us know if you have any more problems with Avocode 😉

[2017-07-24 10:07] #1522 closed

[2017-07-24 10:08] jakubzitny commented on #1531
We've fixed this as well in `2.14.7`, please update and let us know if you have any more problems 😀

[2017-07-24 10:08] #1531 closed

[2017-07-24 12:00] tfurukawa3pc opened #1545 "Upload failed"
IMPORTANT: Please try to describe how did it happen.

-----
App v. `2.14.7`
Avocode UID: 10439
[code]

[2017-07-24 12:09] jakubzitny commented on #1545
Hi @tfurukawa3pc, thanks for reporting this. Is this Sketch od PSD upload? Is it happening to you all the time or only for a specific file, you're trying to upload? Would you be willing to share the file with us at team@avocode.com, please?

[2017-07-24 12:31] tfurukawa3pc commented on #1545
Hi @jakubzitny thank you for your quick message.
This happened with the Sketch upload. I figured out that this bug happened with a specific Artboard in a Sketch file. The Artboad is called 'kosmos_06_detail', which contains quite a lot of picture files and the hight is longer (5080pt) than other Artboards.
I sent the file to team@avocode.com. Hope you guys can figure out what happened.

[2017-07-24 12:34] jakubzitny commented on #1545
Amazing @tfurukawa3pc, thanks for the file and info, I am looking into it.

[2017-07-24 12:51] jakubzitny commented on #1545
Hey, so I tried to upload your file using both *CMD+ALT+E* (uploading all artbaords) and also *CMD+E* only on the artboard you mentioned and everything uploaded correctly. Can you please check that the plugin installed in your sketch is `43.7`? and possibly update it from [here](https://manager.avocode.com/download/sketch-plugin-new/mac/)?

I'll try it few more times in the meantime :)

[2017-07-24 13:00] tfurukawa3pc commented on #1545
Hey, I downloaded the plugin and now upload works! Thanks for checking everything.

I needed to update the Avocode App today. Although, I thought the plugin update was automatically done during the app update, I think it didn't happen.

[2017-07-24 13:08] jakubzitny commented on #1545
Awesome, thanks for checking that.

Yeah, it should be automatically updated during the app update. I'd like to ask few more questions then. Can you please check the access rights to the sketch plugins folder? Where is your app located? Can you try deleting the plugin in Sketch and run `Reinstall Sketch plugin` from Help -> Troubleshooting menu, please? Does it show any error or just fails silentl

[2017-07-24 13:24] tfurukawa3pc commented on #1545
Hey,

I revealed the Sketch plugins and deleted 'Avocode.sketchplugin'. Then went to Avocode App and did 'Reinstall Sketch plugin' from Help -> Troubleshooting.

In the Avocode app's notification, it showed 'Plug-in successfully installed', but when I looked at the Sketch plugin folder, there is still no Avocode.sketchplugin installed.

Then I tried to delete 'avocode-token.json' as well and did t

[2017-07-24 13:31] jakubzitny commented on #1545
I see, one possible cause might be that you have a different Sketch hidden somewhere, or that the access rights are handled incorrectly on our side.

Can you open the Terminal app and run these commands please?
[code]

The output will be the location of your Sketch plugins folder and the access rights on the folder and inside it as well. It should work if you have Sketch.app in `/Applications`, is

[2017-07-24 13:46] Purecoder commented on #1539
Yes i know beta version. I seen "this work just chrome and firefox" ! I usually use firefox. So i reported :) No problem. Thank you.

[2017-07-24 13:50] tfurukawa3pc commented on #1545
I tried the Terminal command and it showed something interesting.

Terminal indicated the plugin folder as here:
/Users/turukawa/Library/Containers/com.bohemiancoding.sketch3/Data/Library/Application Support/com.bohemiancoding.sketch3
And I can still see 'Avocode.sketchplugin' in this folder.

But if I reveal the plugin folder from Sketch it comes here:
/Users/turukawa/Library/Application Support/

[2017-07-24 13:53] jakubzitny commented on #1545
I see, this is good find. Maybe it's the problem in Sketch itself, that it reports different plugin locations internally and via command line.

What version of Sketch do you have, please and what version of macOS?

We will certainly add a better detection for the plugin locations for next versions of Avocode.

[2017-07-24 14:03] tfurukawa3pc commented on #1545
Alright, my Sketch is Version 45.2. And macOS is 10.12.5.
I think Sketch has made a major update at the version 44.1. Probably this major update caused some problems to those plugin/app integration.. Let me know if you find something.
Meanwhile, I am fine that Avocode is working well for the time being ;)

[2017-07-24 14:09] jakubzitny commented on #1545
I personally also have the same versions of both and I get only one location. I will just improve the location resolver and copy the plugin to both locations if I find them.

Thanks a lot for the cooperation.

I think we can close this issue for now 😉