[2017-11-30 06:36] silbinarywolf opened #1760 "Crash"
---
* **Version**: 2.17.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 203963
---
[code]

[2017-11-30 13:51] ACOSW opened #1761 "Wrong sizes of exported images"
When i'm trying to export multiple variant of assets (x1, x2, x3 etc...) as result i'm getting images with a wrong sizes.
For example, i'm exporting image with sizes 8x14:
Expected sizes: 8x14, 16x28, 24x42, 32x56
Received sizes: 8x14, 16x28, 26x44, 34x58

---
* **Version**: 2.17.1-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.1
* **Browser**: chrome 62.0.3202.94
* **Avocode UID**: 151

[2017-12-01 06:16] vsevset opened #1762 "Serius bug 2.17.1 v. not importing psd."
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2017-12-01 06:17] vsevset commented on #1762
Desctop/Windows 10/Serius bug 2.17.1 v. not importing psd. http://joxi.ru/nAyp954CXM5jd2

[2017-12-01 11:00] jakubzitny commented on #1755
Hi @jdira, to you have any details on what exactly you have a problem with? Are you unable to upload PSDs entirely? Is it web app or Desktop app? Which platform?

[2017-12-01 11:01] jakubzitny commented on #1756
Hi @mohamedhamad, we're already tracking this in #1656, so I'll close this thread. Any details on when is this happening? Does it happen all the time or just from time to time?

[2017-12-01 11:01] #1756 closed, assigned to nobody

[2017-12-01 11:04] jakubzitny commented on #1758
Hi @andyflan, would you be so kind to send us the design to team@avocode.com so we can inspect this more thoroughly?

Is the same happening to JPG export? Is the same happening to other PNG exports, please? There might be some problems when using masked layers or some special effects, we're in process of improving the whole rendering/exporting experience, so we expect this to get better soon.

Als

[2017-12-01 11:09] jakubzitny commented on #1762
Hi @vsevset, we've seen this problem popping up in our support. We're inspecting it and we'll try to fix it as soon as possible.

Can you please give us some details like how often is this happening and what design is it affecting? Is it all design all the time? Did you try the web version, please?

[2017-12-01 11:10] jakubzitny commented on #1755
Might be similar to #1762.

[2017-12-01 11:20] jakubzitny commented on #1759
Hi @fannyBertha, thanks for reporting this. This is a bug (similar to #1613) and we'll fix it for the next release. I hope it's not happening too often and causing you serious problems. If so, please use our web app in the meantime 😉

[2017-12-01 11:24] jakubzitny commented on #1740
Hi @eligat, we've released 2.17.1 few days back. This should be fixed there.

[2017-12-01 11:24] #1740 closed

[2017-12-01 11:24] jakubzitny commented on #1747
Hi @j-sharrock, we've released 2.17.1 few days back. This should be fixed there.

[2017-12-01 11:24] #1747 closed

[2017-12-01 11:28] jakubzitny commented on #1760
Hi @silbinarywolf, thanks for reporting this. This is a bug, I can see it in our tracking system. We'll fi it as soon as possbile.

[2017-12-01 11:34] jakubzitny commented on #1750
Hi @pavelsamonin, do you have any details on when and how often is this happening, please? We're inspecting the problem and we'll try to fix it asap.

[2017-12-01 11:35] jakubzitny commented on #1757
Hi @artur152, do you have any details on when and how often is this happening, please?

I am going to close this with respect to #1750.

[2017-12-01 11:35] #1757 closed, assigned to nobody

[2017-12-01 11:46] jakubzitny commented on #1761
Hi @ACOSW, thanks for letting us know. Is this happening often or just with one specific design/layer? Is it PSD or Sketch design? I've tried it with some example designs (with sizes you mentioned exactly) and it's exporting correct sizes. There might be some decimals causing the scaled exports to round up. Could you send us the problematic design to team@avocode.com so we can inspect it more thor

[2017-12-01 13:43] SerZubkov opened #1763 "Error"
---
* **Version**: 2.17.1-web.2
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: yandex 17.9.1.982
* **Avocode UID**: 223473
---
[code]

[2017-12-01 15:36] pavlosamonin commented on #1750
Hi!
Sorry, I haven't details - but this happened everytime I tried

2017-12-01 13:34 GMT+02:00 Jakub Žitný <notifications@github.com>:

[2017-12-02 08:10] tallrye opened #1764 "Failed to sync and download data"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 222946
---
[code]

[2017-12-02 18:48] irbisadm opened #1765 "Can't open screen"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 49422
---
[code]

[2017-12-03 11:22] skokalin opened #1766 "I can't download design"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 161890
---
[code]

[2017-12-03 12:23] streeboga opened #1767 "error connection"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 220851
---
[code]

[2017-12-03 13:35] ntrDev opened #1768 "bag"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2017-12-03 20:15] vojtatranta commented on #1768
Hi,
thank you, but could you be more specific about what happened?

[2017-12-03 20:15] vojtatranta commented on #1767
Hi, thank you for this report.

We know about these network issues and we will release a fix as soon as possible.

[2017-12-03 20:15] #1767 closed, assigned to nobody

[2017-12-03 20:16] vojtatranta commented on #1766
Hi,
thank you for this report.

Does it fail every time you try to open that design?

[2017-12-03 20:16] vojtatranta commented on #1764
Hi,
we will track this issue here #1766 this one is it's duplicate

[2017-12-03 20:16] #1764 closed, assigned to nobody

[2017-12-03 20:17] vojtatranta commented on #1763
Hi,
does it happen every time you try to open this design?

Another thing I noticed is that you use some uncommon browser which may have stricter rule about WebGL

[2017-12-03 20:18] vojtatranta commented on #1754
Hello, you have a realy old version of the app.

Please update: https://avocode.com/download

[2017-12-03 20:18] #1754 closed, assigned to nobody

[2017-12-03 20:19] vojtatranta commented on #1749
Hello, we know about this connection problems and we will fix them as soon as possible.

[2017-12-03 20:19] #1749 closed

[2017-12-03 20:44] skokalin commented on #1766
Hi!
Yes.

2017-12-03 23:16 GMT+03:00 Vojtěch Tranta <notifications@github.com>:

[2017-12-04 10:57] jakubzitny commented on #1766
Closing with respect to #1750.

[2017-12-04 10:57] #1766 closed, assigned to nobody

[2017-12-04 10:57] jakubzitny commented on #1765
Hi @irbisadm, thanks for reporting this. We're already tracking this problem in #1750.

[2017-12-04 10:57] #1765 closed, assigned to nobody

[2017-12-04 10:59] jakubzitny commented on #1763
We already have this in #1567. We're preparing a better check for canvas support in browsers and we'll notify in advance if the support is insufficient.

Closing with respect to #1567.

[2017-12-04 10:59] #1763 closed, assigned to nobody

[2017-12-04 11:00] #1755 closed, assigned to nobody

[2017-12-04 15:37] paohlaa opened #1769 "Error syncing selected artboards"
* **Version**: 2.15.5
* **Sketch plugin version**: 47.1.4

* **Web/Desktop**: Desktop

* **Platform**: darwin

* **Avocode UID**: 175224
---

[code]

[2017-12-04 15:45] jakubzitny commented on #1769
Hi @paohlaa, thanks for reporting this problem. You have an old version of our app, please update to `2.17.1` and this problem should be fixed.

Let me know if you still see this (or any other) problem.

[2017-12-04 15:45] #1769 closed, assigned to nobody

[2017-12-05 13:18] bolekkerous commented on #1427
This should be already fixed now for quite some time.

Please let us know if you encounter any problem!

[2017-12-05 13:18] #1427 closed

[2017-12-05 13:21] ashishg656 opened #1770 "unable to open avocode design. getting error"
---
* **Version**: 2.17.1-web.3
* **Web/Desktop**: Web
* **Platform**: macosx 10.13
* **Browser**: firefox 57.0
* **Avocode UID**: 77101
---
[code]

[2017-12-06 09:34] ACOSW commented on #1761
@jakubzitny
1 - Issue reproduces almost always
2 - It is sketch design

Ok, i'll try to send you sample design today.

[2017-12-06 11:04] ikethepike opened #1771 "Conic Gradient crash"
Error when trying to render conic gradient in CSS, instant crash

https://caniuse.com/#search=conic

---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 90293
---
[code]

[2017-12-06 16:23] adrugov opened #1772 "Error white export"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 94586
---
[code]

[2017-12-06 16:24] adrugov opened #1773 "Error"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 94586
---
[code]

[2017-12-07 00:16] vojtatranta commented on #1771
Hi,
this bug is known, we will fix it in the next release.

Thanks!

[2017-12-07 07:58] thystruby opened #1774 "Bug"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 224459
---
[code]

[2017-12-07 08:54] Bryant-24 opened #1775 "ECONNREFUSED"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 3364
---
[code]

[2017-12-07 11:48] jakubzitny commented on #1775
Hi @Bryant-24, thanks for reporting this. Do you have any details on the issue? Is it happening often or just this one time? When exactly?

[2017-12-07 11:49] jakubzitny commented on #1768
Closing due to inactivity.

[2017-12-07 11:49] #1768 closed, assigned to nobody

[2017-12-07 11:49] jakubzitny commented on #1758
Hi @andyflan, would you be so kind to send us the design to team@avocode.com so we can inspect this more thoroughly?

Is the same happening to JPG export? Is the same happening to other PNG exports, please? There might be some problems when using masked layers or some special effects, we're in process of improving the whole rendering/exporting experience, so we expect this to get better soon.

Als

[2017-12-07 12:02] jakubzitny commented on #1774
Thanks for the report @thystruby, we'll fix this bug as soon as possible.

[2017-12-07 12:05] jakubzitny commented on #1772
Hi @adrugov, thanks for reporting this error. Can you be more specific about it please? Is it happening to only one specific Sketch file or multiple? Would you be able to send it to us at team@avocode.com?

Anyway, we're preparing much faster, and even better Sketch upload in `2.18`, so I expect this to be fixed there.

[2017-12-07 12:05] jakubzitny commented on #1773
Closing with respect to #1772.

[2017-12-07 12:05] #1773 closed, assigned to nobody

[2017-12-07 17:39] YVW opened #1776 "I don't see the plugin in my Sketch"
#1774 #1773 #905

My Sketch app is named "Sketch" and it is located in Applications folder, but I don't see the plugin.

"Reinstall Sketch plugin" doesn't work
How to fix it?:(
![2017-12-08 00 37 32](https://user-images.githubusercontent.com/15993421/33729384-0890fed4-dbb0-11e7-8851-7c4d32c02b66.png)

![2017-12-08 00 33 32](https://user-images.githubusercontent.com/15993421/33729347-eaeeee86-dbaf-

[2017-12-08 07:47] i-v-k opened #1777 "Values sometimes get undefined appendix"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 112740
---

In styles panel values sometimes get undefined appendix, see link below
https://yadi.sk/i/vZQuIiVL3QRaTT

[2017-12-08 09:03] bolekkerous commented on #1777
Hey, thanks for the report.

Looks like a bug, I created an internal bugtracking issue for it and we'll try to fix it as soon as possible. :)

[2017-12-08 09:05] i-v-k commented on #1777
Thanks!

[2017-12-08 11:13] bolekkerous commented on #1777
Ok, we figured out what's the problem.

It's actually caused by the variable you defined:

<img width="476" alt="screenshot 2017-12-08 10 17 42" src="https://user-images.githubusercontent.com/16084852/33761986-35cdb454-dc0b-11e7-855e-f6482bd397e6.png">

Recreating the replace rule should help, just recreate it and enter ' ' a empty string or space as a replace to. :)

[2017-12-08 11:18] nurbek-ab opened #1778 "Document failed to load error when opening an uploaded psd file"
---
* **Version**: 2.17.1-web.3
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: firefox 57.0
* **Avocode UID**: 224682
---
[code]

[2017-12-08 11:36] jakubzitny commented on #1778
Hi @nurbek-ab, thanks for reporting this. Looks like a bug, do you have any more info on when/how is this happening exacly? Is it only with one design or with multiple? Did you try re-uploading it?

[2017-12-08 11:36] jakubzitny commented on #1770
Hi @ashishg656, thanks for reporting this. Looks like a bug, do you have any more info on when/how is this happening exacly? Is it only with one design or with multiple? Did you try re-uploading it?

Let's continue the discussion in #1778.

[2017-12-08 11:36] #1770 closed, assigned to nobody

[2017-12-08 12:32] i-v-k commented on #1777
Well, I tried it myself before reporting an issue - it helped but only until I open new design tab. Then it crashed again.
I use this variable for a year and such behavior only appeared from version1.17.
Maybe you can make an option for Stylus (and maybe Sass) to hide/show ';' in styles panel?
So I can stop using this buggy variable. Please! :)

[2017-12-08 13:09] jakubzitny commented on #1777
Stylus and Sass don't have semicolons already, do they? CSS and SCSS does, we'll consider adding advanced option for this. Which language(s) do you use with Avocode?

Also, variables are scoped per project, so it should be possible to delete this variable rule in project and all designs (both new and old) should not have it.

[2017-12-08 13:14] i-v-k commented on #1777
I use Stylus. I'm really looking forward for you to add such advanced option :)
OK, I'll try to delete this variable in project.

[2017-12-08 13:59] jakubzitny commented on #1776
Thanks for the report @YVW, this should not be happening at all. Can you please give me output from the following commands, to help me debug this issue?
[code]

For now, please install the plugin manually from [this link](https://avocode-media.s3.amazonaws.com/download/sketch-plugin-new/47.1.4/sketch-plugin-new-mac-47.1.4.sketchplugin.zip).

[2017-12-09 09:29] nurbek-ab commented on #1778
It happened with three psd files (they are from the same set of designs). I re-uploaded them but the result is still the same, the opening fails almost in the end of the loading.

[2017-12-10 18:26] gitmike68 opened #1779 "Could not download metadata"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 228566
---
[code]

[2017-12-11 10:36] lukasbicus opened #1780 "Unknown failure at input"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2017-12-11 12:03] jakubzitny commented on #1778
Would you be willing to send us the file(s) to team@avocode.com so we can investigate this more thoroughly?

[2017-12-11 12:05] jakubzitny commented on #1780
Hi @LukasBicus, thanks for the report, but, do you have any details on the problem you're having, please? Is this happening often or just once? When exactly?

[2017-12-11 12:06] jakubzitny commented on #1779
Hi @gitmike68, thanks for the report. Is this happening often or just once with a specific design? Can you try re-uploading it, please? Did you try opening the design on [app.avocode.com](https://app.avocode.com)?

[2017-12-11 12:40] lukasbicus commented on #1780
It hapen, once, I imported psd file into avocode.

On Mon, Dec 11, 2017 at 1:05 PM, Jakub Žitný <notifications@github.com>
wrote:

--
Ing. Lukáš Bičuš
Coelho s.r.o.

[2017-12-11 13:13] gitmike68 commented on #1779
Hello.
It was just once. I opened the file a second time.
--
Отправлено из Mail.Ru для Android понедельник, 11 декабря 2017г., 15:06 +03:00 от Jakub Žitný  notifications@github.com :

[2017-12-11 14:41] jakubzitny commented on #1779
It's probably related to our networks issue, where an asset download might fail. This should be fixed in our next major release in upcoming weeks or months.

Let us know if it happens more or if you have any other problems with Avocode 😉

[2017-12-11 14:44] jakubzitny commented on #1780
So now everything is ok and you can import files?

If not, how did you import the file? Did you drag and drop the file or used a button to open dialog window? Are you using web version or desktop? If desktop, what platform are you on?

[2017-12-11 15:05] lukasbicus commented on #1780
I dragged 4 files, only one wasn't imported successfully. See attached
image.

On Mon, Dec 11, 2017 at 3:44 PM, Jakub Žitný <notifications@github.com>
wrote:

--
Ing. Lukáš Bičuš
Coelho s.r.o.

[2017-12-11 20:02] nurbek-ab commented on #1778
The designs don't belong to me. I will probably try to ask the permission from the owner.

[2017-12-12 12:12] koskinpark opened #1781 "The request timed out"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 22577
---
[code]

[2017-12-12 12:46] sundaycrafts opened #1782 "Fail to upload"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 229779
---
[code]

[2017-12-13 08:28] vindi-r opened #1783 "what is this?!"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 220452
---
[code]

[2017-12-13 08:59] jakubzitny commented on #1771
This is actually a duplicate of #1760, I'll close this one.

[2017-12-13 08:59] #1771 closed, assigned to jakubzitny

[2017-12-13 08:59] jakubzitny commented on #1783
Hi @vindi-r, thanks for submitting this. This is a bug we have when creating code output for certain type of layers. We have already fixed it in our internal builds and we will release a fix in next Avocode version.

We'll update you in #1760 as this issue is a duplicate of that one.

[2017-12-13 08:59] #1783 closed, assigned to nobody

[2017-12-13 09:07] jakubzitny commented on #1782
Hi @sundaycrafts, thanks for reporting this. We're already tracking this in #1772 but we need some details on when this is happening. Is it happening only to a specific file or to all uploads? Is it happening if you upload the same file again? Would you be able/willing to send us the design to team@avocode.com so we can inspect it thoroughly?

[2017-12-13 09:07] #1782 closed, assigned to jakubzitny

[2017-12-13 09:08] jakubzitny commented on #1781
Hi @koskinpark, we sometimes do not properly handle these network issues. I'll leave this open and please let us know if it happens again or if it's happening a lot to you. We'll be fixing it for one of upcoming releases.

[2017-12-13 09:08] jakubzitny commented on #1767
Duplicate in #1781.

[2017-12-15 10:11] vojtatranta commented on #1346
Hi @umesh-velir and @mbibko,
could you please try out this test build: https://upx.cz/iML

It might fix this problem.

[2017-12-15 13:55] umesh-velir commented on #1346
@vojtatranta looks like the zip is empty.

![image](https://user-images.githubusercontent.com/7364697/34045149-c357cd0e-e175-11e7-8bac-c319ce3e933f.png)

[2017-12-15 14:57] vojtatranta commented on #1346
@umesh-velir oh, I am sorry. Seems like upload broke it somehow. Try this one please:
 https://upx.cz/iMf

[2017-12-15 15:22] umesh-velir commented on #1346
@vojtatranta this one worked and the designs look good. Wondering when this build is going to get released?

Thank you!

[2017-12-15 16:18] vojtatranta commented on #1346
@umesh-velir Designs should be OK anyway.

I am interested in font rendering. Is it OK too?

[2017-12-15 16:34] umesh-velir commented on #1346
@vojtatranta yup, font rendering is good too.

[2017-12-15 16:36] vojtatranta commented on #1346
@umesh-velir compared to stable app version in production?

[2017-12-15 18:27] umesh-velir commented on #1346
@vojtatranta  yes!

![image](https://user-images.githubusercontent.com/7364697/34055058-a44b5720-e19b-11e7-9c21-b066c1e002af.png)

[2017-12-15 23:46] vojtatranta commented on #1346
@umesh-velir great, we will release it asap :) thanks!

[2017-12-18 11:01] navid-farjad opened #1784 "we faced too many bugs"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2017-12-18 11:04] jakubzitny commented on #1784
What kind of bugs @plansurgery? When exactly? And on which platform?

[2017-12-19 06:02] Miskamyasa opened #1785 "can`t open document"
---
* **Version**: 2.17.1-web.3
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: firefox 57.0
* **Avocode UID**: 22139
---
[code]

[2017-12-19 09:35] vojtatranta commented on #1785
Hi,
thank you for your report.

It seems you've tried to open a document and this error happened, right?

[2017-12-19 09:39] jakubzitny commented on #1785
Would you be willing to send us the design to team@avocode.com or share the project/design name in Avocode with us? Is it happening if you re-upload the same file again?

Also, can you try if the same thing is happening in Chrome?

We're already tracking this in #1778, so I am going to close this issue as duplicate. But please do let us know the details 😉

[2017-12-19 09:39] #1785 closed, assigned to nobody

[2017-12-19 14:12] Miskamyasa commented on #1779
+1

[2017-12-20 09:23] alex-d-ivan opened #1786 "TypeError: Cannot read property 'toJS' of undefined"
---
* **Version**: 2.17.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 12488
---
[code]

[2017-12-20 16:09] indianabenny opened #1787 "Sketch file failed to post"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 64882
---
[code]

[2017-12-20 18:30] InvictusMorti opened #1788 "Connection problems"
Do not want to open designs, what the problem?? It says "connection problems" but i have the internet connection, due to that i am writting this massage

---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 227841
---
[code]

[2017-12-21 09:27] Yugofx opened #1789 "???"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 150414
---
[code]

[2017-12-24 11:22] jakubzitny commented on #1788
Hi @InvictusMorti, thanks for reporting this. We're tracking this problem in #1779 already, so I am going to close this issue. We'll be trying to fix this problem in the next release in January.

Can you try opening the design in the web version on app.avocode.com? Is it happening to only one design or to multiple? Did you try to re-upload that particular design?

[2017-12-24 11:22] #1788 closed, assigned to nobody

[2017-12-24 11:22] jakubzitny commented on #1779
@Miskamyasa any details on this one? Did it happen more than once?

[2017-12-24 11:23] jakubzitny commented on #1786
Hi @crypticman, thanks for reporting this. We're already tracking this problem in #1760 and it will be fixed in Avocode `2.18.0` in upcoming weeks.

[2017-12-24 11:23] #1786 closed, assigned to nobody

[2017-12-24 11:25] jakubzitny commented on #1789
Hi @Yugofx, thanks for the report. We're tracking this in #1750 already so I am going to close this issue.

Do you have any details on it though? Is it happening to more than one design? Did you try to open it in our web version at app.avocode.com?

[2017-12-24 11:25] #1789 closed, assigned to nobody

[2017-12-24 11:42] jakubzitny commented on #1787
Hi @indianabenny, this seems to be a `sketchtool` related problem. Would you be willing to send us your sketch file to team@avocode.com so we can inspect the problem in detail, please?

[2017-12-24 11:42] jakubzitny commented on #1784
Closing due to inactivity.

[2017-12-24 11:42] #1784 closed, assigned to nobody

[2017-12-24 17:22] Miskamyasa commented on #1779
https://app.avocode.com/projects/433980/sketch/1713635/
in this project, again and again on some screens

[2017-12-25 13:07] shevlyakovn opened #1790 "Copy text"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 13268
---
[code]

[2017-12-26 19:08] agalar opened #1791 "don't show styles"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 83673
---
[code]

[2017-12-27 14:01] nzmb opened #1792 "On sync selected artboard"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 34285
---
[code]

[2017-12-28 10:22] deckrow opened #1793 "can't open psd file on linux"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 238976
---
[code]

[2017-12-28 10:54] ACOSW commented on #1761
Hi @jakubzitny, is there any news about this issue ?

[2017-12-28 13:22] povilasbaranovas opened #1794 "Crash"
I was using the avocado to open .psd file and then it crashed. Thiats it.

[2017-12-28 15:46] GbGr opened #1795 "Problem still actualy for 1+ hour"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 165775
---
[code]

[2017-12-28 15:57] vojtatranta commented on #1795
Hello @GbGr ,
we could not parse this source file. There is something with that sketch we can't handle.

Could you send us that file at team@avocode.com?

Thanks

[2017-12-28 16:23] nzmb opened #1796 "Do nothing"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 34285
---
[code]

[2017-12-29 12:41] Rikcon opened #1797 "Linux Mint KDE Drag&Drop from Ark Error"
---
* **Version**: 2.17.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 239726
---
[code]

[2018-01-02 07:40] navid-farjad commented on #1784
sorry about late answer. My team tried to solve it with support but they didn't help us with it.
Here was my email
 Hi , the uploaded files (psd files) looks completely different in Avocode. it seems Avocode can not read the photoshop file well.
please take a look at this:

original:
uploaded file in this email
https://drive.google.com/open?id=1B5ETckK2AhxDQLVUYPjX8hIaqLUzoUU9

Avocode:
https://ap

[2018-01-02 07:42] navid-farjad opened #1798 "opening the case 1784 - too many bugs in app"
Hi , the uploaded files (psd files) looks completely different in Avocode. it seems Avocode can not read the photoshop file well.
please take a look at this:

original:
https://drive.google.com/open?id=1B5ETckK2AhxDQLVUYPjX8hIaqLUzoUU9

Avocode:
https://app.avocode.com/view/ab04796be8f44394a0c5f4a059172dca/

Most of our files looks different and has same problem and we can not use the app.
We requ

[2018-01-02 08:31] jakubzitny commented on #1797
Hi @Rikcon, thanks for reporting this bug. Yes, this is definitely a problem with the archive stuff. Please, just unzip/untar the file you're uploading and then drag and drop it. Everything will work correctly.

At some point we might add a support for uploading archives (zip, tar, etc.) and drag and drop from within archive will be possible, but that is not a priority for now.  We're tracking tha

[2018-01-02 08:31] #1797 closed, assigned to nobody

[2018-01-02 08:33] jakubzitny commented on #1602
Closing with respect to #1249. (We have it in our backlog @t1gu1, but we still have other priorities right now :wink:)

[2018-01-02 08:33] #1602 closed

[2018-01-02 08:35] connor-bean commented on #1787
Hi @indianabenny, this seems to be a sketchtool related problem. Would you be willing to send us your sketch file to team@avocode.com so we can inspect the problem in detail, please?

[2018-01-02 08:36] connor-bean commented on #1795
Hello @GbGr ,
we could not parse this source file. There is something with that sketch we can't handle.

Could you send us that file at team@avocode.com?

Thanks

[2018-01-02 08:50] jakubzitny commented on #1796
Hi @nzmb, thanks for submitting this. We can see some problems with network, we're tracking this already in #1775. How often is this happening, please?

[2018-01-02 08:50] #1796 closed, assigned to nobody

[2018-01-02 08:50] jakubzitny commented on #1792
Hi @nzmb, thanks for submitting this. We can see some problems with network, we're tracking this already in #1775. How often is this happening, please?

[2018-01-02 08:50] #1792 closed, assigned to nobody

[2018-01-02 08:52] jakubzitny commented on #1794
Is it crashing for different PSDs or just one, please @degesis? Did you use our desktop version or web at https://app.avocode.com? If it's desktop, what platform do you use, please?

[2018-01-02 08:55] jakubzitny commented on #1761
Hi @ACOSW, sorry, no. I remember having a look at it, and I can confirm the sizes are weird. However, we did not really see this in various other Sketch files. We'll have a look into the Sketch file to see what exactly is causing this and get back to you.

[2018-01-02 08:56] jakubzitny commented on #1793
Hi @deckrow, thanks for the report. We're tracking this in #1750 already so I am going to close this issue.

Do you have any details on it though? Is it happening to more than one design? Did you try to open it in our web version at app.avocode.com?

[2018-01-02 08:56] #1793 closed, assigned to nobody

[2018-01-02 08:58] jakubzitny commented on #1791
Hi @agalar, thanks for reporting this. We're already tracking this problem in #1760, it's caused by some gradients in the design. It will be fixed in Avocode 2.18.0 in upcoming weeks.

[2018-01-02 08:58] #1791 closed, assigned to nobody

[2018-01-02 09:03] jakubzitny commented on #1790
Thanks for the report @shevlyakovn. Is this happening when you copy a text layer by double clicking or by pressing the button in top right panel? Can you please send us the public link to the design or the PSD to team@avocode.com?

[2018-01-02 09:07] jakubzitny commented on #1779
Can you send us the Sketch file to team@avocode.com, please @Miskamyasa?

[2018-01-02 09:22] jakubzitny commented on #1798
Thanks for the detailed report @plansurgery, we had a look at this and the main problem here is that we don't support the group vector masks you're using yet.

We're actually finishing our new rendering engine and we'll soon support a lot more features from PS and Sketch, including the specific masks combined with effects.

Once we have it ready, we'd be happy you give one more try, we'll let you

[2018-01-02 09:24] jakubzitny commented on #1785
Would you be willing to send us the design to team@avocode.com or share the project/design name in Avocode with us? Is it happening if you re-upload the same file again?

Also, can you try if the same thing is happening in Chrome?

We're already tracking this in #1778, so I am going to close this issue as duplicate. But please do let us know the details 😉

[2018-01-02 09:30] jakubzitny commented on #1776
Hi @YVW, can you please have a look at the command above, please? Also have you managed to get the plugin working?

[2018-01-02 09:32] jakubzitny commented on #1780
Can you re-send the attachment, please @LukasBicus? I didn't get anything. You can send it directly to team@avocode.com and mention this issue number #1780.

[2018-01-03 12:54] bolekkerous commented on #1780
Most likely caused by internet connection dropout, reuploading stable connection worked.

[2018-01-03 12:54] #1780 closed, assigned to nobody

[2018-01-03 18:29] antondavletov opened #1799 "err"
---
* **Version**: 2.17.2-web.1
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 63.0.3239.84
* **Avocode UID**: 238058
---
[code]

[2018-01-04 14:20] vojtatranta commented on #1799
Hi @antondavletov,
we know about this bug and we will fix today in the next release on the web.

Thank you!

[2018-01-04 16:36] unrealhero18 opened #1800 "Invalid structure of layers leads to unpredictable consequences"
- design from Sketch;
- when layout's assets has invalid nesting after that place the next elements don't appear (only white space);
- avocode: http://joxi.ru/5mddv7BFkg7Gqm - invalid nesting;
- disign: http://joxi.ru/LmGa5EnCeGEWvA - this button inside mask layer;
- trigger: http://joxi.ru/v29LXWGu3JMBxm - error was appear after click on this layer (it's probably a border with gradient);
---
* **

[2018-01-04 22:30] deckrow commented on #1793
When i try to open some psd in avocode, they start to load (10-20%) and then i see next error.
Document faild to load.
If psd very small, he's can be opened.
In web version everything ok.

[2018-01-05 10:02] jakubzitny commented on #1800
Hi @unrealhero18, thanks for thorough report. We're already tracking this problem in #1760, it's caused by some gradients in the design. It will be fixed in Avocode 2.18.0 in upcoming week or two.

[2018-01-05 10:02] #1800 closed, assigned to nobody

[2018-01-05 11:43] JTOTM opened #1801 "Can't open projects"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2018-01-05 14:31] jakubzitny commented on #1801
Hi @JTOTM, thanks for report, however, we'd need more details about your problem. What exactly is happening? What version of Avocode are you using and what platform are you on? If you're on desktop, have you tried our web version at [app.avocode.com](https://app.avocode.com)?

[2018-01-05 14:32] jakubzitny commented on #1795
Closing due to inactivity.

[2018-01-05 14:32] #1795 closed, assigned to nobody

[2018-01-05 14:33] jakubzitny commented on #1794
Is it crashing for different PSDs or just one, please @degesis? Did you use our desktop version or web at https://app.avocode.com? If it's desktop, what platform do you use, please?

[2018-01-05 14:44] JTOTM commented on #1801
All good now! We just deleted the project and resynced the design file, and
all worked fine. Thank you for your asistance. I think no further action is
required since we solved the problem!

Thank you again,
Janis Treiguts

On Fri, 5 Jan 2018 at 16:31, Jakub Žitný <notifications@github.com> wrote:

--
If you are not 100% satisfied with my service or your experience with On
The Map Marketing at any

[2018-01-05 14:45] jakubzitny commented on #1801
Thanks a lot for the info @JTOTM. Don't hesitate to let us know if you have any more problems 😉

[2018-01-05 14:45] #1801 closed, assigned to nobody

[2018-01-05 16:14] vojtatranta commented on #1799
@antondavletov it's fixed in `2.17.2-web.2` currently deployed.

[2018-01-05 16:14] #1799 closed, assigned to nobody

[2018-01-07 05:55] AndyFlave opened #1802 "Avocode has crashed"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.17.1`

[2018-01-08 00:04] jakubzitny commented on #1802
Hi @AndyFlave, do you have any details on what exactly has happened? Is this crash happening regularly or just this one time? What platform are you using, please?

[2018-01-08 00:05] jakubzitny commented on #1794
Closing due to inactivity.

[2018-01-08 00:05] #1794 closed, assigned to nobody

[2018-01-08 00:06] jakubzitny commented on #1776
Closing due to inactivity.

[2018-01-08 00:06] #1776 closed, assigned to jakubzitny

[2018-01-08 00:06] jakubzitny commented on #1758
Closing due to inactivity.

[2018-01-08 00:06] #1758 closed, assigned to nobody

[2018-01-08 13:00] smety opened #1803 "Delete products"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2018-01-08 13:00] #1803 closed, assigned to nobody

[2018-01-08 17:25] axenso opened #1804 "issue"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 17107
---
[code]

[2018-01-08 18:15] adamthompson9000 opened #1805 "I'm trying to export a picture and it crashes Avocode"
IMPORTANT: Please try to describe how did the crash happen.

I tried to export a picture as an svg.

App v. `2.17.1`

[2018-01-08 18:49] vojtatranta commented on #1804
hi @axenso ,
this will be fixed in the next release (tommorow)

[2018-01-08 18:50] vojtatranta commented on #1805
Hi @adamthompson9000,
can you send us the file or at least public url to that file at team@avocode.com?

Thanks

[2018-01-08 18:57] adamthompson9000 commented on #1805
Howdy, thanks for the reply!

Here's the url: https://app.avocode.com/revisions/18323506/?design=11326961
(I'm not sure where to find the public url, I hope that's what you need).
Maybe this:
https://app.avocode.com/view/caf50d272b5541a2a234849b2dfa0c7f/_/preview

I'm trying to export the group that is the map of canada.  It's 26 objects
I believe.

Also, whenever I try to export any picture that

[2018-01-08 19:10] vojtatranta commented on #1805
Yes, that's a public link.

But it is a sketch file. In order for me to investigate it I need the original sketch file. Can you email it to me at vojtatranta@avocode.com?

Thanks

[2018-01-09 23:01] adamthompson9000 opened #1806 "Try export an image and it crashes avocode...."
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.17.1`

[2018-01-10 02:18] jakubzitny commented on #1806
Hi @adamthompson9000, thanks for reporting this problem. Is it happening with all exports (different layers from different files and into PNG/SVG/JPG) or just a specific one? Is it a PSD or Sketch? Can you disable `Export optimization` in `Help -> Troubleshooting` menu and try again?

Also which platform are you on? Have you tried our web version as well?

[2018-01-10 09:09] Webdesme opened #1807 "No upload"
Hello! Houston we have a problem! Do not load layouts from the sketch ((
It happened after the update.

sketch 48.2
os: sierra
avo: 2.17.2

[2018-01-10 09:15] Webdesme commented on #1807
found a beta version in the package, it also did not help, you can give a link to the old version, please

[2018-01-10 09:22] Webdesme commented on #1807
http://www.lavuix.ru/scr/2018-01-10_12-18-44.png The old version loads layouts in an avocode

[2018-01-10 09:24] vojtatranta commented on #1807
Hello @Webdesme ,
like no layouts from Sketch?

Could you send us problematic sketch files?

[2018-01-10 09:26] Webdesme commented on #1807
files are confidential, write your mail

[2018-01-10 10:16] jakubzitny commented on #1807
Hi @Webdesme, you have very old version of both Sketch and our plugin. We already have automatic update of Sketch plugin versions but it's possible that such an old Sketch does not support it yet. Can you please try downloading the [latest version](https://avocode-media.s3.amazonaws.com/download/sketch-plugin-new/47.1.4/sketch-plugin-new-mac-47.1.4.sketchplugin.zip) and see if it fixes itself?

[2018-01-10 10:22] Webdesme commented on #1807
Sorry, edited a comment, the latter version is worth sketch 48.2. The plugin was the last 47.1.5, at the moment it costs 43.7, the new plugin does not load from the sketch in avocode

[2018-01-10 10:25] jakubzitny commented on #1807
So you cannot reinstall it? Try deleting the Avocode plugin 43.7 and then launching Avocode. (Or doubleclick the one downloaded from the link I sent you). You're still getting 43.7?

[2018-01-10 10:34] Webdesme commented on #1807
I installed the old plug-in myself, I tried to reinstall the new plug-in, but it does not work exactly, then I installed the old plug-in myself to load the layouts. **Put your version of 47.1.4 and it all worked!**

The plugin itself is reinstalled from the avocode to the version **47.1.5**, аnd it does not work, please consider this

[2018-01-10 10:44] jakubzitny commented on #1807
Okay I understand now, and how about `47.1.5`, does that one work? What do you mean by loading layouts? When exactly is it failing? Does it fail to "redirect" to Avocode completely?

Can you please open `Console.app`, filter out messages from Sketch, try syncing with the latest plugin and see if any error messages pop up in Console?

[2018-01-10 10:53] AAtamaniuk opened #1808 "App freezing on Rendering image data (Ubuntu 16.04.3 LTS 64-bit )"
* **Version**: 2.17.2

* **Web/Desktop**: Desktop

* **Platform/Browser**: Ubuntu 16.04.3 LTS 64-bit (GNOME Shell 3.20.4)

App freezing on Rendering image data.

[2018-01-10 11:00] Webdesme commented on #1807
I'll try but a little later)) until everything works, I would not want to experiment)

[2018-01-10 11:54] Webdesme commented on #1807
I shot a video with the reinstallation of the plugin and messages that the console output
http://www.lavuix.ru/scr/foravo1449.mp4

[2018-01-10 12:10] vAhyThe opened #1809 "Try to Open symbol"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 182763
---
[code]

[2018-01-10 16:28] jakubzitny commented on #1807
Thanks a lot for the video @Webdesme, I get it now. Can you please check the contents of `~/.avocode/.app_path` file? It's possible that the plugin cannot find Avocode.app. Can you maybe re-install Avocode and restart your computer too?
[code]

We're investigating the problem further and get back to you with any new info.

[2018-01-11 10:24] rihbim opened #1810 "Error upload design from Sketch to Avocode"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 68767
---
[code]

[2018-01-11 17:41] neyia opened #1811 "design could not be processed"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2018-01-12 06:42] Webdesme commented on #1807
reinstalled everything as you said, even reinstalled the sketch, after each reinstallation restarted mac
http://www.lavuix.ru/scr/2018-01-12_09-40-41.png console
http://www.lavuix.ru/scr/2018-01-12_09-41-10.png terminal
http://www.lavuix.ru/scr/2018-01-12_09-42-05.png version plugin

[2018-01-12 08:22] Razrab95 opened #1812 "Test"
---
* **Version**: 2.17.2-web.4
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 61.0.3163.100
* **Avocode UID**: 246953
---
[code]

[2018-01-12 09:07] vojtatranta commented on #1812
Fix will be deployed in few seconds.

[2018-01-12 09:10] bootooz opened #1813 "error"
---
* **Version**: 2.17.2-web.4
* **Web/Desktop**: Web
* **Platform**: windows 6.3
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 246994
---
[code]

[2018-01-12 09:22] neprosto opened #1814 "kjgbg"
---
* **Version**: 2.17.2-web.4
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 247014
---
[code]

[2018-01-12 09:25] vojtatranta commented on #1814
This will be fixed any minute.

[2018-01-12 09:25] vojtatranta commented on #1813
This will be fixed any minute. Sorry for that.

[2018-01-12 09:26] Legioner56 opened #1815 "ok"
---
* **Version**: 2.17.2-web.4
* **Web/Desktop**: Web
* **Platform**: windows 6.3
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 247019
---
[code]

[2018-01-12 09:26] jttbharoo opened #1816 "App not creating"
---
* **Version**: 2.17.2-web.4
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 247007
---
[code]

[2018-01-12 09:36] vojtatranta commented on #1815
Fix will be deployed in few mins...

[2018-01-12 09:37] vojtatranta commented on #1816
Fix will be deployed every second...

[2018-01-12 09:59] vojtatranta commented on #1816
Fix deployed

[2018-01-12 09:59] #1816 closed, assigned to vojtatranta

[2018-01-12 09:59] vojtatranta commented on #1815
Fix deployed.

[2018-01-12 09:59] #1815 closed, assigned to vojtatranta

[2018-01-12 09:59] vojtatranta commented on #1814
Fix deployed.

[2018-01-12 09:59] #1814 closed, assigned to vojtatranta

[2018-01-12 09:59] vojtatranta commented on #1813
Fix deployed.

[2018-01-12 09:59] #1813 closed, assigned to vojtatranta

[2018-01-12 09:59] vojtatranta commented on #1812
Fix deployed.

[2018-01-12 09:59] #1812 closed, assigned to vojtatranta

[2018-01-15 10:07] mcarmenmg opened #1817 "Error Sync"
---
* **Version**: 2.17.2
* **Sketch plugin version**: 47.1.5
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 92744
---
[code]

[2018-01-15 12:30] bolekkerous commented on #1810
Hey, @rihbim -
could you please send us the problematic file to team@avocode.com or in the in-app chat, so we can figure out what's the problem on our end?

Thanks and sorry for the inconvenience.

[2018-01-15 12:30] bolekkerous commented on #1817
Hey, @mcarmenmg  -
could you please send us the problematic Sketch file to team@avocode.com or in the in-app chat, so we can figure out what's the problem on our end?

Thanks and sorry for the inconvenience.

[2018-01-15 12:31] bolekkerous commented on #1811
Hey, @neyia -
is it PSD or Sketch file?

Could you please send us the problematic file to team@avocode.com or in the in-app chat, so we can figure out what's the problem on our end?

Thanks and sorry for the inconvenience.

[2018-01-15 12:31] bolekkerous commented on #1808
Hey, @AAtamaniuk -
does that happen with all designs or with just a specific one?

Could you please send us any example the problematic file to team@avocode.com or in the in-app chat, so we can figure out what's the problem on our end?

Thanks and sorry for the inconvenience.

[2018-01-15 12:32] bolekkerous commented on #1809
Hey, @vAhyThe -
do you still have the same problem even when you try to open that symbol now again?

Could you please send us the problematic Sketch file to team@avocode.com or in the in-app chat, so we can figure out what's the problem on our end? Also a screenshot or the name of the problematic symbol would be really helpful.

Thanks and sorry for the inconvenience.

[2018-01-15 16:02] AAtamaniuk commented on #1808
With very big .psd files (more than 1000 layers). Windows app and Web version work fine. I cant send files because its sharing restricted by NDA.

[2018-01-17 06:42] ascii-husky opened #1818 "Software is not scaled correctly on HiDPI displays on windows"
---
* **Version**: 2.17.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 145380
* **GPU**: Nvidia 1080
---

![avocode](https://user-images.githubusercontent.com/8591856/35029155-ead7923a-fb59-11e7-9829-df42c05afcb1.png)

I also disabled HiDPI Stage Rendering, with no better result. This happened after I changed my GPU from a nvidia 980 to a 1080.

[2018-01-17 09:55] vojtatranta commented on #1818
What's the resolution of your monitor?

[2018-01-17 10:30] ascii-husky commented on #1818
3840 × 2160

[2018-01-17 10:30] ascii-husky commented on #1818
3840 × 2160

[2018-01-17 10:40] TiloNN opened #1819 "Just like to share my bug"
Tried to drag and drop two photoshop files into a new project.
Then I was asked to send a report.
Here we go.

---
* **Version**: 2.17.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 24209
---
[code]

[2018-01-17 13:03] vojtatranta commented on #1819
Yes this is a known minor issue. We know about. We are going to fix it in the future.

[2018-01-17 13:03] #1819 closed, assigned to nobody

[2018-01-17 13:04] vojtatranta commented on #1818
Aha, I see. Only 4K displays seems to be affected by this bug.
We will fix it in the next release.

[2018-01-17 20:24] deckrow opened #1820 "can't open psd file on linux(part 2)"
---
* **Version**: 2.17.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 238976
---
[code]

[2018-01-19 05:23] uginroot opened #1821 "Incorect width and height"
![image](https://user-images.githubusercontent.com/2391460/35136028-238a6410-fd0b-11e7-9239-c68fc924136a.png)

---
* **Version**: 2.17.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 251688
---
[code]

Web version correct.
![image](https://user-images.githubusercontent.com/2391460/35139978-a564c55c-fd1f-11e7-8f62-fdfbb64e1ea6.png)

[2018-01-19 09:40] jakubzitny commented on #1820
Hi, thanks for the report again. How often is this happening, please? I'll close this with respect to  #1750. We're expecting to improve this behaviour by Avocode 3.0 version.

[2018-01-19 09:40] #1820 closed, assigned to nobody

[2018-01-19 09:44] jakubzitny commented on #1818
We've released `2.17.3` yesterday, please update and let us know if you if you have any other problems 😉

[2018-01-19 09:44] #1818 closed, assigned to nobody

[2018-01-19 09:46] uginroot opened #1822 "Photoshop layer mask not work"
![image](https://user-images.githubusercontent.com/2391460/35144783-ceefe40a-fd2f-11e7-9ede-edcbc6ba7c9b.png)

![image](https://user-images.githubusercontent.com/2391460/35144805-db0ec8fa-fd2f-11e7-93b4-d66d1dce5e68.png)

---
* **Version**: 2.17.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 251688
---
[code]

[2018-01-19 09:50] jakubzitny commented on #1811
Closing due to inactivity.

[2018-01-19 09:50] #1811 closed, assigned to nobody

[2018-01-19 09:50] jakubzitny commented on #1806
Closing due to inactivity. More info in #1805.

[2018-01-19 09:50] #1806 closed, assigned to nobody

[2018-01-19 09:52] jakubzitny commented on #1805
Have you tried disabling the Export optimization in Help menu, please? Or can you send us the file to team@avocode.com if it's possible?

[2018-01-19 09:52] jakubzitny commented on #1802
Closing due to inactivity.

[2018-01-19 09:52] #1802 closed, assigned to nobody

[2018-01-19 11:13] gabrielms commented on #1808
Same happens with me, no problem for small psds, but it freezes on phase "rendering image" for a big psd file.

[2018-01-19 11:14] jakubzitny commented on #1808
Do you also have Linux @gabrielms? Can you try our web version at https://app.avocode.com?

[2018-01-19 11:27] gabrielms commented on #1808
Hi @jakubzitny thanks for your quick feedback.

I tried the web version and it's working like a charm, thanks! :)

[2018-01-19 12:34] ascii-husky commented on #1818
Fixed, thanks!

[2018-01-19 14:57] deckrow commented on #1820
Never mind
I just downloaded the latest version and now everything ok
Thx for the answer)

[2018-01-19 21:46] crh225 opened #1823 "Question about rendering/downloading of designs"
* **Version**:
latest

* **Web/Desktop**:
not the electron version

We have gone through a few contract designers. All use sketch and export to avocode.
The original designers files, when opened in the inspect mode in avocode downloaded two files to render the entire complex design.

New designer now, and when they upload to avocde, it has to download 500 layers just to render the image. Is this a

[2018-01-19 21:49] crh225 commented on #1823
The original designer files that downloaded where preview.png that was the entire design. small.png and sprintes.png

small.png
![image](https://user-images.githubusercontent.com/19475195/35173226-4d2cec96-fd30-11e7-8928-4d5b80db727a.png)

sprites.png
![image](https://user-images.githubusercontent.com/19475195/35173237-55792aae-fd30-11e7-80af-69e01ac7f1b2.png)

and then it downloads the entire des

[2018-01-19 22:04] crh225 commented on #1823
Could this be because the other designer could somehow flatten the files somehow into one new layer, and keeping everything inspect-able in avocode?

[2018-01-20 18:15] izakrzewska opened #1824 "upload error"
* **Version**:
latest one

* **Web/Desktop**: both

* **Platform/Browser**: windows10, chrome

 iga_zakrzewska@wp.pl

i cannot upload any file

[2018-01-20 19:36] trurl-master commented on #1822
I believe i have the same issue, it's started not long ago, maybe after 2.17.3 was introduced. Masks fail on all newly uploaded designs, but work in preview and in web version, designs uploaded some time ago also work fine. I am on linux, so it's not platform dependent i think.

[2018-01-21 13:22] Priler commented on #1824
Facing same issue.

[2018-01-21 13:23] vojtatranta commented on #1824
Upload just says "Upload failed"?

[2018-01-21 13:26] Priler commented on #1824
![image](https://user-images.githubusercontent.com/11755312/35194668-a073ded8-fed8-11e7-8839-5c5c630a11d4.png)

[2018-01-21 19:57] nikita-velikanin opened #1825 "error"
---
* **Version**: 2.17.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 22734
---
[code]

[2018-01-22 11:36] jakubzitny commented on #1760
Hi guys, this should be already fixed in `2.17.3`, please give it a try and let us know if you have any more problems.

[2018-01-22 11:36] #1760 closed, assigned to jakubzitny

[2018-01-22 11:37] jakubzitny commented on #1759
Hi, this should be already fixed in `2.17.3`, please let us know if it occurs again or if you have any other problems.

[2018-01-22 11:37] #1759 closed, assigned to jakubzitny

[2018-01-22 14:10] rihbim opened #1826 "Error upload Sketch to Avocode"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 47.1.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 188494
---
[code]

[2018-01-22 14:28] neyia commented on #1811
Hey, It's PSD. Near 200MB

[2018-01-22 18:36] Pavlo-Minkievych opened #1827 "Symbols do not load"
Avocode-2.18.0

* **Version**:

 Avocode-2.18.0; plugin version-48.2.0

* **Web/Desktop**:
Desktop

* **Platform/Browser**:
macOS High Sierra-10.13.2

After the update, the function of loading selected characters located on the artboards has stopped working. Removing the new version and installing the plugin later 2.16.4 everything works fine
[screencast 2018-01-22 20-28-57.mp4.zip](https://github

[2018-01-22 21:48] fannyBertha commented on #1759
OK, thank you

On Mon, Jan 22, 2018 at 4:37 AM, Jakub Žitný <notifications@github.com>
wrote:

--

Fernanda Guzmán / Designer
fanny@leapglobalpartners.com / +52 662 123 6603

LEAP Global Partners
3430 West Bayshore Road, Suite 104Palo Alto, CA 94303
www.leapglobalpartners.com

[2018-01-23 06:21] i-v-k opened #1828 "Error when Check for Update"
---
* **Version**: 2.17.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 112740
---
[code]
When trying to Check for Update, App gets error messsage:
Auto update failed
Check your connection

[2018-01-23 07:48] sarates opened #1829 "Design load time & crash"
Design exported by sketch. It took me 10 mins to download 92% of file and Avocode freeze at 4059 / 4392

Avocode 2.18.0

http://i.prntscr.com/VrjyQavZRbSPml2n6Yt8hQ.png

[2018-01-23 09:26] vojtatranta commented on #1828
I suppose that it has worked before, right?

[2018-01-23 11:02] i-v-k commented on #1828
Yes, of course.
I updated regularly.
This is the first time I get an error during update.

[2018-01-23 11:36] Priler commented on #1824
Fixed.

[2018-01-23 11:48] jakubzitny commented on #1824
How about you @iga1801? We're preparing one small improvement for the next release that should help with this kind of issues.

[2018-01-23 11:49] jakubzitny commented on #1346
This should be fixed in latest versions of Avocode. Please let us know if you still have similar problems..

[2018-01-23 11:49] #1346 closed

[2018-01-23 15:20] vojtatranta commented on #1828
OK. Strange. We tried it out and everything works as expected.

Could you send us squirrel logs located in `c:/Users/<your name>/AppData/Local/avocode/SquirrelSetup` at team@avocode.com ?

Thanks

[2018-01-23 16:08] i-v-k commented on #1828
Logs sent.

[2018-01-23 16:17] vojtatranta commented on #1828
Which email you use in avocode? Is it gork***nov@g**il.com?

[2018-01-23 16:26] i-v-k commented on #1828
2018-01-23 19:17 GMT+03:00 Vojtěch Tranta <notifications@github.com>:

[2018-01-23 16:41] vojtatranta commented on #1828
Aha, I see, that's why I couldn't find it. Give me a sec.

[2018-01-23 16:50] vojtatranta commented on #1828
Aha, I think I have it. It's Electron issue described here: https://github.com/electron/electron/issues/11351

Unfortunately, we can't fix it in Avocode itself. And it seems that you won't be able to update automatically from this version. We are sorry for that. You'd have to install new version manually. From our website.

[2018-01-23 17:02] crh225 commented on #1829
@sarates we have large designs also. Just curious, do all of your files take that long to download?

[2018-01-23 17:04] i-v-k commented on #1828
OK, thanx, I'll download the latest version from website.

[2018-01-23 17:04] vojtatranta commented on #1829
Oh, you've got a design with 4400 bitmaps in it?

[2018-01-23 18:05] vilka-vk opened #1830 "Import of name.psd failed"
* **Version**:  2.18.1

* **Web/Desktop**: Desktop

* **Platform/Browser**: MacOS Sierra 10.12.6 (16G1114)

[2018-01-23 18:34] gulbas opened #1831 "d"
---
* **Version**: 2.18.0-web.1
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 252492
---
[code]

[2018-01-24 08:46] code0n-kn33s opened #1832 "not download model"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2018-01-24 08:46] #1832 closed, assigned to nobody

[2018-01-24 10:05] jakubzitny commented on #1829
Hi guys, we'll be releasing much faster rendering engine in 2.19.0. Right now it's available on web and it will be available in desktop app in 2.19.0. Rendering large designs with a lots of layers should be faster and you will not need to "download" all the assets before opening the design. You can try this already on app.avocode.com.

[2018-01-24 10:08] jakubzitny commented on #1831
Hi @gulbas, this bug should be already fixed in the latest version on web. Please let us know if you still get it or if you have any other problems.

[2018-01-24 10:08] #1831 closed, assigned to nobody

[2018-01-24 10:10] jakubzitny commented on #1830
Hi @vilka-vk, how exactly is the import failing. Is it happening with one specific PSD or all uploads? Also, what platform are you using please?

[2018-01-24 10:17] jakubzitny commented on #1805
Closing due to inactivity.

[2018-01-24 10:17] #1805 closed, assigned to vojtatranta

[2018-01-24 11:53] vilka-vk commented on #1830
Yesterday avokod said that imports of error and can be opened design only for commenting. In the web version opened normally. Today already in the desktop version opened successfully. Today there is no import error.
It was only with one design.

P.S. I updated the information in the first comment.

[2018-01-24 11:55] jakubzitny commented on #1830
Thanks, so if everything is okay I'll close this issue.

[2018-01-24 11:55] #1830 closed, assigned to nobody

[2018-01-24 12:02] Alex555555 opened #1833 "Can not load rendering image data 188/188"
---
* **Version**: 2.18.1-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 248945
---
[code]

[2018-01-24 12:03] Alex555555 commented on #1833
please help me

[2018-01-24 12:17] vojtatranta commented on #1833
Hello,
does it happen with every design?

[2018-01-24 12:22] kuzvac opened #1834 "Font weight bug"
* **Version**:  2.18.1

* **Web/Desktop**: Desktop

* **Platform/Browser**: Mac

* **Avocode e-mail**:  kuzvasiliy@gmail.com

1. Previously Avocode show information about what font weights is used for separated fonts inside Info, now it's gone :( http://prntscr.com/i4vxwr
2. Avocode show weird font weight: Avocode http://prntscr.com/i4vzge Chrome 64.0.3282.113  http://prntscr.com/i4w32r

[2018-01-24 12:58] vojtatranta commented on #1828
@i-v-k download latest `2.18.2` since this release auto updates should work again.

Sorry for these troubles.

[2018-01-24 13:01] desir2web opened #1835 "Uploading XD file with special characters doesn't work"
---
* **Version**: 2.18.2
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 255176
---
[code]

[2018-01-24 13:08] i-v-k commented on #1828
Yep!

[2018-01-24 13:37] Webdesme commented on #1807
tried, wrote  .. ((in the end at the moment it works

[2018-01-24 13:37] #1807 closed, assigned to nobody

[2018-01-24 13:38] Webdesme commented on #1731
forgot about me?

[2018-01-24 13:49] OdedYaron opened #1836 "em pt vw and so on"
Hi Avocode team,
I love it if you can add support to all this measurement on your next update for the web developer.

Regards,

[2018-01-24 13:53] jakubzitny commented on #1835
Hi @desir2web, thanks for reporting this issue. Which version of Adobe XD do you have please? Did you try uploading by dragging and dropping a .xd file to Avocode or did you try the XD menu option `Export -> Avocode`?

[2018-01-24 13:55] vojtatranta commented on #1836
@OdedYaron PT,  are included in the app already. EMs are not available intentionally because they are relative to font size which is inherited from every parent element in the HTML cascade. That's the reason why we only went with REMs units, because they are relative to to root HTML element.

To se REM units go to App preferences - Code tab - select Advanced options while select your template lang

[2018-01-24 13:55] #1836 closed, assigned to nobody

[2018-01-24 13:58] desir2web commented on #1835
`Export -> Avocode`, `Browse Files` and drag-n-drop: same result with large file (81mb)
For small file export works fine.

[2018-01-24 14:04] desir2web opened #1837 "Can't get layer info"
Can't select `the-creative-exchange-398774` layer because of `Rectangle 1` layer, but it should (Rectangle 1 have only border and it will be waisting of time to arrange layers properly every time).
[Test Avocode+XD.xd.zip](https://github.com/avocode/avocode/files/1660083/Test.Avocode.XD.xd.zip)

[2018-01-24 14:05] desir2web commented on #1835
Just a minute ago have the same issue with small file. https://github.com/avocode/avocode/files/1660083/Test.Avocode.XD.xd.zip

[2018-01-24 14:06] desir2web commented on #1835
Using the latest versions if Avocode and Xd

[2018-01-24 14:07] jakubzitny commented on #1835
Thanks for the file and info, this is weird though. Avocode is waiting 20s for "response" from XD. If the communication works correctly, the size should not matter. Can you try reseting both XD and Avocode, closing all "other" documents in XD (leave open just the one you want to sync) and just try the `Export -> Avocode` trigger? Are you always getting the 20000ms error?

[2018-01-24 14:10] OdedYaron commented on #1836
Thank you very much.

Regards,
Oded
From: Vojtěch Tranta [mailto:notifications@github.com]
Sent: Wednesday, January 24, 2018 2:55 PM
To: avocode/avocode <avocode@noreply.github.com>
Cc: Oded Yaron <oded@mangonet.co.il>; Mention <mention@noreply.github.com>
Subject: Re: [avocode/avocode] em pt vw and so on (#1836)

@OdedYaron<https://github.com/odedyaron> PT, are included in the app already. EMs ar

[2018-01-24 14:12] desir2web commented on #1835
yep, unfortunately it happens again and again (even after reseting and only with 1 file opened in Xd)

[2018-01-24 14:13] jakubzitny commented on #1835
Ohh, I think I know what the issue here is, sorry about that. It's the `+` in the filename. Please rename the file and it should work correctly. We will definitely fix this for the next version.

[2018-01-24 14:14] #1828 closed, assigned to nobody

[2018-01-24 14:17] jakubzitny commented on #1837
Thanks for the file again, this is also a bug with selecting layers. I can reproduce it. We'll release improved inspection in `2.19.0` and this issue should be fixed there as well.

[2018-01-24 14:17] vojtatranta commented on #1834
Hi @kuzvac ,
could you send us that problematic file at team@avocode.com?

[2018-01-24 14:18] jakubzitny commented on #1731
Hi @Webdesme, not really. We've just been having different priorities for a while. We'll see what we can do 😉

[2018-01-24 14:18] desir2web commented on #1835
Yeah, you were right. Also import process ignore the art-boards with `+` in the title

[2018-01-24 14:21] desir2web commented on #1835
But works fine with `—`, `=` and `&`

[2018-01-24 14:23] jakubzitny commented on #1835
Really? The artboard with + that you sent worked for me actually, after I renamed the file. We ignore some artboard on purpose though, the ones that start with `_` or `-`.

[2018-01-24 14:25] desir2web commented on #1835
oh, now it works)) but the larger file don't have any + mentions in file name or art-boards name still show the timeout error

[2018-01-24 14:32] jakubzitny commented on #1835
Would you mind sharing the larger design too? If you don't want it to be public you can send it to team@avocode.com.

[2018-01-24 14:34] desir2web commented on #1835
Sorry but I can't — NDA

[2018-01-24 14:35] kuzvac commented on #1834
@vojtatranta yup, sended!

[2018-01-24 14:37] jakubzitny commented on #1835
How about trying [this one](https://upx.cz/iJL)? It's a 91MB XD file, can you please try if that works for you?

[2018-01-24 14:47] jakubzitny commented on #1834
Thanks @kuzvac, we've fixed this internally, should be available in the next release.

[2018-01-24 15:02] desir2web commented on #1835
This one works fine, seems like it depends on art-boarts count. In my file there are more then 500+ art-boards :D

[2018-01-24 15:06] jakubzitny commented on #1835
Allright, we've tested around 200, we'll test more artboards for the next release and hopefully fix your problem.

[2018-01-24 15:10] desir2web commented on #1835
630 — this is exact current count of art-boards... As an suggestion: set the timeout depending on art-boards count, if it possible to get this info from Xd. Anyway, thank you guys for help.

[2018-01-24 15:12] jakubzitny commented on #1835
Yes it is, the timeout is only for the initial "connection" to XD, not for actually fetching the data, so I think we should be able to fix this.

Thanks for you help! We'll let you know when the new update is available 😉

[2018-01-24 15:21] izakrzewska commented on #1824
In my case nothing happened. Same issue.

[2018-01-24 16:14] bolekkerous commented on #1827
Hey -
does this still happen for you all the time?

If so, could you try opening your Terminal (CMD + Space > Terminal) and paste and execute these lines one after another in there? After you do that, please try to sync again

cd ~/.avocode
 rm .plugin_confirm_supressed .exclude_symbols

[2018-01-24 16:55] ahwest opened #1838 "Problem with sketch plugin"
---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 145556
---
[code]

[2018-01-24 17:00] jakubzitny commented on #1838
Hi @Scofield001, thanks for reporting this. This looks like we have problems detecting your Sketch.app. Where is it located and which version do you have?

What do you get when you open Terminal.app and enter the following command, please?
[code]

[2018-01-25 13:43] xetronium opened #1839 "da"
Crashing while upload psd file.

App v. `2.18.2`

[2018-01-25 14:30] crh225 commented on #1829
Im using 2.19.0 in the web and it takes 30 seconds to render an design with only 250 layers.
![image](https://user-images.githubusercontent.com/19475195/35393126-b2732656-01a9-11e8-993a-fe9d5c696e5b.png)

[2018-01-25 14:47] crh225 commented on #1829
Now looking in the console, it says you may have an eventEmitter memory leak.
![image](https://user-images.githubusercontent.com/19475195/35394065-5734a186-01ac-11e8-8182-4025c8025333.png)

[2018-01-26 10:15] jakubzitny commented on #1839
Hi @xetronium, do you have any more info on this? How does it crash? Is it happening to all PSD uploads or just a specific one? Did you try uploading via our web app at app.avocode.com?

[2018-01-28 16:37] i-v-k opened #1840 "Feature request: make an option to hide ; in sass / stylus code"
Can you please make an option to hide ; in sass / stylus code?
I use variables -> replace but its really annoying.
Looking forward for you to implement this feature, thanx in advance.

[2018-01-28 16:43] vojtatranta commented on #1840
@i-v-k I think that sass and stylus are by defaul withou semicolons `;`, are they not?

<img width="321" alt="snimek obrazovky 2018-01-28 v 17 42 39" src="https://user-images.githubusercontent.com/4154045/35484626-aeeb0566-0452-11e8-93ab-bf150275ce64.png">
<img width="321" alt="snimek obrazovky 2018-01-28 v 17 42 29" src="https://user-images.githubusercontent.com/4154045/35484627-af03ff30-0452-11e

[2018-01-28 17:15] i-v-k commented on #1840
For Sass it's what I need,
as for Stylus colons are hidden along with semicolons, but I need colons :)
Can you make it possible to hide only semicolons in Stylus?

[2018-01-29 11:12] vojtatranta commented on #1840
I'd like to understand your usecase. I suppose that you have two designs one in Sass other in Stylus and you want to share variables between them, right?

I fear there is no way how to "cripple" Stylus language. However, if you choose to use SCSS and Stylus with CSS syntax, then it is possible. But it would require you to use semicolons.

[2018-01-29 11:32] i-v-k commented on #1840
I dont use Sass at all, I always use Stylus.
I just want Stylus code to look exactly like Sass code - with colons visible and semicolons hidden.

[2018-01-29 12:28] Pavlo-Minkievych commented on #1827
thanks problem fixed

[2018-01-29 12:28] #1827 closed, assigned to nobody

[2018-01-30 09:40] Webdesme commented on #1731
I will look forward to your free time under this task)

[2018-02-01 10:25] PostnikovAlex opened #1841 "Template doesn't open"
---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 258321
---
[code]

[2018-02-01 19:23] silverstripesk opened #1842 "Broken SVGs if embeded as font in node module"
2.18.2

* **Version**:

* **Web/Desktop**:
Web and desktop - same broken behaviour

* **Platform/Browser**:
Linux

grafika@webmax.sk

SVG export function works, but exported SVGs are not usable in node svg to font module. SVG generated by avocode are broken. Same SVGs generated by sketch works well.

This used to work for us months ago, its broken on latest version!

You can test SVGs here:
http:/

[2018-02-02 04:19] qynonyq opened #1843 "Lubuntu avocode error"
---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 262180
---
[code]

[2018-02-02 08:55] jakubzitny commented on #1843
Hi @gideonwyeth, thanks for report. Most of the time, this means that you're uploading a design from an archive (zip, tar, etc.) that is not unpacked. We're tracking the problem in #1249. If this is the case, please unpack the archive manually and then upload the design(s).

This might also be happening in some special cases too, and all of them will be fixed in upcoming Avocode 2.19.0.

[2018-02-02 08:55] #1843 closed, assigned to nobody

[2018-02-02 08:58] jakubzitny commented on #1842
Hi @silverstripesk, if this worked before, try disabling the export optimization in `Troubleshooting` menu.

Also, can you please give us specific example of Sketch file where SVG is exported "correctly" for the font converter and from Avocode it's not working?

[2018-02-02 08:59] jakubzitny commented on #1841
Hi @AlexNuclear, thanks for submitting this. We can see some problems with network, we're tracking this already in #1775. How often is this happening, please?

[2018-02-02 08:59] #1841 closed, assigned to nobody

[2018-02-02 09:15] PostnikovAlex commented on #1841
it happens in at least 30% of the templates i try to open up 

--
Александр Постников

[2018-02-02 09:19] jakubzitny commented on #1841
Is it during uploading the design or only after it is uploaded when you're trying to open it? Have you tried our web version at http://app.avocode.com?

[2018-02-02 09:26] PostnikovAlex commented on #1841
after uploading 

--
Александр Постников

[2018-02-02 13:15] silverstripesk commented on #1842
Hi Jakub,

in zip you can find:
1) sketch version
2) avocode version with optimalization ON
3) avocode version with optimalization OFF

[icons-example.zip](https://github.com/avocode/avocode/files/1689459/icons-example.zip)

2 and 3 do not work.

[2018-02-02 14:38] jakubzitny commented on #1842
Awesome, thanks. We had a look at it and we found two issues with the generator.

1. It requires `<?xml version="1.0" encoding="UTF-8" standalone="no"?>`which we consider useless in SVG and we do not include it even in the non-optimized version. You can add it manually and you should be able to use our SVGs with the generator. We'll consider adding it to non-optimzed SVG for future releases.

2. Y

[2018-02-02 16:15] #1615 closed

[2018-02-02 16:16] #1643 closed

[2018-02-04 21:29] StasiukYurii opened #1844 "Default code settings."
Can't change default code settings to an preprocessors in global preferences.
Windows 10 app.
![screenshot_1](https://user-images.githubusercontent.com/17325694/35782617-2e2342d4-0a03-11e8-8383-459fab83114e.png)
![screenshot_2](https://user-images.githubusercontent.com/17325694/35782618-2e40fefa-0a03-11e8-9798-d8af620c7131.png)

---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**:

[2018-02-04 21:53] jakubzitny commented on #1809
Closing with respect to #1779.

[2018-02-04 21:53] #1809 closed, assigned to nobody

[2018-02-04 21:57] jakubzitny commented on #1844
Thanks for the report @mr-stasyuk. Actually what you're switching in the Preferences modal is only the settings for specific languages. If you want to change the language in Code panel, you can do it only in the panel.

I know it's painful for you to always change the pre-processor for Web projects if you don't use CSS. Currently you cannot do this in Avocode, but we're aware of this limitation an

[2018-02-04 21:57] #1844 closed, assigned to nobody

[2018-02-05 20:27] vasilievruslan opened #1845 "ECONNRESET error"
---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 57927
---
[code]

[2018-02-05 21:22] jankuca commented on #1845
Hello, sorry to hear you encountered this issue and thanks for reporting it.

Were you doing anything unusual or can you provide any specific information which could help up investigate the problem? Was there anything not functioning properly or did this error just pop up without affecting the functioning of the app? Has is only happen once or repeatedly?

Thanks for any additional info.

[2018-02-06 13:01] OlehVasyliev opened #1846 "Failed to execute 'shaderSource' on 'WebGLRenderingContext':"
---
* **Version**: 2.18.2-web.1
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 265146
---
[code]

[2018-02-07 09:43] ShinuKarunakaran opened #1847 "Issue on mouse over."
---
* **Version**: 2.19.0-web.1
* **Web/Desktop**: Web
* **Platform**: windows 6.3
* **Browser**: firefox 57.0
* **Avocode UID**: 164565
---
[code]

[2018-02-07 11:40] jakubzitny commented on #1374
This should already be fixed in latest versions of Avocode.

[2018-02-07 11:40] #1374 closed

[2018-02-07 11:41] jakubzitny commented on #1634
Photoshop artboards are coming in Avocode 2.19.0, closing wrt #374.

[2018-02-07 11:41] #1634 closed

[2018-02-07 11:52] bolekkerous commented on #1308
Artboards and everything related to them + the other issue should be both fixed with the 2.19 update which should be released shortly. The second issue is fixed if you upload it directly through drag and drop. The PS plugin will be soon replaced by a new Photoshop plugin that uses the same upload process as drag and dropping.

Please let us know if you encounter any problems even after 2.19.

[2018-02-07 11:52] #1308 closed

[2018-02-07 11:54] vojtatranta commented on #1847
It seams that browser lost graphics context. We will look at it in the next release

[2018-02-07 11:55] vojtatranta commented on #1846
We noticed this bug in our tracking system. We will try to fix it in the next release.

[2018-02-07 15:21] yuvalsabar opened #1848 "Cannot read property 'set' of undefined error"
---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 232748
---
[code]

[2018-02-07 15:26] vojtatranta commented on #1848
Thank you for this report, this looks like genuine error. We will take a look at it in the next release.

[2018-02-07 15:27] bolekkerous commented on #1678
Hey -
we've already released the VScode integration a while ago, you can get it here:

https://avocode.com/integrations/visual-studio-code

Best regards,
Bolek, Avocode Team

[2018-02-07 15:27] #1678 closed

[2018-02-07 15:47] bolekkerous commented on #958
Hey -
I believe this should work already for a while.

There should also be the full Postscript font name in the style panel available as well as in the info panel where you see all fonts and weights used in the design.

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:47] #958 closed

[2018-02-07 15:48] bolekkerous commented on #807
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #807 closed

[2018-02-07 15:48] bolekkerous commented on #780
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #780 closed

[2018-02-07 15:48] bolekkerous commented on #695
Hey -
I belive this should work for a while already.

I you want to open multiple designs in new tabs, please use the CMD/CTRL + doubleclick to do that.

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:48] #695 closed

[2018-02-07 15:48] bolekkerous commented on #505
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #505 closed

[2018-02-07 15:48] bolekkerous commented on #483
Hey -
we’ve just released a new version - 2.19 - where this feature was added.

When you click on a project or a design, you should see a sidebar with activity feed on the right side.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:48] #483 closed

[2018-02-07 15:48] bolekkerous commented on #462
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #462 closed

[2018-02-07 15:48] bolekkerous commented on #980
Hey -
I believe that this should not be applicable with the new account settings, it should be unselected by default so you can select just the projects you want them in.

Hope it helps!
Best regards,
Bolek, Avocode Team

[2018-02-07 15:48] #980 closed

[2018-02-07 15:48] bolekkerous commented on #374
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #374 closed

[2018-02-07 15:48] bolekkerous commented on #458
Hey -
variables should be applied project-wide already for some time and synced among the team members and machines.

We're planning to also add variable import into Avocode in the future.

[2018-02-07 15:48] #458 closed

[2018-02-07 15:48] bolekkerous commented on #1289
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] bolekkerous commented on #1278
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #1278 closed

[2018-02-07 15:48] bolekkerous commented on #1262
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #1262 closed

[2018-02-07 15:48] bolekkerous commented on #1236
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #1236 closed

[2018-02-07 15:48] bolekkerous commented on #1198
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #1198 closed

[2018-02-07 15:48] bolekkerous commented on #1121
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:48] #1121 closed

[2018-02-07 15:49] bolekkerous commented on #1082
Hey -
I belive this should work for a while already.

If you click on the breadcrumbs from the design, it should remember the previous position.

However if you want to open multiple designs in new tabs, please use the CMD/CTRL + doubleclick to do that.

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1082 closed

[2018-02-07 15:49] bolekkerous commented on #1046
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:49] #1046 closed

[2018-02-07 15:49] bolekkerous commented on #1071
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:49] #1071 closed

[2018-02-07 15:49] bolekkerous commented on #1307
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:49] #1307 closed

[2018-02-07 15:49] bolekkerous commented on #1295
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:49] #1295 closed

[2018-02-07 15:49] bolekkerous commented on #1377
Hey -
I believe this was fixed quite a while ago.

Please update your app and it should hopefully work.

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1377 closed

[2018-02-07 15:49] bolekkerous commented on #1376
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. It was caused by color profiles, which should be ignored with the new rendering engine.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new iss

[2018-02-07 15:49] #1376 closed

[2018-02-07 15:49] bolekkerous commented on #1837
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:49] #1837 closed, assigned to jankuca

[2018-02-07 15:49] bolekkerous commented on #1834
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. There should also be the full Postscript font name in the style panel available.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Be

[2018-02-07 15:49] #1834 closed, assigned to nobody

[2018-02-07 15:49] impeka commented on #1295
## Votre ticket a été créé. ##

Ticket subject: Re: [avocode/avocode] A ton of issues while exporting to PNG (#1295)

----
Auteur: Bolek
Date: Wed, 02/07/18 7:49 am
Message:
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn&#x27;t, please try to reupload the design as well.

You can check our ch

[2018-02-07 15:49] impeka commented on #1295
## Votre ticket a été créé. ##

Ticket subject: Re: [avocode/avocode] A ton of issues while exporting to PNG (#1295)

----
Auteur: Bolek
Date: Wed, 02/07/18 3:49 pm
Message:
Closed #1295.

--
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/avocode/avocode/issues/1295#event-1462657430

Powered by http://www.livechatinc.com?par

[2018-02-07 15:49] bolekkerous commented on #1822
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:49] #1822 closed, assigned to nobody

[2018-02-07 15:49] bolekkerous commented on #1821
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. If it doesn't, please try to reupload the design as well.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avoc

[2018-02-07 15:49] #1821 closed, assigned to nobody

[2018-02-07 15:49] bolekkerous commented on #1804
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1804 closed, assigned to nobody

[2018-02-07 15:49] bolekkerous commented on #1798
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1798 closed, assigned to nobody

[2018-02-07 15:49] bolekkerous commented on #1745
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1745 closed

[2018-02-07 15:49] bolekkerous commented on #1716
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. It was caused by color profiles, which should be ignored with the new rendering engine.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new iss

[2018-02-07 15:49] #1716 closed

[2018-02-07 15:49] bolekkerous commented on #1697
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1697 closed

[2018-02-07 15:49] bolekkerous commented on #1574
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. It was caused by color profiles, which should be ignored with the new rendering engine.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new iss

[2018-02-07 15:49] #1574 closed

[2018-02-07 15:49] bolekkerous commented on #1516
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1516 closed

[2018-02-07 15:49] bolekkerous commented on #1494
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:49] #1494 closed

[2018-02-07 15:50] bolekkerous commented on #1492
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work. There should also be the full Postscript font name in the style panel available.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Be

[2018-02-07 15:50] #1492 closed

[2018-02-07 15:50] bolekkerous commented on #1467
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:50] #1467 closed

[2018-02-07 15:50] bolekkerous commented on #1458
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:50] #1458 closed

[2018-02-07 15:50] bolekkerous commented on #1452
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:50] #1452 closed

[2018-02-07 15:50] bolekkerous commented on #1385
Hey -
we’ve just released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-07 15:50] #1385 closed

[2018-02-07 16:15] verasveras opened #1849 "issue: login issue and scrolling issue"
---
* **Version**: 2.19.0-web.1
* **Web/Desktop**: Web
* **Platform**: macosx 10.12
* **Browser**: firefox 58.0
* **Avocode UID**: 143842
---
[code]

[2018-02-07 16:57] bolekkerous commented on #1715
This is fixed already for a while.

[2018-02-07 16:57] #1715 closed

[2018-02-07 17:17] jakubzitny commented on #1849
Hi @verasveras, thanks for reporting this. We're already tracking this problem in #1847, we'll be trying to fix it asap for the next release. Do you have any further details on when exactly and how often is it happening?

Closing with respect to #1847.

[2018-02-07 17:17] #1849 closed, assigned to nobody

[2018-02-07 17:21] DishanTD commented on #1071
Thank you very much!

----------------------------------
Dishan Rathnasiri
Web designer/Developer
www.dishantd.com

On Wed, Feb 7, 2018 at 9:19 PM, Bolek <notifications@github.com> wrote:

[2018-02-07 19:22] vojtatranta commented on #1829
`2.19.0` was released, this should be fixed

[2018-02-07 19:22] vojtatranta commented on #1824
`2.19.0` was released, this should be fixed

[2018-02-07 19:22] #1824 closed, assigned to jakubzitny

[2018-02-07 19:23] vojtatranta commented on #1835
`2.19.0` was released, this should be fixed

[2018-02-07 19:23] #1835 closed, assigned to jakubzitny

[2018-02-07 19:30] crh225 commented on #1829
@vojtatranta this is not fixed

[2018-02-07 19:32] vojtatranta commented on #1829
@crh225 alrighty, can you send that original file?

[2018-02-07 19:33] crh225 commented on #1829
I cannot as I am not a designer put I can send you an example avocode link?

[2018-02-07 19:34] vojtatranta commented on #1829
@crh225 yes, please send me the privat link (just copy url in the browser of that design) Via. email vojtatranta@avocode.com thanks :)

[2018-02-07 19:35] crh225 commented on #1829
https://app.avocode.com/revisions/19412556/?design=11889465

[2018-02-07 19:36] vojtatranta commented on #1829
:) ok, thanks

[2018-02-07 19:39] vojtatranta commented on #1829
Aha, it's a sketch file. That's pitty, we cannot access them. You must send it to us, otherwise I cannot debug it :(

[2018-02-07 19:42] crh225 commented on #1829
@vojtatranta you can close ticket. Our designer is remote, so it is difficult for us to get the sketch file. I will email you once we get the sketch file.

Thank you!

[2018-02-07 19:43] vojtatranta commented on #1829
@crh225 we changed the way how designs are opened in the `2.19.0` but in order to make it work properly, you'd have to reupload that design to try out.

[2018-02-07 20:06] ghost opened #1850 "Desktop App not working error webGL not compatible"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 238665
---
[code]

[2018-02-08 05:32] dialandrey opened #1851 "йцу"
---
* **Version**: 2.19.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 64.0.3282.140
* **Avocode UID**: 266501
---
[code]

[2018-02-08 05:55] AlbertRAR opened #1852 "Error while exporting assets"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 13249
---
[code]

[2018-02-08 07:44] Bilverin opened #1853 "Cannot open designs"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 167141
---
[code]

[2018-02-08 08:52] glutaminefree commented on #1853
Same here! Can't open any design.

* **Version**:  2.19.0
* **Web/Desktop**: both
* **Platform/Browser**: Fedora 26 x64 / Firefox 58.0.1 x64

[2018-02-08 09:03] vojtatranta commented on #1851
Hi @dialandrey ,
this happened when you tried to select a layer?

[2018-02-08 09:06] vojtatranta commented on #1850
Hello @dmg-luiz ,
wer are sorry to hear that. Does a webgl unavailable popup show? If so, it seems that your graphics card is unable to support WebGL which is and issue. However, you still can disable WebGL rendering by going to App Preferences and selecting `Disable Monroe rendering engine`

[2018-02-08 09:08] vojtatranta commented on #1853
Hi @Bilverin and @glutaminefree ,
the designs really never open and no error pops up, right?

You can disable WebGL rendering by going to App Preferences and checking `Disable Monroe rendering engine`

[2018-02-08 09:09] vojtatranta commented on #1852
Does it happen anytime when you try to export a layer?

[2018-02-08 09:14] Bilverin commented on #1853
Large designs just stuck at "Rendering Design..." and that's all. Small files open without problems.
"You can disable WebGL rendering by going to App Preferences and checking Disable Monroe rendering engine" - it's help, thank you.

[2018-02-08 09:22] glutaminefree commented on #1853
I can't hide any layer in design in this mode. But all layers have 'hided' icon. And designer's guides always visible - it's bad.

[2018-02-08 09:30] vojtatranta commented on #1853
@glutaminefree aha, it seems that visibility toggle states are broken initially. It seems that it works when you toggle a layer visibility, or no?

Guides do not seem to be visible. Could you send me a screenshot?

[2018-02-08 09:31] vojtatranta commented on #1853
Aha, groups cannot be hidden. That's a bug.

[2018-02-08 09:35] glutaminefree commented on #1853
@vojtatranta ![screenshot_20180208_123343](https://user-images.githubusercontent.com/2122419/35965561-5cd1b7c0-0ccc-11e8-9b10-70f50b279f82.png)

Design in this mode rendered with glitches.

[2018-02-08 09:37] vojtatranta commented on #1853
@glutaminefree These "guides" are not in the app. These are in the design. Could you send me that original file? at vojtatranta@avocode.com?

[2018-02-08 09:39] jakubzitny commented on #1852
We're actually tracking this problem in #1833 already, let's continue the discussion over there.

[2018-02-08 09:39] #1852 closed, assigned to nobody

[2018-02-08 09:40] glutaminefree commented on #1853
@vojtatranta Yes, I know it. But I can't hide it :(
Right now I need to work. Where can I download 2.18.2 version for while?

[2018-02-08 09:42] jakubzitny commented on #1853
@glutaminefree: 64-bit Linux [here](https://media.avocode.com/download/avocode-app/2.18.2/avocode-2.18.2-linux.zip) and 32-bit [here](https://media.avocode.com/download/avocode-app/2.18.2/avocode-2.18.2-ia32-linux.zip).

[2018-02-08 09:43] ilia-konovalov opened #1854 "Can't open designs"
I can't open designs after downloading new version...

---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 266643
---
[code]

[2018-02-08 09:44] glutaminefree commented on #1853
@jakubzitny Thanks!

[2018-02-08 09:51] vojtatranta commented on #1854
Hi @technomas ,
what is it doing?

You can switch of new rendering by going to App Preferences and checking `Disable Monroe rendering engine`

[2018-02-08 09:55] ilia-konovalov commented on #1854
Disabled.
Downloading metadata... and nothing

[2018-02-08 10:02] ilia-konovalov commented on #1854
Where can I download 2.18.2 version?

[2018-02-08 10:12] Idkw13 opened #1855 "_PRoblem"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 260196
---
[code]

[2018-02-08 10:16] bolekkerous commented on #1855
Hey, @Idkw13  -
we're currently experiencing a hiccup in our design processing infrastructure, we're working on fixing and stabilizing the situation.

I'll let you know once it's fixed.

[2018-02-08 10:16] vojtatranta commented on #1854
@technomas aha, our servers are now under a heavy load.

[here's windows 2.18.2 version](https://avocode-media.s3.amazonaws.com/download/avocode-app/2.18.2/Avocode%20Setup%202.18.2.exe)

[2018-02-08 10:20] vojtatranta commented on #1853
@glutaminefree just tried that design and glitches are just layers and can be hidden by clicking on the "eye" symbol (there is a bug that initially this toggle seems to be off, but it works)

[2018-02-08 11:50] bogfront opened #1856 "Image Export issue"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 224263
---
[code]

[2018-02-08 11:52] jankuca commented on #1856
Hi, thanks for the report. We know about this issue and will have it fixed in the next release which should be out shortly.

It happens when exporting a layer while having the project manager open in a different tab.

[2018-02-08 12:25] dialandrey commented on #1851
yes08.02.2018, 12:03, "Vojtěch Tranta" <notifications@github.com>:Hi @dialandrey ,
this happened when you tried to select a layer?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-08 12:27] vojtatranta commented on #1851
OK, we will hopefully fix it in the comming `2.19.1`

[2018-02-08 12:38] connor-bean commented on #1855
Hey @Idkw13

Are you able to download the metadata now? Please let us know the result.

[2018-02-08 12:40] connor-bean opened #1857 "App crashes when opening a design"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 21020
---
[code]

[2018-02-08 12:40] connor-bean commented on #1857
From Intercom, but the user doesn't have GH so I opened it for him.

[2018-02-08 12:52] Webdesme opened #1858 "Preview project"
I'm at a loss) it's not a complaint, but rather a request, to return the old display or to fill in the project image yourself, for example projects exported from a sketch look like this http://www.lavuix.ru/scr/2018-02-08_15-49-21.png . There are only two characters not talking about the project anything) and it looks strange

[2018-02-08 12:59] Idkw13 commented on #1855
it's ok. thx made

[2018-02-08 12:59] #1855 closed, assigned to nobody

[2018-02-08 13:57] ghost commented on #1850
thank you! worked for me

[2018-02-08 13:57] #1850 closed, assigned to nobody

[2018-02-08 14:12] Catofwanders commented on #1853
I have the same problem. And try to install old version, but it autoupdate to 2.19!
 My comrads work well and it is only in my computer.

[2018-02-08 14:48] vojtatranta commented on #1853
@Catofwanders our servers should be in the good mood now. Opening of the design should be much better, can you try out in the `2.19.0`?

[2018-02-08 15:09] aleks-front opened #1859 "Bug"
---
* **Version**: 2.19.0
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 12754
---
[code]

[2018-02-08 15:10] jankuca commented on #1859
Thanks for reporting. Duplicate of #1856.

[2018-02-08 15:10] #1859 closed, assigned to nobody

[2018-02-08 16:11] ViktoriaRudenko opened #1860 "I can't open my progects' files"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 245154
---
[code]

[2018-02-08 18:40] overflood opened #1861 "trying to export"
---
* **Version**: 2.19.0
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 267083
---
[code]

[2018-02-08 19:05] vojtatranta commented on #1861
This should be fixed in `2.19.1`

[2018-02-08 19:05] #1861 closed, assigned to nobody

[2018-02-08 19:05] vojtatranta commented on #1860
What's the size of your RAM?

[2018-02-08 19:05] vojtatranta commented on #1857
that's duplicated with #1860

[2018-02-08 19:05] #1857 closed, assigned to nobody

[2018-02-08 19:06] vojtatranta commented on #1856
This should be fixed in `2.19.1`

[2018-02-08 19:06] #1856 closed, assigned to nobody

[2018-02-08 19:07] vojtatranta commented on #1853
This should be improved in `2.19.1`. There was a memory allocation fault in the rendering. Would you try now?

@glutaminefree problem with layer visibility is fixed, group layers are not hidable.

Reopen if it's still not OK.

[2018-02-08 19:07] #1853 closed, assigned to nobody

[2018-02-08 19:07] vojtatranta commented on #1851
This should be fixed in `2.19.1`

[2018-02-08 19:07] #1851 closed, assigned to nobody

[2018-02-08 19:07] vojtatranta commented on #1854
This should be fixed in `2.19.1`

[2018-02-08 19:07] #1854 closed, assigned to nobody

[2018-02-09 03:18] uginroot opened #1862 "Photoshop "Layers -> New adjustment layer... -> Hue/Saturation" not work in inspect"
![image](https://user-images.githubusercontent.com/2391460/36010130-060ddd02-0d7a-11e8-89b3-378db6242052.png)

![image](https://user-images.githubusercontent.com/2391460/36010155-2e57782c-0d7a-11e8-9847-ebb8de9a2663.png)

---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop _and Web_
* **Platform**: win32
* **Avocode UID**: 266546
---
[code]

[2018-02-09 03:51] asylbek23 opened #1863 "Eat RAM more then Photoshop!"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.19.0`

[2018-02-09 05:17] ghost opened #1864 "what it!!???"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 130666
---
[code]

[2018-02-09 05:19] ghost commented on #1864
it appeared on the latest version, already two days, because of this is the work. we want quality for which we pay

[2018-02-09 08:42] hohaiko opened #1865 "TypeError: Cannot read property 'getSelectedLayerType' of undefined at t.value"
---
* **Version**: 2.19.0
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 142186
---
[code]

[2018-02-09 09:07] connor-bean commented on #1860
Hello @ViktoriaRudenko - does updating to 2.19.1 solve this issue? We had another user report this same problem yesterday and they updated their Avocode app to 2.19.1 (which we released last night) and it worked for them.

Please let us know the result once you update to 2.19.1

[2018-02-09 09:13] vojtatranta commented on #1864
@Kaiot yes, we fully understand that our beloved customers want quality. That's why we released `2.19.0` like 42 hours ago and when we noticed this bug like 23 hours ago we released fix 15 hours ago along with many other bugfixes.

Therefore just update Avocode to `2.19.1` (update is available) and everything should work as expected.

By the way. This update was available long before this bug happ

[2018-02-09 09:13] #1864 closed, assigned to nobody

[2018-02-09 09:14] vojtatranta commented on #1865
This is fixed in `2.19.1` just update your app. Sorry for this bug, we should have noticed it.

[2018-02-09 09:14] #1865 closed, assigned to nobody

[2018-02-09 09:35] diefair opened #1866 "does not open psd"
I've upgraded the version and I can not open psd. how do i go back to the old version?

---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 30187
---
[code]

[2018-02-09 09:52] vojtatranta commented on #1866
You are running `2.18.2` as it seems. It is an older version. The newest version released yesterday is `2.19.1`.

Can you be more specific what does not work?

[2018-02-09 10:04] #1866 closed, assigned to nobody

[2018-02-09 10:13] jakubzitny commented on #1862
Hi @uginroot, thanks for noticing this. Sorry, we currently don't support adjustment layers in Avocode, please vote for this enhancement on our [UserVoice](https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/33265057-support-ps-adjustment-layers).

[2018-02-09 10:16] jakubzitny commented on #1863
Hi @Asylbek23, sorry to hear that, we're improving the performance issues with every update. What platform do you use, please? Can you work with Avocode at all? How often is this happening?

The app speed depends a bit on the number of projects and designs you have locally. Resetting the app should help, or try using our web version at [app.avocode.com](http://app.avocode.com) to see if it's faste

[2018-02-09 10:18] jakubzitny commented on #1787
Closing due to inactivity. Let us know if you still have this or any other problem with Avocode 😉

[2018-02-09 10:18] #1787 closed, assigned to jakubzitny

[2018-02-09 10:20] jakubzitny commented on #1839
Hi @xetronium, do you have any more info on this? How does it crash? Is it happening to all PSD uploads or just a specific one? Did you try uploading via our web app at app.avocode.com?

[2018-02-09 10:23] jakubzitny commented on #1838
Hi @Scofield001, this looks like we have problems detecting your Sketch.app. Where is it located and which version do you have?

What do you get when you open Terminal.app and enter the command above?

[2018-02-09 10:28] jakubzitny commented on #1858
Hi @Webdesme, we'll update the tile looks in the next release a bit, so it's a bit less strange in such cases. We're also considering to allow users to choose or upload the project thumbnails, we'll see how that works out 😛

[2018-02-09 10:29] jakubzitny commented on #1858
From this:
<img width="1370" alt="screen_shot_2018-02-08_at_16 19 58" src="https://user-images.githubusercontent.com/3315662/36023341-68392ccc-0d8c-11e8-98cf-7cd5913499d0.png">

To something like this:

<img width="1365" alt="screen_shot_2018-02-08_at_16 27 45" src="https://user-images.githubusercontent.com/3315662/36023347-6fa41cc4-0d8c-11e8-928b-0cba7f16e03d.png">

Would that work?

[2018-02-09 10:58] kapitonovmaxim opened #1867 "Array buffer allocation failed"
---
* **Version**: 2.19.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 264197
---
[code]

[2018-02-09 11:01] vojtatranta commented on #1867
Hi @trolololooo ,
what's the size of your RAM?

Did you try to open multiple designs at once?

[2018-02-09 12:11] Webdesme commented on #1858
it would be cool to download the project image yourself, for example, put the logo of the project, we will wait for the update

[2018-02-09 12:11] #1858 closed, assigned to nobody

[2018-02-09 13:02] ghost commented on #1864
well I understand you guys, sorry if I was rude

[2018-02-09 13:05] vojtatranta commented on #1864
@Kaiot no you weren't rude. As I mentioned, we absolutely understand your frustration and therefore we did everything we could to fix it.

I'd be upset too!

We'll be glad if you report us any other bugs in the future. That's the only way we can fix them fast as possible 😉

[2018-02-09 13:51] kapitonovmaxim commented on #1867
No, I worked on one project for just over an hour. And after switching
between the windows in the layout, the entire image was lost
http://prntscr.com/icaw0a. I closed the project and tried to reopen it. And
got an error

size ram 3gb

[2018-02-09 13:51] trolololooo commented on #1867
size ram 3gb

2018-02-09 16:51 GMT+03:00 Maxim Kapitonov <kapitonovmaxim@gmail.com>:

[2018-02-09 14:11] silverstripesk commented on #1842
Hi Jakub,

thanks for your answer.

1) Adding xml declaration didn't help me
2) Removing xml declaration from sketch's svg generates font icon nicely

Of course, we do not use that website for generating font, we use it as a part of our gulp implementation. We put all SVGs in one folder and font is generated automaticly (if added new icon, font is automaticly regenerated).

Having font generator a

[2018-02-09 14:23] qbz commented on #1842
Have you tried to turn "normalize icons" option off?
SVGIconFont modifies SVGs and it affects the result.
When "normalize icons" is turned off, then you can see quite similar vector geometry of icons.
But, in both cases, even with Sketch it breaks original geometry. Take a look:

![screen shot 2018-02-09 at 15 19 39](https://user-images.githubusercontent.com/7726393/36032015-855f4846-0da4-11e8-895

[2018-02-09 15:05] Eugene-Musika opened #1868 "Export SVG from Sketch issue"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 122136
---
[code]

[2018-02-09 15:13] vojtatranta commented on #1868
Hi @Eugene-Musika ,
this bug is already fixed in the `2.19.1` just update your app. This update is available since yesterday.

[2018-02-09 15:13] #1868 closed, assigned to nobody

[2018-02-09 15:14] vojtatranta commented on #1867
Aha, rendering of the design takes `500MB` that's the problem...

[2018-02-09 15:44] jakubzitny commented on #1860
Closing with respect to #1867.

[2018-02-09 15:44] #1860 closed, assigned to nobody

[2018-02-11 00:07] maxgolv opened #1869 "hmm"
---
* **Version**: 2.19.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 69185
---
[code]

[2018-02-11 00:11] vojtatranta commented on #1869
hello @maxgolv,
this bug has been fixed in `2.19.1` just update your app.

[2018-02-11 00:11] #1869 closed, assigned to nobody

[2018-02-11 23:36] webochka opened #1870 "11"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.19.1`

[2018-02-11 23:37] #1870 closed, assigned to nobody

[2018-02-12 12:42] error32 opened #1871 "Bug - crash"
---
* **Version**: 2.19.1
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 260465
---
[code]

[2018-02-13 15:31] Ardogar opened #1872 "error"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 263123
---
[code]

[2018-02-13 15:50] jakubzitny commented on #1872
Hi @Ardogar, sorry to see this, we've already released a new version which fixes this problem. We've found it shortly after release. Please auto-update again, or if you have problems with it, re-install Avocode altogether. If you have any problem with updating you can manually download the latest Linux version from http://avocode.com/download.

Please let us know if you still have this problem.

[2018-02-14 04:33] richvoronov opened #1873 "Connection problem. Still trying..."
God damn it! This happens every time when I upload a new PSD file! AAAAA!

I'am sure!

---
* **Version**: 2.19.1
* **Desktop (web version is okay)**: Desktop
* **Platform**: darwin
* **Avocode UID**: 262358

OSX latest update!

---
[code]

[2018-02-14 06:24] MrVladevoit opened #1874 "Some Errors"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 15098
---
[code]

[2018-02-14 09:06] vojtatranta commented on #1874
Hello @MrVladevoit ,
we are sorry for that we noticed this issue like minute after we released `2.19.2` so we rolled back but unfortunately it seems that your application managed to install this faulty `2.19.2`.

Here is working one: https://avocode-media.s3.amazonaws.com/download/avocode-app/2.19.2/Avocode%20Setup%202.19.2.exe

[2018-02-14 09:14] #1872 closed, assigned to nobody

[2018-02-14 09:14] #1874 closed, assigned to nobody

[2018-02-14 09:15] jakubzitny commented on #1826
Hi @rihbim, we're already tracking this in #1656, so I'll close this thread. Any details on when is this happening? Does it happen all the time or just from time to time?

[2018-02-14 09:15] #1826 closed, assigned to nobody

[2018-02-14 09:15] jakubzitny commented on #1871
Hi @error32, we're already tracking this in #1656, so I'll close this thread. Any details on when is this happening? Does it happen all the time or just from time to time?

[2018-02-14 09:15] #1871 closed, assigned to nobody

[2018-02-14 09:17] jakubzitny commented on #1873
Hi @richcrowe, we're aware of this problem from #1779 already, thanks for submitting. Is it only the first time after you upload a file or you cannot open it at all? Can you try it on our web version app.avocode.com?

[2018-02-14 09:17] #1873 closed, assigned to nobody

[2018-02-14 09:20] jakubzitny commented on #1825
Hi @nikita-velikanin, thanks for submitting this, we're aware of it already from #1781. Do you have any more info you can provide? Is it happening a lot or just once?

[2018-02-14 09:20] #1825 closed, assigned to nobody

[2018-02-14 09:21] jakubzitny commented on #1863
Hi @Asylbek23, we've released `2.19.2` with improved performance and memory usage. Can you please update and let us know if you still have problem using the app?

[2018-02-14 09:21] #1863 closed, assigned to nobody

[2018-02-14 09:22] jakubzitny commented on #1838
Closing due to inactivity.

[2018-02-14 09:22] #1838 closed, assigned to jakubzitny

[2018-02-14 09:23] jakubzitny commented on #1839
Hi @xetronium, we've released `2.19.2` yesterday with improved performance and memory usage. Can you please update and let us know if you still have problem using the app?

[2018-02-14 09:23] #1839 closed, assigned to nobody

[2018-02-14 09:36] bolekkerous commented on #227
Hey -
we’ve already released a new version - 2.19 - which I believe should fix this issue.

Please update your app and it should hopefully work.

You can check our changelog for the full release notes:

https://avocode.com/changelog

If you still encounter this or any other issue, please reopen or create a new issue.

Best regards,
Bolek, Avocode Team

[2018-02-14 09:36] #227 closed

[2018-02-14 11:28] SerhiiKo94 opened #1875 "Failed to execute 'shaderSource' on 'WebGLRenderingContext'"
---
* **Version**: 2.19.2-web.1
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 270394
---
[code]

[2018-02-14 11:35] vojtatranta commented on #1875
Hi @SerhiiKo94 ,
did a WebGL crashed modal poped up?

[2018-02-14 14:50] vojtatranta commented on #1848
This bug appears to be fixed in `2.19.x`

[2018-02-14 14:50] #1848 closed, assigned to nobody

[2018-02-14 14:51] vojtatranta commented on #1846
It seems that WebGL crashed on this occasion. We added a modal to handle this problem in `2.19.2`

[2018-02-14 14:51] #1846 closed, assigned to nobody

[2018-02-14 17:00] diego06884 opened #1876 "Error on web app"
---
* **Version**: 2.19.2-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.12.6
* **Browser**: chrome 66.0.3344.0
* **Avocode UID**: 150849
---
[code]

[2018-02-14 20:42] gender404 opened #1877 "WebGl issues on Windows 10"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 76438
---
[code]

[2018-02-14 23:24] ViktorSh25 opened #1878 "avacode has crashed"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 271620
---
[code]

[2018-02-15 07:26] greencityarcher opened #1879 "Desktop app work very slovly"
Avocode 2.19.2
Desktop Application on Ubuntu 16.04

Problem is after upgrade to this version desktop app work very slovly. It inhibits all other programs: browser, IDE and other.
I work with PSD Design.
I tryed open my design in web application, but it crashed with message about problem with WebGL

[2018-02-15 07:29] mrybakov opened #1880 "App crash"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 23647
---
[code]

[2018-02-15 09:05] ViktorSh25 opened #1881 "loading project and when I click inspect long loaded and WebGL has crashed"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.19.2`

[2018-02-15 09:26] rasarasa opened #1882 "Search stopped working in Web App"
- Web App
- Windows 10 Pro / Chrome (Version 63.0.3239.132)

Search stopped working on web app: simply, there are many designs, I've always used search field to search through them. Today, it doesn't find anything anymore. Doesn't matter which case I use, start of the file name or middle.

![image](https://user-images.githubusercontent.com/2234721/36249323-f6469684-1242-11e8-9673-f1a6baece6a8.png)

[2018-02-15 12:01] mican opened #1883 "Failed to open Adobe XD CC design"
---
* **Version**: 2.19.2
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 374
---
[code]

[2018-02-15 23:03] mrybakov commented on #1880
Need to remove ~/.avocode directory

[2018-02-16 07:12] asylbek23 opened #1884 "Incorrect display of psd layouts!"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 268682
---
[code]

[2018-02-16 10:47] Pavlo-Minkievych opened #1885 "does not load some artboards and symbols"
2.19.2

2.19.2

* **Version**:

48.2.0

* **Web/Desktop**:
Desktop

* **Platform/Browser**:
macOS High Sierra 10.13.3

it-subscriptions@w3.co

Does not load some artboards and symbols.
When you separate download artboards and symbols creates two different projects and does not get into one as before but loads without errors.
https://monosnap.com/file/OmmINb3nSp0BCyzyPfYXcmCrSjBVXT

[2018-02-16 15:46] vladchepel opened #1886 "don't load psd file"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 269727
---
[code]

[2018-02-16 15:50] vojtatranta commented on #1876
Thank you for this report. We noticed this in our internal tracking. We will try to fix it in the 3.0.

[2018-02-16 15:51] vojtatranta commented on #1877
Aha, that's a bug we accidentally released in `2.19.2` for a second. Then we rolled back and it managed to get to you. Please download proper `2.19.2` version here: https://avocode.com/download

[2018-02-16 15:51] #1877 closed, assigned to nobody

[2018-02-16 15:52] vojtatranta commented on #1881
hi @ViktorSh25 ,
can you please tell me what the size of your RAM?

[2018-02-16 15:54] vojtatranta commented on #1879
Hello @greencityarcher ,
we noticed a problem with RAM consumption and we tried to fix it in `2.19.2` and it was much better.

Does Avocode slows down all other programs even when no designs is opened?

[2018-02-16 15:54] vojtatranta commented on #1878
Hi @ViktorSh25 ,
it seems you machine has low memory. You can for now disable Monroe egine in app preferences which should resolve this issue for now.

[2018-02-16 15:54] #1878 closed, assigned to nobody

[2018-02-16 15:56] vojtatranta commented on #1882
Hi @rasarasa ,
so the search results never come back? Even when you search in just one project? You'd have to have thousands of designs there to reach such problem...

[2018-02-16 15:57] vojtatranta commented on #1883
Hi @mican ,
can you please confirm that you have latest Adobe XD installed?

How big is that XD design? Is it hundreds of megabytes?

[2018-02-16 15:57] vojtatranta commented on #1884
hi @Asylbek23 ,
can you send the original PSD file and a screenshot of what's the problem?

Do you have Monroe engine turned on or not?

[2018-02-16 15:59] vojtatranta commented on #1885
Hi @Pavlo-Minkievych ,
so, importing from Sketch creates multiple projects? That is really odd.

[2018-02-16 16:00] vojtatranta commented on #1886
hi @vladchepel ,
what's the size of your RAM?

[2018-02-16 18:17] asylbek23 commented on #1884
​

2018-02-16 21:57 GMT+06:00 Vojtěch Tranta <notifications@github.com>:

[2018-02-17 13:25] vladchepel commented on #1886
@vojtatranta, 4gb.
I have to restart avocode to make it work

[2018-02-17 14:54] DatiQ opened #1887 "Error"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 60839
---
[code]

[2018-02-18 08:07] shiwamavg opened #1888 "not loading the page"
---
* **Version**: 2.19.2-web.2
* **Web/Desktop**: Web
* **Platform**: windows 6.2
* **Browser**: chrome 64.0.3282.167
* **Avocode UID**: 262324
---
[code]

[2018-02-18 16:06] vladchepel commented on #1886
@vojtatranta I can load only 1 file, when I want to load 2nd file it shows an error.

[2018-02-19 09:38] Webdesme opened #1889 "Version"
Hi, here I have data diverge. This is a screen from the list of layouts
http://www.lavuix.ru/scr/2018-02-19_12-38-27.png

And this screen from the screen inside the layout
http://www.lavuix.ru/scr/2018-02-19_12-39-16.png

what could it be? and how to fix it?

avocode 2.19.2
macosx

[2018-02-19 14:33] kuziv-andrii opened #1890 "something went wrong"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 27409
---
[code]

[2018-02-20 09:16] dan-mayer opened #1891 "doesn't open Adobe XD"
---
* **Version**: 2.19.2
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 274944
---
[code]

[2018-02-20 12:34] sikoray opened #1892 "page doesn't work"
---
* **Version**: 2.19.2-web.2
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 61.0.3163.100
* **Avocode UID**: 271169
---
[code]

[2018-02-20 13:38] EddieMorra opened #1893 "error"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 274933
---
[code]

[2018-02-20 13:41] vojtatranta commented on #1893
Hi @EddieMorra ,
this is a bug for sure.

It seems that you were trying to create a slice, right?

[2018-02-20 13:45] EddieMorra commented on #1893
yep

[2018-02-20 13:46] vojtatranta commented on #1893
Aha and any other slice it is possible to create? Or are you now stuck?

[2018-02-20 14:14] gender404 commented on #1877
Well that still doesn’t work.

Are you planning to push a 2.19.3 hot fix to resolve this issue?

[cid:image001.png@01D3AA2B.3C564A00]

Jonathan Dallas
Senior Front End Developer

VELIR
p: 617.440.3837
c: 781.526.6237
f: 617.812.0057
e: jonathan.dallas@velir.com<mailto:jonathan.dallas@velir.com>
w: www.velir.com<http://www.velir.com/>

From: Vojtěch Tranta [mailto:notifications@github.com]
Sent: Fr

[2018-02-20 14:16] EddieMorra commented on #1893
possible, but when i select some block with slice and click on white empty space i have this error
, not critical, but thx for reply

[2018-02-20 14:17] vojtatranta commented on #1893
What do you mean by `white empty space`? Can you send gif or video please?

[2018-02-20 14:41] EddieMorra commented on #1893
![bandicam_2018-02-20_16-31-35-577](https://user-images.githubusercontent.com/17853741/36430063-ec04416c-165c-11e8-87f6-72619a9e76ec.gif)

[2018-02-20 16:25] vojtatranta commented on #1892
Seems like you can't open a design, right? However project manager works, right?

[2018-02-20 16:26] vojtatranta commented on #1890
Hi @kuziv-andriy ,
what's you system? Is it 64bit and what's the size of your RAM?

This is the first design you tried to open or did you have some other designs in other tabs?

[2018-02-20 16:29] kuziv-andrii commented on #1890
Hi! I am using win 10, 64 bit / 8Gb RAM.

~4-5 tabs was opened.

[2018-02-20 16:38] vojtatranta commented on #1890
@kuziv-andriy I see...

That's the problem. Avocode allocates 500MB per design in the rendering engine. We would like to share this memory among designs, but we are not there yet...

So now I can just recommend you not to open this number of designs to prevent this error.

[2018-02-20 16:38] #1890 closed, assigned to nobody

[2018-02-21 12:20] bolekkerous commented on #1891
Hey, @dan-mayer -
could you please send us the problematic XD design to team@avocode.com so we can investigate the issue on our end?

Thanks!

[2018-02-21 12:29] dan-mayer commented on #1891
Actually, I figured it out-- the source XD file was being saved to dropbox.
Dropbox does something to the file that renders it unopenable in Avocode.
Might want to fix this, since dropbox is a pretty standard part of the
workflow....

Cheers,
Dan

On Wed, Feb 21, 2018 at 1:20 PM, Bolek <notifications@github.com> wrote:

--

Dan Mayer
Design Director
+49 176 717 53 312

----------------------------

[2018-02-21 12:33] bolekkerous commented on #1891
Hmm, ok, that's strange.

So the problem happened when the XD file was saved on Dropbox, and as soon as you copied it out of it, it was uploaded correctly?

Or were you trying to upload the XD file exactly when the file was actually saving to Dropbox?

If you remember any details about it so we can try to reproduce the problem, it would be very helpful for us - thanks!

[2018-02-21 12:37] jakubzitny commented on #1883
Hi @mican, is the XD file you're uploading on a Dropbox/iCloud/GDrive drive or a similar unusual or remote location?

[2018-02-21 12:47] dan-mayer commented on #1891
The specific situation was, I had created an XD file, saved it to Dropbox,
and was trying to open it in Avocode. Avocode repeatedly failed to process
it. Even when I resaved (or moved) the file to my desktop, the error
continued. It only was fixed when I created a new document,
copied-and-pasted the content from the old (dropbox) version, and saved
that to desktop. In other words, it seems like dr

[2018-02-21 12:49] dan-mayer commented on #1891
And, to your earlier question, the file had been previously saved/synced to
Dropbox. I was not trying to open the file in Avocode during the sync.

On Wed, Feb 21, 2018 at 1:47 PM, Dan Mayer <mayer@fitanalytics.com> wrote:

--

Dan Mayer
Design Director
+49 176 717 53 312

-----------------------------------------------

Fit Analytics
Sanderstraße 28 | 12047 Berlin
+49 30 6162 1417
http://www.fita

[2018-02-21 13:05] bolekkerous commented on #1891
Ok, thanks a lot for all the information.

We'll try to reproduce it on our end and hopefully fix the behaviour.

If you could send us the exact file you had problem with, it would be helpful - I just tried to quickly reproduce it, but I wasn't able to, so we would also like to cross off the option that it's somehow connected with the specific file, for which we would need to have the file. :)

If

[2018-02-21 13:08] dan-mayer commented on #1891
I believe this was the file: https://www.dropbox.com/s/qmuney9htj81kvy/alpha-industries-v1.xd?dl=0

… however, it’s possible that this file has gotten replaced with a ‘fixed’ version that no longer exhibits the bug behavior. Sorry, I don’t have time to faddle around with it at the moment.

Dan

[2018-02-21 13:23] renekopcem commented on #1889
Hello, I found out that we have an inconsistency in endpoints for designs (returns different values, kind of obvious :)).

Thank you for noticing and feedback. It will be fixed soon.

[2018-02-21 13:37] jtiberio-sv opened #1894 "Error Report Ubuntu 16.04"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: null
---
[code]

[2018-02-21 13:50] vojtatranta commented on #1894
Hi @jptiberio ,
we know about this issue and it should be fixed in `2.20.0`

[2018-02-21 13:50] #1894 closed, assigned to nobody

[2018-02-21 13:54] OleksandrHoncharov opened #1895 "IMPORTANT: Please try to describe how did the crash happen."
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.19.2`

[2018-02-21 16:01] ultimate-rob opened #1896 "An Error, unexplained, and nothing was affected....... but an error nevertheless"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 209407
---
[code]

[2018-02-22 10:23] dimastrapchev opened #1897 "XD file saved on Dropbox sync failed error"
---
* **Version**: 2.19.2
* **Sketch plugin version**: 48.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 274952
---
[code]

When trying to add any Adobe XD file saved in Dropbox folder to Avocode the "Sync Failed" error appears. All works fine when file is saved outside of the Dropbox.

[2018-02-22 13:42] bolekkerous commented on #1897
Hey, @dimastrapchev -
thanks for the report.

We've already seen one report regarding XD and Dropbox, however we're still unable to reproduce the issue on our end.

Would you be able to upload a video of the process in which you can reproduce the problem?

And could you also share with us any problematic XD file where you can reproduce the problem?

Perhaps also the version of your XD would be hel

[2018-02-22 14:14] dimastrapchev commented on #1897
Hi,
While recording a screen capture for you I tried saving now to other dropbox folder and it worked.
The issue is only with the folder that has # in its name. My folder is called Website #198 #21
Not sure how it will react to other non-standard characters.
Hope that defines the parameters for reproduction.
Also attaching the XD file which I used to reproduce the error and versions of XD and Avoc

[2018-02-22 14:16] bolekkerous commented on #1897
Hey, Dima -
great, we can now reproduce the problem with "#" in the folder name.

We'll take a look at that and hopefully fix it soon. :)

[2018-02-22 14:18] dimastrapchev commented on #1897
Great! Looking forward :)

[2018-02-23 10:08] ValeriyKobysh opened #1898 "Issue"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 192151
---
[code]

[2018-02-23 10:09] vojtatranta commented on #1898
This bug happened in a "wrong" release of 2.19.2 please download correct version [from here](https://avocode.com/download).

[2018-02-23 10:10] #1898 closed, assigned to nobody

[2018-02-23 10:16] arbuzovan opened #1899 "Can't install desktop app"
* **Version**: Avocode Setup 2.19.2

* **Web/Desktop**: Desktop

* **Platform/Browser**: Windows 7 x64

* **Avocode e-mail**: arbuzovan@yandex.ru

Hello. Itried to install deskotp app, but then i start setup.exe it crashed. In log file:

2017-07-07 21:03:21> Program: Starting install, writing to C:\Users\Саша\AppData\Local\SquirrelTemp
2017-07-07 21:03:21> Program: About to install to: C:\Users\Са

[2018-02-23 10:18] vojtatranta commented on #1899
This is probably not the correct log file. The dates are just from `2017`.

The avocode installer log files should be in: `C:/Users/<your name>/AppData/local/avocode`

[2018-02-23 10:30] arbuzovan commented on #1899
Thereis is no log file in that directory. Only upacked files for setup application.

[2018-02-23 10:43] vojtatranta commented on #1899
It should look like this in that path.

![img](https://user-images.githubusercontent.com/4154045/36590363-b98f5b52-188e-11e8-8a4c-543944d2699e.jpg)

[2018-02-23 10:46] arbuzovan commented on #1899
That is screenshot of my directory:
![image](https://user-images.githubusercontent.com/30685348/36590455-ca00ceec-189f-11e8-85a7-9c886055c03c.png)

[2018-02-23 10:47] vojtatranta commented on #1899
Aha, I see. Strange. Would you try to uninstall and then install Avocode again please?

[2018-02-23 10:50] arbuzovan commented on #1899
I cant't uninstall it. It not installed. Setup crashed, immedialty after start

[2018-02-23 10:53] vojtatranta commented on #1899
Avocode is not listed in Installed programs in the Control panel? It seems to be installed though...

[2018-02-23 10:57] arbuzovan commented on #1899
No, not listed. That is my list of installed applications:
![image](https://user-images.githubusercontent.com/30685348/36590952-65bd2244-18a1-11e8-8655-7dc6d03385eb.png)

[2018-02-23 10:59] arbuzovan commented on #1899
may be need some specific depencies?

[2018-02-23 10:59] vojtatranta commented on #1899
Aha, strange. I have never encountered such case.

Maybe deleting that avocode folder in AppData/local and installing again do the trick...

And if you double click Avocode.exe in AppData/local/avocode does it start?

[2018-02-23 11:04] arbuzovan commented on #1899
I tried delete folder and tried start setup from that diretory. Not worked.

[2018-02-23 11:05] vojtatranta commented on #1899
And is there any popup with an error log?

[2018-02-23 11:06] arbuzovan commented on #1899
Yes. Content of that popup i put in first message

[2018-02-23 11:12] vojtatranta commented on #1899
It is strange that logs there are not from this year. There is not even a mention of 2.19.2 version. Seems like logs were not generated at all.

If you run Avocode.exe directly app should start. This has got nothing to do with the setup.

So you should get Avocode setup.exe file from avocode.com/download and run that. This is proper way of installing Avocode.

If this won't work I can just for now

[2018-02-23 11:21] arbuzovan commented on #1899
I get setup file from avocode.com/download So seen's like that is no my day today  :)
Will be work in online version.
Thank's for to tried help me.

[2018-02-23 12:01] bogfront opened #1900 "Problem with inspection PSD"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 224263
---
[code]

[2018-02-23 12:03] KarelPetruzela commented on #1881
Since last(or might be last two) version I am experiencing same issue but it occurs after some time working with avocode. And it even might be connected(in my case) with action export to svg but this I cannot say for sure. I have got 16GB of RAM, OS Linux, version 2.19.2.

---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 64146
---
[code]

[2018-02-23 12:42] vojtatranta commented on #1899
There are two versions of windows installer 64 and 32bit versions.

You might download wrong one. Since I read that you have Windows 7 64bit here's 64bit installer: https://avocode-media.s3.amazonaws.com/download/avocode-app/2.19.2/Avocode%20Setup%202.19.2.exe

[2018-02-23 14:02] arbuzovan commented on #1899
I download version what give me site. It was be correct wrote Windows x64 on download page.
![image](https://user-images.githubusercontent.com/30685348/36597490-5188db1a-18ba-11e8-9ba6-724bbdf2f7b2.png)

I tried again by setup from you link. the result is the same.

[2018-02-23 15:05] Miskamyasa opened #1901 "Avocode.com is Down!"
WEB

* **Web/Desktop**:

* **Platform/Browser**:

[2018-02-23 15:29] ivan-baidiuk opened #1902 "Not open project"
Latest  2.19.2

* **Version**:  2.19.2

* **Web/Desktop**:Desktop

* **Platform/Browser**: Fedora 26 Google chrome

* **Avocode e-mail**: ratohafozo@youzend.net

Write me on perl.php.c@gmail.com

[2018-02-24 13:01] mican commented on #1883
Hi guys, sorry for a delay.

It didn't work with XD 3.1.12, but after update to XD 5.0.12.8 it works well.

Thank you.

[2018-02-24 14:42] jakubzitny commented on #1883
Oh yeah, we support only XD 4+, so that was definitely the problem. Glad to hear that it's resolved now.

Don't hesitate to let us know if you have any more problems ;)

[2018-02-24 14:42] #1883 closed, assigned to jakubzitny

[2018-02-25 02:29] Serezon opened #1903 "Issue"
Crash happened when I tried to click on image

App v. `2.19.2`

[2018-02-25 02:30] #1903 closed, assigned to nobody

[2018-02-26 14:04] #1633 closed

[2018-02-26 15:53] jakubzitny commented on #1889
Hi @Webdesme, we've fixed this problem. Let us know if you see it (or anything else) again 😉

[2018-02-26 15:53] #1889 closed, assigned to renekopcem

[2018-02-26 15:55] jakubzitny commented on #1885
Hi @Pavlo-Minkievych, we've just release Avocode 2.20 with improved Sketch plugin (again). Many issues should be fixed, try re-syncing Sketch files and please let us know if you're still having problems.

[2018-02-26 15:55] #1885 closed, assigned to jakubzitny

[2018-02-26 15:55] jakubzitny commented on #1817
Hi @mcarmenmg, we've just release Avocode 2.20.0 with improved Sketch plugin. Many issues should be fixed, try re-syncing Sketch files and please let us know if you're still having problems.

[2018-02-26 15:55] #1817 closed, assigned to nobody

[2018-02-26 15:56] jakubzitny commented on #1810
Hi @rihbim, we've just release Avocode 2.20.0 with improved Sketch plugin. Many issues should be fixed, try re-syncing Sketch files and please let us know if you're still having problems.

[2018-02-26 15:56] #1810 closed, assigned to nobody

[2018-02-26 15:56] jakubzitny commented on #1772
Hi @adrugov, we've just release Avocode 2.20.0 with improved Sketch plugin. Many issues should be fixed, try re-syncing Sketch files and please let us know if you're still having problems.

[2018-02-26 15:56] #1772 closed, assigned to jakubzitny

[2018-02-26 15:58] jakubzitny commented on #1453
This problem should be fixed now, please re-open if you're still having issues 😉

[2018-02-26 15:58] #1453 closed

[2018-02-26 16:00] jakubzitny commented on #1533
This should be fixed in latest Avocode 2.20.0. Please update and let us know if you're still having problems 😉

[2018-02-26 16:00] #1533 closed

[2018-02-26 16:06] jakubzitny commented on #1603
Closing due to inactivity.

[2018-02-26 16:06] #1603 closed

[2018-02-26 16:07] jakubzitny commented on #1566
Hi @Treyarch, do you still have problems with running Avocode desktop app? Have you tried it for past few versions, please?

[2018-02-26 16:08] jakubzitny commented on #1550
Hi @joaofranco-frj, do you still have problems with updating the desktop app, please?

[2018-02-26 16:09] jakubzitny commented on #1658
Hi @monti84, do you still have problems with updating Avocode app please?

[2018-02-26 16:10] jakubzitny commented on #1705
Hi @fcom86, do you still have problems with this please?

[2018-02-26 16:11] jakubzitny commented on #1722
Hi @gurmiguel, do you still have problems with this in latest Avocode?

[2018-02-26 16:14] #1739 closed

[2018-02-26 16:16] jakubzitny commented on #1876
Closing with respect to #1567.

[2018-02-26 16:16] #1876 closed, assigned to nobody

[2018-02-26 16:19] jakubzitny commented on #1752
Hi @EddieMorra, this should be fixed in latest Avocode 2.20.0. Please update and let us know if you have any other problems 😉

[2018-02-26 16:19] #1752 closed

[2018-02-26 16:19] joaofranco-frj commented on #1550
Hey, my company is no longer using avocode as web design tool, so I don't know. :\

João Franco | Developer @ Digital
m: +351 916 047 453 
skype: joao.franco_7 LinkedIn [https://pt.linkedin.com/in/jo%C3%A3o-franco-0339674a] [https://www.linkedin.com/company/outsystems] 
Honored to be a Codie Award Winner • Forrester Low-Code Leader 
On 26/02/2018 16:08:39, Jakub Žitný <notifications@github.com> wr

[2018-02-26 16:19] Artemfrontend opened #1904 "п"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.20.0`

[2018-02-26 16:21] jakubzitny commented on #1753
Hi @irbisadm, can you still see this happening in latest version of Avocode, please?

[2018-02-26 16:22] jakubzitny commented on #1762
This should not be happening anymore in latest Avocode. Please update and let us know if you see anything similar again 😉

[2018-02-26 16:22] #1762 closed, assigned to nobody

[2018-02-26 16:24] jakubzitny commented on #1790
Thanks for the report @shevlyakovn. Is this happening when you copy a text layer by double clicking or by pressing the button in top right panel? Can you please send us the public link to the design or the PSD to team@avocode.com?

Is it still happening in latest versions of Avocode at all?

[2018-02-26 16:25] bolekkerous commented on #1904
Hey, @Artemfrontend -
thanks for the report.

Could you please describe a little bit more how exactly did it happen?

Were you doing anything specific that led to the crash?

[2018-02-26 16:27] jakubzitny commented on #1536
This should be fixed in latest versions of Avocode so I am going to close this.

Please let us know if you have any other problems 😉

[2018-02-26 16:27] #1536 closed

[2018-02-26 16:33] jakubzitny commented on #1823
Hi @crh225, the difference between the number of assets that are being downloaded were actually changed by Avocode, it's not because of the designer. We download all layers all the time so the designs are better prepared and more flexible for devs. We keep improving the performance of downloading assets, so it should be faster now than before.

Did I understand it correctly that this was the main

[2018-02-26 16:34] jakubzitny commented on #1833
Closing with respect to #1567.

This is a problem with designs consuming too much memory in our rendering engine. We suggest splitting them to multiple designs and uploading separately. Or trying our desktop app,

[2018-02-26 16:34] #1833 closed, assigned to nobody

[2018-02-26 16:37] jakubzitny commented on #1879
Hello @greencityarcher ,
we noticed a problem with RAM consumption and we tried to fix it in 2.19.2 and it was much better.

Does Avocode slows down all other programs even when no designs is opened?

[2018-02-26 16:39] jakubzitny commented on #1875
Hi @SerhiiKo94 , did a WebGL crashed modal poped up? Have you tried our desktop version?

[2018-02-26 16:40] jakubzitny commented on #1750
This problem is related to #1779.

[2018-02-26 16:40] #1750 closed

[2018-02-26 16:40] jakubzitny commented on #1880
Hi @mrybakov, did everything work after removing the avocode dir?

[2018-02-26 16:41] #1823 closed, assigned to nobody

[2018-02-26 16:42] crh225 commented on #1823
Speed is still a major problem. Closing as you cant help me without me emailing you my sketch file.

[2018-02-26 16:42] jakubzitny commented on #1888
Hi @shiwamavg, thanks for the report. We're already tracking this in #1867.

Is this happening to all designs you're trying to open and all the time?

[2018-02-26 16:42] #1888 closed, assigned to nobody

[2018-02-26 16:45] jakubzitny commented on #1884
Hi @Asylbek23 ,
can you send the original PSD file and a screenshot of what's the problem?

Do you have Monroe engine turned on or not?

[2018-02-26 16:48] jakubzitny commented on #1887
Hi @DatiQ, thanks for reporting this. We're already tracking this problem in #1779. Did you try using our web app at app.avocode.com? It might help with this issue.

[2018-02-26 16:48] #1887 closed, assigned to nobody

[2018-02-26 16:48] jakubzitny commented on #1900
Hi @superboggg, thanks for reporting this. We're already tracking this problem in #1779. Did you try using our web app at app.avocode.com? It might help with this issue.

[2018-02-26 16:48] #1900 closed, assigned to nobody

[2018-02-26 16:49] jakubzitny commented on #1892
Closing with respect to #1867.

[2018-02-26 16:49] #1892 closed, assigned to nobody

[2018-02-26 16:50] jakubzitny commented on #1886
Closing with respect to #1867. We're improving performance in cases that are causing this, I hope will release it soon.

[2018-02-26 16:50] #1886 closed, assigned to nobody

[2018-02-26 16:55] jakubzitny commented on #1895
Hi @OleksandrHoncharov, do you have any more info about this problem? Does it keep happening or you just saw it once? What platform do you have please?

[2018-02-26 16:55] jakubzitny commented on #1896
Hi @ultimate-rob, this should be fixed in latest Avocode 2.20. Please update and let us know if you have any more problems 😉

[2018-02-26 16:55] #1896 closed, assigned to nobody

[2018-02-26 16:56] jakubzitny commented on #1901
Everything should be OK now, right?

[2018-02-26 16:56] #1901 closed, assigned to nobody

[2018-02-26 16:57] jakubzitny commented on #1902
Hi @CyberGenius1994, what problem do you have exactly? You can't open a project? In both web and desktop app? No project at all? Can you record a video of it, please?

[2018-02-26 16:58] jakubzitny commented on #1904
Also, what platform do you have please?

[2018-02-26 16:59] jakubzitny commented on #1881
So what happens exactly and how often @KarelPetruzela, please?

Any more details about your issues @ViktorSh25?

[2018-02-26 17:00] jakubzitny commented on #1550
Thanks for the info, please let us know if we can be of any help. Sharing a promo-code or anything 😉

[2018-02-26 17:59] sebous opened #1905 "Error when zooming"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 198902
---
[code]

[2018-02-26 18:01] sebous commented on #1905
Also when panning with mouse holding spacebar

[2018-02-26 18:39] gurmiguel commented on #1722
Tried here, and the issue has been solved. Thank you very much.

[2018-02-26 18:39] #1722 closed

[2018-02-26 19:03] jakubzitny commented on #1905
Hi @sebous, thanks for reporting this. We've just released new version 2.20.0, can you please try to see if it's happening there as well? We'll investigate internally in the meantime..

[2018-02-26 20:26] VinnikovV opened #1906 "Get stuck on "Downloading metadata..." with PSD file"
Get stuck on "Downloading metadata..." with PSD file

---
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 47144
---
[code]

[2018-02-26 20:29] VinnikovV commented on #1906
maybe it was server problem, already downloaded

[2018-02-26 20:29] #1906 closed, assigned to nobody

[2018-02-27 08:26] Treyarch commented on #1566
Hi @jakubzitny ,

Sorry, I havent used Avocode on any projects since then, so I cannot really tell but I managed with a workaround with the online web app at the time.

[2018-02-27 08:45] jakubzitny commented on #1566
Thanks for the info. Hit me up here or our support if you want to give it a try again in the future 😉

[2018-02-27 08:45] #1566 closed

[2018-02-27 10:34] KarelPetruzela commented on #1881
This happen when I try to export an icon to svg..
![image](https://user-images.githubusercontent.com/6229456/36723583-fbe5384e-1bb0-11e8-8c07-5a876627313b.png)

Its happening on this(https://app.avocode.com/view/e5dcbd1a553a44f6a86da60ae00dc6d9) sketch design. Specifically when I try to right click the check icon in the section "Sluzby a cenik". (then it just freeze for a moment) and then when I t

[2018-02-27 11:22] jakubzitny commented on #1881
Yeah, the graphics engine in the desktop app and in browsers is a little bit different and it might be causing the crashes in the desktop app. Once it crashes we cannot really work with it and rendering/exporting assets is limited. We're trying to figure out better options for such cases but it will take some time until we figure out the ultimate solution.

For now I suggest you use the web app. A

[2018-02-27 12:00] Pavlo-Minkievych opened #1907 "does not load design"
---
* **Version**: 2.20.0
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 68767
---
[code]

[2018-02-27 12:03] jakubzitny commented on #1907
Hi @Pavlo-Minkievych, thanks for the report. We are aware of this already in #1779. We're working on a fix and it'll be hopefully included in 3.0 release in coming weeks.

For now, please try opening the design in our web app.

[2018-02-27 12:03] #1907 closed, assigned to nobody

[2018-02-27 18:59] fufylev opened #1908 "1"
---
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 268245
---
[code]

[2018-02-27 22:55] fcom86 commented on #1705
@jakubzitny all ok, fixed.

[2018-02-28 03:58] evanalmighty opened #1909 "React Native - Quotes placed around numerical values"
* **Version**: 2.20.0

* **Web/Desktop**: The issue is occurring on both.

* **Platform/Browser**: OSX & Chrome

![screen shot 2018-02-27 at 9 52 01 pm](https://user-images.githubusercontent.com/6530121/36769219-7edbb79e-1c08-11e8-8dbd-7fad68f69c5d.png)

When trying to get React native component styles Avocode is placing quotes around numerical values. The value should output as a number like in [

[2018-02-28 08:27] #1705 closed

[2018-02-28 19:10] tommypd opened #1910 "Cant sync my Adobe XD project"
---
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 280906
---
[code]
I cant sync any project with Avocode and adobe XD (5.0.12.8) also in adobe xd cant see Avocode in export tab.

[2018-02-28 20:23] #297 closed

[2018-03-01 01:24] asylbek23 opened #1911 "Incorrect display of psd template"
Incorrect display of psd template. Some pictures and even texts are not displayed!

I have 2.20.0 version

---
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 279619
---
[code]

[2018-03-01 06:38] leob0ss opened #1912 "Can't copy text"
---
* **Version**: 2.20.0
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 257566
---
[code]

[2018-03-01 07:50] i-v-k opened #1913 "Code settings and designs get reset every time I open Avocode"
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 112740
---
After upgrade to 2.20 every time I open Avocode I have to download my previously rendered designs from server and wait for full render cycle. None of the previously downloaded designs are available offline.
And code settings get reset every time I open Avocode so I have to set them again and again

[2018-03-01 10:17] jakubzitny commented on #1908
Hi @fufylev, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one speci

[2018-03-01 10:17] #1908 closed, assigned to nobody

[2018-03-01 10:20] retyui opened #1914 "Ctrl+Click Onen new tab"
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform/Browser**: Linux Mint x64

If I use Ctrl+Click on design preview
Design open in new tab and  switches to a new tab

But I expected that I would not be switched to a new tab.

Very uncomfortable when in the search bar you open the desired design in new tabs,

It is necessary to switch each time after opening the search tab

[2018-03-01 10:21] jakubzitny commented on #1913
Hi @i-v-k, sorry this is a bug in 2.20. We are fixing it right now and we'll release an update soon, hopefully today.

[2018-03-01 10:23] jakubzitny commented on #1909
Hi @EvanAlmighty, thanks for letting us know. We'll have a look at it and fix it for one of the upcoming versions.

Please let us know if you have any more requests or problems 😉

[2018-03-01 10:26] i-v-k commented on #1913
OK, looking forward to it, thanks.

[2018-03-01 10:40] jakubzitny commented on #1911
Hi @Asylbek23, thanks for letting us know. We need more details on your problem to help you with it though. I just looked at the only file you uploaded to Avocode (in your current account) and everything looks okay to me. Can you send us which layers are rendered incorrectly? Or record a video of the differences between Photoshop and Avocode?

[2018-03-01 10:43] jakubzitny commented on #1912
Hi @leob0ss, thanks for the report. We're already tracking a similar problem in #1790 so I am going to close this thread. However, would you be so kind and provide us with more info? When exactly is this happening? Does it happen to all layers you're trying to copy text from? Or only in a specific layer in a specific file?

Maybe recording a video of the bug would help us.

Thanks a lot 😉

[2018-03-01 10:43] #1912 closed, assigned to nobody

[2018-03-01 10:48] jakubzitny commented on #1910
Hi @tommypd, thanks for reporting this problem. We have similar issues in #1897 and #1891 where this is related to syncing files from Dropbox folders or the path to XD file or the name of it contains some special characters (like `#` for example).

However, the fact that you can't see the Avocode export tab at all is really weird. Did you have any pre-release version of Adobe XD installed before?

[2018-03-01 10:53] jakubzitny commented on #1753
I'll close this, let us know if you still have similar (or any) problems 😉

[2018-03-01 10:53] #1753 closed

[2018-03-01 10:54] jakubzitny commented on #1778
Did you have a chance to get the permission @nurbek-ab, please?

[2018-03-01 10:54] #1778 closed, assigned to jankuca

[2018-03-01 10:54] jakubzitny commented on #1785
Any updates @Miskamyasa, please?

[2018-03-01 10:55] jakubzitny commented on #1879
Hello @greencityarcher ,
we noticed a problem with RAM consumption and we tried to fix it in 2.19.2 and it was much better.

Does Avocode slows down all other programs even when no designs is opened?

[2018-03-01 10:55] jakubzitny commented on #1880
Hi @mrybakov, did everything work after removing the avocode dir?

[2018-03-01 10:57] jakubzitny commented on #1884
I see you have this problem repeatedly, but please provide us with more info so we can actually improve our rendering and help you if possible. I will close this with respect to #1911.

[2018-03-01 10:57] #1884 closed, assigned to nobody

[2018-03-01 10:57] jakubzitny commented on #1895
Hi @OleksandrHoncharov, do you have any more info about this problem? Does it keep happening or you just saw it once? What platform do you have please?

[2018-03-01 10:57] jakubzitny commented on #1902
Hi @CyberGenius1994, what problem do you have exactly? You can't open a project? In both web and desktop app? No project at all? Can you record a video of it, please?

[2018-03-01 10:58] jakubzitny commented on #1904
Hey, @Artemfrontend -
thanks for the report.

Could you please describe a little bit more how exactly did it happen?

Were you doing anything specific that led to the crash?

Also, what platform do you have please?

[2018-03-01 10:58] jakubzitny commented on #1914
I see, thanks for the input @retyui. We'll think about changing this behaviour.

Don't hesitate to let us know if you have any other problems 😉

[2018-03-01 12:47] 0xFeelix commented on #1363
Thx man

[2018-03-01 12:53] fristyr opened #1915 "problem"
---
* **Version**: 2.20.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 63.0.3239.132
* **Avocode UID**: 279144
---
[code]

[2018-03-01 14:25] umesh-velir opened #1916 "avocode crashed while uploading multiple (3) psds"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.20.0`

[2018-03-01 14:26] jakubzitny commented on #1916
Hi @umesh-velir, does this happen repeatedly? How about syncing these files one by one? Also, what platform are you on please?

[2018-03-01 14:30] umesh-velir commented on #1916
@jakubzitny wow, it's the quickest response I have ever seen. Thanks for that. It worked on second attempt. I am on windows 7 and I don't think i ever ran into that issue before with neither one by one file nor multiple files at once.

[2018-03-01 14:37] jakubzitny commented on #1916
Cool, I think it was some unhandled memory problem thats inside Electron on Windows. We see this sometimes but we can't really reproduce it. I'll close this issue then, we have it in our internal tracking system.

Thanks again and let us know if you have any more problems 😉

[2018-03-01 14:37] #1916 closed, assigned to nobody

[2018-03-01 14:38] umesh-velir commented on #1916
sounds good. awesome application though! thank you!

[2018-03-01 16:49] vAhyThe opened #1917 "screnarion 4 testing click on tab more times"
---
* **Version**: 3.0.0-public-testing.1
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.3
* **Browser**: chrome 64.0.3282.186
* **Avocode UID**: 9431
---
[code]

[2018-03-02 06:42] greencityarcher commented on #1879
Hello! No, if no designs opened, but avocode started, other program work normally. I have updated avocode to new version and now it working much better. I can open 3-4 designes at one time and normally work. Thanks for fix!

[2018-03-02 08:28] #1879 closed, assigned to nobody

[2018-03-02 09:32] jakubzitny commented on #1917
Thanks, entering into our internal tracking system. Will be fixed for 3.0.

[2018-03-02 09:32] #1917 closed, assigned to nobody

[2018-03-02 09:48] jakubzitny commented on #1915
Hi @fristyr, do you have any details on this? When did it happen, please? Did you see it more than once?

I believe this is a bug in our onboarding library, we're investigating the issue.

[2018-03-02 14:32] skushnir opened #1918 "I see "Document failed to load" for design uploaded at January 20, 2018"
---
* **Version**: 2.20.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 182950
---
[code]

[2018-03-03 12:30] Stormplay commented on #1918
I have a similar error. And connect ETIMEDOUT 104.18.57.139:443

[2018-03-03 16:50] asylbek23 opened #1919 "Incorrect display of psd template in the mode "inspect""
Incorrect display of psd template in the mode "inspect", but in the 'comment' mode everything displayd is well. I also have installed version 2.17.1 there is displayed everything is well. Unfortunately Avocode itselfes installed a last version and appeared this problems.
---
* **Version**: 2.20.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 283479
---
[code]

[2018-03-05 02:22] HtmlMak opened #1920 "Fast navigation"
Hey, guys!
Is it possible to realize a quick return to the previous menu with the back key on the keyboard or mouse? Simply, I quite often go through projects in search of the desired layout and, I think, it would be convenient.

[2018-03-05 05:55] northfacingdan opened #1921 "Artboards from Sketch and XD are uploading twice"
Details of what i'm running:

* Avocode Desktop App **2.20.1**
* Avocode Sketch Plugin **48.2.8**
* Operating system **macOS High Sierra 10.13.3**:

When exporting from Sketch or Adobe XD, avocode makes 2 copies of artboards, taking twice as long to upload. For example, if i have 15 artboards in a file, I end up with 30 in avocode.

[2018-03-05 08:33] vojtatranta commented on #1920
If you are browsing through project during the searching, just hit Escape and you're back where you were.

If you go inside a project, you can use Backspace to get back.

Does it cover all the use-cases?

[2018-03-05 08:35] vojtatranta commented on #1919
Hi @Asylbek23 could you provide a screenshot and the source PSD/Sketch files?

Thanks

[2018-03-05 08:36] vojtatranta commented on #1918
Hi all,
so these designs never open?

Is it possible to open other designs?

[2018-03-05 08:48] vojtatranta commented on #1918
Aha, so for @skushnir , your design's parsing failed on our servers. We will take a look at it.

For @Stormplay , ETIMEDOUT is quite hard for me to debug. Is it possible to open that design now, or is it still not working?

[2018-03-05 08:51] vojtatranta commented on #1918
@skushnir I tried to upload that PSD myself to my team an it's OK. Would you try to reupload it? It should be also OK.

[2018-03-05 09:12] skushnir commented on #1918
https://app.avocode.com/revisions/19154209/?design=11757993 this design isn't loading.

[2018-03-05 09:27] jakubzitny commented on #1919
Hi @Asylbek23, this is the third time we are asking you to provide some details about the incorrect display. We changed our rendering engine in past few versions and we would be happy to fix it, but we need to know where is the problem exactly. Can you provide us with minimal PSD that has problems? Or send us a public link to Avocode with names of some layers that are rendered incorrectly, please?

[2018-03-05 09:27] #1919 closed, assigned to nobody

[2018-03-05 09:27] HtmlMak commented on #1920
Oh yeah! I did not know, thank you!

[2018-03-05 09:31] jakubzitny commented on #1920
I think we should also add a "back" shortcut to project manager. I'll leave this open as enhancement.

[2018-03-05 09:44] jakubzitny commented on #1921
Hi @northfacingdan, thanks for letting us know. We noticed this and we'll try to fix this problem for the next version. Is this happening all the time or only when Avocode is off before you're syncing a design?

[2018-03-05 09:45] jakubzitny commented on #1904
Closing due to inactivity. Please let us know if you have some details on this.

[2018-03-05 09:45] #1904 closed, assigned to nobody

[2018-03-05 09:45] jakubzitny commented on #1902
Closing due to inactivity. Please let us know if you have some details on this.

[2018-03-05 09:45] #1902 closed, assigned to nobody

[2018-03-05 09:45] jakubzitny commented on #1895
Closing due to inactivity. Please let us know if you have some details on this.

[2018-03-05 09:45] #1895 closed, assigned to nobody

[2018-03-05 09:46] jakubzitny commented on #1880
This should be fixed in latest versions of Avocode, please let us know if you see it again 😉

[2018-03-05 09:46] #1880 closed, assigned to nobody

[2018-03-05 10:05] jakubzitny commented on #1918
Thanks for the details, @skushnir. We can see the problem with this particular design on our backend and we'll try to fix it 😉

For now I'll close this with respect to issue #1779 where we are tracking this problem already. Please let us know if it happens with other designs or if you have any other problems.

[2018-03-05 10:05] #1918 closed, assigned to nobody

[2018-03-05 10:26] jakubzitny commented on #1915
This should be fixed in next versions of Avocode.

[2018-03-05 10:27] jakubzitny commented on #1913
This should be fixed in Avocode 2.20.1. Please let us know if you have any other problems 😉

[2018-03-05 10:27] #1913 closed, assigned to jankuca

[2018-03-05 10:27] jakubzitny commented on #1918
Actually @skushnir, your design should work now, can you give it a try?

[2018-03-05 10:35] skushnir commented on #1918
Yes, it is working. Thanks

[2018-03-05 15:23] asylbek23 commented on #1919
This is link for psd template
https://drive.google.com/open?id=1LrtEaCOLTaqO_4_1O5HPYfRed3A_ckOi
The problem is incorrect display psd templates in the mode "INSPECT".
Do you need any more details for you?

2018-03-05 15:27 GMT+06:00 Jakub Žitný <notifications@github.com>:

[2018-03-05 16:06] jakubzitny commented on #1919
Hi @Asylbek23, thanks a lot for the file. Yes I was inspecting this exact file previously for you and I couldn't find serious mistakes in the rendering.

Now I looked closer and I can see that some layers have slight differences. First I can see is that in the footer, in Twitter section, some texts have should be little bit lighter. Second thing is the effect in `Lorem ipsum` layers, the opacity s

[2018-03-05 16:14] asylbek23 commented on #1919
This is not an isolated case.The problem is incorrect image display. That
is problem annoys me. That's it. Thank you for help me.

2018-03-05 22:06 GMT+06:00 Jakub Žitný <notifications@github.com>:

[2018-03-05 16:43] jakubzitny commented on #1919
Yes, it is many different cases. We'd like to locate and fix as many of them as possible. So regarding this particular design, we're going to look and try to fix the mentioned two rendering cases. If you have any other (on other designs maybe), please do let us know, always with a specific link and a **layer** where you see a problem. We'll then have a look and of course fix it.

[2018-03-05 23:00] northfacingdan commented on #1921
Hi Jakub, I often have avocode off before syncing, so I can only comment on that scenario. It’s happened to all my files since the start of the year.

From: Jakub Žitný <notifications@github.com>
Reply-To: avocode/avocode <reply@reply.github.com>
Date: Monday, 5 March 2018 at 8:15 pm
To: avocode/avocode <avocode@noreply.github.com>
Cc: Dan Stark <dan@lightbulb.digital>, Mention <mention@noreply.gi

[2018-03-06 01:37] asylbek23 commented on #1919
Once again the problem is not in "psd" file, problem in Avocode last
versions. Because past versions worked well. For example version 2.17.1.
Here is another example:
https://drive.google.com/open?id=1WL8FyI2iLBvknCXIW20Pu2pQ8tK2fu7h
Please fix this bug. Because program is not free. Thank you!

2018-03-05 22:44 GMT+06:00 Jakub Žitný <notifications@github.com>:

[2018-03-06 16:48] cameronjoyner opened #1922 "issue syncing adobe xd file - pls help"
I just downloaded the latest version and was attempting to open an XD file and it would allow me.

---
* **Version**: 2.20.1
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 285664
---
[code]

[2018-03-07 08:45] jakubzitny commented on #1922
Hi @cameronjoyner, thanks for the report. We've seen this problem few times and usually it was related to either old version of XD (we support only v4+) or that you had some prerelease versions in your system. Sometimes also special characters (like `#`) can cause Avocode to fail detecting a sync from XD.

Can you please let us know what version of XD you use, and what file are you trying to sync?

[2018-03-07 09:07] jakubzitny commented on #1921
Yeah, this will be fixed in `2.21` today 😉 (or tomorrow).

[2018-03-07 09:10] jakubzitny commented on #1919
Yes, the problem is in Avocode, but it is related to some specifics in the PSD file. As I already said, we have a new rendering engine since 2.18, which is much faster and generally better. There are few small things that still need to be addressed though and we need this kind of help from our users 😉

We've investigated the two things I mentioned earlier and one of them (the wrong opacity in Twit

[2018-03-07 10:16] jakubzitny commented on #1911
Details are in #1919. Closing.

[2018-03-07 10:16] #1911 closed, assigned to nobody

[2018-03-07 15:01] jakubzitny commented on #1910
Closing with respect to #1897. The fix will be included in one of the upcoming releases.

[2018-03-07 15:01] #1910 closed, assigned to nobody

[2018-03-07 15:01] jakubzitny commented on #1891
Closing with respect to #1897. A fix will be included in one of the upcoming releases.

[2018-03-07 15:01] #1891 closed, assigned to jakubzitny

[2018-03-07 15:02] jakubzitny commented on #1922
Closing with respect to #1897. The fix will be included in one of the upcoming releases.

[2018-03-07 15:02] #1922 closed, assigned to nobody

[2018-03-08 10:38] vojtatranta commented on #1921
`2.21.0` released

[2018-03-08 10:38] #1921 closed, assigned to jakubzitny

[2018-03-08 10:39] vojtatranta commented on #1915
`2.21.0` released

[2018-03-08 10:39] #1915 closed, assigned to nobody

[2018-03-08 10:39] vojtatranta commented on #1905
`2.21.0` released

[2018-03-08 10:39] #1905 closed, assigned to nobody

[2018-03-08 10:39] vojtatranta commented on #1897
`2.21.0` released

[2018-03-08 10:39] vojtatranta commented on #1623
@evanre you can now set default code template language on the project since `2.21.0`

[2018-03-08 10:40] vojtatranta commented on #1674
`2.21.0` released

[2018-03-08 10:40] #1674 closed

[2018-03-08 10:52] dimastrapchev commented on #1897
It doesn’t seem to solve the issue when the hash sign is present the folder name containing XD files I want to export.

[2018-03-08 10:53] jakubzitny commented on #1897
Really @dimastrapchev, sorry to hear that? I would swear I tried it really.. let me try to reproduce it again.

[2018-03-08 10:56] jakubzitny commented on #1897
Oh, sorry, it actually did not get included in the 2.21.0 release. Will definitely be in the next one, we're really sorry. I will reopen this, and let you know once it's out.

[2018-03-08 11:07] dimastrapchev commented on #1897
No problem! Thanks!
Still looking forward :)

[2018-03-08 13:39] monti84 commented on #1658
Hey, sorry, i have stopped using Avocode.

[2018-03-08 13:39] #1658 closed

[2018-03-08 15:01] robthebank opened #1923 "Error"
---
* **Version**: 2.21.0
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 287148
---
[code]

[2018-03-08 15:10] jakubzitny commented on #1923
Hi @robthebank, thanks for the report. We have some problems with rendering your file in our backend, we're looking into it.

[2018-03-08 19:18] crh225 opened #1924 "Feature: save style settings"
On the web, everytime I switch to scss style settings, close the browser and open a design, it reverts back to css.

![image](https://user-images.githubusercontent.com/19475195/37171317-18cf674e-22d3-11e8-871e-82b569c54b56.png)
It would be nice if it could have a default per project, or just remember my stetting.

[2018-03-09 10:16] alexalex7777 opened #1925 "asdfadsg"
---
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 205510
---
[code]

[2018-03-09 10:17] alexalex7777 commented on #1925
xvbnxvn

[2018-03-09 10:17] #1925 closed, assigned to nobody

[2018-03-09 10:18] alexalex7777 opened #1926 "EACCES on Linux, EPERM on Windows"
---
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 205510
---
[code]

[2018-03-09 15:17] kaisee opened #1927 "Error"
---
* **Version**: 2.21.0-web.1
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 62.0.3202.75
* **Avocode UID**: 249614
---
[code]

[2018-03-10 15:06] new7maker opened #1928 "Avocode"
IMPORTANT: Please try to describe how did the crash happen.

App v. `2.21.0`

[2018-03-12 11:10] jakubzitny commented on #1925
#1926

[2018-03-12 11:11] jakubzitny commented on #1926
Hi @alexalex7777, thanks for reporting this. It seems Avocode is having problems with writing into `~/.avocode` directory. Is this happening to all designs in Avocode or just a specific one? Can you use Avocode at all? What distro do you have please and how did you install Avocode?

[2018-03-12 11:13] jakubzitny commented on #1926
I can see that you have a lot of designs in Avocode actually, so this might be only a small problem with a specific design, can you try re-uploading it to see if it happens again?

[2018-03-12 11:13] bolekkerous commented on #1924
Hey, @crh225 - from Avocode version 2.21 on, you can select the default language for a project, but you need to select it in the Project settings, changing it in the design actually overrides the project default.

<img width="551" alt="screenshot 2018-03-12 12 13 15" src="https://user-images.githubusercontent.com/16084852/37280671-c2055526-25ee-11e8-8114-f9e697051262.png">

[2018-03-12 11:13] #1924 closed, assigned to nobody

[2018-03-12 11:14] jakubzitny commented on #1927
Hi @kaisee, thanks for the report. We're already tracking this in #1867.

Is this happening to all designs you're trying to open and all the time?

[2018-03-12 11:14] #1927 closed, assigned to nobody

[2018-03-12 11:14] bolekkerous commented on #1928
Hey, @VadimSkasyrskiy -
do you remember how did this happen? And what happened, have you got an error? Or did Avocode crash?

[2018-03-12 11:19] romaniv1024 opened #1929 "bug with opening sketch"
---
* **Version**: 2.20.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 130394
---
[code]

[2018-03-12 11:21] jakubzitny commented on #1929
Hi @romaniv1024, thanks for the report. We're already tracking this in #1867.

Is this happening to all designs you're trying to open and all the time?

[2018-03-12 11:21] #1929 closed, assigned to nobody

[2018-03-12 14:16] miguelcalderons opened #1930 "Clicking on Sync"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 228262
---
[code]

[2018-03-12 15:50] jakubzitny commented on #1930
Hi @miguelcalderons, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with o

[2018-03-12 15:50] #1930 closed, assigned to nobody

[2018-03-13 18:02] wapec opened #1931 "overall slowdown and unknown crush issues"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 124843
---
[code]

[2018-03-14 09:16] a-gallyamov opened #1932 "err"
---
* **Version**: 2.21.0
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 281580
---
[code]

[2018-03-14 17:44] oguilleux opened #1933 "ReferenceError: ga is not defined"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 142964
---
[code]

[2018-03-15 11:08] jakubzitny commented on #1933
Hi @oguilleux, thanks for the report. We've seen a similar problem in #1568. It's a weird error, do you have any more details on how did you get it? You probably have problems starting the app at all, right? How did you download/install Avocode? Is it your first time or did the previous versions work for you? Or did it just happen once and otherwise everything works?

[2018-03-15 11:10] jakubzitny commented on #1932
Hi @a-gallyamov, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one s

[2018-03-15 11:10] #1932 closed, assigned to nobody

[2018-03-15 11:12] jakubzitny commented on #1931
Hi @wapec, thanks for the report. We're already tracking this in #1867 so I am going to close this.

Is this happening to all designs you're trying to open and all the time?

The thing is that our new rendering consumes a bit more memory for designs. We'll be releasing more optimized rendering in the next Avocode version. However, if you do not have a lot of memory, you'll need to have less design

[2018-03-15 11:12] #1931 closed, assigned to nobody

[2018-03-15 13:24] AkostDev opened #1934 "Cannot read property 'paginator' of null"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 133315
---
[code]

[2018-03-16 17:08] mayllats opened #1935 "Problem to send xd file"
---
* **Version**: 2.21.0
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 288454
---
[code]

[2018-03-17 16:43] n1ckfedorov opened #1936 "help pls"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 293452
---
[code]

[2018-03-17 16:50] n1ckfedorov commented on #1934
тоже самое..

[2018-03-17 17:19] n1ckfedorov opened #1937 "errror web"
---
* **Version**: 2.21.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 65.0.3325.162
* **Avocode UID**: 293452
---
[code]

[2018-03-17 19:17] ge0rge9 opened #1938 "agora"
---
* **Version**: 2.20.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 293510
---
[code]

[2018-03-18 21:01] Silver360 opened #1939 "Error when try lunch avocode on Ubuntu"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 247673
---
[code]

[2018-03-19 09:38] jakubzitny commented on #1936
Hi @N1ckFedorov, do you have this problem only with only this one specific file, please? What if you try opening the design on our web app (app.avocode.com), does it work? Did you try re-uploading it? I see no problems on our backend with it, so we need more info for debugging.

[2018-03-19 09:38] jakubzitny commented on #1938
Hi @ge0rge9, do you have this problem only with only this one specific file, please? What if you try opening the design on our web app (app.avocode.com), does it work? Did you try re-uploading it? I see no problems on our backend with it, so we need more info for debugging.

[2018-03-19 09:44] jakubzitny commented on #1934
Hi @Woody174 and @N1ckFedorov, thanks for reporting it. We can see this in our bug tracking system. When exactly did it happen and how often do you see it please? We will work on a fix as soon as possible.

[2018-03-19 09:50] jakubzitny commented on #1937
Hi again @N1ckFedorov, is this happening for the same design as in #1936?

[2018-03-19 09:54] jakubzitny commented on #1939
Hi @Silver360, thanks for the report. We are tracking a similar problem in #1926, so I will close this issue. However, do you have any details on this? I can see in our log that it happened more than once, when exactly was it? How did you install Avocode and which Linux distro do you have please?

[2018-03-19 09:54] #1939 closed, assigned to nobody

[2018-03-19 09:56] jakubzitny commented on #1935
Hi @mayllats, thanks for the report. This might be happening due to special characters in the name or path of your XD file that you're trying to upload to Avocode. We have a fix prepared for next release so I will close this issue with respect to #1897 where we are tracking it. Similar problem can be caused by having the file in Dropbox/gDrive or similar service. If this is not the case, please le

[2018-03-19 09:56] #1935 closed, assigned to nobody

[2018-03-19 09:58] jakubzitny commented on #1938
We tried syncing this design ourselves and everything seems to work. This problem might be windows-specific or related to too much memory being consumed by Avocode. Please let us know if the same thing happens after you re-upload, try the web version.

[2018-03-19 09:58] jakubzitny commented on #1936
We tried syncing this design ourselves and everything seems to work. This problem might be windows-specific or related to too much memory being consumed by Avocode. Please let us know if the same thing happens after you re-upload, try the web version.

[2018-03-19 10:59] LAKnoKAL opened #1940 "Issue while creating annotation"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 37333
---
[code]

[2018-03-19 11:35] jakubzitny commented on #1940
Hi @LAKnoKAL, thanks for the report. Is this happening all the time or only once? Any further details? Did you try annotating other design?

[2018-03-19 11:50] LAKnoKAL commented on #1940
@jakubzitny Happened only once while typing in new annotation and cannot reproduce it one more time. Feel free to close :)

[2018-03-19 13:21] n1ckfedorov commented on #1936
@jakubzitny Hi. I have this problem only with  one specific psd file..I try open this file on Web app and on Windows (

[2018-03-19 13:22] n1ckfedorov commented on #1937
@jakubzitny  yep

[2018-03-19 13:23] jakubzitny commented on #1937
Allright, closing with respect to #1936, let's continue there.

[2018-03-19 13:23] #1937 closed, assigned to nobody

[2018-03-19 13:23] jakubzitny commented on #1936
Did you try to re-upload the file?

[2018-03-19 13:24] jakubzitny commented on #1928
Hey, @VadimSkasyrskiy -
do you remember how did this happen? And what happened, have you got an error? Or did Avocode crash?

[2018-03-19 13:24] jakubzitny commented on #1933
Hi @oguilleux, thanks for the report. We've seen a similar problem in #1568. It's a weird error, do you have any more details on how did you get it? You probably have problems starting the app at all, right? How did you download/install Avocode? Is it your first time or did the previous versions work for you? Or did it just happen once and otherwise everything works?

[2018-03-19 13:49] n1ckfedorov commented on #1936
@jakubzitny yep/ <a href="https://ibb.co/iv2FZc"><img src="https://thumb.ibb.co/iv2FZc/image.png" alt="image" border="0"></a>

[2018-03-19 15:27] MonochromeDev opened #1941 "could not download metadata"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 142186
---
[code]

[2018-03-19 15:39] jakubzitny commented on #1941
Hi @MonochromeDev, thanks for the report. We can see the problem in our logging, we're looking into it and get back to you 😉

[2018-03-19 15:57] jakubzitny commented on #1941
Actually, this was caused due to our problems with rendering on our backend yesterday. Can you please try to re-upload the file? Everything should work again.

[2018-03-19 15:57] #1941 closed, assigned to nobody

[2018-03-20 05:02] hhjxiaoyin opened #1942 "11"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 294025
---
[code]

[2018-03-21 14:50] sebous commented on #1905
Hi, all the issues disappeared now, thanks. Keep up the good work 👍

[2018-03-21 15:14] oleg291291 opened #1943 "?"
---
* **Version**: 2.21.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 65.0.3325.181
* **Avocode UID**: 296170
---
[code]

[2018-03-22 08:40] dvergilyush opened #1944 "a problem with displaying some images in the layout"
Hello! help me
there is a problem with displaying some images in the layout. I can not understand why this is happening, and what can I change in the settings?
![image](https://user-images.githubusercontent.com/35672540/37759819-cca22228-2dc5-11e8-8ae5-d67b177d01fa.png)
![image](https://user-images.githubusercontent.com/35672540/37764559-076b10a6-2dd3-11e8-9797-1d19c134d70d.png)
![image](https://u

[2018-03-22 21:33] angbermu-bold opened #1945 "Images displays incorrectly in the Inspect Mode"
There is an issue with Avocode, on the web and in the app with the image rendering of sketch files, in the inspect mode they displayed stretched, while in the comment mode it shows correctly. Please take a look at the following screenshots:

Please take a look at this different
<img width="323" alt="screen shot 2018-03-22 at 5 26 08 pm" src="https://user-images.githubusercontent.com/37674254/37799

[2018-03-22 22:13] Esteban-Rocha opened #1946 "WebGL on desktop app?"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 297236
---
[code]

Just started the trial to test some design workflow and see if I can go for a plan, the app is telling me that I do not have webGL enabled, and to enable it from the browser, thing is the app is running as a desktop app and in my chrome webGL is already enabled... for now it lets me wor

[2018-03-22 22:22] Esteban-Rocha commented on #1946
Update: testing the app on chrome runs ok but on desktop nope, I do not want a browser app, it makes chrome heavier than it already is, I'll love if some help could be given as I'll want to test it as a desktop

[2018-03-23 08:03] connor-bean commented on #1945
Hello - could you send us this original Sketch design to team@avocode.com?

Furthermore, I see you're running 2.21.0. Was this design also uploaded using this version or was it uploaded in an older version?

[2018-03-23 14:07] angbermu-bold commented on #1945
I have sent it to the mentioned email. Also, the designs team confirms this was uploaded it with the 2.21.0 version.

[2018-03-23 15:42] mihail-174 opened #1947 "Russian Internet providers block access to the site avocode.com"
* **Version**:  2.18.2

* **Web/Desktop**: Web and Desktop

* **Platform/Browser**: OS Win10, browser firefox, google chrome, yandex

Russian Internet providers block access to the site avocode.com
The website doesn't open. The program does not work, is not updated, is not downloaded, is not installed, is not authorized, is not registered.
The site is blocked by ip.
Please fix, really like your us

[2018-03-24 16:01] n1kko777 opened #1948 "I was trying to change px to rem"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 293327
---
[code]

[2018-03-26 14:20] GoTbraiN opened #1949 "Could not load a psd file"
---
* **Version**: 2.19.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 128443
---
[code]

[2018-03-27 07:35] sergeybruh opened #1950 "Important bug with sub-designs (symbols) links aren't reachable."
When I try to open symbol (sub-design file) I got this error
http://joxi.net/DmBBdk7tN3YlMm
It happens on all links I can't open any sub-design via layers panel

I guess it my be occurred by following reason:
The "symbols were renamed after they have been created".
In other words names of "symbols" in layers panel (http://joxi.net/LmGBRN7tRW1jer) are different with "symbols" in symbols folder
http

[2018-03-27 08:11] jakubzitny commented on #1943
Hi @oleg291291, thanks for the report. We're already tracking this in #1867 so I am going to close this.

Is this happening to all designs you're trying to open and all the time?

The thing is that our new rendering consumes a bit more memory for designs. We'll be releasing more optimized rendering in the next Avocode version. However, if you do not have a lot of memory, you'll need to have less d

[2018-03-27 08:11] #1943 closed, assigned to nobody

[2018-03-27 08:18] jakubzitny commented on #1946
Hi thanks for the report. Yeah the desktop app might have problems with WebGL on some hardware. We keep improving our rendering performance and compliance with more and more hw, but for the time being I am afraid you'll need to use browser version for full support.

[2018-03-27 08:18] #1946 closed, assigned to nobody

[2018-03-27 08:22] jakubzitny commented on #1945
Hi @angbermu-bold, this will be fixed in the next release of Avocode.

[2018-03-27 08:25] jakubzitny commented on #1949
Hi @GoTbraiN, thanks for reporting this problem. Did you try to re-upload the file and it failed to open repeatedly? Can you please send the PSD to team@avocode.com so we can inspect this further?

[2018-03-27 08:28] jakubzitny commented on #1948
Hi @n1kko777, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one spec

[2018-03-27 08:28] #1948 closed, assigned to nobody

[2018-03-27 08:29] jakubzitny commented on #1942
Hi @hhjxiaoyin, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one sp

[2018-03-27 08:29] #1942 closed, assigned to nobody

[2018-03-27 08:31] jakubzitny commented on #1950
Hi @sergeybruh, thanks for detailed report. Renaming the symbols in Avocode should not affect this. Where/when do you get this `symbols were renamed after they have been created` message, please? Also, are you sure the symbols are synced via the latest plugin version? Can you try to re-upload the sketch file again, to see if it's still happening?

[2018-03-27 08:33] jakubzitny commented on #1938
Closing due to inactivity, please let us know if you still have problems.

[2018-03-27 08:33] #1938 closed, assigned to nobody

[2018-03-27 08:34] jakubzitny commented on #1933
Closing due to inactivity, let us know if you still have problems.

[2018-03-27 08:34] #1933 closed, assigned to nobody

[2018-03-27 08:34] jakubzitny commented on #1928
Closing due to inactivity, let us know if you still have problems.

[2018-03-27 08:34] #1928 closed, assigned to nobody

[2018-03-27 10:26] emircanpekyurek opened #1951 "Error"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 71500
---
[code]

[2018-03-27 10:46] bolekkerous commented on #1944
Hey, @d-vergilyush -
thanks for the report and sorry for the late reply.

Would you be able to send us the problematic design to team@avocode.com or contact us in the in-app chat, so we try troubleshooting properly?

Thanks and sorry for the inconvenience.

[2018-03-27 10:53] bolekkerous commented on #1936
Hey, @N1ckFedorov -
would you be able to send us the specific PSD file you're having problem with to team@avocode.com? And you were uploading the files into Avocode by just drag and dropping it in to Avocode, right?

[2018-03-28 10:00] nmara opened #1952 "Cannot read property 'length' of null"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 295939
---
[code]

[2018-03-28 11:39] jakubzitny commented on #1951
Hi @emircanpekyurek, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with o

[2018-03-28 11:39] #1951 closed, assigned to nobody

[2018-03-28 11:41] jakubzitny commented on #1952
Hi @nmara, thanks for reporting this problem, we can see it in our bug tracking system, we'll try to fix as soon as possible. I guess this happened only once, so you can use Avocode normally, right?

[2018-03-28 11:42] emircanpekyurek commented on #1951
In application the designs are opening very slowly. Sometimes not open.

2018-03-28 14:39 GMT+03:00 Jakub Žitný <notifications@github.com>:

[2018-03-28 11:43] jakubzitny commented on #1951
Yeah, can you try our web version? It might be faster for you.

[2018-03-28 11:45] emircanpekyurek commented on #1951
ok

2018-03-28 14:43 GMT+03:00 Jakub Žitný <notifications@github.com>:

[2018-03-28 15:19] lexantus opened #1953 "Can't parse psd file"
---
* **Version**: 2.21.0
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 277149
---
[code]

[2018-03-29 15:05] gyduxa opened #1954 "Stuck on "Downloading Metadata""
Hello

I have a .PSD file that get's stuck on "Downloading Metadata". The other PSD files open fine.
I have Windows 8.1 and I'm using the desktop version of Avocode 2.21.0.
Screenshot attached.

I already tried to open it several times and it always gets stuck on the same position of the green loading bar.

![avocode-downloading-metadata](https://user-images.githubusercontent.com/5487711/38096441-

[2018-03-29 15:35] i-v-k opened #1955 "Unable to open designs offline"
Guys, once again I was unable to open previously rendered designs offline.
Can you please fix it once and for all?

---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 112740
---
[code]

[2018-03-29 15:40] vojtatranta commented on #1955
@i-v-k you are sure that you were trying to open design that was already opened before?

[2018-03-29 15:43] i-v-k commented on #1955
Yes, absolutely, I opened them yesterday.
Today I was offline and was unable to open them.
Maybe I can send you some logs? Does such a case make record in logs?

[2018-03-30 08:11] i-v-k commented on #1955
Well, I think I got an idea why this could happen.
I wasn't absolutely offline, I was connected to network but network encountered errors so I wasn't able to open any website. But I still wasn't completely offline in terms of network connection - I was connected, but to a buggy network.
Maybe I needed to disconnect from that network for Avocode to start working in offline mode.
Do you understand w

[2018-03-30 08:32] StasiukYurii opened #1956 "Failed open page."
---
* **Version**: 2.21.0
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 125155
---
[code]

[2018-03-30 13:25] sergeybruh commented on #1950
Where/when do you get this symbols were renamed after they have been created message, please?
--When I do inspecting on the layers panel after double click and also on double click on design area.
No one of symbols used to work.

Also, are you sure the symbols are synced via the latest plugin version?
--I'm not sure about this. And unfortunately don't have opportunity to check it anymore.

 Can yo

[2018-03-31 10:37] BragiSanta opened #1957 "!"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 302634
---
[code]

[2018-04-02 07:22] shawyou opened #1958 "ETIMEDOUT"
* **Version**: 2.16.3

* **Web/Desktop**: Desktop

* **Platform**: linux

* **Avocode UID**: 135031
---

[code]

[2018-04-02 20:47] shiwamavg opened #1959 "not loading properly"
---
* **Version**: 2.21.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 6.2
* **Browser**: chrome 65.0.3325.181
* **Avocode UID**: 262324
---
[code]

[2018-04-04 00:14] jroquejr opened #1960 "Mac app open lite version, in Chrome browser open normal version"
Mac app open lite version, in Chrome browser open normal version.

I do changes to enable WebGL and reboot the SO, but this bug persists

[2018-04-04 02:20] changjunjun opened #1961 "失败"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 301235
---
[code]

[2018-04-04 02:21] changjunjun commented on #1961
啊啊啊

[2018-04-04 13:56] dimastrapchev opened #1962 "Text disappeared in XD designs"
With the new update, text disappears in XD designs.

![screen shot 2018-04-04 at 3 51 32 pm](https://user-images.githubusercontent.com/15209814/38311945-b1ac8eee-3820-11e8-865a-612dbb5245e3.png)
![screen shot 2018-04-04 at 3 51 49 pm](https://user-images.githubusercontent.com/15209814/38311946-b1cbab76-3820-11e8-968d-83e37b433077.png)

---
* **Version**: 2.22.0
* **Sketch plugin version**: 49.0.0

[2018-04-04 14:01] bolekkerous commented on #1962
Hey, @dimastrapchev -
we know about this issue and I believe it is already fixed internally. The fixed version should be released publicly next week.

In the meantime, the workaround is bring any text layers to the front and remove them from any groups and resync again. Otherwise we could also send you the previous version, which should work correctly.

[2018-04-04 14:12] dimastrapchev commented on #1962
Hi Bolek,
we have already many designs in the avocode and it would be great if you could send the previous version for Linux 64 to my colleague (arsovska@fitanalytics.com <mailto:arsovska@fitanalytics.com>) while we are waiting for the fixed version.
Thanks!!
Dima

[2018-04-04 14:56] jakubzitny commented on #1961
Hi, thanks for the report. Can you try updating Avocode or opening this design on our web app https://app.avocode.com ?

[2018-04-04 14:57] jakubzitny commented on #1950
Good to hear that, we'll investigate why this might have happened. I will close this issue.

[2018-04-04 14:57] #1950 closed, assigned to nobody

[2018-04-04 14:58] jakubzitny commented on #1949
Hi @GoTbraiN, thanks for reporting this problem. Did you try to re-upload the file and it failed to open repeatedly? Can you please send the PSD to team@avocode.com so we can inspect this further?

[2018-04-04 14:59] jakubzitny commented on #1957
Hi @BragiSanta, thanks for the report. We're already tracking this in #1867 so I am going to close this.

Is this happening to all designs you're trying to open and all the time?

The thing is that our new rendering consumes a bit more memory for designs. We'll be releasing more optimized rendering in the next Avocode version. However, if you do not have a lot of memory, you'll need to have less d

[2018-04-04 14:59] #1957 closed, assigned to nobody

[2018-04-04 14:59] jakubzitny commented on #1959
Hi @shiwamavg, thanks for the report. We're already tracking this in #1867 so I am going to close this.

Is this happening to all designs you're trying to open and all the time?

The thing is that our new rendering consumes a bit more memory for designs. We'll be releasing more optimized rendering in the next Avocode version. However, if you do not have a lot of memory, you'll need to have less de