[2018-04-04 14:59] #1959 closed, assigned to nobody

[2018-04-04 14:59] vojtatranta commented on #1960
Hi,
well that's pretty strange. Desktop app is actually Chromium browser.

Would you try to download chromium and open that design in it?

[2018-04-04 15:00] jakubzitny commented on #1958
Hi @shawyou, thanks for submitting this. We know about this problem already. However, we'd like to hear more details on this error from you, how often is this happening? When exactly?

I'm closing this with respect to #1677, but please do let us know the details.

[2018-04-04 15:00] #1958 closed, assigned to nobody

[2018-04-04 15:02] jakubzitny commented on #1960
I think this might be happening, our desktop app can sometimes have problems with the rendering that Chrome does not have. Please use the browser version for now @jroqueweb.

[2018-04-04 15:03] jakubzitny commented on #1897
2.22.0 is released, the problem should be fixed in it. Finally 😉

[2018-04-04 15:03] #1897 closed, assigned to nobody

[2018-04-04 15:03] GoTbraiN commented on #1949
Hello,

I closed the program and opened it again and it worked. I didn’t have any
problem since then.

I can’t send the PSD to you because I don’t have approval from work.

Kind greeting,
George

--
George Safta

On 4 April 2018 at 17:58:01, Jakub Žitný (notifications@github.com) wrote:

[2018-04-04 15:03] jakubzitny commented on #1923
Hi, this problem should be released in latest Avocode 2.22.0. Please update and let us know if it's still happening.

[2018-04-04 15:03] #1923 closed, assigned to rychlis

[2018-04-04 15:03] jakubzitny commented on #1934
Hi, this problem should be released in latest Avocode 2.22.0. Please update and let us know if it's still happening.

[2018-04-04 15:03] #1934 closed, assigned to nobody

[2018-04-04 15:04] jakubzitny commented on #1945
Hi, this problem should be released in latest Avocode 2.22.0. Please update and let us know if it's still happening.

[2018-04-04 15:04] #1945 closed, assigned to nobody

[2018-04-04 15:04] jakubzitny commented on #1952
Hi, this problem should be released in latest Avocode 2.22.0. Please update and let us know if it's still happening.

[2018-04-04 15:04] #1952 closed, assigned to renekopcem

[2018-04-04 15:04] jakubzitny commented on #1949
Thanks for the info. Closing then. Let us know if you have any more problems 😉

[2018-04-04 15:04] #1949 closed, assigned to nobody

[2018-04-04 16:00] bolekkerous commented on #1962
Hey, Dima -
actually we decided that we should be releasing a quick fixed version tomorrow. Should we still send the previous version to the email?

[2018-04-04 16:39] dimastrapchev commented on #1962
Great! No need for the older version then. Thanks!

[2018-04-05 09:05] vojtatranta commented on #1909
This will be fixed today.

[2018-04-05 09:05] vojtatranta commented on #1962
We are releasing a fix today.

[2018-04-05 14:14] petrbrzek commented on #1962
Fixed in 2.22.1.

[2018-04-05 14:14] #1962 closed, assigned to nobody

[2018-04-05 14:19] jakubzitny commented on #1909
Fixed in 2.22.1.

[2018-04-05 14:19] #1909 closed, assigned to nobody

[2018-04-06 06:29] arukaushik opened #1963 "Auto update failed, Check your internet connection"
I keep receiving the error "Auto update failed, Check internet connection". Every there is a new version of Avocode, I need to manually download the installation file and overwrite the older version of the application.

---
* **Version**: 2.22.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 83592
---
[code]

[2018-04-06 13:08] mogilevtsevdmitry opened #1964 "error"
---
* **Version**: 2.22.1-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 65.0.3325.181
* **Avocode UID**: 307199
---
[code]

[2018-04-06 13:12] mogilevtsevdmitry opened #1965 "error"
---
* **Version**: 2.22.1-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 65.0.3325.181
* **Avocode UID**: 307199
---
[code]

[2018-04-06 17:11] beliarh opened #1966 "Wrong latest version in preview"
* **Version**: 2.22.1
* **Web/Desktop**: Web and Desktop
* **Platform/Browser**: Windows 10, Chrome 65

Wrong latest version in preview.
In project manager - version 9:
![image](https://user-images.githubusercontent.com/4661335/38433808-4ffea72c-39dd-11e8-9872-48fb6516e9fb.png)
In file - version 1:
![image](https://user-images.githubusercontent.com/4661335/38433850-6f9dfb6e-39dd-11e8-8ad6-68a40850

[2018-04-06 17:30] NadeemAyesh opened #1967 "While trying to open a project"
---
* **Version**: 2.22.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 245898
---
[code]

[2018-04-06 19:06] Pavel311 opened #1968 "Problem with assets export"
---
* **Version**: 2.22.1
* **Web/Desktop**: Desktop and Web
* **Platform**: Windows 10
* **Avocode UID**: 71768
---

I tried to select and export multiple slices

![1](https://user-images.githubusercontent.com/12411987/38437520-5ac1ec2a-39e0-11e8-8109-41e1ae02a881.png)

In "Export assets" window there are no default variants. "Export" and "Add variant" buttons are inactive.

![2](https://user-ima

[2018-04-06 23:35] aden16rus commented on #1944
![image](https://user-images.githubusercontent.com/8079624/38448278-dd050656-3a0b-11e8-9cbb-82b0619897e8.png)
![image](https://user-images.githubusercontent.com/8079624/38448346-4a8bcc8c-3a0c-11e8-8207-63dc16fa37da.png)

some layers blured, this issue has been more than half year.

[2018-04-07 12:09] petrbrzek commented on #1963
Hello, do you have Avocode app in the Application folder?

[2018-04-07 12:10] petrbrzek commented on #1964
Duplicate of #1867

[2018-04-07 12:10] #1964 closed, assigned to nobody

[2018-04-07 12:10] arukaushik commented on #1963
Yes I have it in my applications folder.
________________________________
From: Petr Brzek <notifications@github.com>
Sent: Saturday, April 7, 2018 5:39:06 PM
To: avocode/avocode
Cc: arukaushik; Author
Subject: Re: [avocode/avocode] Auto update failed, Check your internet connection (#1963)

Hello, do you have Avocode app in the Application folder?

—
You are receiving this because you authored th

[2018-04-07 12:10] petrbrzek commented on #1965
Duplicate of #1867

[2018-04-07 12:10] #1965 closed, assigned to nobody

[2018-04-09 07:52] jakubzitny commented on #1963
What version of macOS do you have exactly @arukaushik, please? Also, is this happening just recently or has it been for a while?

[2018-04-09 07:53] jakubzitny commented on #1967
Hi @NadeemAyesh, thanks for the report. We are tracking a similar problem in #1926, so I will close this issue. However, do you have any details on this? When exactly did this happen? How did you install Avocode and which Linux distro do you have please?

[2018-04-09 07:53] #1967 closed, assigned to nobody

[2018-04-09 07:58] arukaushik commented on #1963
I have macOS version 10.13.3 (17D102).

I've noticed it happening for the last few months (you could say from Feb
2018 or so).

I've tried connecting to different Wifi networks, but receive the same
error. I also have tried using a teammate's macbook but end up getting the
error.

On Mon, Apr 9, 2018 at 1:22 PM Jakub Žitný <notifications@github.com> wrote:

[2018-04-09 08:40] jakubzitny commented on #1963
Thanks for the info, we can't really reproduce this, but we'll try to address this somehow.

[2018-04-09 13:22] sokos opened #1969 "Unexpected Error after deleting design"
Deleting last design in a Page
![screen shot 2018-04-09 at 17 21 21](https://user-images.githubusercontent.com/470663/38500093-77dafc66-3c1a-11e8-9838-bbcbb2e9fe9a.png)
 causes this error.

---
* **Version**: 2.22.1
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 50887
---
[code]

[2018-04-09 13:31] vojtatranta commented on #1969
This will be fixed in the next release.

[2018-04-10 08:27] onuralpb opened #1970 "whats happened?"
---
* **Version**: 2.22.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 5322
---
[code]

[2018-04-10 12:01] NadeemAyesh commented on #1967
Hi, this issue happened when i am trying to open a project in my Avocode
accout, and I have a business account, and i have a linux ubuntu 16.4
platform.
Thank you.

On Mon, Apr 9, 2018 at 10:53 AM, Jakub Žitný <notifications@github.com>
wrote:

[2018-04-10 12:44] bolekkerous commented on #1947
Hey -
sorry for the late reply.

Unfortunately we're not really able to do much with this, because the blocking happens on the ISP level, the only thing we've seen other users succeed with is VPN.

We'll see whether we can find some solution in the future, however we haven't found a way to do anything with it so far.

[2018-04-10 12:45] bolekkerous commented on #1953
Hey -
sorry for the late reply.

So you were trying to upload a PSD while this error happened?

Can you reproduce the problem again?

[2018-04-10 12:46] bolekkerous commented on #1954
Hey,
sorry for the late reply.

Would you be willing to send us an email with the problematic file to team@avocode.com so we can investigate the issue on our end?

And have you tried to reupload the design?

[2018-04-10 12:50] bogusweb opened #1971 "Error always after hibernate computer and lost connection."
Error always after hibernate computer and lost connection.

---
* **Version**: 2.22.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 282707
---
[code]

[2018-04-10 12:58] vojtatranta commented on #1971
Hi @bogusweb ,
that's interesting. We have a check that says that this error should not pop up when app is offline, seems like this error is somehow "cached" in the app and pops app after app is already online.

We'll take a look at it

[2018-04-11 07:39] jakubzitny commented on #1956
Hi @mr-stasyuk, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one sp

[2018-04-11 07:39] #1956 closed, assigned to nobody

[2018-04-11 07:39] jakubzitny commented on #1970
Hi @onuralpb, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one spec

[2018-04-11 07:39] #1970 closed, assigned to nobody

[2018-04-11 07:40] jakubzitny commented on #1967
Does it happen only for a specific project or all the time? Did it work in the past or has it always been happening? Can you please try quitting the app, deleting `~/.avocode` and launch it and login again?

[2018-04-11 07:42] jakubzitny commented on #1971
Probably related to #1656.

[2018-04-11 07:43] jakubzitny commented on #1961
Hi, thanks for the report. Can you try updating Avocode or opening this design on our web app https://app.avocode.com ?

[2018-04-11 07:56] onuralpb commented on #1970
I was trying to open a sketch file. I guess I tried to open two artboards at the same time. The program has restarted itself. I may have tried to open it very quickly, but I've been doing this before and it's not a problem. We want to see the artboards in the sketch files as thumbnails ... before the file opens.

[2018-04-11 07:57] jakubzitny commented on #1970
So it only happened once?

Also do you have problems seeing thumbnails? Can you send us a screenshot of what are you seeing?

[2018-04-11 08:05] sergeybruh opened #1972 "Avocode process PSDs for ages. I can't inspect any of mockup"
Avocode process PSDs for ages. I can't inspect any of mockup

---
* **Version**: 2.22.1
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 284440
---
[code]

[2018-04-11 08:07] sergeybruh commented on #1972
http://joxi.ru/8Ank8y3Uq3eyXr

[2018-04-11 08:27] jakubzitny commented on #1969
This should be fixed in latest version 2.23.0. Let us know if you have any more problems :wink:

[2018-04-11 08:27] #1969 closed, assigned to nobody

[2018-04-11 08:27] jakubzitny commented on #1968
This should be fixed in latest version 2.23.0. Let us know if you have any more problems :wink:

[2018-04-11 08:27] #1968 closed, assigned to nobody

[2018-04-11 09:08] lexantus opened #1973 "Invisible elements in Podskazka folder"
---
* **Version**: 2.22.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 277149
---
[code]

[2018-04-11 09:29] electrovladyslav opened #1974 "Avocode web interface Chrome, linux"
---
* **Version**: 2.23.0-web
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 65.0.3325.146
* **Avocode UID**: 302746
---
[code]

[2018-04-11 10:17] Roman-wst opened #1975 "Bug"
---
* **Version**: 2.23.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 287056
---
[code]

When I open more than 4 psd layouts, my laptop starts to brake wildly .. (i5, 4X1.6, 8Gb memory, SSD)

[2018-04-11 10:18] jakubzitny commented on #1975
Hi @Roman-wst, thanks for the report. We know about this problem, we'll resolve this asap.

[2018-04-11 10:33] bogusweb commented on #1971
After update to 2.23 version, this problem disappear ;)

[2018-04-11 10:43] #1971 closed, assigned to vojtatranta

[2018-04-11 11:36] NadeemAyesh commented on #1967
thank you so much, "deleting ~/.avocode and launch it and login again"
solved my problem.

On Wed, Apr 11, 2018 at 10:40 AM, Jakub Žitný <notifications@github.com>
wrote:

[2018-04-11 12:51] jakubzitny commented on #1974
Hi @shiwamavg, thanks for the report. We're already tracking this in #1867 so I am going to close this.

Is this happening to all designs you're trying to open and all the time?

The thing is that our new rendering consumes a bit more memory for designs. We'll be releasing more optimized rendering in the next Avocode version. However, if you do not have a lot of memory, you'll need to have less de

[2018-04-11 12:51] #1974 closed, assigned to nobody

[2018-04-11 19:24] pilotocheg opened #1976 "problem with rendering"
---
* **Version**: 2.22.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 302446
---
[code]

[2018-04-12 08:17] mentoripro opened #1977 "EPERM on Windows"
---
* **Version**: 2.23.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 309477
---
[code]

[2018-04-12 08:39] jakubzitny commented on #1976
Hi @pilotocheg, thanks for reporting this problem. It seems that our rendering engine has problems with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one sp

[2018-04-12 08:39] #1976 closed, assigned to nobody

[2018-04-12 08:41] jakubzitny commented on #1977
Hi @Kuzhimov, thanks for reporting this. Can you try quitting the app, removing `C:\Users\Админ\.avocode` folder and try again, please?

We're tracking a similar problem in #1926, so I will close this issue.

[2018-04-12 08:41] #1977 closed, assigned to nobody

[2018-04-12 15:09] Stormplay commented on #1947
A similar problem. I like your product. I would like to continue to use it.

[2018-04-12 16:02] gyduxa commented on #1954
Reuploading the file like sugested by @bolekkerous worked.
I'm also running new version: 2.23.0.

Thank you

[2018-04-12 16:02] #1954 closed, assigned to nobody

[2018-04-13 16:58] jroquejr commented on #1960
I download and install chromium and now open correctly.
Thanks @vojtatranta and @jakubzitny

[2018-04-14 20:43] FOXY-FO opened #1978 "Can't get pro client of avocode on PC"
---
* **Version**: 2.23.0
* **Web/Desktop**: Desktop
* **Platform**: win64
* **Avocode UID**: 261005
---
[code]
The thing is on the browser I have pro app, but on PС I don't

[2018-04-15 21:35] lexantus opened #1979 "Failed to execute 'dispatchEvent' on 'EventTarget': parameter 1 is not of type 'Event'"
---
* **Version**: 2.22.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 277149
---
[code]

[2018-04-16 07:12] trurl-master opened #1980 "Hitting Ctrl-R in inspect mode raises an error"
---
* **Version**: 2.23.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 15216
---
[code]

[2018-04-16 12:56] petrbrzek commented on #1980
@trurl-master thanks for the report. This bug will be fixed in the next version. It should land this week.

[2018-04-16 13:18] cpart opened #1981 "Error"
---
* **Version**: 2.23.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 136149
---
[code]

[2018-04-17 06:43] AllenVork opened #1982 "crash"
---
* **Version**: 2.23.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 135031
---
[code]

[2018-04-18 08:40] mahish opened #1983 "Sketch symbol broken"
* **Version**:  2.23.0

* **Sketch plugin version**: 49.3.0 and 49.0.0

* **Web/Desktop**: both

* **Platform/Browser**: MacOS 10.13.4, Firefox 59.0.2, Chrome 65.0.3325.181

**Avocode e-mail**: jiri.maha@avast.com

When we open Sketch artboard in the Avocode the symbol looks right. When we open the symbol, the symbol gets broken. See attached screenshots (both app and web version of Avocode). It h

[2018-04-18 08:50] bolekkerous commented on #1983
Hey -
this is an issue with symbol overrides, which we're not yet supporting 100% correctly.

However we will release a new version this week with the ability to import Sketch files directly into Avocode via drag n drop. The symbol issue will be fixed for the files that will be imported directly into Avocode, for Sketch files uploaded through plugin, the issue should be fixed a while after that.

[2018-04-18 09:11] mahish commented on #1983
@bolekkerous Thanks for info. Can you confirm this release will fix also the color code issue as mentioned here: https://github.com/avocode/avocode/issues/1714#issuecomment-343904852 ?

[2018-04-18 11:47] jakubzitny commented on #1983
Hi @mahish, we've just released a new version of Avocode. Two things here:

1. The symbols/overrides support are as follows: If you upload your Sketch file by dragging and dropping it to Avocode (not via Sketch plugin) you'll be able to inspect overriden symbols directly in the artboards they are contained in. If you click on the symbol however, and open the original master in new tab, you'll only

[2018-04-18 11:47] #1983 closed, assigned to nobody

[2018-04-18 11:48] jakubzitny commented on #1975
Hi @Roman-wst, this should be fixed in the latest version of Avocode. Please update and let us know if you have any more problems :wink:

[2018-04-18 11:48] #1975 closed, assigned to nobody

[2018-04-18 11:48] jakubzitny commented on #1980
Hi @trurl-master, this should be fixed in the latest version of Avocode. Please update and let us know if you have any more problems :wink:

[2018-04-18 11:48] #1980 closed, assigned to nobody

[2018-04-18 11:51] jakubzitny commented on #1982
Hi @AllenVork, thanks for reporting this. Can you try quitting the app, removing C:\Users\ zhangruofan\.avocode folder and try again, please?

We're tracking a similar problem in #1926, so I will close this issue.

[2018-04-18 11:51] #1982 closed, assigned to nobody

[2018-04-18 11:52] jakubzitny commented on #1981
Hi @cpart, thanks for reporting this issue. We've just release a new version of Avocode and this bug should be fixed there. Please update and let us know if you still have any problems 😉

[2018-04-18 11:52] #1981 closed, assigned to nobody

[2018-04-18 11:54] jakubzitny commented on #1979
Hi @lexantus, we've already released a new version of Avocode - `2.24.0`. Can you please update and see if it helps? If so, can you please describe the details of the problem? When exactly and how often is it happening?

[2018-04-18 11:55] jakubzitny commented on #1961
Closing due to inactivity. Please let us know if you still have problem with Avocode 😉

[2018-04-18 11:55] #1961 closed, assigned to nobody

[2018-04-18 11:56] jakubzitny commented on #1953
Closing due to inactivity, please let us know if you have more details on this problem 😉

[2018-04-18 11:56] #1953 closed, assigned to nobody

[2018-04-18 11:56] jakubzitny commented on #1978
Hi @FOXY-FO, we've just released a new version of Avocode and this bug should be fixed in it. Please update and let us know if you still have any problems 😉

[2018-04-18 11:56] #1978 closed, assigned to nobody

[2018-04-18 11:57] Roman-wst commented on #1975
Hi @jakubzitny, should be fixed: TypeError or 'When I open more than 4 psd layouts, my laptop starts to brake wildly .. '? Thanks.

[2018-04-18 11:58] jakubzitny commented on #1936
I will close this issue due to inactivity.

Please, let us know about your experience with Avocode via Intercom support or at team@avocode.com, @N1ckFedorov. Did you manage to get it working or did you give up?

[2018-04-18 11:58] #1936 closed, assigned to nobody

[2018-04-18 12:03] jakubzitny commented on #1975
The TypeError.

Regarding the performance, we're using a certain amount of memory for the rendering of each tab (and the design in it). We're also using Electron framework which is based on Chromium and uses some memory itself so with combination of other similar apps (like Chrome / Spotify / Slack and similar ones) you might see the PC slowing down with 8GB of memory. So I suggest using less tabs

[2018-04-18 12:04] #1960 closed, assigned to nobody

[2018-04-18 12:05] jakubzitny commented on #1955
Sorry @i-v-k about the late reply. Yes that could be possible. Did you try disconnecting completely and work in offline like that?

[2018-04-18 12:06] #1940 closed, assigned to nobody

[2018-04-18 12:08] jakubzitny commented on #361
Hi everyone, we've just released Avocode 2.24.0 with support for dragging and dropping Sketch files directly from macOS, Windows and Linux. Please update, give it a try and let us know if you have and issues with it 😉

[2018-04-18 12:08] #361 closed

[2018-04-18 12:09] jakubzitny commented on #1622
Hi @teremok1000, we've just released Avocode 2.24.0 with the ability to upload Sketch files directly via drag&drop. Can you try uploading them that way and see if it improves your workflow?

[2018-04-18 12:09] #1622 closed

[2018-04-18 12:11] jakubzitny commented on #1744
Do you still have problems with Avocode @koostya, please?

[2018-04-18 12:12] jakubzitny commented on #1882
Hi @rasarasa ,
so the search results never come back? Even when you search in just one project? You'd have to have thousands of designs there to reach such problem...

[2018-04-18 12:13] mahish opened #1984 "Different color code between Sketch and Avocode"
* **Version**:  2.24.0

* **Sketch version**: 49.3.0 (the file uploaded via drag&drop)

* **Web/Desktop**: both

* **Platform/Browser**: MacOS 10.13.4, Firefox 59.0.2, Chrome 65.0.3325.181

* **Avocode e-mail**: jiri.maha@avast.com

So we are having color code issue with Sketch files. I have set the Sketch document to use sRGB profile. However Im still getting (slightly) different color codes in A

[2018-04-18 12:14] i-v-k commented on #1955
Yes, if I disconnect completely offline works as it should. I guess you can close this issue.

[2018-04-18 12:14] jakubzitny commented on #1984
Thanks a lot for the details @mahish, we'll have one more look at this.

[2018-04-18 12:16] jakubzitny commented on #1955
Thanks a lot 🙂

Don't hesitate to let us know if you have any more problems 😉

[2018-04-18 12:16] #1955 closed, assigned to nobody

[2018-04-18 13:38] jakubzitny commented on #1984
Allright, so we've found a possible improvement for color profiles on our backend. We hope to have this fixed soon 😉

[2018-04-19 11:57] mihail-174 commented on #1947
change your hosting (server) or change the ip of the hosting.

[2018-04-19 15:39] dragin96 opened #1985 "error crashed webGl"
---
* **Version**: 2.24.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 66.0.3359.117
* **Avocode UID**: 13268
---
[code]

[2018-04-20 03:14] JakeMars opened #1986 "I tried sync XD update several times. It's not working."
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 316067
---
[code]

[2018-04-20 03:21] xuyangqiao opened #1987 "error"
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 315569
---
[code]

[2018-04-20 06:11] YevhenNechepurenko opened #1988 "The preview could not be loaded"
---
* **Version**: 2.24.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 316149
---
[code]

[2018-04-20 08:15] lexantus commented on #1979
Ok, I'll give you feedback if get same error in latest version

2018-04-18 14:54 GMT+03:00 Jakub Žitný <notifications@github.com>:

[2018-04-20 08:17] jakubzitny commented on #1744
Closing due to inactivity. Let us know if you still have similar problems with Avocode.

[2018-04-20 08:17] #1744 closed

[2018-04-20 08:19] jakubzitny commented on #1985
Hi @dragin96, thanks for reporting this problem. It seems that our rendering engine has issues with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one specif

[2018-04-20 08:19] #1985 closed, assigned to nobody

[2018-04-20 08:24] jakubzitny commented on #1986
Hi @JakeMars, thanks for letting us know. Can you be more specific please? What is not working? The app does not accept `.xd.` file to upload? Or you upload it successfully and you have problems with opening?

I can see in our backend that most of your designs are deleted, but all of them have been successfully processed. That would suggest that you have problems with opening them, right? Did you

[2018-04-20 08:24] jakubzitny commented on #1987
Hi @xuyangqiao, thanks for reporting this. Can you try quitting the app, removing C:\Users\ 28308\.avocode folder and try again, please?

We're tracking a similar problem in #1926, so I will close this issue.

[2018-04-20 08:24] #1987 closed, assigned to nobody

[2018-04-20 08:55] connor-bean commented on #1988
Hey could you tell us more about this? If possible, could you send us a screenshot of what you see in Avocode? And did it happen in both the desktop app and the web app? Or just the desktop app?

[2018-04-20 09:03] YevhenNechepurenko commented on #1988
Hello!
This happened in the desktop app.
After restarting the desktop app, the problem disappeared. Now everything works without errors.

[2018-04-20 09:12] #1988 closed, assigned to nobody

[2018-04-20 09:34] PankovAlxndr opened #1989 "could not download metadata"
---
* **Version**: 2.24.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 263343
---
[code]

[2018-04-20 12:12] JakeMars commented on #1986
Hi @jakubzitny, thank you for the quick reply!

Pardon me for this post, it seems I misunderstood syncing XD when it's saved in Avocode app/webapp.

I tried it again, works perfect!
Sync - app to webapp
Update version - XD file (re-upload)

Thanks!

[2018-04-20 12:16] jakubzitny commented on #1986
Glad to hear that, so we can close this right? 🙂

Do not hesitate to let us know if you have any more issues or something is not clear 😉

[2018-04-20 12:16] #1986 closed, assigned to nobody

[2018-04-20 18:09] ghost opened #1990 "dasdsa"
---
* **Version**: 2.21.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 316691
---
[code]

[2018-04-20 18:12] jakubzitny commented on #1990
Hi @mrHaLid-17, thanks for reporting this. Can you try quitting the app, removing `/home/mrhalid/.avocode` folder and try again, please?

We're tracking a similar problem in #1926, so I will close this issue.

[2018-04-20 18:12] #1990 closed, assigned to nobody

[2018-04-22 17:24] geenino opened #1991 "download error"
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 183871
---
[code]

[2018-04-23 11:37] sokos opened #1992 "Unstoppable Error"
Screenshot http://take.ms/y8n3bT

---
* **Version**: 2.24.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 50887
---
[code]

[2018-04-23 13:47] danielwallem opened #1993 "crash"
---
* **Version**: 2.24.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 272589
---
[code]

[2018-04-23 15:23] whoiskjl opened #1994 "not downloading"
---
* **Version**: 2.24.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 28374
---
[code]

[2018-04-23 19:03] teremok1000 opened #1995 "Download error"
I will have huge problems if you do not decide as soon as possible !!!!

video http://dl4.joxi.net/drive/2018/04/23/0000/0909/29581/81/972929e738.mov

[2018-04-23 19:17] jakubzitny commented on #1995
Hi @teremok1000, I checked these designs on our backend and they seem to be processed normally so I have a feeling there might be a problem when the app is downloading the assets.

Can you please try our web version at [app.avocode.com](http://app.avocode.com) to see if that works for you?

[2018-04-23 19:21] teremok1000 commented on #1995
Hi! Yes it was loaded, but I can not work there! I necessarily need a dextop version !!!!! Can you solve the problem right now?

[2018-04-23 19:25] teremok1000 commented on #1995
I will lose my job if you do not solve the problem! This is very serious for me!

[2018-04-23 19:27] jakubzitny commented on #1995
Glad to hear the web works. I am afraid this will not be easy to solve _right now_.

What's the matter with using the web if the task you're doing is so urgent? Our web version should currently be almost identical to our desktop version, is there anything specific you are miss on the web?

[2018-04-23 19:29] teremok1000 commented on #1995
I've added a bunch of applescript scripts for avocode that speed up my work, now nothing will work

[2018-04-23 19:35] jakubzitny commented on #1995
I see. Would you mind sharing them to us, so we can see if there is another way to speed up whatever you need to do? You can share it to jakubzitny@avocode.com if you want it privately.

[2018-04-23 19:37] teremok1000 commented on #1995
no, unfortunately I can not share them, they were written to order to fix some flaws in the program and speed up my work, I will work through the web version and very much hope that soon you will correct everything, thank you in advance very much forward

[2018-04-23 20:35] Lena9421 opened #1996 "The preview could not be loaded."
---
* **Version**: 2.24.0-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.12.6
* **Browser**: chrome 66.0.3359.117
* **Avocode UID**: 318401
---
[code]

[2018-04-24 03:30] xuyangqiao opened #1997 "error"
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 129478
---
[code]

[2018-04-24 07:12] jakubzitny commented on #1997
Hi @xuyangqiao, thanks for reporting this. Can you try quitting the app, removing C:\Users\ 28308\.avocode folder and try again, please?

We're tracking a similar problem in #1926, so I will close this issue.

[2018-04-24 07:12] #1997 closed, assigned to nobody

[2018-04-24 07:14] jakubzitny commented on #1992
Hi @sokos, thanks for reporting this. Can you please give us some details on when/how often is this happening?

[2018-04-24 07:15] jakubzitny commented on #1993
Hi @danielwallem, thanks for reporting this problem. We're already tracking this bug in #1992 so I will close this thread. However, any further details on when and how often is this happening would help us. Thanks 🙂

[2018-04-24 07:15] #1993 closed, assigned to nobody

[2018-04-24 09:46] vojtatranta commented on #1995
@teremok1000 could you send us at least a private link to that design? Thanks

[2018-04-24 09:53] jakubzitny commented on #1995
We've got it actually..

Next week we're planning to release a major 3.0 version of Avocode with improved design loading. I believe this problem should be fixed there, however, we'll look into it a bit more.

[2018-04-24 09:54] teremok1000 commented on #1995
thank!

[2018-04-24 09:55] vojtatranta commented on #1995
@teremok1000 nevermind, I got it.

It seems OK to us, we reimported it and it looks ok. Have you tried to reimport this file?

[2018-04-24 10:00] teremok1000 commented on #1995
yes, reimport 3 times and error

[2018-04-24 10:01] teremok1000 commented on #1995
and old files that have already been imported adobexd also now do not open

[2018-04-24 10:46] gorbatova opened #1998 "The preview could not be loaded."
---
* **Version**: 2.24.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 65.0.3325.181
* **Avocode UID**: 314150
---
[code]

[2018-04-24 13:15] kino90 opened #1999 "Missing font-family in Styles output"
Hello, i uploaded a sketch in the latest version (I'm on a Win10 machine), but in the styles output I don't see font-family for selected text.
I can only see it by switching from 'code' to the 'eye', but not in the output. That's quite annoying!

In the settings window (where you can drag the properties) 'Font family' is **enabled**, so it shouldn't be a config issue!

---
* **Version**: 2.24.0
*

[2018-04-24 14:10] annaleenevo opened #2000 "SVG export"
I am using Sketch and Avocode.
When I export SVG there is on the Brand of my company a problem on the curve of the "Z" or on the baseline.

Here is a link to the archive with the 3 screen captures taken today. What I see and what I get in SVG... https://we.tl/gomN3mXlid

Hope you can Help

---
* **Version**: 2.24.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darw

[2018-04-25 08:01] jakubzitny commented on #2000
Hi thanks for the report and details, we'll look into this and get back to you 🙂

[2018-04-25 08:06] vojtatranta commented on #1999
@kino90 could you send us a link to that design, so we could take a look?

[2018-04-25 08:27] hxss opened #2001 "Donwload timeout"
I'm trying to download design pages but receives errors or timeouts at every second page.

---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 312611
---
[code]

[2018-04-25 08:42] jakubzitny commented on #2000
Okay, we've added this to our internal list of tasks and we'll try to fix it as soon as possible.

[2018-04-25 13:00] morcegon opened #2002 "Export layer with overlay"
* **Version**: 2.24

* **Sketch plugin version**: 49.0.0

* **Web/Desktop**: Desktop

* **Platform/Browser**: macOS High Sierra 10.13.4

* **Avocode e-mail**: renan@raessolucoes.com.br

When I try to export a layer with overlay effect, the effect was not in exported image.

![screen shot 2018-04-25 at 09 59 32](https://user-images.githubusercontent.com/31614/39247317-69ddc268-486f-11e8-9249-92f25b

[2018-04-26 13:24] rpill opened #2003 "bug"
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 17511
---
[code]

[2018-04-26 13:27] #2003 closed, assigned to nobody

[2018-04-26 17:03] Lena9421 opened #2004 "Error: The preview could not be loaded."
---
* **Version**: 2.24.0-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.12.6
* **Browser**: chrome 66.0.3359.117
* **Avocode UID**: 320760
---
[code]

[2018-04-27 11:19] bogusweb opened #2005 "Designer guides disappear"
* **Version**: Last version

* **Web/Desktop**: Desktop and Web

* **Platform/Browser**: Linux and chrome

Guides disapear and dont work if u changing mode to inspect->comment->inspect.

Bug track:
1. Open PSD file in inspect mode
2. Turn on guides
3. Switch to comment mode
4. Switch to inspect mode
5. Pouf, guides disappear

[2018-04-27 11:53] rihbim opened #2006 "Problem to upload sketch to avocode"
---
* **Version**: 2.22.1
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 207654
---
[code]

[2018-04-27 15:02] bolekkerous commented on #2006
Hey, @rihbim -
from the error description it looks like you don't have enough space on your hard drive, could you please check whether you have enough space and reupload again after that?

[2018-04-27 15:06] bolekkerous commented on #2002
Hey, @morcegon -
this looks like a problem with our old rendering, which you might be using in case you had some problems with WebGL.

Could you also try to export the same image on the web app with Monroe rendering enabled in your App Preferences? I believe it should export it correctly.

https://app.avocode.com/

[2018-04-27 15:07] bolekkerous commented on #2004
Hey,
does this happen regularly, or only with a specific design?

[2018-04-27 15:10] rihbim commented on #2006
yes, it was not enough space on my drive

thanks for answer

2018-04-27 18:02 GMT+03:00 Bolek <notifications@github.com>:

[2018-04-27 15:11] #2006 closed, assigned to nobody

[2018-04-27 18:09] Lena9421 commented on #2004
Hey, it happens if PSD is too heavy. What is the maximum for PSD?
--
Sent from Mail.Ru app for Android Friday, 27 April 2018, 06:07PM +03:00 from Bolek  notifications@github.com :

[2018-04-30 12:06] jahwood opened #2007 "onboarding map is not a function"
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 281688
---
[code]

[2018-04-30 12:07] Tarik-Fanarik opened #2008 "error"
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 223459
---
[code]

[2018-04-30 12:08] dalik opened #2009 "Popup error while using"
Just happened in background while using avocode.

---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 315574
---
[code]

[2018-04-30 12:12] jakubzitny commented on #2007
Hi, thanks for reporting this. It's a bug and we will fix it for the next release.

[2018-04-30 12:15] jakubzitny commented on #2008
Hi @Tarik-Fanarik, thanks for reporting this. We're working on a fix and we're tracking the same problem in #2007 so I'll close this thread.

[2018-04-30 12:15] #2008 closed, assigned to nobody

[2018-04-30 12:16] jakubzitny commented on #2009
Hi @dalik, thanks for reporting this. We're working on a fix and we're tracking the same problem in #2007 so I'll close this thread.

[2018-04-30 12:16] #2009 closed, assigned to nobody

[2018-05-01 17:20] paallaire commented on #1999
@vojtatranta
In Sketch  'Font family' = 'Font postScript Name'

Here an example :

https://i.imgur.com/FQvuv9j.png

Version: 2.24.0
Web/Desktop: Desktop
Platform: windows 10 64

[2018-05-01 23:07] kino90 commented on #1999
@vojtatranta I'm afraid I can not share any work file!

Any other info I could get you?

[2018-05-02 08:40] vojtatranta commented on #1999
@kino90 I just wanted to confirm that it's fixed. We did fixes in this area. I just wanted to confirm them.

If you can't provide the file I cannot be sure that this case is fixed. But in other designs, it already works and we will release fix today.

@paallaire we do not display font-family info in the code when only postscript name is available, because it is quite useless for web development, y

[2018-05-02 13:45] paallaire commented on #1999
@vojtatranta
I find that information is easier to see in "CODE" mode (I almost never copy and paste).

Would it be possible to add an option to have this attribute in the "CODE" mode?

[2018-05-02 14:02] jakubzitny commented on #1984
Hi @mahish, this should be fixed in latest update. Let us know if you still have problems with it 🙂

[2018-05-02 14:02] #1984 closed, assigned to nobody

[2018-05-02 14:03] jakubzitny commented on #2007
Hi @jahwood, this bug is fixed in latest Avocode 2.25.0. Please update and let us know if you have any other issues 😉

[2018-05-02 14:03] #2007 closed, assigned to nobody

[2018-05-02 14:04] jakubzitny commented on #1829
Hi @sarates and @crh225, we've improved design opening/loading time in latest Avocode 2.25.0. Please update and let us know if you have any related problems or ideas for improvements 😉

[2018-05-02 14:04] #1829 closed, assigned to nobody

[2018-05-03 15:43] acidcrash2005 opened #2010 "Eror when open PSD"
---
* **Version**: 2.25.2-web.1
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 64.0.3282.119
* **Avocode UID**: 271035
---
[code]

[2018-05-04 08:07] dragin96 opened #2011 "error"
---
* **Version**: 2.25.2-web.1
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 66.0.3359.139
* **Avocode UID**: 13268
---
[code]

[2018-05-04 09:32] dimastrapchev opened #2012 "App shouldn't quit on clicking close button"
The MacOS version shouldn't quit when pressing the close button at the top left of the window. It should follow usual behavior on MacOS -- hide the app window.

---
* **Version**: 2.25.2
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 274952
---
[code]

[2018-05-04 11:13] bolekkerous commented on #2010
Hey, @acidcrash2005 -
can you reproduce this with a specific design or was it something that happened once randomly and then it didn't again?

If you can reproduce it with a specific design, could you please send us the link to that design or just the design name to team@avocode.com?

Thanks!

[2018-05-04 15:53] Q-ian opened #2013 "Rounded rectangle from Xd format without border-radius property"
* **Version**: 2.25.2

* **Web/Desktop**: web

* **Platform/Browser**: Browser

 qianyi397@gmail.com

Hello, I`ve uploaded several Xd files to the web version. All of the rounded rectangles seems to be all right, but without border-radius property in the styles panel....  fix it, please

[2018-05-04 19:11] petrbrzek commented on #2013
Hi @Q-ian, this issue is going to be fixed in the next release.

[2018-05-07 20:16] iea79 opened #2014 "Load errore"
---
* **Version**: 2.25.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 35230
---
[code]

[2018-05-09 18:04] n0rule5 opened #2015 "Syncing hidden layers/groups in Sketch"
When syncing any Sketch design with hidden layers/groups, making that group visible in Avocode shows the text layers skewed (looks vertically stretched). The problem appears on both desktop and web app.

---
* **Version**: 2.25.2
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 35475
---
[code]

[2018-05-09 19:14] Mytka opened #2016 "error"
---
* **Version**: 2.25.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: null
---
[code]

[2018-05-10 08:19] vojtatranta commented on #2016
It seems you did not have Avocode.app in Applications folder.

Just download it again and put it into te Applications folder. Here's link: https://avocode.com/download

[2018-05-10 08:19] #2016 closed, assigned to nobody

[2018-05-10 14:58] jakubzitny commented on #2013
Hi @Q-ian, this problem should be fixed in latest Avocode 2.26.0, please update and let us know if you have any more problems 😉

[2018-05-10 14:58] #2013 closed, assigned to nobody

[2018-05-11 00:23] AlexandrShah opened #2017 "test"
---
* **Version**: 2.26.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 328940
---
[code]

[2018-05-11 06:26] jakubzitny commented on #2017
Hi @AlexandrShah, thanks for reporting this. We can already see this bug in our tracking system. We'll try to fix it as soon as possible.

[2018-05-11 16:25] agalar opened #2018 "Error"
---
* **Version**: 2.26.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 83673
---
[code]

[2018-05-11 18:41] n0rule5 opened #2019 "Custom image fill missing"
Shapes with a custom image fill don't sync over and become blank/transparent.

---
* **Version**: 2.26.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 35475
---
[code]

[2018-05-12 06:48] weblegko opened #2020 "error"
---
* **Version**: 2.26.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 184596
---
[code]

[2018-05-12 16:40] Stegura opened #2021 "Error"
---
* **Version**: 2.26.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 330484
---
[code]

[2018-05-13 07:55] reznichenko1303 opened #2022 "Error"
---
* **Version**: 2.26.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 311133
---
[code]

[2018-05-13 08:53] jakubzitny commented on #2022
Hi @nikemerik, thanks for reporting this problem. We're already tracking it in #2017 so I'll close the issue. Fixed version will be released early next week.

[2018-05-13 08:53] #2022 closed, assigned to nobody

[2018-05-13 08:54] jakubzitny commented on #2021
Hi @dragin96, thanks for reporting this problem. It seems that our rendering engine has issues with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one specif

[2018-05-13 08:54] #2021 closed, assigned to nobody

[2018-05-13 08:55] jakubzitny commented on #2020
Hi @dimabednyuk, thanks for reporting this problem. We're already tracking it in #2017 so I'll close the issue. Fixed version will be released early next week.

[2018-05-13 08:55] #2020 closed, assigned to nobody

[2018-05-13 08:56] jakubzitny commented on #2020
In the meantime, please use our web version at [app.avocode.com](https://app.avocode.com).

[2018-05-13 08:56] jakubzitny commented on #2022
In the meantime, please use our web version at [app.avocode.com](https://app.avocode.com).

[2018-05-13 08:57] jakubzitny commented on #2019
Hi @n0rule5, thanks for reporting this. This is a problem with designs from Sketch v50. We're preparing a fixed version that will be released early next week and should address all similar problems.

[2018-05-13 09:00] jakubzitny commented on #2010
Hey, @acidcrash2005 -
can you reproduce this with a specific design or was it something that happened once randomly and then it didn't again?

If you can reproduce it with a specific design, could you please send us the link to that design or just the design name to team@avocode.com?

Thanks!

[2018-05-13 09:03] jakubzitny commented on #2011
Duplicate of #1985 and #1875.

[2018-05-13 09:03] #2011 closed, assigned to nobody

[2018-05-13 09:03] jakubzitny commented on #2021
Hi @dragin96, thanks for reporting this problem. It seems that our rendering engine has issues with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one specif

[2018-05-13 09:04] jakubzitny commented on #2014
Hi @iea79, thanks for submitting this. We know about this problem already. However, we'd like to hear more details on this error from you, how often is this happening? When exactly?

I'm closing this with respect to #1677, but please do let us know the details.

[2018-05-13 09:04] #2014 closed, assigned to nobody

[2018-05-13 09:05] jakubzitny commented on #2018
Hi @agalar, thanks for reporting this problem. Is it still happening, or was this just one-time thing? Can you upload to Avocode now?

[2018-05-14 09:51] OdedYaron opened #2023 "error"
---
* **Version**: 2.26.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 82812
---
[code]

[2018-05-14 09:53] jakubzitny commented on #2023
Hi @OdedYaron, thanks for reporting this problem. We're already tracking it in #2017 so I'll close the issue. Fixed version will be released later today.

In the meantime, please use our web version at [app.avocode.com](https://app.avocode.com).

[2018-05-14 09:53] #2023 closed, assigned to nobody

[2018-05-14 10:44] dalik opened #2024 "error"
---
* **Version**: 2.26.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 315574
---
[code]

[2018-05-14 10:57] jakubzitny commented on #2024
Hi @dalik, thanks for reporting this problem. We're already tracking it in #2017 so I'll close the issue. Fixed version will be released later today.

In the meantime, please use our web version at [app.avocode.com](https://app.avocode.com).

[2018-05-14 10:57] #2024 closed, assigned to nobody

[2018-05-14 11:41] jakubzitny commented on #2010
Closing due to inactivity. Let us know if you have any more problems with Avocode, please 😉

[2018-05-14 11:41] #2010 closed, assigned to nobody

[2018-05-14 12:37] jakubzitny commented on #2017
Hi, we've just released Avocode 2.26.1, this problem should be fixed. Please update and let us know if you have any more problems 😉

[2018-05-14 12:37] #2017 closed, assigned to nobody

[2018-05-14 12:38] jakubzitny commented on #2019
Hi, we've just released Avocode 2.26.1, problems related to Sketch v50 should be fixed. Please update and let us know if you have any more problems 😉

[2018-05-14 12:38] #2019 closed, assigned to nobody

[2018-05-14 12:38] jakubzitny commented on #1992
Hi, we've just released Avocode 2.26.1, this problem should be fixed. Please update and let us know if you have any more problems 😉

[2018-05-14 12:38] #1992 closed, assigned to nobody

[2018-05-15 08:14] manar-mk opened #2025 "Error shows up every minute"
---
* **Version**: 2.26.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 330573
---
[code]

[2018-05-15 08:15] manar-mk commented on #2025
http://prntscr.com/ji1ccw

[2018-05-15 08:16] jakubzitny commented on #2025
Hi @manar-mk, thanks for reporting this issue. This was a bug in 2.26.0 version, as already mentioned in #2017. Yesterday, we've released Avocode 2.26.1 with a fix for this bug. Please update and let us know if the problem persists 😉

[2018-05-15 08:16] #2025 closed, assigned to nobody

[2018-05-15 10:09] pavel-alpinweb opened #2026 "errow in avocode"
---
* **Version**: 2.26.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 21020
---
[code]

[2018-05-15 10:21] jakubzitny commented on #2026
Hi @pavel-alpinweb , thanks for letting us know. We already had this problem, we're tracking it in #1567. The problem here is that rendering image data takes a lot of memory.

Would you be willing to share the details about your hardware and OS version? How much memory do you have? Can you please try our web version at [app.avocode.com](https://app.avocode.com) to see if it's better there?

When d

[2018-05-15 10:21] #2026 closed, assigned to nobody

[2018-05-16 06:27] alTach opened #2027 "some problem"
---
* **Version**: 2.24.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 332841
---
[code]

[2018-05-16 07:55] Roman-wst commented on #1975
More freezes when in chrome. But after the last update everything is fine. Sorry for such a long silence. I will keep you informed.
If you need to test write, help Goth.

[2018-05-16 07:57] Roman-wst commented on #1975
In general, I wanted to thank you, for Avocode. Very satisfied!))

[2018-05-16 09:17] bolekkerous commented on #2015
Hey, @n0rule5 -
would you be able to send us any example design with such problematic behavior to team@avocode.com please?

Thanks!

[2018-05-18 08:53] pavel-alpinweb opened #2028 "dont't crush your program please((("
---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 21020
---
[code]

[2018-05-18 21:24] idp001 opened #2029 "After installation, the application runs in a light version"
After installation, the application runs in a light version. Disabling the function Monroe solves the problem partially. How to fix it?
---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: win64
* **Avocode UID**: 320035

[2018-05-19 01:48] PixelT opened #2030 "vscode app 'memory' issues"
Last time I used avocode as app in vscode (https://marketplace.visualstudio.com/items?itemName=avocode.avocode) but I found some issues:

- the code settings are not applied after change (I change from px to rem) -> no effect in code tab after change, values are still in px (in desktop app it works)

- the code settings for each designs are not saved - each time I open avocode -> design in vscode,

[2018-05-21 07:24] yaronshlomo opened #2031 "crash"
---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 276607
---
[code]

[2018-05-21 07:25] yaronshlomo opened #2032 "keep crashing"
---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 276607
---
[code]

[2018-05-21 07:27] yaronshlomo commented on #2032
crashing all the time

[2018-05-21 08:05] jakubzitny commented on #2031
Duplicate of #2032.

[2018-05-21 08:05] #2031 closed, assigned to nobody

[2018-05-21 08:06] jakubzitny commented on #2032
Hi @yaronshlomo, thanks for reporting this. We're aware this is happening sometimes, we're tracking the problem in #1926.

The following should help:
- quit Avocode
- delete `~/.avocode` directory
- open Avocode and login again..

Please let me know if it helped.

[2018-05-21 08:06] #2032 closed, assigned to nobody

[2018-05-21 08:10] jakubzitny commented on #2028
Hi @pavel-alpinweb, thanks for reporting this problem. It seems that our rendering engine has issues with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one

[2018-05-21 08:10] #2028 closed, assigned to nobody

[2018-05-21 08:11] Webdesme opened #2033 "Copy to clipboard"
Hello! Make a copy of the layout name in the clipboard http://www.lavuix.ru/scr/2018-05-21_11-10-22.png. Inside it is realized

[2018-05-21 08:42] bolekkerous commented on #2029
Hey @idp001 -
it's most likely related to some issue with Electron hardware support for specific GPU, which results in WebGL not working properly.

Could you please try out this Avocode experimental build instead? It might solve the problem:

https://upx.cz/5Xj

After you download it, please try to run the build with Monroe rendering ENABLED to see whether it works or not.

Thanks!

[2018-05-21 17:16] Cactusx09 opened #2034 "Cant change font-size from large to small after editing font-size settings for scss styles"
![image](https://user-images.githubusercontent.com/9021479/40320257-b04d8958-5d33-11e8-814c-139904f7659d.png)

---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 110068
---
[code]

[2018-05-22 09:12] jakubzitny commented on #2034
Hi @Cactusx09, thanks for reporting this. This should not be happening, we'll investigate and get back to you.

[2018-05-22 09:35] jakubzitny commented on #2033
Hi @Webdesme, thanks for suggestion. We'll add this to Avocode 3.0, which is currently set to be released next week 😉

[2018-05-22 11:34] jakubzitny commented on #854
Hi @MBoomworks, a list view in project-manager is now available in latest version of Avocode. Please update and let us know what you think 😉

[2018-05-22 11:34] #854 closed

[2018-05-22 11:34] bolekkerous commented on #854
List view was added in Avocode 2.26.3.

Let us know in case you encounter any issues with it!

[2018-05-22 12:50] rodnem opened #2035 "???"
---
* **Version**: 2.24.0
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 120708
---
[code]

[2018-05-22 12:53] jakubzitny commented on #2035
Hi @rodnem, thanks for reporting this. You're using older version of Avocode. Please update to latest `2.26.4` and let us know if it's still happening.

[2018-05-22 12:53] #2035 closed, assigned to nobody

[2018-05-22 12:59] jakubzitny commented on #2018
Hi @agalar, thanks for reporting this problem. Is it still happening, or was this just one-time thing? Can you upload to Avocode now?

[2018-05-22 13:00] jakubzitny commented on #1882
Closing due to inactivity. Please let us know if you still have problems with this.

[2018-05-22 13:00] #1882 closed, assigned to nobody

[2018-05-22 13:01] jakubzitny commented on #1979
This should be fixed, please let us know if it's still happening.

[2018-05-22 13:01] #1979 closed, assigned to nobody

[2018-05-22 13:09] jakubzitny commented on #1973
Hi @lexantus, this should be fixed in latest versions of Avocode, please update and let us know if you have any similar problems 😉

[2018-05-22 13:09] #1973 closed, assigned to nobody

[2018-05-22 13:10] jakubzitny commented on #1991
Hi @geenino, do you have any details on this, please? Is it happening often or just this one time?

[2018-05-22 13:12] jakubzitny commented on #1995
What's the status of this problem @teremok1000, please? We've recently released some improvements/fixes regarding design opening and rendering. Is this issue still occuring?

[2018-05-22 13:13] jakubzitny commented on #1996
Closing with respect to #2004 .

[2018-05-22 13:13] teremok1000 commented on #1995
no all ok!

[2018-05-22 13:14] jakubzitny commented on #1998
Hi @gorbatova, we're aware of this issue, we're tracking it in #2004. It is happening with larger files, usually on windows. Can you please try our desktop version to see if it's happening there as well?

[2018-05-22 13:14] #1998 closed, assigned to nobody

[2018-05-22 13:15] jakubzitny commented on #2027
Hi @Tuqzar, we're aware of this issue, we're tracking it in #2004. It is happening with larger files, usually on windows. Can you please try our web version to see if it's happening there as well? Also, having too many tabs in Avocode might be causing this. How often is this happening to you?

[2018-05-22 13:15] #2027 closed, assigned to nobody

[2018-05-22 13:16] jakubzitny commented on #1995
Thanks for the info, closing then.

[2018-05-22 13:16] #1995 closed, assigned to nobody

[2018-05-22 13:18] #1996 closed, assigned to nobody

[2018-05-22 13:26] jakubzitny commented on #2004
Hi @Lena9421, sorry for late reply. Is this still happening to you, or was it just these two times? Yeah, it's happening with larger files, especially on Windows. Have you tried our desktop app to see if it's happening over there? Max size for uploads is currently at 1.5GB.

[2018-05-22 13:29] jakubzitny commented on #2002
Hey, @morcegon -
this looks like a problem with our old rendering, which you might be using in case you had some problems with WebGL.

Could you also try to export the same image on the web app with Monroe rendering enabled in your App Preferences? I believe it should export it correctly.

https://app.avocode.com/

[2018-05-22 13:30] jakubzitny commented on #2015
Hi @n0rule5, this is a known issue that we're addressing right now. When you upload the Sketch file by Drag&Dropping them over Avocode (instead of syncing via plugin) everything should be OK. We're fixing it just now for the plugin as well and it'll be part of our 3.0 release next week (hopefully).

[2018-05-22 13:34] jakubzitny commented on #2029
Hi @idp001, have you got time to try our experimental build to see if this issue is still happening, please?

[2018-05-22 13:36] jakubzitny commented on #1999
We'll think about this @paallaire. Maybe adding an option to Preferences would be possible for this.

[2018-05-22 13:37] jakubzitny commented on #2001
Hi @hxss, thanks for submitting this, we're aware of it already from #1781. Do you have any more info you can provide? Is it happening a lot or just once?

[2018-05-22 13:37] #2001 closed, assigned to nobody

[2018-05-22 13:42] jakubzitny commented on #2030
Hi @PixelT, thanks a lot for feedback. There are some limitations inside vscode plugin, especially the last one I am afraid we'll not be able to fix soon. We'll have a look at the others.

[2018-05-22 13:51] idp001 commented on #2029
Hello @jakubzitny, in browser works fine, experimental build works a little better, but there are still problems. On the other computer experimental build is working fine. I told Bolek about it in the avocode chat.

[2018-05-22 14:00] jakubzitny commented on #2029
Allright, thanks, got it now. I believe the problem is related to similar rendering issues we track in #1875. I'll close this issue for now, and we'll update you when this is improved. For now, accept our apologies and please use the web version 🙂

[2018-05-22 14:00] #2029 closed, assigned to nobody

[2018-05-22 14:02] jakubzitny commented on #1989
Hi @PankovAlxndr, how often do you have this problem please? Did you try re-uploading the file? Uploading it only by drag&dropping the file over Avocode app could be better. I just tried uploading it like that and opening and everything seems to be working. Please let me know if it works for you.

[2018-05-22 14:02] jakubzitny commented on #1994
Hi @whoiskjl , how often do you have this problem please? Did you try re-uploading the file? Uploading it only by drag&dropping the file over Avocode app could be better. I just tried uploading it like that and opening and everything seems to be working. Please let me know if it works for you.

[2018-05-22 14:57] whoiskjl commented on #1994
I haven't been having this issue. Currently I can't replicate

[2018-05-22 14:58] jakubzitny commented on #1994
Thanks, I'll close this issue then. Let us know if you have any more problems 😉

[2018-05-22 14:58] #1994 closed, assigned to nobody

[2018-05-22 16:49] n0rule5 commented on #2015
Thanks. I'll wait for the fix in the plugin as dragging and dropping the file will create a new "instance" of it. I have many links in specs to different designs and I'd rather not have to update every link manually. 😄

[2018-05-22 20:02] alexkzr opened #2036 "Crash while opening a psd file"
---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 328426
---
[code]

[2018-05-23 08:05] jakubzitny commented on #2015
You can drag+drop on top of Sketch group in Avocode. Or if you want to update only a few / one specific artboard, you can cmd+x and cmd+v the artboard to a new Sketch file and drag+drop it over the Sketch group in Avocode. Artboards with same name should be updated as new revisions. Do that as a temporary solution if you need. Plugin fix is on its way 😉

[2018-05-23 19:59] n0rule5 commented on #2015
Oic, thanks for the tips!

[2018-05-24 05:56] geenino commented on #1991
Hi,
Sorry for late reply. yes, most of the time on few projects on avocode. but i dont know why this is happen.

[2018-05-24 12:46] jakubzitny commented on #2018
Closing due to inactivity, let us know if it's still happening to you, please. 😉

[2018-05-24 12:46] #2018 closed, assigned to nobody

[2018-05-24 12:47] jakubzitny commented on #2002
Closing due to inactivity.

[2018-05-24 12:47] #2002 closed, assigned to nobody

[2018-05-24 12:47] jakubzitny commented on #1989
Hi @PankovAlxndr, how often do you have this problem please? Did you try re-uploading the file? Uploading it only by drag&dropping the file over Avocode app could be better. I just tried uploading it like that and opening and everything seems to be working. Please let me know if it works for you.

[2018-05-24 12:57] connor-bean commented on #1991
Hey can you elaborate on this? What were you doing when this happened?

Are you using a VPN by chance? Or do you have any restrictive firewalls/proxies?

Any additional information you could provide would help us troubleshoot as we are currently unable to reproduce this problem.

[2018-05-24 13:10] geenino commented on #1991
Hi,
i was try to open files on avocode desktop app on mac. its stop on 90% then this error came.
I dont use vpn. i dont have any special firewall. usual highserria 10.13.4 protection.

This problem came only some project when we try to open. if we open other projects are ok. but our designer say, same kind sketch file they upload for all projects. we also dont know, what is the difference.

I cant

[2018-05-24 13:28] KruglovAnatoliy opened #2037 "error"
---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 289922
---
[code]

[2018-05-24 13:36] connor-bean commented on #1991
Thanks for the additional information.

Would it be possible to send us one of these Sketch files (the actual design) that you opened and this error happened?

If so, can you send it to team@avocode.com and mention this Github ticket in the message?

Or, if you can't send us the design, can you let us know the name of the design and the name of the project the design is in?

[2018-05-25 06:40] Webdesme commented on #2033
it's cool) thanks

[2018-05-25 07:44] geenino commented on #1991
HI,
sorry, I cant send design. I will give the details. project name Mofami. Design name 08.1.Mo fami_MESSAGERIE-Connecté.

Thank you.

[2018-05-25 13:44] annaleenevo opened #2038 "Export SVG includes images Base64"
Hello,

I have some issues when exporting SVG from symbols or simple forms, the SVG includes images coded in base64 inside... Which is not the point...
It happened many times.

Thanks for your help

---
* **Version**: 2.26.4
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 302138
---
[code]

[2018-05-25 18:15] qbz commented on #2038
Hello, thanks for your feedback. The result of svg export depends on the type of the layer you are about to export. Vectors/shape layers should be exported as vectors and the base64 image is the result of export of bitmap layers. Can you please provide any example file when exporting vectors results in base64 images?

[2018-05-26 17:44] mentoripro opened #2039 "fghjkl"
---
* **Version**: 2.26.4-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 66.0.3359.181
* **Avocode UID**: 339919
---
[code]

[2018-05-28 22:00] ivanostapiuk opened #2040 "fgghgfhgh"
---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 338600
---
[code]

[2018-05-28 22:26] jakubzitny commented on #2039
Hi @Kuzhimov, we're aware of this issue, we're tracking it in #2004. It is happening with larger files, usually on windows. Can you please try our desktop version to see if it's happening there as well? Also, having too many tabs in Avocode might be causing this. How often is this happening to you?

[2018-05-28 22:26] #2039 closed, assigned to nobody

[2018-05-29 07:57] jakubzitny commented on #1989
Closing due to inactivity. Let us know if you have similar problems 😉

[2018-05-29 07:57] #1989 closed, assigned to nobody

[2018-05-29 07:58] jakubzitny commented on #2040
Hi @vanya2906, thanks for reporting this. We're aware this is happening sometimes, we're tracking the problem in #1926 already.

The following should help:
- quit Avocode
- delete `~/.avocode` directory
- open Avocode and login again..

Please let me know if it helps.

[2018-05-29 07:58] #2040 closed, assigned to nobody

[2018-05-29 08:40] connor-bean commented on #1991
We just successfully uploaded this design on our end and did not have any errors. We tried both the plugin (latest Sketch app and latest Avocode app) as well as the web app drag and drop method. Both succeeded just fine.

However, we will be releasing v3.0 very soon which will include some improvements to the upload process. Once we release 3.0, please update to that version and try uploading the

[2018-05-29 09:39] #1914 closed, assigned to nobody

[2018-05-29 11:26] geenino commented on #1991
Thnak you so much

[2018-05-29 11:26] #1991 closed, assigned to nobody

[2018-05-29 14:38] LetaiefAymen opened #2041 "cannot load design."
---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 54517
---
[code]

[2018-05-29 17:57] svproduction opened #2042 "iu"

[2018-05-31 08:25] yevlnko opened #2043 "some layers failed to load"
There are no pictures in the layout.

---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 156598
---
[code]

[2018-05-31 20:39] Ibochkarev opened #2044 "issue"
---
* **Version**: 2.26.4
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 343277
---
[code]

[2018-06-01 12:12] jakubzitny commented on #1774
This should be fixed in latest releases of Avocode, please re-open if it occurs again.

[2018-06-01 12:12] #1774 closed, assigned to jankuca

[2018-06-04 22:07] nozpheratu opened #2045 "Document wounldn't load"
---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 73288
---
[code]

[2018-06-05 10:02] lastkindness opened #2046 "Error downloading"
---
* **Version**: 2.17.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 344748
---
[code]

[2018-06-05 10:05] connor-bean commented on #2046
Hey @lastkindness it looks like you're running an old version of Avocode. Can you update to our most recent version and try again?

If you cannot auto-update in the app, you can download it from www.avocode.com/download.

Please let us know if you still receive this error after updating your app.

[2018-06-06 04:43] AnatoliyKhaulin opened #2047 "dispatchEvent"
---
* **Version**: 2.22.1
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 340416
---
[code]

[2018-06-06 07:56] connor-bean commented on #2047
Hey @Anatoliy88

Thanks for this report. It looks like you're running an older version of the Avocode app. Can you update to our most recent version and try again?

If you cannot update directly from the app, you can download our latest version from www.avocode.com/download.

Once you update, please let us know if you see this issue again.

[2018-06-06 19:07] #2046 closed, assigned to nobody

[2018-06-06 19:07] #2047 closed, assigned to nobody

[2018-06-07 10:14] nanastya opened #2048 "Error: Could not download metadata"
---
* **Version**: 2.17.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 171942
---
[code]

[2018-06-07 10:59] connor-bean commented on #2048
Hey @nanastya

Thanks for the report. Can you update your app to our latest version? 2.17.2 is quite old.

If you cannot use the automatic update feature in the app, you can download the newest version from here: www.avocode.com/download

Please let us know if you receive this error again once you're running our latest version.

[2018-06-07 11:01] bolekkerous commented on #2045
Hey @nozpheratu - could you try logging out and logging in again in your Avocode app?

Does the problem persist even after you do that?

[2018-06-07 11:02] bolekkerous commented on #2044
Hey @Ibochkarev -
does this happen regularly or did it happen just once?

If it happens regularly, can you reproduce it with a specific design?

[2018-06-07 11:03] bolekkerous commented on #2043
Hey @YevLnko -
would you be to hit us up at team@avocode.com or in the in-app chat with more details?

A screenshot of the app and what exactly you see in it would be helpful.

Thanks and sorry for the inconvenience.

[2018-06-07 11:03] bolekkerous commented on #2042
Hey @svproduction - could you try logging out and logging in again in your Avocode app?

Does the problem persist even after you do that?

[2018-06-07 11:03] bolekkerous commented on #2041
Hey @LetaiefAymen -
did this happen just with one specific design or can you reproduce it regularly with multiple designs?

[2018-06-07 11:04] anjan-raji opened #2049 "issue"
---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 68767
---
[code]

[2018-06-07 11:11] vojtatranta commented on #2049
Hi @anjan-raji ,
this seems like a bug, however we have not encountered it.

Can you reproduce it?

[2018-06-07 11:11] jakubzitny commented on #2049
I expected this to be already fixed in latest release (#1774). It is clearly happening and should not be. Can you please provide more info, where/how did this happen and how often do you see it?

[2018-06-07 11:26] LetaiefAymen commented on #2041
Hey @bolekkerous , It happened with one design, it was happening on web and desktop version, and we had to re-upload the design to make it work again.

[2018-06-07 11:27] bolekkerous commented on #2041
Oh, I see. And after reuploading the design, it works correctly again?

[2018-06-07 12:00] LetaiefAymen commented on #2041
Yes , it worked again.

[2018-06-08 12:38] #2048 closed, assigned to nobody

[2018-06-11 08:54] jakubzitny commented on #1790
Closing due to inactivity.

[2018-06-11 08:54] #1790 closed, assigned to nobody

[2018-06-11 08:58] jakubzitny commented on #1847
This case is handled better in latest versions of Avocode. I'll close this.

[2018-06-11 08:58] #1847 closed, assigned to nobody

[2018-06-11 08:59] jakubzitny commented on #1899
Do you still have problems with installing Avocode @arbuzovan, please?

[2018-06-11 09:00] jakubzitny commented on #1972
Hi @sergeybruh, do you still have problems with PSD processing in Avocode, please?

[2018-06-11 09:02] jakubzitny commented on #1775
Hi @Bryant-24, we've not seen this problem for a while, is it still happening to you, please?

[2018-06-11 09:03] jakubzitny commented on #2044
Hey @Ibochkarev -
does this happen regularly or did it happen just once?

If it happens regularly, can you reproduce it with a specific design?

[2018-06-11 09:05] jakubzitny commented on #2045
Hey @nozpheratu - could you try logging out and logging in again in your Avocode app?

Does the problem persist even after you do that?

[2018-06-11 09:06] jakubzitny commented on #2042
Hey @svproduction - could you try logging out and logging in again in your Avocode app?

Does the problem persist even after you do that?

[2018-06-11 09:06] #2041 closed, assigned to nobody

[2018-06-11 09:07] jakubzitny commented on #2037
Hi @KruglovAnatoliy, sorry for late response. Do you have any details on this, is it happening repeatedly or just with a specific file? Would you be able to send it to us to team@avocode.com?

[2018-06-11 09:07] connor-bean commented on #2043
Hey @YevLnko -
would you be to hit us up at team@avocode.com or in the in-app chat with more details?

A screenshot of the app and what exactly you see in it would be helpful.

Thanks and sorry for the inconvenience.

[2018-06-11 09:08] jakubzitny commented on #2036
Hi @askkozyrev, sorry for late response. When exactly is this happening, please? Do you still have problems with it in latest version of Avocode?

[2018-06-11 11:02] alexkzr commented on #2036
Thanks, this is no longer relevant.

С Уважением,

Александр Козырев

+7977 863 5778

2018-06-11 12:08 GMT+03:00 Jakub Žitný <notifications@github.com>:

[2018-06-11 11:06] jakubzitny commented on #2036
Thanks, don't hesitate to let us know if you have any more issues with Avocode 😉

[2018-06-11 11:06] #2036 closed, assigned to nobody

[2018-06-11 11:53] vojtatranta commented on #1893
This should be fixed and released in `3.0.0`

[2018-06-11 11:53] #1893 closed, assigned to vojtatranta

[2018-06-11 11:54] vojtatranta commented on #2033
This was added in `3.0.0`

[2018-06-11 11:54] #2033 closed, assigned to renekopcem

[2018-06-11 11:57] jakubzitny commented on #2015
This should be fixed in our latest release Avocode 3.0, please update 😉

[2018-06-11 11:57] #2015 closed, assigned to nobody

[2018-06-11 23:01] nozpheratu commented on #2045
Sorry for my late response. Yes, logging out and back in resolved the issue.

[2018-06-11 23:01] #2045 closed, assigned to nobody

[2018-06-12 09:08] syoki opened #2050 "The Korean font is shown as question marks."
like this;

It did not happen in previous versions.

---
* **Version**: 3.0.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 21407
---
[code]

[2018-06-12 09:35] jakubzitny commented on #2050
Hi @syoki, thanks for the report. I can see the problem in your designs, we're investigating the issue with our backend and we'll get back with more info. For now you can use the postscript name from the styles panel.

[2018-06-12 09:43] jakubzitny commented on #2050
There is a problem with us parsing the missing fonts you uploaded. For `NanumBarunGothic` we incorrectly parsed `??????` name. We'll try to fix this as soon as possible.

[2018-06-12 16:35] porterinator opened #2051 "Windows/Firefox too much recursion"
---
* **Version**: 3.0.0-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: firefox 60.0
* **Avocode UID**: 348916
---
[code]

[2018-06-13 08:14] jakubzitny commented on #2051
Hi @porterinator, thanks for reporting this issue. We can see this is occasionally happening on Firefox under Windows. We're not able to reproduce it yet though. Can you please share details on how often / when exactly is this happening?

As a temporary workaround, please switch to Chrome and everything should work correctly. In the meantime, we'll investigate this thoroughly.

[2018-06-13 08:17] jakubzitny commented on #2044
Closing due to inactivity, please let us know if you still have problems 😉

[2018-06-13 08:17] #2044 closed, assigned to nobody

[2018-06-13 08:17] jakubzitny commented on #2043
Closing due to inactivity, please let us know if you still have problems with Avocode 😉

[2018-06-13 08:17] #2043 closed, assigned to nobody

[2018-06-13 08:17] jakubzitny commented on #2042
Closing due to inactivity, please let us know if you still have problems with Avocode 😉

[2018-06-13 08:17] #2042 closed, assigned to nobody

[2018-06-13 08:17] jakubzitny commented on #2038
Hello @annaleenevo, thanks for your feedback. The result of svg export depends on the type of the layer you are about to export. Vectors/shape layers should be exported as vectors and the base64 image is the result of export of bitmap layers. Can you please provide any example file when exporting vectors results in base64 images?

[2018-06-13 08:19] jakubzitny commented on #1972
This should be improved a lot in latest versions of Avocode, please update and let us know if you still have similar problems 😉

[2018-06-13 08:19] #1972 closed, assigned to nobody

[2018-06-13 08:25] connor-bean commented on #2037
Hi @KruglovAnatoliy, sorry for late response. Do you have any details on this, is it happening repeatedly or just with a specific file? Would you be able to send it to us to team@avocode.com?

[2018-06-13 15:29] eikaramba opened #2052 "bug when opening design"
---
* **Version**: 3.0.0-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: firefox 60.0
* **Avocode UID**: 55029
---
[code]

[2018-06-13 15:30] eikaramba commented on #2052
duplicate of #2051 it seems.

[2018-06-13 15:30] #2052 closed, assigned to nobody

[2018-06-14 12:45] sun-runners opened #2053 "Problems with korean texts"
It did not happen in previous version.

We cannot wait too much...

Please update...

email: ceo@idist.ai

You can see my project.

Current Avocode (Bad)

<img width="647" alt="2018-06-14 9 43 40" src="https://user-images.githubusercontent.com/8358038/41412785-0b6196f4-701c-11e8-9f57-3514602d84c9.png">

Previous Avocode (Good)

<img width="789" alt="2018-06-14 9 44 52" src="https://user-images.git

[2018-06-14 13:21] jonytrees opened #2054 "Out of memory at ImageData creation"
---
* **Version**: 3.0.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 344112
---
[code]

[2018-06-14 13:26] jonytrees opened #2055 "Эта хуйня ебучая не работает!"
---
* **Version**: 3.0.0-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 58.0.3029.96
* **Avocode UID**: 344112
---
[code]

[2018-06-14 13:40] bolekkerous commented on #2053
Hello @KimSunWook -
if a font is missing, there should be a warning in the layer panel (and a notification when you open the design) that the fonts are missing and that you would need to add them in order for the design to be rendered correctly.

This is how the notification looks:

<img width="257" alt="screenshot 2018-06-14 15 39 40" src="https://user-images.githubusercontent.com/16084852/414155

[2018-06-14 14:11] bolekkerous commented on #2053
However if you still have any problems with the design after you upload the fonts (perhaps if they are not displayed correctly or it still asks you to upload the fonts again even after you get the notification that the design was re-rendered), please let us know and we'll investigate further.

[2018-06-15 00:42] patmead opened #2056 "Document failed to load."
https://app.avocode.com/revisions/24881571/?design=15495975

---
* **Version**: 3.0.0-web
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: firefox 61.0
* **Avocode UID**: 8605
---
[code]

[2018-06-15 09:07] jakubzitny commented on #2038
Closing due to inactivity. We can reopen if you provide more info on your issue. Base64s are part of SVGs only for bitmap layers (or symbol groups).

[2018-06-15 09:07] jakubzitny commented on #2037
Closing due to inactivity, let us know if you still have problems with this and we'll re-open.

[2018-06-15 09:07] #2037 closed, assigned to nobody

[2018-06-15 09:07] jakubzitny commented on #1899
Closing due to inactivity, let us know if you still have problems with installing please.

[2018-06-15 09:07] #1899 closed, assigned to vojtatranta

[2018-06-15 09:16] jakubzitny commented on #2054
Hi @jonytrees, thanks for reporting this 😉

I can see that you uploaded several files over the last few days and I am not sure which one do you have a problem with. If you open very large designs on a computer with not enough memory, you can see this particular error, especially on Windows. We're already tracking the same problem it in #1567.

I tried uploading your last file and everything works

[2018-06-15 09:16] jakubzitny commented on #2055
Same problem as #2054, on the web.

[2018-06-15 09:16] #2055 closed, assigned to nobody

[2018-06-15 09:25] jakubzitny commented on #2050
Closing with respect to #2053.

[2018-06-15 09:25] #2050 closed, assigned to nobody

[2018-06-15 09:27] jakubzitny commented on #2056
Hi @dampkwab, thanks for reporting this. We can see the design processing failed on our backend, we're investigating further and we'll try to fix it asap.

[2018-06-15 09:28] jakubzitny commented on #2004
Hi @Lena9421, is this still happening to you, or was it just these two times? Yeah, it's happening with larger files, especially on Windows. Have you tried our desktop app to see if it's happening over there? Max size for uploads is currently at 1.5GB.

[2018-06-15 09:29] jakubzitny commented on #1729
Hi @guilhermemarconi, this should be fixed in latest versions of avocode. Let us know if you still have similar (or any other) problems 😉

[2018-06-15 09:29] #1729 closed

[2018-06-15 11:33] jakubzitny commented on #2056
Allright, we've found the problem. Your design should be already inspectable now, everything should be OK. We've also located a bug and we'll fix it so this won't happen in the future.

Please let us know if you have any other problems with Avocode 😉

[2018-06-15 11:33] #2056 closed, assigned to nobody

[2018-06-15 12:52] vojtatranta commented on #2005
hi @bogusweb ,
I just trie to reproduce it, but no luck.

It seems it works already.

[2018-06-15 12:52] #2005 closed, assigned to nobody

[2018-06-16 15:35] jankuca commented on #2005
Oh, I was fixing this about a month ago. The bug fix should be included in the last couple of releases.

[2018-06-18 00:13] nuggettyone opened #2057 "All text is offset +1xy (pixels) when imported from Adobe XD"
![avocode___text_offset_issues](https://user-images.githubusercontent.com/31147118/41513592-261d54ba-72e2-11e8-9597-67ee3be16371.gif)

* **Version**: 3.0.0 Windows

* **Web/Desktop**: Desktop

* **Platform/Browser**: Windows 10 Pro, Version 1709, OS Build 16299.492

* **Description**
All text is offset by +1xy (pixels) when imported from Adobe XD (Windows, Version 8.0.22.11, Creative Cloud Sync 3.

[2018-06-18 07:40] jakubzitny commented on #2057
Hi @nuggettyone, thanks a lot for precise report. We'll look into this and get back to you.

[2018-06-18 07:42] jakubzitny commented on #2054
Hi @jonytrees, thanks again for reporting this 😉

I can see that you uploaded several files over the last few days and I am not sure which one do you have a problem with. If you open very large designs on a computer with not enough memory, you can see this particular error, especially on Windows. We're already tracking the same problem it in #1567.

I tried uploading your last file and everything

[2018-06-18 10:43] kuanyshevaidos opened #2058 "TypeError when creating slice"
---
* **Version**: 3.0.0-web
* **Web/Desktop**: Web
* **Platform**: macosx 10.12.6
* **Browser**: chrome 66.0.3359.181
* **Avocode UID**: 354474
---
[code]

[2018-06-18 10:53] jakubzitny commented on #2058
Hi @kuanyshevaidos, thanks for reporting this. It's a bug, we'll fix is as soon as possible. Is it happening with all slices or just in this one specific case?

[2018-06-18 11:40] astelit opened #2059 "please, you need a scroll bar on the X axis"
please, you need a scroll bar on the X axis

---
* **Version**: 3.0.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 349660
---
[code]

[2018-06-18 12:59] sarluk88 opened #2060 "Page not loaded"
---
* **Version**: 3.0.0-web
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.4
* **Browser**: chrome 67.0.3396.87
* **Avocode UID**: null
---
[code]

[2018-06-18 16:02] KruglovAnatoliy commented on #2037
Thanks. There is no problem anymore.

2018-06-15 13:07 GMT+04:00 Jakub Žitný <notifications@github.com>:

[2018-06-19 14:34] MikeBloise77 opened #2061 "Failed to load"
---
* **Version**: 3.0.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 340103
---
[code]

[2018-06-21 06:57] annaleenevo commented on #2038
Sorry for the late answer. Here is the sketch file and some results of exporting with avocode in SVG
[Archive.zip](https://github.com/avocode/avocode/files/2122485/Archive.zip)

[2018-06-21 11:42] iryna-kyryllova opened #2062 "VebGL has crashed"
---
* **Version**: 3.1.0-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 67.0.3396.87
* **Avocode UID**: 356961
---
[code]

[2018-06-21 17:46] qbz commented on #2038
Hello, thanks for your answer. I just tried your document on app.avocode.com and the result (when selecting `takesnapshot-camera` symbol instance) of SVG export is the following:
[code]

As you can see, there are no any bitmaps, there are only `<path>` elements with vectors. Maybe you just have to update your Avocode version. Feel free to post any feedback, I will try to help.

[2018-06-21 20:46] niafreu opened #2063 "Avocode App gets stuck when hiding or showing elements of a PSD"
Hi,
The app freezes at random intervals when hiding or showing elements of a PSD...
Commands and shortcuts (like CTRL+W) still work. I just can't use the view anymore.
But I can still use shortcuts or the menu on top.

If I try to select elements of the page, I will be selecting Styles on the right panel instead. I can also select them with CTRL+A.
![image](https://user-images.githubusercontent.co

[2018-06-22 12:34] jakubzitny commented on #2063
Hi @niafreu, thanks a lot for the report 👍  If it's just one specific layer, we'd really like to debug this further. Can you send it to us at team@avocode.com? Please, reference this GH issue and also give us the layer name.

Thanks a lot 😉

[2018-06-22 13:38] niafreu commented on #2063
Perfect, it's been sent!

Thank you and good luck!

[2018-06-25 11:04] igormorozov opened #2064 "Artboard cut off on preview"
It will be great if I can see full artboard preview on thumbnail page. Right now for example if my artboard has wide width I can see only right side of artboard.

Preview: https://cl.ly/0f130J2E3W2y
Full view: https://cl.ly/1Z3O1E3t1x0T

---
* **Version**: 3.0.0
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 316360
---
[code]

[2018-06-25 11:27] vojtatranta commented on #2061
Would you send us link a to this design? Thanks!

[2018-06-25 11:27] vojtatranta commented on #2060
Would you send use a link to this design?

[2018-06-25 11:28] vojtatranta commented on #2060
If the design is too large it happens that preview loading fails. In this case a refresh shoul make it work, because preview is generated in the background.

[2018-06-25 11:30] #1623 closed

[2018-06-25 14:57] 465media opened #2065 "Failed to open."
---
* **Version**: 2.25.2
* **Sketch plugin version**: 49.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 12524
---
[code]

[2018-06-25 19:19] yodeladywho opened #2066 "Eternal Crashing with latest update"
I cannot open the desktop version with the latest update. It gets to the preview screen, doesn't load any previews and then crashes. I have downloaded the latest version directly from the site as well, same issues. All MacOS/Software is up to date.

---
* **Version**: 3.1.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]

[2018-06-25 21:11] petrbrzek commented on #2066
I'm sorry for the trouble. You can try manually remove `.avocode` folder. It's located in your home directory. It'll remove the local application state. That also means you will lose some local settings like theme or font-size.
Let us know if it's working after that.

[2018-06-25 21:12] petrbrzek commented on #2065
Please update to the latest version of the app.

[2018-06-25 21:12] #2065 closed, assigned to nobody

[2018-06-25 21:13] petrbrzek commented on #2051
Ping @porterinator

[2018-06-25 22:36] yodeladywho commented on #2066
nope:/ not sure what's up - we are 3/4 for computers in the office. 3 out of four not working I mean.

I deleted the .avocode folder, removed any traces of the program, emptied my trash, rebooted and then reinstalled. Still the same issue. I get to the log in screen now, try to interact and it just crashes.

[2018-06-26 06:56] petrbrzek commented on #2066
@yodeladywho can you launch the app from a terminal like this `open -a /path-to-avocode/Avocode.app  --args -- --dev-tools`. It should launch the app with dev tools. Can you send us back what is inside the console?

[2018-06-26 08:35] Pavel311 opened #2067 "All select dropdowns are absolutely black on linux"
![screenshot_20180626_112920](https://user-images.githubusercontent.com/12411987/41899348-ea8320a2-7934-11e8-9aff-03839a2390b9.png)

Bug appears only in desktop app on Linux. Tested on Linux Mint 18.3 KDE and Linux Mint 18.2 Cinnamon. Both computers has AMD graphics cards with default GPU drivers, if it matters.

---
* **Version**: 3.1.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode

[2018-06-26 09:03] DenisStetsenko opened #2068 "App constantly crashes"
---
* **Version**: 3.1.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
---

Each time I open Avocode it crashes. I tried to restart my mac and reinstall the app, but nothing helps.

Any advice would be appreciated!

[2018-06-26 09:06] bolekkerous commented on #2068
Hey @DenisStetsenko,
we're just trying to figure out the problem.

Would you be able to specify which version of MacOS are you using?

[2018-06-26 09:07] jakubzitny commented on #2068
I believe this is the same problem as in #2066. Can you please try running the app via this command from Terminal
[code]

an send us the screenshot of the console? (Also exact version of macOS and your processor would help.)

[2018-06-26 09:07] renekopcem commented on #2067
Please, could you try Avocode on the web (app.avocode.com) or could you try run app with these commands https://github.com/avocode/avocode/issues/1158#issuecomment-315116735? It looks like issue with gpu driver.

[2018-06-26 09:09] DenisStetsenko commented on #2068
@bolekkerous ,

sure , I'm on 10.13.5 macOS High Sierra

@jakubzitny ,

http://take.ms/WRIri

[2018-06-26 09:10] DenisStetsenko commented on #2068
@jakubzitny , let me know if it helped or if I can do something else to help you discover an issue.

[2018-06-26 09:32] vojtatranta commented on #2068
@DenisStetsenko there's nothing strange in the logs.

But we have one idea what it might have caused. Would you try this build, please? https://upx.cz/5Zn

Please, tell us whether it works or not. Thanks!

[2018-06-26 09:44] DenisStetsenko commented on #2068
@vojtatranta , works just fine. No crashes at all.

[2018-06-26 10:00] vojtatranta commented on #2068
@DenisStetsenko great! Thanks for trying it!

We will release a fixed version tomorrow.

[2018-06-26 11:36] vojtatranta commented on #2068
@DenisStetsenko and one other question.

Could you send us how to crash looked like? We wonder whether crashed code in the application or the whole application process.

[2018-06-26 11:40] DenisStetsenko commented on #2068
@vojtatranta , I don't know how to replicate it now, since it works fine now.
Basically, after I launched an app - it becomes unresponsive, then a white screen appears with a popup to post feedback into GitHub / Quit / Relaunch.
That's all.

[2018-06-26 11:41] vojtatranta commented on #2068
@DenisStetsenko I see, did it looked like this? https://downloads.intercomcdn.com/i/o/64707712/72b3e05ea1cfa3b0224d4914/image.png

[2018-06-26 11:41] DenisStetsenko commented on #2068
@vojtatranta , exactly!

[2018-06-26 11:45] vojtatranta commented on #2068
Aha, so the whole app crashed.

Thank you, we know where the problem is.

The built I sent you cannot be auto-updated, you have to use fixed stable version once we release it tomorrow.

[2018-06-26 11:46] DenisStetsenko commented on #2068
@vojtatranta , sure, looking forward. Glad to help!

[2018-06-26 13:49] Pavlo-Minkievych opened #2069 "Error_XD"
---
* **Version**: 3.1.0
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 68767
---
[code]

[2018-06-26 14:40] yodeladywho commented on #2066
I grabbed what I could -
[code]

[2018-06-26 15:02] santirisco opened #2070 "Crashing project open"
Avocode is crashing on project open all times

Yes, I tryd to update and there are'nt available updates

---
* **Version**: 3.1.0
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-06-26 15:07] vojtatranta commented on #2070
Hi,
this is a known issue. We apologize for these troubles and we will release a fix tomorrow.

Meanwhile, you can visit avocode.com/download and there is version 3.0.0 which should work just OK.

[2018-06-26 16:24] Pavel311 commented on #2067
I think it's amd driver specific issue. May be that's because of old gpus HD7790 and HD7660D. Also I tested desktop app with nvidia gtx1060 gpu, it works fine.

In web app issue doesn't appear.

--ignore-gpu-blacklist command helped:) Thanks!

[2018-06-26 18:13] yodeladywho commented on #2066
build from #2068 seems to have worked for me as well.

[2018-06-27 14:02] vojtatranta commented on #2068
@DenisStetsenko we released a fixed version: https://avocode.com/download

[2018-06-27 14:02] #2068 closed, assigned to nobody

[2018-06-27 14:27] DenisStetsenko commented on #2068
@vojtatranta seems to be working fine. thanks for letting me know!

[2018-06-28 05:25] bfulop opened #2071 "Avocode can't open Photoshop file since this week"
Hello,

I have this huge, very complicated Photoshop file with many hundreds of layers:
_link removed_

I used to be (last week) able to open it with the web app in Chrome, Firefox, Safari and the desktop app (v. 3.0).

Right now, the only client that can open this file is Safari. All the other browsers and the desktop app stall at about 50% into the loading and the CPU keeps running at almost 100

[2018-06-28 08:09] jakubzitny commented on #2049
This should (really) be fixed in latest release of Avocode, please re-open if it occurs again.

[2018-06-28 08:09] #2049 closed, assigned to nobody

[2018-06-28 08:12] jakubzitny commented on #2066
We released `3.1.1` with the same fix as in the build above, it should work properly. Closing for now.

[2018-06-28 08:12] #2066 closed, assigned to nobody

[2018-06-28 08:13] #2067 closed, assigned to nobody

[2018-06-28 08:13] jakubzitny commented on #2070
This is fixed in Avocode 3.1.1.

[2018-06-28 08:13] #2070 closed, assigned to nobody

[2018-06-28 08:14] jakubzitny commented on #2051
Closing due to inactivity, please re-open if you have more info for us 😉

[2018-06-28 08:14] #2051 closed, assigned to nobody

[2018-06-28 08:15] jakubzitny commented on #2061
Hi @MikeBloise77, would you send us link a to this design? Thanks!

[2018-06-28 08:16] jakubzitny commented on #2060
Hi @sarluk88, do you have any details on this problem for us? Can you send us the link? Did it occur more than one time (after you refreshed)? Did you try using our desktop version or a different browser, please?

[2018-06-28 08:18] jakubzitny commented on #2069
Hi @Pavlo-Minkievych, thanks for reporting this. We've seen this a few times in our logs already but we can't reproduce it at all. Can you please share more info on that? I believe it happened when syncing a design from XD, right? Was Avocode already open when you synced from XD? Can you reproduce this all the time or is it random? Or did it happen only this one time?

Thanks a lot.

[2018-06-28 08:21] jakubzitny commented on #2064
Hi @igormorozov, thanks for suggesting this. We will think about changing the behaviour, however, it would also mean drawbacks in other cases.

You can use a `space` key to display a "quick-look" preview of a design without the need to open it. Do you know about it? Would that help in your case?

[2018-06-28 08:24] jakubzitny commented on #2071
Hi @bfulop, thanks for reporting this, we'll investigate the issue here and get back.

[2018-06-28 11:59] bfulop commented on #2071
Thanks!

I tried opening the same file with a virtual PC from Paperspace.com and it worked! (Chrome Canary)
It takes a long time, but finally it does open.

My daily machine is a 2015 Macbook (not the "pro" but with Core M CPU) maybe it's not powerful enough? I didn't have this problem though one week ago...

(edit: it's much hotter this week than the last and maybe my Macbook is throttling the CP

[2018-06-28 17:01] justMoritz opened #2072 "Searching from main screen"
---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 77015
---
[code]

[2018-06-29 09:01] bfulop commented on #2071
I have tried again this morning and now the same Macbook, same configuration could open the file!

I had to wait for a couple of minutes but finally it did succeed. My totally unscientific theory is that my Macbook was already running too hot last time I tried opening this file and since it doesn't have any fans and active cooling at all (nor our office! 😅), the CPU was throttled way down. So even

[2018-06-29 09:01] #2071 closed, assigned to nobody

[2018-06-29 09:15] jakubzitny commented on #2071
Hi, thanks lot for thorough details. We've tested the file and had no problems with it. These kind of problems are usually connected to the cpu and memory resources, not just cpu actually. Our rendering engine uses certain amount of memory when displaying designs, and also our app (Electron) takes something. If there is a lot of other apps running (like Slack, Skype, Spotify, lot of Chrome tabs) a

[2018-06-29 09:17] jakubzitny commented on #2072
Hi @justMoritz, thanks for reporting this problem. You have old version of Avocode, please update. Also, this kind of error is usually solved by logging out and in again.

Let us know if you have any more problems 😉

[2018-06-29 09:17] #2072 closed, assigned to nobody

[2018-06-29 09:18] jakubzitny commented on #2061
Closing due to inactivity, please let us know if you have more info / more problems 😉

[2018-06-29 09:18] #2061 closed, assigned to nobody

[2018-06-29 09:18] jakubzitny commented on #2060
Closing due to inactivity, please let us know if you have more info / more problems 😉

[2018-06-29 09:18] #2060 closed, assigned to nobody

[2018-06-29 09:27] bfulop commented on #2071
Yes in fact I do notice the performance improvements!

Toggling a layer visibility used to take around 5-7 seconds now it's around 1 second.💯 So all these improvements you're making are welcome and much appreciated by those who have to work with these monstrous Photoshop files and underpowered machines!

For this reason I prefer to use  Chrome Canary to take advantage of the JavaScript engine impr

[2018-06-29 15:24] benkopf20 opened #2073 "figma frame failed to load"
I selected a frame filled with text objects.
I exported to Avocode
Avocode ran in browser, and I added it to an existing project just as a test
Double-clicked on frame and error reported "failed to load"

---
* **Version**: 3.1.1-web
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.5
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 52097
---
[code]

[2018-06-29 15:46] benkopf20 opened #2074 "Figma updates fail to load"
I just keep updating a specific Figma frame and I can't view the versions in Avocode for some reason "Document Failed to Load" error

---
* **Version**: 3.1.1-web
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.5
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 52097
---
[code]

[2018-07-02 09:33] jakubzitny commented on #2064
Hi @igormorozov, thanks for suggesting this. We will think about changing the behaviour, however, it would also mean drawbacks in other cases.

You can use a space key to display a "quick-look" preview of a design without the need to open it. Do you know about it? Would that help in your case?

[2018-07-02 09:34] jakubzitny commented on #2069
Hi @Pavlo-Minkievych, thanks for reporting this. We've seen this a few times in our logs already but we can't reproduce it at all. Can you please share more info on that? I believe it happened when syncing a design from XD, right? Was Avocode already open when you synced from XD? Can you reproduce this all the time or is it random? Or did it happen only this one time?

Thanks a lot.

[2018-07-02 09:44] jakubzitny commented on #2073
Hi @benkopf20, thanks for reporting this issue. I can see your synced Figma design and I see a problem with one of the frames (the last sync from Figma). However, all other calls seem to work, how is it on your end thought? Can you open any of frames in Avocode?

We had a connection problem with Figma API so the our requests were failing. Can you retry syncing the frames from Figma once again, ple

[2018-07-02 09:44] jakubzitny commented on #2074
Closing with respect to #2073.

[2018-07-02 09:44] #2074 closed, assigned to nobody

[2018-07-02 11:12] sun-runners commented on #2053
it is not working still now....

[2018-07-02 11:13] sun-runners commented on #2053
Why this is not working since new update??

Jeplin is working well as previous version of avocode.

Why korean text is breaking??

[2018-07-02 11:14] sun-runners commented on #2053
I also upload korean font but not working.

Did you test with korean text???

[2018-07-02 13:12] bolekkerous commented on #2053
Hey @KimSunWook -
this problem should now be resolved, just try to reupload the design and it should work correctly.

Unfortunately the font naming conventions do not always work correctly with Korean fonts, so if you stumble upon any similar issue in the future, first try to upload the fonts into Avocode (.ttf or .otf), and if that does not work, contact us so we can investigate what exactly is t

[2018-07-02 13:12] #2053 closed, assigned to nobody

[2018-07-03 03:58] seancy opened #2075 ""Change code settings of" can't work, It's in App preference panel"
---
* **Version**: 3.1.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 320487
---
[code]

[2018-07-03 08:23] jakubzitny commented on #2075
Hi @seancy, thanks for letting us know. However, could you be more specific, please? What exactly are you trying to do and does not work?

[2018-07-03 08:25] jakubzitny commented on #2064
I'll close this thread due to inactivity. We'll keep the existing behaviour for now, please use our "quick look" option by pressing `space` in project manager for now 😉

[2018-07-03 08:25] #2064 closed, assigned to nobody

[2018-07-03 08:26] jakubzitny commented on #2038
Any follow-up ^ @annaleenevo, please?

[2018-07-04 08:01] pavel-alpinweb opened #2076 "Avocode break again..."
---
* **Version**: 3.1.1
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-07-04 09:09] jankuca commented on #2076
Do you have any details regarding the problems you are having?

[2018-07-04 11:57] pavel-alpinweb commented on #2076
When i open big file, avocode or restarted or close04.07.2018, 15:09, "Jan Kuča" <notifications@github.com>:Do you have any details regarding the problems you are having?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-04 13:41] jakubzitny commented on #2076
I believe this is Electron crash caused by using too much of cpu/mem resources. We see this occasionally happening on Windows.

Can you please specify what kind of PC do you have, CPU and amount of RAM, please @pavel-alpinweb? If this keeps happening, can you please try using our web version at https://app.avocode.com to see if it's more stable for you?

[2018-07-04 13:44] SmirnovW opened #2077 "This error appeared every time when a browser tab is activated!"
And it happens twice...

---
* **Version**: 3.1.1-web
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 64.0.3282.119
* **Avocode UID**: 169219
---
[code]

[2018-07-04 13:46] jakubzitny commented on #2077
Hi @SmirnovW, this looks like a problem with [DataLayer Checker](https://chrome.google.com/webstore/detail/datalayer-checker/ffljdddodmkedhkcjhpmdajhjdbkogke) plugin in Chrome. Can you try to disable it and check if it's still happening?

[2018-07-04 13:47] jakubzitny commented on #2075
Hi @seancy, thanks for letting us know. However, could you be more specific, please? What exactly are you trying to do and does not work?

[2018-07-04 13:47] jakubzitny commented on #2073
Hi @benkopf20, thanks for reporting this issue. I can see your synced Figma design and I see a problem with one of the frames (the last sync from Figma). However, all other calls seem to work, how is it on your end thought? Can you open any of frames in Avocode?

We had a connection problem with Figma API so the our requests were failing. Can you retry syncing the frames from Figma once again, ple

[2018-07-04 13:57] SmirnovW commented on #2077
@jakubzitny Oh thank you, god! You have saved my day! Please close this issue.

[2018-07-05 10:36] jkerdiles commented on #1963
Same error happens to me on 3.0.0 version.

[2018-07-05 12:47] ghost opened #2078 "Document failed to load"
---
* **Version**: 3.1.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 355296
---
[code]

[2018-07-05 16:26] connor-bean commented on #2078
Hey @amlagoda could you try logging out and logging in again in your Avocode app?

Does the problem persist even after you do that?

[2018-07-05 16:27] connor-bean commented on #1775
Hi @Bryant-24, we've not seen this problem for a while, is it still happening to you, please?

[2018-07-06 11:37] bharat00k opened #2079 "Not opening on iMac"
---
* **Version**: 3.1.1-web
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.5
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 367612
---
[code]

[2018-07-06 14:40] lucas-conde opened #2080 "Every time I switch to the Avocode tab this happens"
---
* **Version**: 3.1.1-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 68607
---
[code]

[2018-07-07 13:39] velihankara opened #2081 "Error"
---
* **Version**: 3.1.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 304671
---
[code]

[2018-07-09 08:05] jakubzitny commented on #2081
Hi @velihankara, thanks for reporting this. We're aware this is happening sometimes, we're tracking the problem in #1926 already.

The following should help:

- quit Avocode
- delete `C:\Users\Erhan\.avocode` directory
- open Avocode and login again..

Please let me know if it helps.

[2018-07-09 08:05] #2081 closed, assigned to nobody

[2018-07-09 08:06] jakubzitny commented on #2080
Hi @lucas-conde, this looks like a problem with [DataLayer Checker](https://chrome.google.com/webstore/detail/datalayer-checker/ffljdddodmkedhkcjhpmdajhjdbkogke) plugin in Chrome. We've already seen it in #2077, so disabling the plugin should help, let us know if it doesn't please.

[2018-07-09 08:06] #2080 closed, assigned to nobody

[2018-07-09 08:06] #2077 closed, assigned to nobody

[2018-07-09 08:08] jakubzitny commented on #2073
Closing due to inactivity. Please, let us know if you have more info. We're also preparing some improvements for Figma integration for next version of Avocode, so stay tuned 😉

[2018-07-09 08:08] #2073 closed, assigned to nobody

[2018-07-09 08:09] jakubzitny commented on #2075
Closing due to inactivity, please lt us know if you have more info on this.

[2018-07-09 08:09] #2075 closed, assigned to nobody

[2018-07-09 08:09] jakubzitny commented on #2078
Hey @amlagoda could you try logging out and logging in again in your Avocode app?

Does the problem persist even after you do that?

[2018-07-09 08:12] jakubzitny commented on #2038
Closing due to inactivity, please let us know if you have a follow up on the comment from @qbz above 😉

[2018-07-09 08:12] #2038 closed, assigned to nobody

[2018-07-09 08:12] jakubzitny commented on #2079
Hi @bharat00k, can you please give us the design that you're trying to open so we can investigate the problem? Also, is this happening only for this one design or also for others?

[2018-07-09 09:12] dbstructure opened #2082 "Text is offset when imported from Sketch"
Avocode: version 3.1.1
Sketch: version 50.0
Desktop
Platform
eleonora@designbystructure.com

See attached the problem I am having when I import my Sketch design to Avocode. Thanks!

![screen shot 2018-07-06 at 17 03 04](https://user-images.githubusercontent.com/40896497/42441595-79451a5e-8360-11e8-9d71-fbf1c2b4972e.png)
![screen shot 2018-07-06 at 17 03 23](https://user-images.githubusercontent.co

[2018-07-09 09:30] ghost commented on #2078
Hey @connor-bean @jakubzitny ,  I'm not getting this error anymore, thanks

[2018-07-09 10:45] bolekkerous commented on #2082
Hey @dbstructure -
thanks for the report. Could you please send us the problematic design either at team@avocode.com or via the in-app chat so we can take a closer look at the issue?

[2018-07-09 11:58] #2078 closed, assigned to nobody

[2018-07-09 13:18] dbstructure commented on #2082
Hi,

thanks for coming back to me. Really appreciated it!

When I try to import my sketch design to Avocode the text goes off. Please see attached screenshots of my design compared to avocode ones in order to better understand the problem.

Thanks,
Eleonora Persio.
Digital Designer.

T. +44 (0)20 7247 2788
E. eleonora <mailto:eleonora@designbystructure.com>@designbystructure.com <mailto:mina@desig

[2018-07-09 13:23] jakubzitny commented on #2082
We need the actual Sketch design or a share link to the one you uploaded to Avocode @dbstructure.

[2018-07-09 13:25] dbstructure commented on #2082
See below Invision link

 Link: https://invis.io/6HMRQ0JBECD#/301311153_Homepage <https://invis.io/6HMRQ0JBECD#/301311153_Homepage>

Thanks,
Eleonora Persio.
Digital Designer.

T. +44 (0)20 7247 2788
E. eleonora <mailto:eleonora@designbystructure.com>@designbystructure.com <mailto:mina@designbystructure.com>
W. designbystructure.com <http://designbystructure.com/>

Design by Structure Ltd.
2nd Flo

[2018-07-09 13:33] MeatCrash opened #2083 "Your Site not work in Russia."
Web Version

I want to help Your company.  We have a war against Telegram. Because of this, Your site and many others are not available to Russian citizens. I'll tell you where you can write To your resource unlocked. Write me an email meatcrash@bk.ru and I will help you solve your problems.

[2018-07-09 13:48] #2083 closed, assigned to nobody

[2018-07-09 14:43] smiley-cz opened #2084 "Error while uploading"
---
* **Version**: 3.1.1
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 355458
---
[code]

[2018-07-09 14:50] jakubzitny commented on #2084
Hi @smiley-cz, thanks for reporting this from #2069. We already know about this and we're working on a fix — we hope to have it ready soon.

Do you have any details on it? How often do you see this problem? What kind of design have you been uploading and when exactly did it happen, please?

[2018-07-09 14:50] #2084 closed, assigned to nobody

[2018-07-09 18:57] holandaeric opened #2085 "Problem naming convention exporting to android"
* **Version**: 3.1.1

* **Web/Desktop**: Web and desktop

* **Platform/Browser**: Windows

* **Avocode e-mail**: ehv@cesar.org.br

I am using a naming convention for assets like "ic_home", but when I am exporting it (in web and desktop) is changing to "ic-home". This kind of naming "-" is not supported by android, so I have to renaming one by one before export.

* **For next version**: Would be ve

[2018-07-09 21:09] jakubzitny commented on #2085
Hi @holandaeric, thanks a lot for these comments. We definitely have to change the underscore to dash behaviour. As for the second request, we already know about it and we're planning to support it, however for now we've had more urgent features to address. Please vote for the feature on [our UserVoice](https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/33166837-export-images-t

[2018-07-10 11:03] anjan-raji commented on #2049
Thank you 👍

[2018-07-10 11:17] jakubzitny commented on #2079
Hi @bharat00k, can you please give us the design that you're trying to open so we can investigate the problem? Also, is this happening only for this one design or also for others?

[2018-07-11 05:45] bharat00k commented on #2079
@jakubzitny please find attached. @
[On-Boarding.pdf](https://github.com/avocode/avocode/files/2183116/On-Boarding.pdf)

Unable to open .psb file

[2018-07-11 05:49] bharat00k commented on #2079
@jakubzitny  Unable to give .psb file due to big file.

[2018-07-11 09:19] jakubzitny commented on #2079
The pdf is not enough. Try uploading .psb to http://upx.cz, please. Or just share me the Avocode public  link.

[2018-07-11 11:03] blockchaintexno opened #2086 "Problem in exporting the design"
---
* **Version**: 3.2.0
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 369070
---
[code]

[2018-07-11 14:47] hminkova opened #2087 "Choosing sass option - crash error"
---
* **Version**: 3.2.0
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-07-12 13:07] vojtatranta commented on #2087
Hi @hminkova ,
does it still happen? All the time you try it?

[2018-07-12 13:08] vojtatranta commented on #2086
Hi @Djamshid ,
we know about this and we are preparing a fix for the next release.

[2018-07-12 14:06] dbstructure commented on #2082
Hi there,

I am wondering if you got my emails with the sketch design and any news about the issue I am having?

Thanks in advance,
Eleonora Persio.
Digital Designer.

T. +44 (0)20 7247 2788
E. eleonora <mailto:eleonora@designbystructure.com>@designbystructure.com <mailto:mina@designbystructure.com>
W. designbystructure.com <http://designbystructure.com/>

Design by Structure Ltd.
2nd Floor 89 Gre

[2018-07-12 15:16] Bronsonmr opened #2088 "I can't export"
hello I have the last version and I can't export the images, last time somebody told me that I had to disable the Monroe rendering check box, but it's not enough.

---
* **Version**: 3.2.0
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 350735
---
[code]

[2018-07-12 15:23] bolekkerous commented on #2088
Hey @Bronsonmr - is it a Figma design you're trying to inspect by any chance?

[2018-07-12 16:01] jakubzitny commented on #2082
We did get the emails, without the attachments, and InVision link doesn't really help us. But we've already found your design in our backend and we're looking into the problem. Thanks for the follow up, we'll let you know once this is resolved.

[2018-07-13 09:02] jakubzitny commented on #2086
Duplicate of #2069.

[2018-07-13 09:02] #2086 closed, assigned to comatory

[2018-07-13 10:46] akai2211 opened #2089 "Sass"
Settings "App prefereances->Code->Change code setings of:" are not saved.
---
* **Version**: 3.2.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 372106
---
[code]

[2018-07-14 17:27] bogusweb commented on #2005
@jankuca bug doesnt exist in 3.2.0 version :)!

[2018-07-16 21:32] n0rule5 opened #2090 "Fonts appear to be stretched in Avocode"
All existing Sketch files that are sync'd again using the latest version will show fonts vertically stretched.

Sketch:
![image](https://user-images.githubusercontent.com/1464003/42784436-3b30d812-891d-11e8-88ae-3f0d57d3e71e.png)
Avocode:
![image](https://user-images.githubusercontent.com/1464003/42784446-42f83540-891d-11e8-9f87-c3e43e247394.png)

Sketch:
![image](https://user-images.githubusercon

[2018-07-17 08:31] jakubzitny commented on #2090
Thanks for the report @n0rule5. We are trying to match the original designs as close as possible, however, since Avocode 3 we use completely different text rendering infrastructure to what Sketch uses and discrepancies like this are to be expected.

We'll keep this issue open so we can keep progress of the improvements.

[2018-07-17 08:33] jakubzitny commented on #2088
Hi @Bronsonmr, any details on this? Can you send us a link to your design?

[2018-07-17 08:34] jakubzitny commented on #2079
ping @bharat00k

[2018-07-17 08:34] jakubzitny commented on #2087
Hi @hminkova ,
does it still happen? All the time you try it?

Have you had a chance to try our web version at [app.avocode.com](https://app.avocode.com)?

[2018-07-17 08:35] jakubzitny commented on #2089
Hi @g-laptev, thanks for reporting this problem. We'll look into it and get back to you.

[2018-07-17 08:47] bolekkerous commented on #2089
Hey @g-laptev ,
a question - what exactly were you trying to change in the app preferences? Did you want to set up a default code language for your project?

If so, it is not the right place to change that - App Preferences only modify how the language template behaves ONCE it is already set to be used in the project.

If you want to change the default language of a project, just open your project

[2018-07-17 08:53] bolekkerous commented on #2090
Just to clarify a little bit more @n0rule5 - all the dimensions, code, colors, etc. should be correct and same as in Sketch (or other design tool you're using with Avocode) even though the fonts look a little stretched. This problem is more of a technicality in our rendering engine but should not affect the data you get from Avocode and how the actual site/app will look. We'll still try to improve

[2018-07-17 13:59] n0rule5 commented on #2090
Hey guys, thanks for the clarifications.

I follow what you're saying, but when I create a brand new sketch file to test this issue, the vertical stretching doesn't happen. I can see that the rendering/antialiasing is not 100% the same, but they're not stretched out; the issue seems to only happen for existing files, which is probably over a hundred spread across my team and we're getting surprise

[2018-07-17 15:08] yodeladywho commented on #2082
I also have this issue - your support team chalked it up to scaling issues with symbols in the design but it continues to happen even without scaling. Button text suddenly jumps left instead of centre etc.

This is a rather large bug and one that continues to affect my design team on our handoffs to development. Any help would be appreciated.

[2018-07-18 21:06] carlos-reynosa opened #2091 "Long Preview"
---
* **Version**: 3.3.0-beta
* **Web/Desktop**: Web
* **Platform**: macosx 10.12.6
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 193178
---
[code]

[2018-07-19 09:52] jakubzitny commented on #2091
Hi @carlos-reynosa, thanks for reporting this. Can you please give us the design that you're trying to open so we can investigate the problem? Also, is this happening only for this one design or also for others?

Similar problems might be happening with larger designs, try downloading our Desktop app and see if the same is happening there.

[2018-07-19 09:53] jakubzitny commented on #2079
These problems might be happening with larger designs when system does not have enough resources. Please download our desktop app and try if it's also happening in there.

For now I'll close this issue with respect to #2004.

[2018-07-19 09:53] #2079 closed, assigned to nobody

[2018-07-20 06:52] insomniaOk opened #2092 "Extra paddings around elements"
* **Version**: 3.2.0

* **Web/Desktop**: desktop

* **Platform/Browser**: Linux

 nda@nodasoft.com

In last 2 or 3 Avocode versions in psd files on hover you can see extra paddings around elements which make css sizes (width, hight) incorrect. Also it is impossible to measure the sizes between elements. You can see that on the screenshot http://joxi.ru/krDqvaeSEgoxDm

[2018-07-20 09:38] jankuca commented on #2092
Hello, we were addressing this issue recently.

We invalidated cached renderings for you. Can you please try reopening the designs to see if it works correctly now? If not, reuploading the designs should fix the issue for you.

Please, let us know in any case if this is of any help.

[2018-07-20 10:01] insomniaOk commented on #2092
Thank you! It works

[2018-07-20 10:22] #2092 closed, assigned to nobody

[2018-07-20 11:42] shahbazonly opened #2093 "Error come"
---
* **Version**: 3.3.0-beta
* **Web/Desktop**: Web
* **Platform**: windows 6.2
* **Browser**: firefox 61.0
* **Avocode UID**: 245329
---
[code]

[2018-07-20 11:58] jankuca commented on #2093
Hello, thank you for reporting this issue.

Can you tell us more about what you were doing? What were you trying to open exactly when this popped up? Were you able to open the design later?

[2018-07-20 12:38] jakubzitny commented on #2091
Hi @carlos-reynosa, thanks for reporting this. Can you please give us the design that you're trying to open so we can investigate the problem? Also, is this happening only for this one design or also for others?

Similar problems might be happening with larger designs, try downloading our Desktop app and see if the same is happening there.

[2018-07-20 12:38] jakubzitny commented on #2089
Hey @g-laptev ,
a question - what exactly were you trying to change in the app preferences? Did you want to set up a default code language for your project?

If so, it is not the right place to change that - App Preferences only modify how the language template behaves ONCE it is already set to be used in the project.

If you want to change the default language of a project, just open your project

[2018-07-20 12:38] jakubzitny commented on #2088
Closing due to inactivity, please let us know if you have more info on this.

[2018-07-20 12:38] #2088 closed, assigned to nobody

[2018-07-20 12:39] jakubzitny commented on #2087
Closing due to inactivity, please let us know if you have more info on this.

[2018-07-20 12:39] #2087 closed, assigned to nobody

[2018-07-20 13:40] akai2211 commented on #2089
css to sass by default in all projects

[2018-07-20 13:45] bolekkerous commented on #2089
I see, well it is not possible to set up a default language for all projects at the moment, but it is possible to set it up on the project level while you are creating the project (or in your project settings).

The language settings in App Preferences are specifying how the language behaves, but it does not set it to default for the whole app.

I'll close this issue then since it's not a bug, and

[2018-07-20 13:45] #2089 closed, assigned to nobody

[2018-07-20 13:54] akai2211 commented on #2089
So I can change px to rem and hex to rgba by default and css to sass does not.
Somewhere here, logic is lost.

[2018-07-20 14:00] bolekkerous commented on #2089
You can change CSS to Sass for Web platform projects and then any new project created with Web will be set as default to Sass as seen on the screenshot below. Does that solve what you were trying to do?

<img width="535" alt="screenshot 2018-07-20 15 59 29" src="https://user-images.githubusercontent.com/16084852/43006452-0c2f66ca-8c36-11e8-9c64-c45c5618611e.png">

[2018-07-20 14:02] akai2211 commented on #2089
yes, thanks.

[2018-07-23 12:39] ghost opened #2094 "Graphic symbols 'exploding'"
* **Version**: 3.2.0

50.0.0

* **Web/Desktop**: Both

* **Platform/Browser**: Mac, Chrome

 deb@fuelmultimedia.ca

When loading files from Sketch to Avocode, vector images and symbols are 'exploding' or moving from their intended location.  This has happened on multiple projects and Sketch files.  Below is a screenshot:

<img width="827" alt="screen shot 2018-07-23 at 8 37 28 am" src="https://use

[2018-07-23 12:42] jakubzitny commented on #2094
Hi @Fueldeborah, thanks for the report. We'll look into it and get back to you as soon as we have some info.

[2018-07-23 12:44] qbz commented on #2094
Hello, thanks for the report, can I ask you for any example file to investigate it? Thanks in advance.

[2018-07-23 13:41] ghost commented on #2094
https://drive.google.com/file/d/1Pqa3t_BzwefZzwJGHOvgm5cUbRpkOjzw/view?usp=sharing

[2018-07-23 13:45] jakubzitny commented on #2094
Thanks @Fueldeborah, we're looking into it.

[2018-07-24 08:21] pashawol opened #2095 "Добрый день"
---
* **Version**: 3.2.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 140453
---
[code]

[2018-07-24 08:22] jakubzitny commented on #2054
Closing with respect to #1567.

[2018-07-24 08:22] #2054 closed, assigned to nobody

[2018-07-24 08:23] jakubzitny commented on #2095
Hi @pashawol , thanks for letting us know. We already know about this problem, we're tracking it in #1567. The problem here is that rendering image data takes a lot of memory. Can you please also share us the design you're having problems with? Is it only one design or multiple?

Would you be willing to share the details about your hardware and OS version? How much memory do you have? Can you plea

[2018-07-24 08:23] #2095 closed, assigned to nobody

[2018-07-24 09:08] velihankara opened #2096 "error"
---
* **Version**: 3.2.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 304671
---
[code]

[2018-07-24 09:12] jakubzitny commented on #2096
Hi @velihankara, thanks for reporting this again, we saw your problem in #2081 already. We're aware this is happening sometimes, we're tracking the problem in #1926.

The following should help, did you try it before?

- quit Avocode
- delete `C:\Users\Erhan\.avocode` directory
- open Avocode and login again..

Please let me know if it helps, if not we can figure out something else. Also, how often

[2018-07-24 09:21] velihankara opened #2097 "a"
---
* **Version**: 3.2.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 304671
---
[code]

[2018-07-24 09:22] velihankara opened #2098 "1"
---
* **Version**: 3.2.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 304671
---
[code]

[2018-07-24 09:22] velihankara opened #2099 "2"
---
* **Version**: 3.2.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 304671
---
[code]

[2018-07-24 09:24] jakubzitny commented on #2098
Closing with respect to #2096.

[2018-07-24 09:24] #2098 closed, assigned to nobody

[2018-07-24 09:26] jakubzitny commented on #2099
Closing with respect to #2096.

[2018-07-24 09:26] #2099 closed, assigned to nobody

[2018-07-24 09:26] jakubzitny commented on #2097
Closing with respect to #2096.

[2018-07-24 09:26] #2097 closed, assigned to nobody

[2018-07-25 11:50] jakubzitny commented on #2085
Hi @holandaeric, the naming conventions are improved in latest version of Avocode `3.3.1`. For the future we'll be also adding the scaled Android drawables to appropriate folders.

I'll close this issue for now, we can track the drawables on [our UserVoice](https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/33166837-export-images-to-approprite-folder).

[2018-07-25 11:50] #2085 closed, assigned to jakubzitny

[2018-07-25 11:51] jakubzitny commented on #2091
Closing due to inactivity, please let us know if you still have problems with Avocode and more info for us 😉

[2018-07-25 11:51] #2091 closed, assigned to nobody

[2018-07-25 11:51] jakubzitny commented on #2093
Hello, thank you for reporting this issue.

Can you tell us more about what you were doing? What were you trying to open exactly when this popped up? Were you able to open the design later?

[2018-07-25 11:51] jakubzitny commented on #2096
I'll close this issue as we're already tracking it in #1926.

[2018-07-25 11:51] #2096 closed, assigned to nobody

[2018-07-25 11:52] jakubzitny commented on #2069
Hi @Pavlo-Minkievych, @smiley-cz and @Djamshid, this problem is now fixed in latest Avocode `3.3.1`, please update and let us know if you still have this or any other problems 😉

[2018-07-25 11:52] #2069 closed, assigned to jakubzitny

[2018-07-25 11:54] jakubzitny commented on #1663
Hi @cupok, is this still happening to you in latest versions, please?

[2018-07-25 11:55] jakubzitny commented on #1646
We've actually improved this in v3 already. We're only showing a badge in top right corner to keep you updated about the update. Please let us know if it's still bugging you 😉

[2018-07-25 11:55] #1646 closed

[2018-07-25 11:58] cupok commented on #1663
Hey, @jakubzitny, nope. I haven't noticed that for a long time.

[2018-07-25 11:58] jakubzitny commented on #991
Closing with respect to #551. We're preparing a new plugin for next Avocode release. Stay tuned 😉

[2018-07-25 11:58] #991 closed

[2018-07-25 11:59] jakubzitny commented on #1663
Thanks for the info, I'll close the issue then. Let us know if you have any other problems 😉

[2018-07-25 11:59] #1663 closed

[2018-07-25 12:02] qbz commented on #2094
Fixed. You will see changes as soon as we publish it on production.

[2018-07-25 14:54] ghost commented on #2094
Do you have a timeline on when this will be published?

[2018-07-25 15:03] qbz commented on #2094
I guess it will be released in approx. 2 weeks.

[2018-07-25 16:23] MaximRoganov opened #2100 "Problems with open xd files at windows10"
---
* **Version**: 3.3.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 96546
---
[code]

[2018-07-25 16:25] drfateev opened #2101 "Can't log in"
Can't log in

My version 3.3.1

---
* **Version**: 3.3.1
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 141772
---
[code]

[2018-07-25 16:41] bolekkerous commented on #2101
Hello there,
it looks like we there are some server issues on our end which are causing this, we're currently investigating it. I'll let you know once we know more.

Best regards,
Bolek, Avocode Team

[2018-07-25 16:43] nozpheratu commented on #2101
I can't login either.

[2018-07-25 16:45] petrbrzek commented on #2101
You can see the status of resolving these server issues here https://avocode.statuspage.io/

[2018-07-25 17:01] petrbrzek commented on #2101
Problem resolved. It should work just fine.

[2018-07-25 17:01] #2101 closed, assigned to nobody

[2018-07-26 08:09] jakubzitny commented on #2100
Hi @MaksimRoganov, thanks for reporting this. We had some server issues yesterday at the time you posted this, it is likely related to the outage. Can you please re-try opening the XD designs and let us know if the problems still persist?

Thank you.

[2018-07-26 08:11] jakubzitny commented on #2093
Closing due to inactivity. Please let us know if you still have these problems and can provide more info so we can investigate 🙂

[2018-07-26 08:11] #2093 closed, assigned to nobody

[2018-07-26 12:03] MaximRoganov commented on #2100
Hi @jakubzitny, today i had tried to open xd file. All work correctly

[2018-07-26 12:03] #2100 closed, assigned to nobody

[2018-07-26 12:07] jakubzitny commented on #2100
Thanks for the info. Don't hesitate to let us know if you have any other problems in the future 😉

[2018-07-27 06:11] vipii opened #2102 "Document failed to load."
---
* **Version**: 3.1.1
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 262345
---
[code]

[2018-07-27 06:49] vipii commented on #2102
Just updated to 3.3.1, file opens correctly now.

[2018-07-27 07:38] #2102 closed, assigned to nobody

[2018-07-27 08:47] bolekkerous commented on #2059
Hey @astelit ,
have you tried using the scroll button on your mouse while pressing SHIFT? It should scroll in the horizontal direction.

[2018-07-30 10:10] mldk-tech opened #2103 "Failed to execute 'shaderSource'"
---
* **Version**: 3.3.1-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 380818
---
[code]

[2018-07-30 10:50] jakubzitny commented on #2059
Hey @astelit ,
have you tried using the scroll button on your mouse while pressing SHIFT? It should scroll in the horizontal direction.

[2018-07-30 10:51] jakubzitny commented on #2103
Hi @DavidKohav, thanks for reporting this problem. It seems that our rendering engine has issues with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one spec

[2018-07-30 10:51] #2103 closed, assigned to nobody

[2018-07-30 10:51] jakubzitny commented on #2062
Hi @keira-yes, thanks for reporting this problem. It seems that our rendering engine has issues with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one speci

[2018-07-30 10:51] #2062 closed, assigned to nobody

[2018-07-30 11:26] mldk-tech commented on #2103
Is it when you're opening a design or when exporting something?
:: opening a design
Does it happen to all designs or only with one specific design?
:: one specific design.

[2018-07-30 11:27] jakubzitny commented on #2103
Can you please share the design with us @DavidKohav? Either the public/private link you can copy in project manager, or you can send the file to team@avocode.com.

[2018-07-30 11:38] mldk-tech commented on #2103
https://app.avocode.com/projects/641555

[2018-07-30 12:20] connor-bean commented on #2103
Hey,
this may mean that your GPU does not work well together with Electron (framework which our desktop app is built on). We are already working on an improvement that should probably resolve this issue, however it will take a while.

So in the meanwhile, I would suggest using the web app at https://app.avocode.com/ for exporting images.

Alternatively if you disable the Monroe engine in the deskt

[2018-07-30 12:23] connor-bean commented on #2103
It's possible that it's a webGL problem. Does your Chrome browser have WebGL enabled? You can test it here: https://get.webgl.org/

Can you also try in Firefox? Please let us know the result!

[2018-07-30 12:45] jakubzitny commented on #2103
We've looked at it and it works for us correctly. This issue is very likely to be caused by not enough resources on Windows. If the desktop Avocode app has similar problems then the only recommendation is to tell the designer to split the design to multiple smaller files.

You can also use our [Photoshop to Sketch](https://avocode.com/convert-psd-to-sketch) converter to convert the design to Sketc

[2018-07-30 21:24] Eugene-im opened #2104 "error"
---
* **Version**: 2.26.4
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 380188
---
[code]

[2018-07-31 08:05] jakubzitny commented on #2104
Hi @Eugene-im, thanks for reporting this error. First of all, you're using old version of the app, so please update. Which Linux distro are you using? Also, this error is usually connected to corrupted `~/.avocode` directory. So please quit Avocode, remove `~/.avocode` and relaunch. After that it should work correctly. If it doesn't please let us know.

[2018-07-31 08:05] #2104 closed, assigned to nobody

[2018-07-31 08:06] jakubzitny commented on #2059
Closing due to inactivity, please let us know if you have any more info for us 😉

[2018-07-31 08:06] #2059 closed, assigned to nobody

[2018-07-31 19:18] iryna-kyryllova commented on #2062
Hi! My English is not so good, so sorry for my mistakes :) This always
happenes when I try to open hidden layers (I press on "eye" to show hidden
layer), so it crashed right away. It happens to all designes, not with one.

2018-07-30 13:51 GMT+03:00 Jakub Žitný <notifications@github.com>:

[2018-07-31 23:16] StasZnaydyonov opened #2105 "the program does not start"
---
* **Version**: 3.2.0
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-08-01 07:50] SergeyGlushakov opened #2106 "start error linux mint"
---
* **Version**: 3.3.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 121399
---
[code]

[2018-08-01 10:42] jakubzitny commented on #2062
Thanks a lot for the answer 😉

Did you have time to check our desktop app to see if the problems happens there as well?

Also, I have another tip that might help. Go to `App Preferences` in your avatars dropdown,  try disabling Monroe rendering engine and please let us know if it helps.

![screenshot 2018-08-01 at 12 40 37](https://user-images.githubusercontent.com/3315662/43517258-5482c09c-9588-1

[2018-08-01 11:02] jakubzitny commented on #2106
Hi @SergeyGlushakov, thanks for reporting this. Have you been using Avocode before `3.3.1`? Did this start happening just now or also before? Can you try deleting `~/.avocode` and trying to start again?

[2018-08-01 11:04] jakubzitny commented on #2105
Hi @StasZnaydyonov, thanks for reporting this. When did this start happening? And when exactly during the app start do you get this error? How did you install Avocode?

Can you try our web app at [http://app.avocode.com](app.avocode.com) to see if that works for you?

[2018-08-01 15:02] yarikgoldvarg opened #2107 "Crush"
---
* **Version**: 3.3.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]

[2018-08-01 15:45] jakubzitny commented on #2107
Hi @StasZnaydyonov, thanks for reporting this. We've seen similar app crash in #2105 but we're not able to reproduce it. When did this start happening? And when exactly during the app start do you get this error?

Can you try our web app at http://app.avocode.com to see if that works for you for now?

[2018-08-01 16:03] jakubzitny commented on #1293
Subfolders are already implemented in Avocode v3.

[2018-08-01 16:03] #1293 closed

[2018-08-02 09:13] TiloNN opened #2108 "Exporting is limited in lite version: What does it mean?"
When I try to export images, then the export button is inactive and a tooltip tells me:
Exporting is limited in lite version.

![2018-08-02 11_10_46-greenshot](https://user-images.githubusercontent.com/12526638/43574602-ef19e042-9644-11e8-9104-c80b315a3cb2.png)

What does it mean?
Google has no answer.
Complete new installation did not help.

I tried the web app -> it works.
I tried my credentials

[2018-08-02 09:23] jankuca commented on #2108
Hello,

you most likely have the **Monroe rendering engine** turned off in app settings. Monroe engine is our state of the art rendering engine which draws designs. **When Monroe is disabled, we are unable to render individual layers for Adobe Xd files** which is why exporting is disabled. We call this limited mode the "Lite" mode.

Layers from Photoshop and Sketch files can still be exported with

[2018-08-02 10:07] TiloNN commented on #2108
I did not deactivate the Monroe rendering engine.
![2018-08-02 11_52_43-greenshot](https://user-images.githubusercontent.com/12526638/43576980-e2b699de-964a-11e8-93bd-dc495fdd105a.png)

I'm not working with Xd files, but try to export images from sketch designs.

I'm using a system with two graphic cards inside and now I assigned the 3D card to avocode.
![2018-08-02 11_55_19-greenshot](https://use

[2018-08-02 10:34] isalcedo opened #2109 "Crashing on Linux."
I'm using the latest version of avocode on Archlinux.

From two versions ago always when I run Avocode directly it crash giving me the option to send and issue, restart or quit.

If I quit and next try to run it directly again, the crash happen, only if I chose to restart Avocode run without crash but I lost my login. I'm forced to login again.

This is kinda tedious.
---
* **Version**: 3.3.2
* **

[2018-08-02 10:36] jankuca commented on #2108
Is there any message popping up when you open the design?

To me, it sounds as if the app is unable to render the design due to resource limitation. How much RAM do you have?

[2018-08-02 10:41] jakubzitny commented on #2105
Hi again @StasZnaydyonov, can you please try using this beta build to see if the problems go away? https://we.tl/zBDDAwCmdQ

We're trying to find the root cause of this behaviour but we're not really able to reproduce it properly. The build should definitely help, we'll be happy if you use it and give us a feedback.

[2018-08-02 10:45] jakubzitny commented on #2106
Hi @SergeyGlushakov, thanks for reporting this. Have you been using Avocode before 3.3.1? Did this start happening just now or also before? Can you try deleting ~/.avocode and trying to start again?

[2018-08-02 10:47] jakubzitny commented on #2109
Hi, thanks a lot for this report. We're already aware of this problem and we're trying to find the root cause of this behaviour but we're not really able to reproduce it properly.

Can you please try using this beta build of Avocode to see if the problems go away?
-> https://we.tl/R64ZldyRqh

The build should definitely help, we'll be happy if you use it and give us a feedback.

[2018-08-02 10:47] jakubzitny commented on #2107
Hi again @yarikgoldvarg, can you please try using this beta build to see if the problems go away? https://we.tl/R64ZldyRqh

We're trying to find the root cause of this behaviour but we're not really able to reproduce it properly. The build should definitely help, we'll be happy if you use it and give us a feedback.

[2018-08-02 10:52] TiloNN commented on #2108
No popping message.
Is there a kind of log I can take a look inside?

It is an old dual core with 8GB RAM:
![2018-08-02 12_48_02-greenshot](https://user-images.githubusercontent.com/12526638/43579447-6693c8ce-9652-11e8-882e-9d3c18f7d28b.png)

[2018-08-02 11:06] WiseEagle opened #2110 "today crash"
---
* **Version**: 3.3.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 313317
---
[code]

[2018-08-02 11:07] jakubzitny commented on #2110
Hi @WiseEagle, thanks for the report. We're already tracking this in #1867 so I am going to close this.

Is this happening to all designs you're trying to open and all the time?

Can you please try our web app at [app.avocode.com](https://app.avocode.com) to see if the same problem occurs?

[2018-08-02 11:08] #2110 closed, assigned to nobody

[2018-08-02 11:19] jakubzitny commented on #2108
Thanks for the info @TiloNN, we investigated these problems and it seems that the problem is specific to your design(s). It's probably a bug on our side and it should work for you properly. We're searching for the root cause of the problems and we'll get back to you asap.

[2018-08-02 11:24] WiseEagle commented on #2110
i open avocode on two devices. Maybe it's a problem. because I'm doing the preparation for the project and see all needed pages for work.

[2018-08-02 11:27] jakubzitny commented on #2110
Do you mean you tried to open two instances of Avocode? Or do you have two separate machines you're using with Avocode at the same time?

Actually, this problem can happen if you have too many tabs/designs open at the same time in Avocode for a long time and you're system does not have a lot of memory (e.g. 8GB). Could this be your case?

[2018-08-02 11:38] WiseEagle commented on #2110
Yes of course. It's my problem i have 4gb ram on my notebook. where i prepare project. Ok i change my station on PC. Good luck! And thanx.

[2018-08-02 11:39] jakubzitny commented on #2110
Maybe try having only one design open in Avocode at the same time, possibly the design should be as small as possible and then it should be usable. Thanks for the info, let us know if you need anything else 😉

[2018-08-02 13:33] jankuca commented on #2108
Ok, we think that your issue is caused by your GPU being blacklisted for WebGL use. The blacklist will eventually be updated when Avocode starts using a newer version of [Electron](https://electronjs.org).

You can try disabling this blacklist manually by starting the app with the `--ignore-gpu-blacklist` option. It is, however, possible that the app will not work correctly with this disabled – yo

[2018-08-02 14:37] TiloNN commented on #2108
Indeed.
Seems to be the problem.
Unfortunately it is not helping me much.
I can export, but the result is awful.

![2018-08-02 16_30_09-greenshot](https://user-images.githubusercontent.com/12526638/43590650-cb1ba43c-9671-11e8-8bb2-bcd972cee4a4.png)
![3-layers](https://user-images.githubusercontent.com/12526638/43590712-eefb3bb0-9671-11e8-85cf-7b2794beb245.png)

I .. have to work on a other machine

[2018-08-02 14:37] #2108 closed, assigned to nobody

[2018-08-02 14:44] jankuca commented on #2108
I'm glad that we at least tracked down what the issue was. We will try our best to update the internals so that this does not happen.

You can optionally try disabling the Monroe engine for now. Since your designs are from Sketch, they are inspectable even with the engine being turned off. There might be minor differences in rendering (effects, blending modes, complex shapes, …) and some layers mi

[2018-08-02 15:20] TiloNN commented on #2108
That was a good idea.
I disabled the Monroe engine and the results are much better.
But not as good as with a working Monroe engine, right?
So .. it is still better to use a device that support this engine.

[2018-08-02 15:25] jankuca commented on #2108
Yes, like I said, there are minor differences in the rendering. Monroe renders designs very precisely and supports advanced features in designs whereas the legacy exporter has problems with clipping masks combined with blending modes or strokes, some shapes get rendered slightly incorrectly and measures might not be as good.

[2018-08-02 17:08] iryna-kyryllova commented on #2062
Hello! So I try to use Avocode at home and it works very good, don't
crashed. So I have this problem only at my work computer. Maybe it's a
problem with internet or our software. Anyway thank you so much for this
magic program! :)

2018-08-01 13:42 GMT+03:00 Jakub Žitný <notifications@github.com>:

[2018-08-03 15:40] isalcedo commented on #2109
@jakubzitny Hey, sorry for the **strong** text on "This is kinda tedious.", Was not my intention. I don't know also why that text is on bold, I didn't activated it. D:

[2018-08-03 15:41] jakubzitny commented on #2109
No problem 😉 it's because of the line below it. Did you have a chance to try out the other build I shared?

[2018-08-03 15:43] isalcedo commented on #2109
@jakubzitny yeah, at this moment. Bugs keeps happening. Is because the recent electron update in Archlinux?

[2018-08-03 15:47] jakubzitny commented on #2109
I see, okay, thanks a lot for trying. We had a hypothesis that this is related to one other bug, that we're already fixing right now, but it's not.

What electron update in Arch do you mean?

We already heard about similar behaviour from at least one other Linux user in Avocode Community Slack channel. We'll be trying to fix the problem, but we are not able to reproduce the bug on our Linux machin

[2018-08-03 15:51] isalcedo commented on #2109
I actually don't know. My electron version in Archlinux is v2.0.5. I said that because Archlinux is Rolling Release, you know, some times the updates break things.

[2018-08-03 15:54] jakubzitny commented on #2109
But we're bundling builtin Electron in Avocode. Do you think you actually get the Arch's Electron when launching Avocode? Can you check it please?

- press `alt` and go to `Help -> Troubleshooting -> Open Dev Tools` menu
- type `process.versions` and enter

and send us the output, please.

[2018-08-03 15:55] jakubzitny commented on #2109
And please, do it for both the official release and this one I shared above.

[2018-08-03 16:07] isalcedo commented on #2109
`Object {http_parser: "2.7.0", node: "7.9.0", v8: "5.8.283.38", uv: "1.11.0", zlib: "1.2.11"…}ares: "1.10.1-DEV"atom-shell: "1.7.5"chrome: "58.0.3029.110"electron: "1.7.5"http_parser: "2.7.0"modules: "54"node: "7.9.0"openssl: "1.0.2k"uv: "1.11.0"v8: "5.8.283.38"zlib: "1.2.11"Symbol(util.inspect.custom): (depth) => {…}arguments: (...)caller: (...)length: 1name: ""__proto__: function ()[[FunctionLoc

[2018-08-03 16:08] jakubzitny commented on #2109
Yeah, it's not using Arch's electron. Thanks a lot, we'll be trying to investigate this further. 🙂

[2018-08-03 17:39] isalcedo commented on #2109
Whay about the other warnings?

[2018-08-03 18:03] jakubzitny commented on #2109
That's just saying there is a problem with `~/.avocode` which is also related to logging out thing. But it doesn't say us a lot more.

[2018-08-06 08:52] jakubzitny commented on #2106
Closing due to inactivity. Please try deleting `~/.avocode` or let us know if you have any more info.

[2018-08-06 08:52] #2106 closed, assigned to nobody

[2018-08-06 08:53] jakubzitny commented on #2107
Closing with respect to #2105. Let's continue the discussion over there.

[2018-08-06 08:53] #2107 closed, assigned to nobody

[2018-08-07 04:18] Quper24 opened #2111 "hey"
---
* **Version**: 3.3.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 385422
---
[code]

[2018-08-07 08:48] jakubzitny commented on #2111
Hi @Quper24, thanks for the report. We're already tracking same problem in #1867 so I am going to close this thread.

Is this happening to all designs you're trying to open and all the time?

Can you please try our web app at [app.avocode.com](https://app.avocode.com) to see if the same problem occurs?

There is also more info in #2110, it seems that not enough memory is usually causing this probl

[2018-08-07 08:48] #2111 closed, assigned to nobody

[2018-08-07 13:59] bolekkerous commented on #2057
Hey @nuggettyone ,
just wanted to let you know that this problem should be fixed now. Please reupload the problematic design itself (or just upload it as a new version) and it should be displayed correctly. :)
​
Hope everything works now!

[2018-08-07 13:59] #2057 closed, assigned to nobody

[2018-08-08 16:04] G3-Logic opened #2112 "Mouse disappears"
Mouse constantly disappears when jumping from Brackets to Avocode. Problem goes away when I quit out of Avocode and doesn't happen while using Photoshop or Affinity Designer. Any idea why that may be happening? Very annoying. I can take a screen capture if that would help!

---
* **Version**: 3.3.2
* **Sketch plugin version**: 50.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UI

[2018-08-08 16:05] jakubzitny commented on #2112
Hi @G3-Logic, thanks for letting us know. Can you make a video please?

[2018-08-09 06:46] radhamanis opened #2113 "Loading chunk 2 failed"
---
* **Version**: 3.3.2-web.2
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 68.0.3440.84
* **Avocode UID**: 165056
---
[code]

[2018-08-09 08:33] jakubzitny commented on #2113
Hi @RADHAMANISRM, thanks for reporting this problem, we'll look into it. Is it happening all the time or just once, please? Did you try using a different browser than Chrome? Or our [desktop app](https://avocode.com/download)? Desktop app should work correctly for sure.

[2018-08-09 15:53] isalcedo commented on #2109
Hey dude. Some news... I don't know how to exactly say this, I'll do my best with my poor English.

You know, when I open up Avocode it's shows the restart message, well, if I let Avocode restart without any interaction, the session is closed, it force me to login again, **BUT!** if I interact with Avocode opening a Folder while its reconnecting, it reconnect successfully and the session holds.

I

[2018-08-10 11:45] Webdesme opened #2114 "Render"
http://www.lavuix.ru/scr/2018-08-10_14-41-10.png why is that
this happens often
I can throw in the mail the source

[2018-08-10 11:46] Webdesme commented on #1731
😔

[2018-08-10 11:51] jakubzitny commented on #2114
Please, do send the source or a public link to the design in Avocode to team@avocode.com. It's a rendering problem, we'll look into it.

[2018-08-10 14:57] jakubzitny commented on #2114
We found the design/problem actually, we're already working on a fix in our rendering engine.

[2018-08-12 06:16] skokalin opened #2115 "Can't open the design to inspect"
I tried to open design at here https://app.avocode.com/revisions/28210623/?design=16974663
Version: RELEASE 3.3.2 - JUL 31, 2018 (Web)

---
* **Version**: 3.3.2-web.2
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 67.0.3396.99
* **Avocode UID**: 161890
---
[code]

[2018-08-13 06:32] Pixel-Man opened #2116 "Bug in Avocode App for Windows 10"
Tell me how to fix the problem.
Installing AutoCAD on Windows 10 is successful, but when I start the program I see only a black screen.

[2018-08-13 06:32] Pixel-Man commented on #2116
[https://clip2net.com/s/3W1d0r8](url)

[2018-08-13 07:29] sarates opened #2117 "Wrong design rendering"
After some of updates avocode have issue with design rendering. In most of case design is not the same as in sketch. Some elements are not visible, some has wrong position. Please fix this.

---
* **Version**: 3.3.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 53626
---
[code]

[2018-08-13 09:25] qbz commented on #2117
Hello, thank you for a feedback, can you please share any example design that is broken in Avocode or atleast screenshots of the problem? Thanks in advance.

[2018-08-13 09:54] jakubzitny commented on #2115
Hi @baron63, thanks for reporting this problem. We had a trouble rendering your design on our backend. If you try to re-upload the design one more time, it should work correctly. We'll also deploy a fix today that will prevent similar problems in the future.

[2018-08-13 09:54] #2115 closed, assigned to nobody

[2018-08-13 10:01] jakubzitny commented on #2116
Hi @Pixel-Man, can you please press `alt` key and go to Help -> Troubleshooting -> Open Dev Tools option and send us a screenshot of the console?

Also, please try following steps:
- quit Avocode
- delete `.avocode` folder from your home directory
- start again and login

to see if it helps, please?

[2018-08-13 10:02] jakubzitny commented on #2112
Hi @G3-Logic, thanks for letting us know. Can you make a video please?

[2018-08-13 17:48] G3-Logic commented on #2112
Hey thanks so much for following up. For some strange reason, its not happening anymore. I used to only experience this when Sketch was open but last week Sketch was closed and the only way to stop it was to quit out of Avocode. So I assumed Avocode was having the same problem as Sketch.

I will keep an eye on it and if it starts happening again I will definitely let you know. Sorry for the troubl

[2018-08-14 07:30] sarates commented on #2117
Yes, I already sent screenshots to team@avocode.com

[2018-08-14 07:34] jakubzitny commented on #2112
Thanks for the info, don't hesitate to let us know if you have any more problems 😉

[2018-08-14 07:34] #2112 closed, assigned to nobody

[2018-08-14 08:13] iamrobert opened #2118 "Chinese Character Fail to Display"
* **Version 3.3.2**:

* **Desktop**:

* **Windows 10**:

AVOCODE doesn't recognize Microsoft Chinese Traditional system fonts.

Microsoft JingHei is the system font
https://docs.microsoft.com/en-us/typography/font-list/microsoft-jhenghei

looks like this:

![alt text](https://i.imgur.com/b6a00mG.jpg)

looks fine in XD:
![alt text](https://i.imgur.com/zfidrlU.png)

**Problem**
a) Cannot upload file

[2018-08-14 08:19] jakubzitny commented on #2118
Hi @iamrobert, thanks for reporting this problem. We're not currently able to upload TTC font collections from Avocode. However, you can contact our support directly in the app (bottom right corner) and they'll be happy to add these fonts to your team in Avocode. All newly uploaded designs will be rendered correctly for you.

You can also share the font collection file to team@avocode.com or here

[2018-08-14 08:38] bolekkerous commented on #2117
@sarates Unfortunately we can't see anything on that email mentioning this issue, could you perhaps tell us from which email did you send the email?

[2018-08-14 08:53] iamrobert commented on #2118
Thanks - I sent via message:
https://we.tl/k8LU8Sjnrl

I did conversion as well:
https://www.files-conversion.com/font/ttc

The strange issue as well is that:

Microsoft Jing Hei and Microsoft Jing Hei Ui are the same file - but avocode only recognizes Jing Hei.

[2018-08-14 10:14] sarates commented on #2117
@bolekkerous t.stetsyuk@relevant.software

[2018-08-14 11:41] jakubzitny commented on #2116
Hi @Pixel-Man, can you please press alt key and go to Help -> Troubleshooting -> Open Dev Tools option and send us a screenshot of the console?

Also, please try following steps:

quit Avocode
delete .avocode folder from your home directory
start again and login
to see if it helps, please?

[2018-08-14 12:25] ptoseklukas opened #2119 "Crashing when working with app."
---
* **Version**: 3.3.2
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

I don't have any crash log or status message.

Thanks

[2018-08-14 13:14] jakubzitny commented on #2094
Hi @Fueldeborah, a fix for this should already be available, if you try to re-upload your designs they should be rendered correctly.

Please let us know if you have any more problems 😉

[2018-08-14 13:14] #2094 closed, assigned to nobody

[2018-08-14 13:15] jakubzitny commented on #422
Hi @bvrudney, we've just released Avocode `3.4.0` with support for grids and layouts from Sketch. Please update the app or [download the latest version](https://avocode.com/download).

[2018-08-14 13:15] #422 closed

[2018-08-14 13:17] jakubzitny commented on #551
Hi @vitorfernandes, we've just released Avocode `3.4.0` with completely redesigned Photoshop plugin. Please update the app or [download the latest version](https://avocode.com/download). When you launch it, your PS plugin will be automatically updated to the latest version.

You can learn more about the newest Photoshop plugin in our [help center](http://help.avocode.com/projects-and-designs/desig

[2018-08-14 13:17] #551 closed

[2018-08-14 13:18] jakubzitny commented on #2119
Hi @Ptosek, thanks for reporting this. How often is this happening and when exactly did it happen when working with the app, please?

[2018-08-14 19:07] Pixel-Man commented on #2116
Hi
Did everything as requested, nothing helped https://clip2net.com/s/3W3P7Va
The console also did not open.

[2018-08-15 06:27] Pixel-Man commented on #2116
@jakubzitny Recorded video for clarity https://drive.google.com/file/d/1eGN6dW1eS9M2taxMoLQfxmGRIlndGXJL/view?usp=sharing

[2018-08-15 07:01] Serega1288 opened #2120 "error in comment avacode"
---
* **Version**: 3.4.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 71902
---
[code]

[2018-08-15 08:34] jakubzitny commented on #2120
Hi @Serega1288, thanks for reporting this. We can see this error in our internal tracking, it's a bug and we'll try to fix it asap. Can you please specify, when exactly did it happen?

[2018-08-15 08:40] jakubzitny commented on #2119
Hi @Ptosek, thanks for reporting this. How often is this happening and when exactly did it happen when working with the app, please?

[2018-08-15 08:47] jakubzitny commented on #2116
Thank you for the clarification @Pixel-Man, sorry to see this is happening to you. Let me try to prepare a special build for you that should open with more logging/debugging options so we can find the root of this problem.

[2018-08-15 09:26] Pixel-Man commented on #2116
Okey

[2018-08-15 09:44] ptoseklukas commented on #2119
Hello,

happen very randomly. When i import PSD and switching layers then it crashing but not every time. In sketch it crash too, but not too much.

@jakubzitny

[2018-08-15 09:46] jakubzitny commented on #2119
I see, I'll try to prepare a special build for you with improved logging/debugging and with some attempts we think might fix the problem. If you try it, it might help us with finding the real problem here.

[2018-08-15 12:31] bolekkerous commented on #2118
Hey @iamrobert, so the font files should now be uploaded and once you reupload the design into Avocode, you should see the design with correct fonts.

However we are now aware that there is one more issue with asian fonts which we're already working on. It concerns breaking paragraphs into lines properly, which currently does not work correctly with some asian fonts. We will shortly start testing

[2018-08-15 12:31] #2118 closed, assigned to nobody

[2018-08-16 08:09] Catofwanders opened #2121 "export button not work"
Yesterday is ok.  But today export button not work. I reinstall app this don`t help.
I upload psd file.
---
* **Version**: 3.4.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 130765
---
[code]

[2018-08-16 08:43] jakubzitny commented on #2116
Alright, here it is: https://we.tl/xDf8dHBpKI.

Can you please use this version and record a video again? The console should be automatically displayed with available logs, if it crashes, please send us the crashlog (that'll open on GitHub).

[2018-08-16 08:44] jakubzitny commented on #2119
Alright, here it is: https://we.tl/xDf8dHBpKI.

Can you please use this version and record a video again? The console should be automatically displayed with available logs, if it crashes, please send us the crashlog (that'll open on GitHub).

[2018-08-16 08:44] jakubzitny commented on #2105
Updated testing build: https://we.tl/xDf8dHBpKI.

[2018-08-16 09:31] jakubzitny commented on #2121
Hi @Catofwanders, thanks for reporting the problem. Does this happen to any layer in any design you uploaded or just a specific layer/design? Can you share the public/private link with us so we can investigate more thoroughly?

Or did the exact same layer work when exporting yesterday, but not today? That would be very weird.

[2018-08-16 09:33] jakubzitny commented on #2117
I believe our support team followed up via e-mail, let's continue over there, I'll close this issue.

[2018-08-16 09:33] #2117 closed, assigned to nobody

[2018-08-16 09:34] jakubzitny commented on #2120
Hi @Serega1288, can you please specify, when exactly did the problem happen? Did you see it more than once after that?

[2018-08-16 10:06] Catofwanders commented on #2121
No matter what layer.  This hapen with all uploaded design.
https://app.avocode.com/view/c331c813dd8c4c168348821c1eecda98

[2018-08-16 10:09] jakubzitny commented on #2121
Does it happen in web version as well?

[2018-08-16 10:09] Catofwanders commented on #2121
I have an idea, this happen after i update windows10.

[2018-08-16 10:12] Catofwanders commented on #2121
web version work well.

[2018-08-16 10:14] jakubzitny commented on #2121
One more request, can you please try also older version of Avocode? You can download [3.3.2 here](https://media.avocode.com/download/avocode-app/3.3.2/Avocode%20Setup%203.3.2.exe).

[2018-08-16 10:17] Catofwanders commented on #2121
works well.

[2018-08-16 10:22] jakubzitny commented on #2121
Okay, thanks a lot. The `3.4.0` update probably brought some problems. Please use the older one, or web version for now, till we address this.

[2018-08-16 12:31] bolekkerous commented on #2109
Hey @isalcedo -
we've made a special build with a possible fix for this problem. Could you please try downloading it and trying out whether it helps or not?

https://we.tl/LAgahdBKL7

Thanks!

[2018-08-16 12:59] morcegon opened #2122 "Report"
---
* **Version**: 3.4.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 17209
---
[code]

[2018-08-16 13:12] jakubzitny commented on #2122
Hi @morcegon, thanks for reporting this. Which Linux distro are you using, please? This error is usually connected to corrupted `~/.avocode` directory. So please quit Avocode, remove `~/.avocode` and relaunch. After that it should work correctly. If it doesn't please let us know.

[2018-08-16 13:12] #2122 closed, assigned to nobody

[2018-08-16 13:47] isalcedo commented on #2109
Same.

Warnings:
![captura de pantalla de 2018-08-16 08-46-38](https://user-images.githubusercontent.com/2588745/44212443-04280080-a131-11e8-9079-39fe96af6c33.png)
Errors:
![captura de pantalla de 2018-08-16 08-46-49](https://user-images.githubusercontent.com/2588745/44212454-0b4f0e80-a131-11e8-8aaf-49390bb51eac.png)

[2018-08-16 14:42] Pixel-Man commented on #2116
@jakubzitny  Alas, the problem remained.
https://drive.google.com/file/d/1W1rjfsa4FG5YKNcvOYPosXznyxbD9sVx/view?usp=sharing

[2018-08-16 22:49] JWhiteUX opened #2123 "Uhh… Not sure what happened"
Macbook locked up, cycled, and I got this message

---
* **Version**: 3.4.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]

[2018-08-17 06:20] Pixel-Man commented on #2116
@jakubzitny Maybe I'm missing some libraries https://c2n.me/3W78wdx ? Or do you need to re-install it?

[2018-08-17 09:20] jakubzitny commented on #2116
Thanks a lot for follow ups @Pixel-Man. Libraries should be OK. The behaviour is really weird. I have one more tip, can you please try running the app from `cmd` or `PowerShell` with the following command to see if it helps?

[code]

[2018-08-17 09:31] jakubzitny commented on #2123
Hi @JWhiteUX, thanks for the report. We've already seen this problem in similar scenarios, we'll be trying to address this behaviour in upcoming releases.

We're already tracking it in #2119 and #2076 so I'll close this thread.

How often is this happening, did you see it more than once?

[2018-08-17 09:31] #2123 closed, assigned to nobody

[2018-08-17 09:43] jakubzitny commented on #2109
Could you also send us a screenshot of the console, with `Verbose` mode turned on, please @isalcedo? Not just errors and warnings, these are not helpful in this case.

Thanks a lot for helping.

[2018-08-17 11:05] Pixel-Man commented on #2116
@jakubzitny Alas. The problem remained, but the console turned on, but you can not see it.
https://drive.google.com/file/d/1iJZocQFvgHtouZjmjOG4cibIx7u8JjCu/view?usp=sharing

[2018-08-17 11:44] isalcedo commented on #2109
![debug-1](https://user-images.githubusercontent.com/2588745/44264530-8fb09880-a1e8-11e8-8e0a-713c29b5058b.png)
![debug-2](https://user-images.githubusercontent.com/2588745/44264531-8fb09880-a1e8-11e8-8050-17d6fad39cdc.png)
![debug-3](https://user-images.githubusercontent.com/2588745/44264533-8fb09880-a1e8-11e8-8a14-690a126a9e99.png)
![debug-4](https://user-images.githubusercontent.com/2588745/442

[2018-08-17 11:48] jankuca commented on #2109
Hi @isalcedo, I will actually probably need the whole log to reconstruct the situation. Can you please save it and e-mail me the file at jankuca@avocode.com?

<img width="272" alt="screen shot 2018-08-17 at 13 47 26" src="https://user-images.githubusercontent.com/367262/44264794-35352d80-a224-11e8-8ae1-871f13a85147.png">

[2018-08-17 11:50] isalcedo commented on #2109
Hey Guys, I'm not using Gnome or KDE. (no enough RAM, tell me if you know about a sale for DDR3 Modules :grin: ) Some times some apps crash because the lack of policykit or some keyrings. I don't know if is the case.

I'm on LXDE with Openbox at minimum.

OMW @jankuca

[2018-08-17 11:53] isalcedo commented on #2109
Is here for the community and in your Email @jankuca.

[AvocodeSpecial-3.4-Build-Bug-GitHub-Issue-2109-08-17-2018___1534506630224.log](https://github.com/avocode/avocode/files/2297070/AvocodeSpecial-3.4-Build-Bug-GitHub-Issue-2109-08-17-2018___1534506630224.log)

[2018-08-17 12:48] ptoseklukas commented on #2119
Thanks, i will try it.

čt 16. 8. 2018 v 10:44 odesílatel Jakub Žitný <notifications@github.com>
napsal:

[2018-08-17 17:01] morcegon commented on #2122
Hello @jakubzitny, I'm using Ubuntu 18.04.
Once I restarted Avocode, no more erro is showed.

[2018-08-20 05:59] Catofwanders commented on #2121
How to prevent upload automatic update? It`s give me a lot of problem to my work. Or how fast avocode fix that problem?

[2018-08-20 09:57] exp-anoop opened #2124 "Avocode not responding"
---
* **Version**: 3.4.0-web.2
* **Web/Desktop**: Web
* **Platform**: linux -1
* **Browser**: chrome 68.0.3440.106
* **Avocode UID**: 174597
---
[code]

[2018-08-21 09:33] zanona opened #2125 "windows: 'Show menubar' option set to 'off' doesn't persist across app restart"
---
* **Version**: 3.4.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 214333
---
[code]

[2018-08-21 10:01] comatory commented on #2125
Hi @zanona ,
I'm sorry to hear about this. Would you be so kind to try out this special build?

https://www.dropbox.com/s/bsuuybi74x1kbqf/Avocode-3.4.0-bootfix-win-signed.zip?dl=0

In case the app does not start up, delete `~/.avocode` directory in your home folder. Try to see if the option persists and please if you can, report back here if the problem was resolved or not.

Thanks!

[2018-08-21 10:03] jakubzitny commented on #2124
Hi @exp-anoop, thanks for reporting this. How many times did this happen to you, please?

Anyway, it's a bug and we'll release a new version today. It should fix this problem. We'll let you know when it's out so you can try it.

[2018-08-21 10:07] zanona commented on #2125
Hi Ondrej, I get the same behaviour. In fact, by default, the option is set to off when first loading the app, however, the menu bar still shows up either way. After toggling on and then off and restarting the app, menu bar still shows up.

[2018-08-21 10:15] jakubzitny commented on #2121
I am sorry to hear that @Catofwanders, we want users to use the latest version of the app as soon as possible in general.

This particular problem is very unique and we have not seen it before. We'll release a new version today, but since we were not able to really reproduce this, it'll probably not help. We'll soon release another version - `3.5.0` with a number of performance and stability. It'l

[2018-08-21 10:16] jakubzitny commented on #2120
Closing due to inactivity, please let us know if you can provide more info / if it happens again.

[2018-08-21 10:16] #2120 closed, assigned to comatory

[2018-08-21 10:22] jakubzitny commented on #1920
The backspace actually works in whole project manager already.

[2018-08-21 10:22] #1920 closed, assigned to nobody

[2018-08-21 10:51] comatory commented on #2125
OK thanks for the report. We'll look into it.

[2018-08-21 12:05] Catofwanders commented on #2121
[-1534853059500.log](https://github.com/avocode/avocode/files/2306173/-1534853059500.log)
video
https://drive.google.com/open?id=11a783r8ifFosUYBgK-Q5Y5mIv7uVztJ6

[2018-08-21 12:34] jakubzitny commented on #2121
Thanks a lot, could you please set `Verbose` in the Console instead of `Info`? I believe this is happening for all PNG, JPG and all other types of export, right?

Before doing the video for Verbose console, could you please try downloading our latest update `3.4.1` and trying if it helps with exporting?

[2018-08-21 13:08] Catofwanders commented on #2121
[-1534856694350.log](https://github.com/avocode/avocode/files/2306353/-1534856694350.log)
video
https://drive.google.com/open?id=1_4CEavx4TuMLFthbnJPCUXqvNMgejTvf

Save work only on svg type export, i show it on video.

[2018-08-22 12:04] bolekkerous commented on #874
This should be already implemented.

[2018-08-22 12:04] #874 closed

[2018-08-22 12:07] bolekkerous commented on #1270
This should be already working now - symbols are now expanded into the main artboard so you can copy the overridden text or you can click through into the master symbol.

[2018-08-22 12:07] #1270 closed

[2018-08-22 12:11] bolekkerous commented on #1298
This should be already implemented.

[2018-08-22 12:11] #1298 closed

[2018-08-22 12:12] bolekkerous commented on #1378
This should already work as long as the base image is in a high enough resolution.

[2018-08-22 12:12] #1378 closed

[2018-08-22 13:26] jakubzitny commented on #2121
Thanks a lot for the video again, unfortunately, it's not telling us what the exact problem is yet. I have few more tips we can try:

1. Can you please try disabling export optimization in `App Preferences` and try exporting few layers again to see if it helps?

![screenshot 2018-08-22 at 15 23 15](https://user-images.githubusercontent.com/3315662/44466052-a0657200-a61f-11e8-83c4-6e0f37a958f2.png)

[2018-08-22 13:39] jakubzitny commented on #2121
Actually, we just found out that we have problems with exporting when the Monroe rendering is disabled. Do you have a reason for it to be disabled? Can you try enabling it in App Preferences?

[2018-08-22 20:19] chrisgagan opened #2126 "Document failed to load"
---
* **Version**: 3.4.1-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 68.0.3440.106
* **Avocode UID**: 383625
---
[code]

[2018-08-23 03:04] northfacingdan opened #2127 "Fonts not syncing with design file"
Fonts are not syncing from sketch. The last few files i have synced directly from Sketch have done so without the fonts. See here for example: https://app.avocode.com/projects/666266

---
* **Version**: 3.4.1
* **Sketch plugin version**: 51.0.0
* **Web/Desktop**: Desktop
* **Platform**: Mac, but other developers who access files have the same issue.
* **Avocode UID**: 8605

[2018-08-23 06:02] Catofwanders commented on #2121
![image](https://user-images.githubusercontent.com/23452775/44507399-1e268d80-a6b3-11e8-9e20-587c0e4abe70.png)
If i enable Monroe rendering opened file whas label lite, and i can`t export too.

[2018-08-23 10:12] jakubzitny commented on #2126
Hi @chrisgagan, thanks for reporting this. When exactly did it happen? Our users are limited when accessing designs they do not have a proper access to, especially guest users.

It seems that you're now a regular part of your team so the link (and everything else) should be ok, right?

[2018-08-23 11:16] jakubzitny commented on #2121
I see @Catofwanders, that is the main problem we should be addressing actually. We were able to reproduce the export problems when Monroe is disabled. We'll be trying to fix that asap.

In the meantime, we'd really love for all of our users to be able to use Monroe. I prepared another testing build for you, this time with upgraded Chromium core, it should be closer to your web browser where the We

[2018-08-23 11:24] jakubzitny commented on #2127
Hi @northfacingdan, you have to upload the missing fonts to Avocode separately, especially when you upload a design with special fonts that are not public.

1. After you open uploaded design in Avocode, you should see a notification that is requesting the font upload.

![screenshot 2018-08-23 at 13 17 50](https://user-images.githubusercontent.com/3315662/44522517-12e55900-a6d7-11e8-9c92-700f5dde78

[2018-08-23 11:24] #2127 closed, assigned to nobody

[2018-08-23 11:25] jakubzitny commented on #2119
Any news @Ptosek, please?

[2018-08-23 11:26] jakubzitny commented on #2105
Did you have a chance to try out any of the builds we've sent @StasZnaydyonov, please?

[2018-08-23 11:47] Catofwanders commented on #2121
Thanks. You did good job. All export is work fine.

[2018-08-23 12:34] ptoseklukas commented on #2119
Hello, I am using this version and still no crash. When it crash it I will
send crash report.

čt 23. 8. 2018 v 13:25 odesílatel Jakub Žitný <notifications@github.com>
napsal:

[2018-08-23 13:06] jakubzitny commented on #2119
Glad to hear that, we'll include these fixes in the next release of Avocode. 🙂

[2018-08-23 13:07] jakubzitny commented on #2124
We've released `3.4.1` few days ago, and this should be fixed in it. Please let us know if you see it again 😉

[2018-08-23 13:07] #2124 closed, assigned to nobody

[2018-08-23 13:08] jakubzitny commented on #2121
Glad to hear that, we'll include the fixes in upcoming releases 🙂

[2018-08-23 14:16] Catofwanders commented on #2121
![image](https://user-images.githubusercontent.com/23452775/44530853-07eef080-a6f8-11e8-9762-7d9043d59240.png)
UPD: some layers don`t save. i use your version  "https://we.tl/t-QJvAZEgaRc.".

[2018-08-23 14:19] jakubzitny commented on #2121
Can you share a public/private link to this design, please @Catofwanders?

[2018-08-23 15:24] Catofwanders commented on #2121
https://app.avocode.com/revisions/29050601?design=18409916

[2018-08-23 16:20] yodeladywho opened #2128 "Still Seeing Exploding Symbols and now with Broken Shadows"
* **3.4.1**:

* **51.0.0**:

* **Desktop**:

* **MacOS/Chrome**:

I am still seeing exploding symbols in my designs even after the most recent update.
This is in Avocode:
![image](https://user-images.githubusercontent.com/26231946/44538048-e4ab4d80-a6c5-11e8-9670-491151158650.png)
This is in Sketch:
![image](https://user-images.githubusercontent.com/26231946/44538084-f987e100-a6c5-11e8-87a0-0f7d46

[2018-08-23 19:25] qbz commented on #2128
Hello, thank you for your feedback.

We are still working on correct scaling of symbol masters, some of bugs are already fixed, but there is problem of supporting sketch's "scale tool" (because the behavior of scale tool is mixed with default scaling - so that means that default (responsive - you can set any any side or size of shape as "fixed") scaling is mixed with non-default (non-responsive)).

[2018-08-24 08:49] jakubzitny commented on #2126
I'll close this issue, let us know if you still have some problems with loading designs 😉

[2018-08-24 08:49] #2126 closed, assigned to nobody

[2018-08-24 22:01] blakesisu commented on #2109
Hi there, I'm on arch (manjaro) and my build that I just downloaded today from the arch repo is consistently crashing. It crashed on first run, then it worked great for me, then I closed and attempted to reopen it a few hours later and it keeps crashing on first load.

[2018-08-25 10:36] jakubzitny commented on #2109
Yeah, thanks for reporting it @blakesisu, it's probably the same problem. A number of Linux users is complaining about it. We're trying to find the right fix, however, we're not able to reproduce it on any of our Linux machines. For now we recommend using the web version (in Chrome/Chromium) or hacking around (as it's mentioned above in the thread) to make it work during every start. We'll update

[2018-08-28 09:45] Gzbox opened #2129 "what?"
---
* **Version**: 3.4.1-web
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.6
* **Browser**: chrome 68.0.3440.106
* **Avocode UID**: 402995
---
[code]

[2018-08-28 10:03] ptoseklukas opened #2130 "Still crashing"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-08-28 10:03] ptoseklukas commented on #2130
Working with avocode and crash.

[2018-08-29 11:38] dapertutto opened #2131 "Settings are not stored"
Everytime I relogin all settings for all my projects are dropped to defaults (except project name). So I must again and again set export folder, units, even program theme. Is that intentional or am I missing something?

---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 105812
---
[code]

[2018-08-29 12:35] ptoseklukas opened #2132 "Sometimes i want to export layers then it crash"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-08-29 12:40] ptoseklukas opened #2133 "And again"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-08-29 12:48] ptoseklukas opened #2134 "Trying bootfix version and it is too same."
---
* **Version**: 3.4.0-bootfix
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-08-30 12:01] jakubzitny commented on #2134
Thanks, closing wrt #2119.

[2018-08-30 12:01] #2134 closed, assigned to nobody

[2018-08-30 12:01] jakubzitny commented on #2133
Thanks, closing wrt #2119.

[2018-08-30 12:01] #2133 closed, assigned to nobody

[2018-08-30 12:01] jakubzitny commented on #2132
Thanks, closing wrt #2119.

[2018-08-30 12:01] #2132 closed, assigned to nobody

[2018-08-30 12:13] jakubzitny commented on #2119
Any specific details you can give us for the recent crashes @Ptosek, please? I understand that it has not been happening for a while, until yesterday? Is there any chance you had the app open for a long time, while OS was in sleep mode and this happened after wake?

[2018-08-30 16:09] octoxan opened #2135 "Black screen in Ubuntu Budgie"
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform/Browser**: Ubuntu Budgie 18.04, 17.10, 17.04 (all same issue)

When starting the Avocode app, after seeing the small square launcher, the main app opens and is just a black screen. Tested on four computers. Also can't close it without xkill. Close button does nothing.

[2018-08-31 11:42] ptoseklukas commented on #2119
Hello, i dont know exactly, but same project are without any problem but some project drop every 5 minutes. For example i am trying export group of layers and crash.

Absolutely not, this also happens after 5 minutes of program startup and OS never go to sleep.

[2018-08-31 11:43] #2130 closed, assigned to nobody

[2018-08-31 12:50] ptoseklukas commented on #2119
Some new crash with log

---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 331903
---
[code]

[2018-08-31 13:38] drfateev opened #2136 "The requested symbol is not available. Make sure it is synced. (sketch plugin)"
I upload design from Sketch to Avocode via plugin (Cmd + J). Then I usually have two issues:
1. Processing is very long, although uploading is going fast. There are 57 artboards in my project, is this the cause?
2. After processing is finished some layers are invisible. I'm trying open this layers (I see them in Layers menu in the left), but: «The requested symbol is not available. Make sure it is

[2018-09-03 08:22] syoki opened #2137 "operation not permitted"
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 21407
---
[code]

[2018-09-03 10:51] jakubzitny commented on #2137
Hi @syoki, thanks for reporting this, we're already tracking the same problem in #1926.

The following should help, can you please try it?

- quit Avocode
- delete `C:\Users\user\.avocode` directory
- open Avocode and login again..

Please let me know if it helps, if not we can figure out something else. Also, how often is this happening to you?

[2018-09-03 10:51] #2137 closed, assigned to nobody

[2018-09-03 11:03] jakubzitny commented on #2129
Hi @Gzbox, thanks for reporting this problem. It seems that the app allowed you to open the design before it was processed completely. I just checked and it seems that everything is inspectable and correct, I also tried to reproduce the same behaviour for your design in my account and everything went well.

Can you please try opening the design again to see if it displays properly? We're sorry for

[2018-09-03 11:11] jakubzitny commented on #2135
Hi @octoxan, thanks for reporting this and thanks for trying it on different computers/OSs. We're tracking a similar behaviour in #2109. We have problems reproducing this issue on our computers so we'd need as much info from you as possible.

One of the workarounds we've been able to come up with is following
- first launch freezes up, and you need to force quit (pkill/xkill)
- second launch gives

[2018-09-03 11:14] jakubzitny commented on #2119
Thanks @Ptosek, this is a bit different error. We see it on computers with not a lot of cpu/mem resources or some graphics hws/drivers that have problems with WebGL.

Did I mention that you can use our web app at [app.avocode.com](https://app.avocode.com)? Have you tried it, did you have any similar problems with it, please?

[2018-09-03 11:20] bolekkerous commented on #2131
Hey @dapertutto,
settings should definitely be saved. So even when you try to log out yourself and re-login again after that, all these settings are reset?

Could you perhaps try to delete your user data folder in your user root folder?

You can do it via terminal using this command:

rm -rf ~/.avocode

Make sure to close your app before you do that.

Also, if you set up any settings in the web ap

[2018-09-03 11:24] bolekkerous commented on #2136
Hey @drfateev,
yes, 57 artboards is not that small amount, so it may take some time. We're continually working on improving the speed of the processing phase and we're already working on a way that should speed this quite substantially, however it will take some time to implement it.

As for the actual issue with symbols not being displayed correctly. Could you please send us the problematic Sketc

[2018-09-04 12:15] drfateev commented on #2136
Hey @bolekkerous,
I send two files to team@avocode.com:
1 – problematic file, which is uploading to Avocode.
2 – library-file, where we hold symbols.

[2018-09-04 12:28] bolekkerous commented on #2136
Hey @drfateev,
unfortunately, we don't see any attachments in the email you sent. Would you mind resending it again -  perhaps through some file-sharing service?

Thanks!

[2018-09-05 13:10] drfateev commented on #2136
Hey @bolekkerous
I send files via WeTransfer.

[2018-09-05 13:33] jakubzitny commented on #2129
Hi @Gzbox, thanks for reporting this problem. It seems that the app allowed you to open the design before it was processed completely. I just checked and it seems that everything is inspectable and correct, I also tried to reproduce the same behaviour for your design in my account and everything went well.

Can you please try opening the design again to see if it displays properly? We're sorry for

[2018-09-05 13:33] jakubzitny commented on #2131
Hey @dapertutto,
settings should definitely be saved. So even when you try to log out yourself and re-login again after that, all these settings are reset?

Could you perhaps try to delete your user data folder in your user root folder?

You can do it via terminal using this command:

rm -rf ~/.avocode

Make sure to close your app before you do that.

Also, if you set up any settings in the web ap

[2018-09-05 13:33] jakubzitny commented on #2135
Hi @octoxan, thanks for reporting this and thanks for trying it on different computers/OSs. We're tracking a similar behaviour in #2109. We have problems reproducing this issue on our computers so we'd need as much info from you as possible.

One of the workarounds we've been able to come up with is following
- first launch freezes up, and you need to force quit (pkill/xkill)
- second launch gives

[2018-09-06 12:24] dapertutto commented on #2131
I wouldn't have raised the issue if everything worked as it must.
I am using only desktop app, but login via browser and then authorize desktop app.

Nope. Didn't hit the spot. After relogin settings got default values.

[2018-09-06 14:19] alvescleiton opened #2138 "Error when I clicked in a sketch file"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 192687
---
[code]

[2018-09-06 17:57] rahul26021999 opened #2139 "Stopped unExpectedly"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]

[2018-09-07 07:55] drfateev commented on #2136
Hey @bolekkerous,
I send two files yesterday via WeTransfer.com

[2018-09-07 09:58] jakubzitny commented on #2138
Hi @ariscratle, thanks for reporting this. It's a bug in our rendering engine and we'll try to fix it, we've seen it already in #1978. How often is it happening, please?

[2018-09-07 09:58] jakubzitny commented on #2135
Closing with respect to #2109.

[2018-09-07 09:58] #2135 closed, assigned to nobody

[2018-09-07 09:59] jakubzitny commented on #2129
Closing due to inactivity, the design should be openable properly.

[2018-09-07 09:59] #2129 closed, assigned to nobody

[2018-09-07 10:02] jakubzitny commented on #2105
Closing with respect to #2119 and #2076.

[2018-09-07 10:02] #2105 closed, assigned to nobody

[2018-09-07 10:02] jakubzitny commented on #2139
Hi @rahul26021999, thanks for the report. We've already seen this problem on Windows, we'll be trying to address this behaviour in upcoming release next week.

We're already tracking it in #2119 and #2076 so I'll close this thread.

How often is this happening, did you see it more than once?

[2018-09-07 10:02] #2139 closed, assigned to nobody

[2018-09-07 16:30] isalcedo commented on #2109
Arch updated Electron. Seems fixed. I'll do some another tests. Maybe was related to system electron all the time.

[2018-09-07 17:21] anasanvila opened #2140 "abortOrigin of undefined"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 411006
---
[code]

[2018-09-08 16:54] leoparddemin opened #2141 "EACCES during single-instancing"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]

[2018-09-10 14:29] jakubzitny commented on #2140
Hi @anasanvila, thanks for reporting this problem. It's a bug, we can see it in our internal tracking system and we'll try to fix it as soon as possible.

Can you please give us more details about this? Did you try it more than once? Are you unable to upload any designs to Avocode altogether? How did you try to do it? You can upload by drag+dropping but you can also use the File menu -> Upload des

[2018-09-10 14:30] jakubzitny commented on #2138
Hi @ariscratle, thanks for reporting this. It's a bug in our rendering engine and we'll try to fix it, we've seen it already in #1978. How often is it happening, please?

[2018-09-10 14:34] jakubzitny commented on #2141
Thanks for the report @leoparddemin. When exactly did this happen? Is it happening repeatedly?

We're using the `~/.avocode` directory to store some internal state and design data of the app. Can you make sure there are proper access rights to it? Avocode should be allowed to `rwx`. You can correct it by running the following command if it's not right:

[code]

There might be some other issue with

[2018-09-10 14:49] bolekkerous commented on #2136
Hey @drfateev,
so we've finally managed to download the file and we can reproduce the issue when we upload the design via the Sketch plugin.

However the file seems to be working correctly if it is uploaded directly into Avocode via drag and drop upload, not via the plugin upload.

We'll investigate the issue with Sketch plugin, in the meanwhile please reupload the design directly and that should

[2018-09-11 03:00] liuqiong92 opened #2142 "Error"
---
* **Version**: 2.17.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 412551
---
[code]

[2018-09-11 07:59] jakubzitny commented on #2142
Thanks for the report @liuqiong92, when exactly did this happen please? What were you trying to do? I see you're using very very old version of Avocode. Can you update please?

If autoupdates don't work for you, please download the latest installer from [avocode.com/download](http://avocode.com/download).

[2018-09-11 07:59] #2142 closed, assigned to nobody

[2018-09-11 08:18] drfateev commented on #2136
Hey @bolekkerous
thanks for useful answer. It is actually works fine without sketch plugin. But drag and drop is less comfortably, because:
- Avocode makes new sketch-file in project after drag and drop (I expected to see new version of existing file)
- I can't upload one page or artboard, only whole file.

[2018-09-11 08:56] bolekkerous commented on #2136
Hey @drfateev,
you should be able to upload a new version of an existing file if you drag and drop the newly uploaded file over the existing file, not in the empty area in a project.

Do you think that behavior works for you or would you expect that uploading a file with the same name as an already existing file in Avocode should automatically be uploaded as a new version? Or at least offer the op

[2018-09-11 10:55] drfateev commented on #2136
Hey @bolekkerous
Yes I think that it is naturally to expect, that file with the same name would be just the next version of existing. Thanks for your answers. I wish you a good day :)

[2018-09-11 11:28] jakubzitny commented on #2141
Thanks for the report @leoparddemin. When exactly did this happen? Is it happening repeatedly?

We're using the `~/.avocode` directory to store some internal state and design data of the app. Can you make sure there are proper access rights to it? Avocode should be allowed to `rwx`. You can correct it by running the following command if it's not right:

[code]

There might be some other issue with

[2018-09-11 11:29] jakubzitny commented on #2140
Hi @anasanvila, thanks for reporting this problem. It's a bug, we can see it in our internal tracking system and we'll try to fix it as soon as possible.

Can you please give us more details about this? Did you try it more than once? Are you unable to upload any designs to Avocode altogether? How did you try to do it? You can upload by drag+dropping but you can also use the File menu -> Upload des

[2018-09-11 11:29] jakubzitny commented on #2138
Closing due to inactivity, please let us know if you have any details.

[2018-09-11 11:29] #2138 closed, assigned to nobody

[2018-09-11 13:05] n1kko777 opened #2143 "I just still using avocode"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 260903
---
[code]

[2018-09-11 13:10] jakubzitny commented on #2143
Hi @n1kko777, thanks for reporting this. We're already aware of this bug and we're tracking it in #2140, so I'll close this thread.

We'll be trying to fix it as soon as possible, would you be able to provide more info about this, please? How many times did you see it and when exactly?

[2018-09-11 13:10] #2143 closed, assigned to nobody

[2018-09-11 19:05] joabelhohn opened #2144 "error"
---
* **Version**: 3.4.1-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 68.0.3440.106
* **Avocode UID**: 275068
---
[code]

[2018-09-12 14:53] jakubzitny commented on #2144
Hi @joabelhohn, thanks for reporting this, I've checked our backend and it seems that we had some problems with one of your artboards, can you please try uploading the file one more time?

[2018-09-12 14:55] jakubzitny commented on #2076
Hi @pavel-alpinweb, we've added some improvements to our desktop app so this should not be happening as much as before. We're also working in even better performance and stability for `3.6.0` which should eliminate this completely. Can you please update and let us know if this issue still persists?

[2018-09-12 14:56] jakubzitny commented on #2119
Hi @Ptosek, we've added some improvements to our desktop app so this should not be happening as much as before. We're also working in even better performance and stability for `3.6.0` which should eliminate this completely. Can you please update and let us know if this issue still persists?

I'll also close this with respect to #2076 where we have the same issue.

[2018-09-12 14:56] #2119 closed, assigned to nobody

[2018-09-12 14:59] jakubzitny commented on #2109
I see, thanks for the update @isalcedo. Do you use Avocode with the Electron from Arch normally or is it more of a special case? I know most of Arch users are fluent in switching the deps, not sure how much of an effort is it for you.

[2018-09-12 15:01] jakubzitny commented on #2114
This should be fixed in the latest version of Avocode, please update and let us know if you still have similar issues @Webdesme 😉

[2018-09-12 15:01] #2114 closed, assigned to nobody

[2018-09-12 15:06] ptoseklukas commented on #2119
Hello,

i try it and them i send feedback.

Ptosek

st 12. 9. 2018 v 16:56 odesílatel Jakub Žitný <notifications@github.com>
napsal:

[2018-09-12 15:08] isalcedo commented on #2109
@jakubzitny I usually don't change anything by myself but Avocode is installed from AUR, an user maintained repository for custom builds, maybe this links can help you in the investigation.

https://aur.archlinux.org/packages/avocode/
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=avocode

[2018-09-12 15:15] jakubzitny commented on #2109
I know, we're actually maintaining AUR. But in the Avocode package in AUR, there should be Electron  already prepacked, but you're saying Arch updated Electron, which would mean you're using the Arch's Electron instead. How are you launching Avocode, please?

[2018-09-12 15:18] jakubzitny commented on #2121
Hi @Catofwanders, the legacy stage should be fixed in latest release of Avocode. Please update and you should be able to use it and export correctly.

Furthermore, for Avocode `3.6.0` we'll be improving stability and performance even more, so more users should be able to use the latest features from our Monroe engine.

[2018-09-12 15:18] #2121 closed, assigned to nobody

[2018-09-12 15:20] jakubzitny commented on #1808
These issues should be improved a lot in recent releases. There is still a small amount of users with older graphics cards / drivers. We'll be improving the performance for them in the next release even more.

[2018-09-12 15:20] #1808 closed, assigned to nobody

[2018-09-12 15:20] jakubzitny commented on #1656
This should not be happening anymore in recent releases. Please let us know if you have similar problems again 😉

[2018-09-12 15:20] #1656 closed

[2018-09-12 15:21] jakubzitny commented on #1775
Closing due to inactivity, please let us know if you still have problems with it.

[2018-09-12 15:21] #1775 closed, assigned to nobody

[2018-09-12 15:22] jakubzitny commented on #2141
Changing the rights or removing the `~/.avocode` should help with this issue. I'll close this due to inactivity. Please let us know if you still have problems with it.

[2018-09-12 15:22] #2141 closed, assigned to nobody

[2018-09-12 16:31] isalcedo commented on #2109
I actually don't know. I just installed Avocode from AUR, the bug was happening, that day after an update (electron was listed as one package in the update list) Avocode stop crashing. I don't know some actually good reason.

[2018-09-12 17:44] isalcedo commented on #2109
Talking about the devil, in Aur:

~~ looking for new pkgbuilds and fetching them...
==> ERROR: source_x86_64 must be an «array»
2018-09-12 12:42:22,130 - wrappers - makepkg - ERROR - makepkg query ['makepkg', '--printsrcinfo']

[2018-09-12 18:41] polkom21 opened #2145 "No layers"
Hello. I have a problem because in the moment i lost layers and there are not loaded now. What is wrong?

![image](https://user-images.githubusercontent.com/3143164/45446061-401c9a00-b6cc-11e8-8026-650c27c66ef3.png)

---
* **Version**: 3.5.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 414143
---
[code]