[2018-09-12 19:15] jakubzitny commented on #2145
Hi @polkom21, sorry for this bug, we already know about it. If you change the width of the panel, the layers will appear and then they should be visible at all times, we'll fix this asap though.

[2018-09-12 19:41] jakubzitny commented on #2109
Right, thanks for pointing it out @isalcedo, I'll fix it right away.

[2018-09-12 19:42] jakubzitny commented on #2109
Done, can you please try it one more time @isalcedo?

[2018-09-12 19:48] polkom21 commented on #2145
Thanks for tips with width of the panel. At the moment this method resolve my problem.

[2018-09-12 21:17] octoxan opened #2146 "Black Screen, unusable on Linux"
* **Version**: 3.5

* **Web/Desktop**: Desktop

* **Platform/Browser**: Ubuntu Budgie 18.04

Just a black screen when opening the app. Can't see anything. Has been like this for a few versions now.

[2018-09-12 21:30] jakubzitny commented on #2146
Hi @octoxan, thanks again for reporting this, we're already aware of this from #2135 and other threads. I've wrote you a bit tedious but working workaround:

- first launch freezes up, and you need to force quit (pkill/xkill)
- second launch gives a crash report, and a restart option
- restart works (via restart button), i need to log in again and everything works

Can you please try if this helps

[2018-09-12 21:31] jakubzitny commented on #2146
I'll keep this issue open as it seems the Arch users are better now.

[2018-09-13 09:29] jakubzitny commented on #2144
Hi @joabelhohn, thanks for reporting this, I've checked our backend and it seems that we had some problems with one of your artboards, can you please try uploading the file one more time?

[2018-09-13 13:48] Catofwanders commented on #2121
Hi, export is work fine. But, i have new problem. Layers doesn`t show.  In all my design, i disable/enable Monroe rendering - not show.

[2018-09-13 13:53] jakubzitny commented on #2121
You can "fix" the layers by resizing the layer panel width. It'll fix it forever. We're preparing a fix for next week as well though @Catofwanders.

[2018-09-13 22:09] n0rule5 commented on #2136
I'm actually experiencing a similar issue: some (a lot, but not all) symbols do not sync to Avocode correctly via the plugin and drag/drop into Avocode. They don't show up, but when I double-click it in the sidebar to open up the symbol, they are fine (so the symbols are being synced over, just not displayed/rendered in the design).

This is a really big problem because there doesn't seem to be a

[2018-09-14 00:27] joabelhohn commented on #2144
Ok, I'm in contact with our UX to update the project. After updating, it
tells you if it worked.

Em qui, 13 de set de 2018 às 06:29, Jakub Žitný <notifications@github.com>
escreveu:

--
att.

Joabel Isaias Hohn
Analista Programador Sistemas

[2018-09-14 16:09] polkom21 opened #2147 "Problem with exporting svg"
Hi!
I have a problem with export graphic as svg. Why avocode save it as bitmap in svg element? In photoshop I don't have problem with it. Graphic are saved as svg element without parse it before.

![image](https://user-images.githubusercontent.com/3143164/45561813-ebeaf480-b848-11e8-93b8-f08bd88be319.png)

---
* **Version**: 3.5.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**:

[2018-09-16 20:02] AndreyYanovskiy opened #2148 "emboss an error"
---
* **Version**: 3.5.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 409389
---
[code]

[2018-09-17 11:22] TomasHorak opened #2149 "Error"
---
* **Version**: 3.5.0
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 17594
---
[code]

[2018-09-17 14:25] jakubzitny commented on #2145
Hi @polkom21, we've just released `3.5.1` and this problem is fixed.

Let us know if you have any more problems 😉

[2018-09-17 14:25] #2145 closed, assigned to jakubzitny

[2018-09-17 14:25] jakubzitny commented on #2140
Hi @anasanvila, we've just released `3.5.1` and this problem is fixed.

Let us know if you have any more problems 😉

[2018-09-17 14:25] #2140 closed, assigned to jakubzitny

[2018-09-17 14:27] bolekkerous commented on #2147
Hey @polkom21,
is it possible that this object was imported into the PSD from Illustrator?

[2018-09-17 14:30] bolekkerous commented on #2149
Hey @TomasHorak ,
thanks for the report and sorry for the inconvenience.

Do you remember what exactly were you doing when this error happened? Or are you able to reproduce this error reliably?

[2018-09-17 14:30] bolekkerous commented on #2148
Hey @AndreyYanovskiy,
thanks for the report and sorry for the inconvenience.

Do you remember what exactly were you doing when this error happened? Or are you able to reproduce this error reliably?

[2018-09-17 14:39] polkom21 commented on #2147
@bolekkerous yes, this icon was imported into the PSD from Illustrator.

[2018-09-17 15:33] bolekkerous commented on #2147
I see, unfortunately, we do not support such workflow with imported SVG or Illustrator files into PSD at the moment, however, we are looking into ways how we could support it.

[2018-09-17 16:28] gender404 opened #2150 "Failed to execute 'shaderSource' on 'WebGLRenderingContext'"
---
* **Version**: 3.5.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 76438
---
[code]

[2018-09-18 04:23] altimea opened #2151 "nor load"
---
* **Version**: 3.5.1
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-09-18 11:12] Grafikart commented on #2109
Dunno if it helps but can the problem come from Visual Studio Code which require Electron from the repository ? Could this Electron installation conflicts with avocode ?

(I'm on arch linux)

[2018-09-18 11:14] jakubzitny commented on #2109
It should not, but it's possible, how are you launching Avocode, please @Grafikart?

[2018-09-18 11:14] jakubzitny commented on #2147
We're actually tracking this in #967 already.

[2018-09-18 11:14] #2147 closed, assigned to nobody

[2018-09-18 11:16] jakubzitny commented on #2144
Did you manage to make it work @joabelhohn, please?

[2018-09-18 11:18] jakubzitny commented on #2150
Hi @legostud, thanks for reporting this problem. It seems that our rendering engine has issues with WebGL in some specific cases. We're already tracking a similar problem in #1875, so I am going to close this.

However, could you please give us more hints on when is this happening? Is it when you're opening a design or when exporting something? Does it happen to all designs or only with one specif

[2018-09-18 11:18] #2150 closed, assigned to nobody

[2018-09-18 11:19] jakubzitny commented on #2151
Hi @altimea, thanks for reporting this, how often is this happening and when exactly please? Also, what Linux distro are you using?

If it's happening too much, try using our web version instead in the meantime.

[2018-09-18 11:48] Grafikart commented on #2109
I launched it using the aur package (/bin/avocode)
But I also tried to launch it using the .zip from avocode website.

In both cases I tried to remove `~/.config/Avocode` and `~/.avocode` before launching

[2018-09-18 11:52] jakubzitny commented on #2109
Thanks for the info @Grafikart. Would you be willing to try it without the VSCode installation or clearing the other Electron somehow? I doubt that it is conflicting, but just to be 100% sure I'd try it.

If you don't have time to debug this, you can use our web version in Chrome/Chromium, that one should work properly.

[2018-09-18 12:37] Grafikart commented on #2109
@jakubzitny I tried to remove electron but I got the same problem, is there a way to get the console to give you more details ?

[2018-09-18 12:54] jakubzitny commented on #2109
Press `alt` and go to `Help -> Troubleshooting -> Open Dev Tools` menu.

Or launch the app with `-- --dev-tools` parameter from CLI.

[2018-09-18 12:59] Grafikart commented on #2109
I'm using the zip downloaded from Avocode to run my application

[code]

[2018-09-18 13:04] jakubzitny commented on #2109
Thanks, but this does not really help us, these are unrelated warnings actually. We'll try to do more investigation on our side and get back to you. We'll also be upgrading Electron to the latest version in `3.6.0` so that might also help.

Would you be ok to use the web version in the meantime?

[2018-09-18 13:10] Grafikart commented on #2109
@jakubzitny yeah no problem i'm currently using the web version.

[2018-09-18 13:15] Grafikart commented on #2109
btw the problem is very inconsistent. Without changing things sometimes it opens on a blank black window (without the top menu), sometimes you get the menu but not the rest of the application, and sometimes it just work. I'll keep you informed if I find a way to reproduce the problem easily.

[2018-09-18 13:17] jakubzitny commented on #2109
Yeah, we've heard that from another Arch user already. Thanks a lot. :)

[2018-09-18 15:42] polkom21 opened #2152 "Problem with layers"
I have a problem with layers. If I have a groups all layers inside group I don't know what layer is where

![image](https://user-images.githubusercontent.com/3143164/45699179-d6880a00-bb69-11e8-8830-2adce701bd6c.png)

When I select this layers and have export I receive bad image.

![image](https://user-images.githubusercontent.com/3143164/45699288-fae3e680-bb69-11e8-9f44-8d7d14d2c0cb.png)

In expo

[2018-09-19 11:46] htmlburger-git opened #2153 "Remote octopus link missing"
---
* **Version**: 3.5.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 63502
---
[code]

[2018-09-19 17:57] joabelhohn commented on #2144
Hi,

We have a page with many elements generated by a vector image, over 4K
elements.

Example:
[image: image.png]

Em ter, 18 de set de 2018 às 08:16, Jakub Žitný <notifications@github.com>
escreveu:

--
att.

Joabel Isaias Hohn
Analista Programador Sistemas

[2018-09-20 02:49] sergiofraiman opened #2154 "Failed to load PSD"
---
* **Version**: 3.5.0
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 311944
---
[code]

[2018-09-21 06:02] jakubzitny commented on #2154
Hi @sergiofraiman, thanks for reporting this problem. Can you please send us the link the the project or design where this is happening? We'll investigate the problem.

In the meantime you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-09-21 06:03] jakubzitny commented on #2153
Hi @htmlburger-git, thanks for reporting this problem. Can you please send us the link the the project or design where this is happening? We'll investigate the problem.

In the meantime you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-09-21 06:05] jakubzitny commented on #2152
Hi, thanks for reporting this. Regarding the layer padding, we'll investigate it. For the export, you can select the layers by dragging mouse on the design and the layers should select accordingly. The export should then be ok.

Can you please send us a link to your design so I can check it?

[2018-09-21 06:06] jakubzitny commented on #2151
Hi @altimea, thanks for reporting this, how often is this happening and when exactly please? Also, what Linux distro are you using?

If it's happening too much, try using our web version instead in the meantime.

[2018-09-21 06:06] jakubzitny commented on #2149
Hey @TomasHorak ,
thanks for the report and sorry for the inconvenience.

Do you remember what exactly were you doing when this error happened? Or are you able to reproduce this error reliably?

[2018-09-21 06:06] jakubzitny commented on #2148
Hey @AndreyYanovskiy,
thanks for the report and sorry for the inconvenience.

Do you remember what exactly were you doing when this error happened? Or are you able to reproduce this error reliably?

Also, a link to the design/project where this is happening could help us with troubleshooting.

[2018-09-21 06:08] jakubzitny commented on #2144
Hi @joabelhohn, thanks for replying. The design did not attach successfully, can you please upload the file to a file sharing service, or manually here on GitHub? Or a link to your design in Avocode would help as well.

Thanks 😉

[2018-09-21 10:15] sunshinetainted opened #2155 "Document failed to load"
---
* **Version**: 3.5.1
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 412469
---
[code]

[2018-09-21 10:35] jakubzitny commented on #2155
Hi @sunshinetainted, thanks for reporting this problem. Can you please send us the link the the project or design where this is happening? We'll investigate the problem.

In the meantime you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-09-21 10:36] jakubzitny commented on #2155
This is a duplicate of #2153. I'll close this, but please do send us the details.

[2018-09-21 10:36] #2155 closed, assigned to nobody

[2018-09-21 10:43] sunshinetainted commented on #2155
Hi, here is the link to the project: https://app.avocode.com/projects/694558/

The problem was resolved upon restarting the app.

[2018-09-21 10:46] jakubzitny commented on #2155
I see, that was probably a race condition when server was still processing the design. Thanks.

[2018-09-21 11:43] joabelhohn commented on #2144
Hi Jakub, we've converted the vector image to a png image. Like this
Avocode worked normally.

As we have already changed the design to work, the pieces have been
separated. The problem started with the upload of a page with many
elements, more than 4 thousand generated by a vector image.

Em sex, 21 de set de 2018 às 03:08, Jakub Žitný <notifications@github.com>
escreveu:

--
att.

Joabel Isaias

[2018-09-21 19:35] lpbellier opened #2156 "Problem with exporting"
Can't seem to be able to export my design... I uploaded a Sketch file, now I want to export each artwork or design pages into psd files.

Latest version used.

---
* **Version**: 3.5.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 421188
---
[code]

[2018-09-22 23:33] jakubzitny commented on #2156
Hi @lpbellier, thanks for reaching out to us. Avocode does not allow exporting to PSD actually. Are you having problems with exporting altogether? Do you get switched into Lite mode by any chance?

[2018-09-22 23:35] jakubzitny commented on #2144
Okay, I see. If you want us to investigate it more, I'll need the link to the design or project in Avocode. If it's resolved and you're satisfied with the result, we can close this issue.

[2018-09-22 23:35] jakubzitny commented on #2154
Hi @sergiofraiman, thanks for reporting this problem. Can you please send us the link the the project or design where this is happening? We'll investigate the problem.

In the meantime you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-09-22 23:35] jakubzitny commented on #2153
Hi @htmlburger-git, thanks for reporting this problem. Can you please send us the link the the project or design where this is happening? We'll investigate the problem.

In the meantime you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-09-22 23:36] jakubzitny commented on #2152
Hi, thanks for reporting this. Regarding the layer padding, we'll investigate it. For the export, you can select the layers by dragging mouse on the design and the layers should select accordingly. The export should then be ok.

Can you please send us a link to your design so I can check it?

[2018-09-22 23:36] jakubzitny commented on #2151
Closing due to inactivity. Please reopen if it's still happening and you have more info for us 😉

[2018-09-22 23:36] #2151 closed, assigned to nobody

[2018-09-22 23:36] jakubzitny commented on #2149
Closing due to inactivity. Please reopen if it's still happening and you have more info for us 😉

[2018-09-22 23:36] #2149 closed, assigned to nobody

[2018-09-22 23:36] jakubzitny commented on #2148
Closing due to inactivity. Please reopen if it's still happening and you have more info for us 😉

[2018-09-22 23:36] #2148 closed, assigned to nobody

[2018-09-24 13:45] jankuca commented on #2152
The "padding" is caused by a limit in the layer list which does not indent by more than 4 levels. I understand your perception that this is a bug – we should reconsider this limit as it is not so uncommon to have 4+ levels of layer nesting in larger designs.

Regarding the export result. Is it possible that there are hidden layers within the exported group layer? We've ran into an issue of hidden

[2018-09-24 13:50] jankuca commented on #2153
Can you tell us more about the design (file type – photoshop/sketch/etc.) and when did the error pop up? Were you opening a PSD right after import or was this a design you imported some time ago?

[2018-09-26 09:13] shelegin opened #2157 "Web"
---
* **Version**: 3.5.1-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: yandex 18.9.0.3409
* **Avocode UID**: 423081
---
[code]

[2018-09-26 10:40] CubaJas opened #2158 "Not loading"
---
* **Version**: 3.5.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 333611
---
[code]

[2018-09-26 10:53] shelegin opened #2159 "1"

[2018-09-26 11:53] peter-gabra opened #2160 "while browsing"
---
* **Version**: 3.5.1
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 356474
---
[code]

[2018-09-26 12:20] hoanvokim opened #2161 "Errow when update new mac os mojave"
---
* **Version**: 3.5.1
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 423877
---
[code]

[2018-09-26 12:21] bolekkerous commented on #2157
Hello @shelegin,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

[2018-09-26 12:22] bolekkerous commented on #2158
Hey @CubaJas,
do you remember which design were you trying to open when this error popped out? Would you be able to send us a link to the design to team@avocode.com, so we can investigate more?

[2018-09-26 12:23] bolekkerous commented on #2159
Hello @shelegin,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out? Is it the same error you reported earlier or did it happen somewhere else?

[2018-09-26 12:24] bolekkerous commented on #2160
Hello @peter-gabra ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-09-26 12:48] CubaJas commented on #2158
@bolekkerous All designs which not opened before. I think this problem with a connection when i connected across VPN to my office(not internet connection - remote workplace). For some reason Avocode is trying to connect to your servers across this VPN connection. On the office side TMG block this connection(but this problem on administrators side).

[2018-09-28 09:15] Designbystr opened #2162 "Crashed"
49.3

* **Version**:

 3.1.1

 desktop
* **Web/Desktop**:

* **Platform/Browser**: OS X El Capitan

 tolga@designbystructure.com
but please if you need to contact me use: eleonora@designbystructure.com

My desktop app crashing

[2018-09-29 11:32] MaximRoganov opened #2163 "Crashed at linux when i selected some layers from work layer"
---
* **Version**: 3.5.1
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-10-02 13:25] kebbbnnn opened #2164 "Crashing on Web"
---
* **Version**: 3.5.2-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: firefox 62.0
* **Avocode UID**: 426166
---
[code]

[2018-10-02 17:19] d3signer opened #2165 "Document failed to load"
---
* **Version**: 3.3.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 46617
---
[code]

[2018-10-03 08:40] crashmajstr commented on #2161
Hello @hoanvokim ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-03 08:41] crashmajstr commented on #2162
Hello @Designbystr ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Does this error pop up everytime you try to open the app/design?

[2018-10-03 08:43] crashmajstr commented on #2163
Hello @MaksimRoganov ,
please, can you send me the problematic design? We'll take a look at it and see what causes this error.

[2018-10-03 08:45] crashmajstr commented on #2164
Hello @kebbbnnn ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Does this error pop up everytime you try to open the app/design?

[2018-10-03 08:46] crashmajstr commented on #2165
Hello @d3signer  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-03 09:05] Designbystr commented on #2162
Hello Josef,

I tried yesterday and it worked.

Thanks for coming back to me!

Eleonora

Il giorno mer 3 ott 2018 alle ore 09:41 Josef Kettner <
notifications@github.com> ha scritto:

[2018-10-03 09:07] crashmajstr commented on #2162
Always happy to help, feel free to let us know in case of any questions, issues or feedback in the future! :)

[2018-10-03 09:07] #2162 closed, assigned to nobody

[2018-10-05 05:45] kebbbnnn commented on #2164
hi i'm sorry for the late response. the error happens when I try to highlight an object. then the browser freezes and showing this on the top part of the browser
![screenshot_16](https://user-images.githubusercontent.com/4963227/46517973-98e2eb00-c8a4-11e8-9da9-a6e9e726e98c.png) and the error dialog. An yes this happens almost everytime I highlight an object

[2018-10-05 09:11] crashmajstr commented on #2164
Hi, thanks for the provided info. We are already aware of this bug, it's caused by our rendering system which will be replaced for a newer one in the upcoming months. So for now, please, use the desktop app. Sorry for the inconvenience.
Best, Josef

[2018-10-05 09:11] #2164 closed, assigned to nobody

[2018-10-07 10:17] kty0529 opened #2166 "font & line-height & box height issue"
* **Version**: 3.5.2

* **Sketch plugin version**: 49.3

* **Web/Desktop**: Both

* **Platform/Browser**: Windows 10 / Google Chrome latest version

* **Avocode e-mail**: kty0529@gmail.com

Hi there,
I am a developer working on Avocode.
Create problems with the use of Avocode.

The value when creating by sketch and the value made automatically from avocode are different.

The setting is as follows

[2018-10-07 18:03] BulatSa opened #2167 "Crashed on preview"
I work on notebook with integrated Graphic Card, Intel i5-2430. I think Avocode, don't see my AMD Graphic Card - HD 6770

---
* **Version**: 3.5.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 428665
---
[code]

[2018-10-08 09:07] crashmajstr commented on #2166
Hi @kty0529
I am sorry for the inconvenience. Please, can you send me the problematic design (or at least the problematic part)? We'll troubleshoot it on our end and let you know about the solution asap.
Thank you.
Best,
Josef

[2018-10-08 09:13] crashmajstr commented on #2167
Hello @BulatSa  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

Otherwise, maybe this article may help how to enable your second graphics card for the specific app https://www.digitalcitizen.life/set-

[2018-10-09 09:22] thielpeter opened #2168 "regexp too big"
---
* **Version**: 3.5.2-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: firefox 62.0
* **Avocode UID**: 5231
---
[code]

[2018-10-09 11:15] crashmajstr commented on #2168
Hello @thielpeter  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-09 11:27] thielpeter commented on #2168
Hey @crashmajstr ,
the bug occured when I tried to open a design. The system seemed to load the layers, I clicked around and nothing did happen, then the error popped up. I think the system was not ready but I tried to use it. The Problem occured with different designs.

[2018-10-09 11:52] ReactFox opened #2169 "error"
---
* **Version**: 3.5.2-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: firefox 62.0
* **Avocode UID**: 393231
---
[code]

[2018-10-09 11:53] crashmajstr commented on #2168
So can you reproduce this error everytime you open a design? Please, can you send me a screencast of that? Thank you @thielpeter

[2018-10-09 11:53] crashmajstr commented on #2169
Hello @ReactFox
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-09 13:41] kty0529 commented on #2166
Hi, @crashmajstr
Thank you for your response.
You can download the sketch file where the problem occurs through the following link.
https://drive.google.com/open?id=1KUK1J3cC553Fir6JBz5D4-8g0iovxIrs

If you need my Avocode account, send me an email and I will give you the account information.
I will help you if you can help me fix the bug.

Thank.

[2018-10-09 13:49] crashmajstr commented on #2166
thanks @kty0529 I'll look into it and let you know about the solution asap.

[2018-10-09 14:08] crashmajstr commented on #2166
Hi @kty0529
I could reproduce the box height issue and I've just raised a ticket for our dev team. So I hope we'll be able to fix it soon.

But the second issue with

I couldn't reproduce. Please, can you send me file, where you've experienced this bug?
Thanks

[2018-10-09 14:37] kty0529 commented on #2166
Hi, @crashmajstr
Quick response Thanks.
Share the sketch file for the extra line breaks.
https://drive.google.com/open?id=1jYYft22qoCx9ia_Pe3wxLDgHxhMs_N8U

I'll be waiting for the good news.
Thank you.

[2018-10-09 15:24] crashmajstr commented on #2166
@kty0529 I can't reproduce that line break error even with your file... https://www.dropbox.com/s/jssocvv2sabezw3/Screenshot%202018-10-09%2017.22.47.png?dl=0

Do you have the latest avocode app (v3.5.2)?

[2018-10-09 15:35] kty0529 commented on #2166
@crashmajstr
Yes, I have latest avocode app (v3.5.2)

I'm sorry. Let me know the other part where the error occurs.
That part is resolved by re-uploading the sketch file, but the other part is not resolved.

[Imgur](https://i.imgur.com/K5tdIeo.png)

[2018-10-09 15:37] kty0529 commented on #2166
You can find it in the file **2.ceoHistory_(1)tab2012_(1)pc**

[2018-10-09 15:37] crashmajstr commented on #2166
@kty0529 yeah, you're right I can see that one too. So, ok problems found, issues raised. I'll let you once it's fixed.

[2018-10-09 15:38] kty0529 commented on #2166
Thank you very much.
The quick response is also very grateful.

I'm looking forward to the good news.

[2018-10-09 16:00] Airfo opened #2170 "More than 3 tabs crashes the app"
---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2018-10-10 02:26] Zintwo opened #2171 "Error report"
---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 351212
---
[code]

[2018-10-10 09:00] crashmajstr commented on #2171
Hello @Zintwo
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-10 09:04] crashmajstr commented on #2170
Hello @Airfo
thanks for the report. I'd like to ask some more information about your problem.
Does this happen like every time you open 3 tabs in Avocode or only with a specific design?

Let me know and we'll try to fix everything asap.

[2018-10-10 10:18] madve2 opened #2172 "Avocode crashes if I try to launch it again while it's already running"
If I launch Avocode when it's already running (it easily goes unnoticed in a multi-monitor setup), the already running instance gets focus (as it should), but the Unexpected error window pops up, with the message you see below.

---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 214267
---
[code]

[2018-10-10 11:20] bwdgit opened #2173 "Sketch file"
---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 75625
---
[code]

[2018-10-10 11:28] crashmajstr commented on #2172
Hi @madve2
thanks for reporting this. I've just tried to reproduce it and I've experienced the same issue. So I'll hand it out to our dev team and reach out to you with the solution asap.

[2018-10-10 11:34] crashmajstr commented on #2173
Hello @bwdgit  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-10 11:40] crashmajstr commented on #2166
Hi @kty0529
I am forwarding a question from our dev team regarding the line break issue. Is possible that you have these texts in the designs pasted from windows? (e.g. somebody from windows sends them to you etc.)
Thank you!

[2018-10-10 11:42] bwdgit commented on #2173
Every time when i try to open same sketch file.
This error strts today after update avocode

[2018-10-10 11:43] bwdgit commented on #2173
Hold with this http://prntscr.com/l4eif8

[2018-10-10 11:44] crashmajstr commented on #2173
@bwdgit other sketch files are ok? Please, can you send me the sketch file?

[2018-10-10 11:47] bwdgit commented on #2173
Mmm.. now a try to open new folder and program hold with this http://prntscr.com/l4ek7f

[2018-10-10 12:03] crashmajstr commented on #2173
Please, can you try the web app at app.avocode.com if you experience the same issues?

[2018-10-10 12:06] bwdgit commented on #2173
app.avocode.com - no problem!

[2018-10-10 12:10] crashmajstr commented on #2173
ok, I'll discuss this issue with our dev team and let you know.
Sorry for the inconvenience.

[2018-10-10 18:24] NecroSith opened #2174 "Error while saving changes of my account"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 321906
---
[code]

[2018-10-11 00:08] kty0529 opened #2175 "has crash"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

This version has been updated to 3.5.5, so it seems that there are some minor bugs.
I am also experiencing the problem of opening three tabs of other issues.

Rather than a specific tab problem, it was a file that opened well before the update, and it happened mostly when you turned on the Avocode and

[2018-10-11 07:52] crashmajstr commented on #2172
Hi @madve2
it should be fixed in the latest update 3.5.4 Give it a try and let me know.
Best,
Josef

[2018-10-11 07:52] #2172 closed, assigned to nobody

[2018-10-11 09:41] crashmajstr commented on #2174
Hello @NecroSith  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-11 09:42] petrbrzek commented on #2175
Thanks for reporting this bug. Did you have any opened design in those tabs? Also, did you remember whether you had guides enabled?

[2018-10-11 10:32] madve2 commented on #2172
I can confirm it's fixed, thank you!

[2018-10-11 10:56] jakubzitny commented on #2171
Closing with respect to #2173.

[2018-10-11 10:56] #2171 closed, assigned to nobody

[2018-10-11 10:56] jakubzitny commented on #1567
This problem now looks a bit different. Closing with respect to #2173.

[2018-10-11 10:56] #1567 closed

[2018-10-11 10:57] jakubzitny commented on #2169
Hello @ReactFox
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-11 10:57] jakubzitny commented on #2165
Hello @d3signer ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-11 10:58] jakubzitny commented on #2161
Hello @hoanvokim ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-11 10:59] jakubzitny commented on #2160
This happens from time to time, we already know about it. Removing `.avocode` directory should help. We're tracking it in #1926 so I'll close this thread.

[2018-10-11 10:59] #2160 closed, assigned to nobody

[2018-10-11 10:59] jakubzitny commented on #2159
Closing, please let us know if you can provide more details or if Avocode crashes again.

Same as #2157 I suppose.

[2018-10-11 10:59] #2159 closed, assigned to nobody

[2018-10-11 11:00] jakubzitny commented on #2157
Hello @shelegin,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

[2018-10-11 12:37] shectermen opened #2176 "oops"
---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 692
---
[code]

[2018-10-11 12:56] crashmajstr commented on #2176
Hello @shectermen  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-11 12:58] shectermen commented on #2176
the program was just open and worked as a background

[2018-10-11 13:02] crashmajstr commented on #2176
@shectermen so it was only a one time issue or does it happen all the time?

[2018-10-11 13:05] shectermen commented on #2176
one time, i think program try get autoupdate and filed

[2018-10-11 13:06] crashmajstr commented on #2176
ok, I'll close this issue and let us know if it happens again in the future. Thank you for your time

[2018-10-11 13:11] crashmajstr commented on #2176
Last question @shectermen did you manage to get the app updated to 3.5.5 or not?

[2018-10-11 13:12] shectermen commented on #2176
nope

[2018-10-11 13:18] crashmajstr commented on #2176
So, please, try to download a new app from here https://avocode.com/download and let me know if it works ok. Thank you

[2018-10-11 14:11] brunorilla opened #2177 "error sent by Avocode"
---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 430583
---
[code]

[2018-10-11 14:14] crashmajstr commented on #2177
Hello @brunorilla  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-11 15:06] ruslandjent opened #2178 "guides"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 433635
---
[code]

[2018-10-11 15:13] crashmajstr commented on #2178
Closing with respect to #2173

[2018-10-11 15:13] #2178 closed, assigned to nobody

[2018-10-11 15:22] agalar opened #2179 "error"
---
* **Version**: 3.5.5
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 83673
---
[code]

[2018-10-11 15:24] crashmajstr commented on #2179
Closing with respect to #2173

[2018-10-11 15:24] #2179 closed, assigned to nobody

[2018-10-11 15:40] agalar opened #2180 "Error when using Guides"
---
* **Version**: 3.5.5
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 83673
---
[code]

[2018-10-11 16:11] ReactFox commented on #2169
Hello Yosef!
Thanks for trying to help solve the problem.
An error occurs every time you open the same project.
Here is the design
https://app.avocode.com/revisions/31674688/?design=20321822.
Project folder https://app.avocode.com/projects/704113/
If there is a need, then I am ready to give you access to the project. (I
just don’t know how to do it)
I do not open other designs, as I work on one pr

[2018-10-11 18:18] NecroSith commented on #2174
@crashmajstr sure
I get this error while trying to create new project. When I click on "new project" and then on "create" avocode is starting project creation but then error popup saying "failed to create project" appears. Sometimes it crashes while creating a project or loading the existing one.
As for "when", this has started to happen very recently, maybe three or four days ago. Before this eve

[2018-10-11 18:18] brunorilla commented on #2177
Hi @crashmajstr !
How are you?
I was trying to open the "grids and rulers" option and it crashed. Nothing more. Then the error appeared and the program got closed. Then I opened the program again and it worked properly. It was the first and only opportunity that this error happened.
Thank you!

[2018-10-11 19:35] brunorilla opened #2181 "Sorry, it happened again. It is when I go to 'View>Rulers and Guides" and then it appears. With different kind of PSD files."
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 430583
---
[code]

[2018-10-12 07:43] vojtatranta commented on #2177
@brunorilla there are two options in Grids and rulers. You can enable there Grid and Guides. Do you remember which one did you choose?

[2018-10-12 07:47] crashmajstr commented on #2180
Closing with respect to #2173

[2018-10-12 07:47] #2180 closed, assigned to nobody

[2018-10-12 07:48] crashmajstr commented on #2181
Closing with respect to #2173

[2018-10-12 07:48] #2181 closed, assigned to nobody

[2018-10-12 09:44] crashmajstr commented on #2169
Hi @ReactFox ,
thanks for providing me with this info. I can reproduce it so I'll hand this out to our dev team. I'll let you know once it's fixed.
Sorry for the inconvenience.
Best,
Josef

[2018-10-12 09:59] d3signer opened #2182 "Cannot open file"
---
* **Version**: 3.3.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 46617
---
[code]

[2018-10-12 09:59] d3signer commented on #2182
Cant update cant do anything

[2018-10-12 10:17] SReaver opened #2183 "Gideline select"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 432303
---
[code]

[2018-10-12 10:23] vojtatranta commented on #2183
Hi @SReaver ,
we are sorry about this issue. We have already found a solution and it will be released as soon as possible in the next release.

[2018-10-12 10:45] crashmajstr commented on #2182
Hi @d3signer ,
thanks for reaching out. Please, can you try to reinstall your app? You can download it from here https://avocode.com/download.
Let me know if are able to install the new version and if everything works ok.

[2018-10-12 12:24] #2154 closed, assigned to nobody

[2018-10-12 12:24] crashmajstr commented on #2156
Hi @lpbellier, thanks for reaching out to us. Avocode does not allow exporting to PSD actually. Are you having problems with exporting altogether? Do you get switched into Lite mode by any chance?

[2018-10-12 12:24] #2157 closed, assigned to nobody

[2018-10-12 12:27] #2161 closed, assigned to nobody

[2018-10-12 12:27] crashmajstr commented on #2163
Hello @MaksimRoganov ,
please, can you send me the problematic design? We'll take a look at it and see what causes this error.

[2018-10-12 12:27] #2165 closed, assigned to nobody

[2018-10-12 12:27] crashmajstr commented on #2167
Hello @BulatSa ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

Otherwise, maybe this article may help how to enable your second graphics card for the specific app https://www.digitalcitizen.life/set-w

[2018-10-12 12:28] crashmajstr commented on #2168
So can you reproduce this error everytime you open a design? Please, can you send me a screencast of that? Thank you @thielpeter

[2018-10-12 12:28] crashmajstr commented on #2170
Hello @Airfo
thanks for the report. I'd like to ask some more information about your problem.
Does this happen like every time you open 3 tabs in Avocode or only with a specific design?

Let me know and we'll try to fix everything asap.

[2018-10-12 12:28] crashmajstr commented on #2175
Thanks for reporting this bug @kty0529 . Did you have any opened design in those tabs? Also, did you remember whether you had guides enabled?

[2018-10-12 12:29] crashmajstr commented on #2176
So, please, try to download a new app from here https://avocode.com/download and let me know if it works ok. Thank you @shectermen

[2018-10-12 12:36] shectermen commented on #2176
downloaded the new version and the error disappeared, but now I can't hide and export the layers

[2018-10-12 12:39] bolekkerous commented on #2158
Hey @CubaJas, we've tried to investigate on our end but didn't really have luck with reproducing the issue.

So if I understand it correctly, you are getting this error when you try to open a design that was not opened before and when you are connected via VPN to your office? And that's most likely an issue on the administrator's side?

Have you also tried connecting via some other network, a wi-f

[2018-10-12 12:44] crashmajstr commented on #2176
thanks @shectermen, probably you have a little label "Lite mode" when you are in the inspect mode, right? In the last update, we enabled to all users Monroe rendering option (in the app preferences). So, if you were using the old rendering engine (that means you have disabled Monroe), just disable it again.
Learn more about Lite mode problems here:  https://help.avocode.com/app-settings/lite-mode-

[2018-10-12 12:47] shectermen commented on #2176
yes, Monro didnt work on mac os 10.13.2

[2018-10-12 12:48] crashmajstr commented on #2176
@shectermen true, so go to the app preferences and disable it :)

[2018-10-12 12:48] #2176 closed, assigned to nobody

[2018-10-12 12:49] shectermen commented on #2176
thanx

[2018-10-12 12:53] crashmajstr commented on #2174
@NecroSith
thanks for providing me with this info. We can actually see it in our tracking system. I've raised an issue for our developers, hope we'll fix this soon. Sorry for the inconvenience.

[2018-10-12 13:17] truemoroz opened #2184 "error"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 111132
---
[code]

[2018-10-12 13:25] crashmajstr commented on #2184
Hi @truemoroz  ,
we are sorry about this issue. We have already found a solution and it will be released as soon as possible in the next release.

[2018-10-12 13:25] crashmajstr commented on #2184
Closing with respect to #2173

[2018-10-12 13:25] #2184 closed, assigned to nobody

[2018-10-12 13:53] bogusweb opened #2185 "After try turn on designers guides"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 282707
---
[code]

[2018-10-12 13:59] crashmajstr commented on #2185
Hi @bogusweb  ,
we are sorry about this issue. We have already found a solution and it will be released on Monday.

[2018-10-12 13:59] #2185 closed, assigned to nobody

[2018-10-12 15:04] trendspb-developer opened #2186 "Report of not downloading of project"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 223433
---
[code]

[2018-10-12 15:42] d3signer opened #2187 "Application crush"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 46617
---
[code]

[2018-10-13 02:30] kty0529 commented on #2175
@petrbrzek @crashmajstr

The answer was late.
I personally had a bad problem and the answer was late.
I am so sorry.

The Designer's Guide was on, and it seemed to recreate the situation where several tests resulted in errors.

Reproducing the problem occurred as follows.

1. Designer Guide is turned on
Hold down the Control key and double-click the file to open it with a new tab.
If you open mult

[2018-10-13 02:35] kty0529 commented on #2166
@crashmajstr

I did not understand the question because my English was not good.
If the answer is correct, please help me.

The sketch file I uploaded on Mac OS is working through Avocode on Windows 10.
But when I asked the designer for a query from Avocode, he said the same thing happened.

In addition, if you copy the text of the element that Enter once more through Avocode, the enter normally e

[2018-10-13 02:39] kty0529 commented on #2175
Dismiss all warnings when multiple tabs are opened before the end of a single tab, and look at the end of the loaded tab.

Please be a reference.

[Imgur](https://i.imgur.com/grdYJQs.png)

[2018-10-13 02:42] kty0529 commented on #2175
If you turn off the designer's guide and my guide, no matter how many taps you open, it works fine.

[Imgur](https://i.imgur.com/lS96TK0.png)

[2018-10-13 03:37] kty0529 commented on #2175
If you open the tab with the designer guide turned off and then turn on the designer guide again, an error will occur.

---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 239989
---
[code]

[2018-10-13 19:45] maksimsukalov opened #2188 "Too long loading metadata"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 431832
---
[code]

[2018-10-15 06:47] NecroSith opened #2189 "Document failed to load"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 321906
---
[code]

[2018-10-15 06:48] NecroSith commented on #2189
This error appears whenever I try to open any existing design in the desktop app

[2018-10-15 07:16] crashmajstr commented on #2188
Hi @maksimsukalov , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-15 07:18] crashmajstr commented on #2187
Hi @d3signer  , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-15 07:18] crashmajstr commented on #2186
Hi @trendspb-developer  , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-15 09:43] crashmajstr commented on #2189
Hi @NecroSith I've just tried to reproduce this behaviour on my end but without any luck... Please, can you send me a screencast of the buggy scenario?
Thanks,
Josef

[2018-10-15 09:52] nmcobalt opened #2190 "Problem to report:"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 432463
---
[code]

[2018-10-15 09:53] vojtatranta commented on #2190
Hi @nmcobalt ,
we know about this bug and it will be fixed today in `3.5.6`.

This issue is duplicate of #2183

[2018-10-15 09:53] #2190 closed, assigned to nobody

[2018-10-15 09:58] NecroSith commented on #2189
Hi @crashmajstr
I investigated this thing a bit further and found out that this error pops up with not opening ANY existing designs but with only some.  They surely could be opened earlier because I worked with em some time ago but now the error occurs every time I try to load them. While loading the design, it kinda stucks on "Loading metadata" and either loads the design or [fails](https://1.dow

[2018-10-15 10:27] crashmajstr commented on #2189
Thanks for the info! I've just tried to reproduce it and I've experienced the same error. I'll hand it out to our dev team for further investigation. For now, please, upload the file again, it worked for me.
I'll let you if there is any update.
Best,
Josef

[2018-10-15 11:01] crashmajstr commented on #2156
Closing due to inactivity

[2018-10-15 11:01] #2156 closed, assigned to nobody

[2018-10-15 11:02] crashmajstr commented on #2144
Closing due to inactivity

[2018-10-15 11:02] #2144 closed, assigned to nobody

[2018-10-15 11:07] crashmajstr commented on #2175
@kty0529 Hi thanks for the provided info. We'll release a fix for this issue later today.

[2018-10-15 11:31] ffiona opened #2191 "Can't use it, always shows error"
Auto update failed

---
* **Version**: 3.5.4
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 85804
---
[code]

[2018-10-15 11:33] vojtatranta commented on #2191
Hi @ffiona ,
we are very sorry to hear this.

This bug is known and we release fix today in 3.5.6.

This issue is duplicate of #2183

[2018-10-15 11:33] #2191 closed, assigned to nobody

[2018-10-15 11:33] kty0529 commented on #2175
@crashmajstr Thank you very much!

[2018-10-15 13:14] MeatCrash opened #2192 "Error Avocode"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 429246
---
[code]

[2018-10-15 13:39] crashmajstr commented on #2192
Hello @MeatCrash  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-15 13:42] MeatCrash commented on #2192
Yes! That's the way. There was an error loading the layout, which was already in the project, and more it did not open, had to delete the layout file and fill again. After that, everything worked

[2018-10-15 13:48] vojtatranta commented on #2183
We have just released `3.5.6` version. Update your app and this problem should be resolved.

[2018-10-15 13:48] #2183 closed, assigned to vojtatranta

[2018-10-15 13:48] crashmajstr commented on #2192
ok, please, let me know if you experience this issue again.

[2018-10-15 13:49] vojtatranta commented on #2191
@ffiona we have just released version `3.5.6` where we fixed this problem.

Sorry again for the troubles, happy avocoding :).

[2018-10-15 13:50] #2192 closed, assigned to nobody

[2018-10-15 15:19] Breeze8 opened #2193 "Can't open psd files"
---
* **Version**: 3.5.6-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 69.0.3497.100
* **Avocode UID**: 195760
---
[code]

[2018-10-15 15:53] crashmajstr commented on #2193
Hello @Breeze8  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-16 06:03] pashawol opened #2194 "Version**: 3.5.5"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 140453
---
[code]

[2018-10-16 06:31] vojtatranta commented on #2194
Hi @pashawol,
this issue is fixed in 3.5.6. just update your Avocode.

[2018-10-16 06:31] #2194 closed, assigned to nobody

[2018-10-16 07:50] crashmajstr commented on #2189
@NecroSith Hey, It looks like the error I reproduced was a different one because I can open your file just fine. Please, can you try to reupload it and try to open it again? Thanks

[2018-10-16 08:56] MaximRoganov commented on #2163
Hi, @crashmajstr
https://drive.google.com/open?id=1aTP5l_K8qRqmBovCUMIVP_iBL-zMDpCM

[2018-10-16 10:25] truemoroz opened #2195 "error"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-10-16 10:26] vojtatranta commented on #2195
HI @truemoroz ,
it seems you use outdated app.

Could you update your app? And see whether this crash still happens and if so, can you describe how we could reproduce it?

[2018-10-16 10:38] crashmajstr commented on #2163
Hi @MaksimRoganov ,
thanks for sending this over. The design works well on my end. I can see that you have an outdated app, please, can you update it and let me know if the error still persists? Thank you

[2018-10-17 05:09] truemoroz commented on #2195
How I can do it without menu?

[image: image.png]

вт, 16 окт. 2018 г. в 14:26, Vojtěch Tranta <notifications@github.com>:

[2018-10-17 06:51] crashmajstr commented on #2195
Hi @truemoroz , you can download it from our website https://avocode.com/download
Let me know if it worked

[2018-10-17 07:17] NecroSith commented on #2189
@crashmajstr Hi
I was trying to reupload this psd I couldn't open earlier but now it doesn't seem to upload at all :O
I drag-and-drop it but nothing happens, the same with manual choosing. Jpeg was uploaded and could be viewed normally but not psd

[2018-10-17 07:19] crashmajstr commented on #2189
@NecroSith oh that's strange. Do you have the latest app? (3.5.6) Also, please, can you try if it's the same in the web app? Thanks

[2018-10-17 07:39] NecroSith commented on #2189
@crashmajstr yes, I have the lastest version.
I tried to reupload the psd one more time. This time it succeeded but it threw an error while opening the design. Here is the text, I'm not sure if I should post a new issue about this or not.
The web version works fine.

---
* **Version**: 3.5.6
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 321906
---
[code]

[2018-10-17 08:26] crashmajstr commented on #2189
@NecroSith thanks for the provided info. One thing you can try is to logout/login in the desktop app and see if that helps. If not you can help us by sending me a screencast with devtools enabled (network tab).
How to enable devtools: click on the Help menu while holding "Alt" key > Troubleshooting > Devtools

Otherwise, just use the web app if it's working ok.

[2018-10-17 22:06] MaximRoganov commented on #2163
@crashmajstr In general, everything is ok. Thx
That trouble appear sometimes in all versions of avocode. I think main reason is my weak laptop characteristics

[2018-10-17 22:07] #2163 closed, assigned to nobody

[2018-10-18 02:52] wpc1403s2 opened #2196 "error"
---
* **Version**: 3.5.6
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 439612
---
[code]

[2018-10-18 07:26] crashmajstr commented on #2196
Hi @wpc1403s2  , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-18 09:15] BulatSa commented on #2167
I just work with my uploaded sketch file, i open one page for view on Avocode. Also Avocode crashed with message about It doesn't rendered with WebGL. My Noteook HP Pavilion dv6-6b53er with 8GB RAM.

[2018-10-18 09:20] crashmajstr commented on #2167
@BulatSa Can you reproduce it? A screencast would be helpful, but I am afraid that there'll be a problem with Web-GL (technology used for rendering) on your computer. Did you manage to enable the non-integrated Graphics card?

[2018-10-19 10:30] vladislav05 opened #2197 "error"
---
* **Version**: 3.5.6
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-10-19 10:30] #2197 closed, assigned to nobody

[2018-10-19 13:27] AlexKiZer opened #2198 "inifinite loading metadata"
---
* **Version**: 3.5.6
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 432251
---
[code]

[2018-10-19 13:29] AlexKiZer commented on #2198
after previous update,i cant use avacode. reinstall dont help me.

[2018-10-19 14:10] jankuca commented on #2198
Hello, thanks for reaching out!

This is strange. Does it happen with all your designs or just a particular one?

[2018-10-19 14:38] AlexKiZer commented on #2198
with all. when i try delete psd from project and reopen app ,its still here. its all about only app , with web version no problems with same psd.

[2018-10-19 14:39] jankuca commented on #2198
Can you try logging out and back in?

[2018-10-19 14:43] jankuca commented on #2198
Are you using a firewall which might block the Avocode app from connecting to our server API?

[2018-10-20 18:58] lockerok opened #2199 "wow"
---
* **Version**: 3.6.0-web.1
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.3
* **Browser**: yandex 18.9.0.3363
* **Avocode UID**: 442764
---
[code]

[2018-10-20 18:58] lockerok opened #2200 "wow"
---
* **Version**: 3.6.0-web.1
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.3
* **Browser**: yandex 18.9.0.3363
* **Avocode UID**: 442764
---
[code]

[2018-10-21 09:59] yastrebovb opened #2201 "RangeError: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': Out of memory at ImageData creation"
---
* **Version**: 3.5.6
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 441804
---
[code]

[2018-10-22 06:14] AlexKiZer commented on #2198
just try.disable all and its not firewall or antivirus.

[2018-10-22 06:58] crashmajstr commented on #2201
Hi @yastrebovb  , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-22 06:59] crashmajstr commented on #2201
Hi @yastrebovb  , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-22 07:09] crashmajstr commented on #2199
Hi @lockerok   , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-22 07:10] crashmajstr commented on #2200
Closing, with respect to #2199

[2018-10-22 07:10] #2200 closed, assigned to nobody

[2018-10-22 07:10] crashmajstr commented on #2200
Closing, with respect to #2199

[2018-10-22 14:03] salexpro opened #2202 "Crash when select some layers"
---
* **Version**: 3.6.0
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 30893
---
[code]

[2018-10-22 14:43] Demetryi opened #2203 "Problems"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 436158
---
[code]

[2018-10-22 14:45] vojtatranta commented on #2202
Hi @salexpro,
does it happen when you select any layer? Or does it happen just on one specific design?

[2018-10-22 15:00] salexpro commented on #2202
It happens when I select any layer of Figma component. Besides this components is not in components tab. When I try to click on it, avocode says:
![image](https://user-images.githubusercontent.com/4237964/47300021-30299b80-d624-11e8-8b14-c9cfb3a7f4bf.png)

![image](https://user-images.githubusercontent.com/4237964/47299718-8cd88680-d623-11e8-9e2f-34b3c15ca140.png)

[2018-10-22 17:02] renatolaurino opened #2204 "Error message appears when you click on the text field."
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 443993
---
[code]

[2018-10-22 17:27] Ivan-Orlov opened #2205 "Error"
---
* **Version**: 3.5.6
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 199840
---
[code]

[2018-10-22 20:47] Platman opened #2206 "Reported via the error message in the app"
---
* **Version**: 3.6.0-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.13.6
* **Browser**: chrome 69.0.3497.100
* **Avocode UID**: 393321
---
[code]

[2018-10-22 22:00] travisedwardbrown opened #2207 "Error clicking on an object in Avocode Inpector mode"
---
* **Version**: 3.6.0-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.14
* **Browser**: safari 12.0
* **Avocode UID**: 440265
---
[code]

[2018-10-23 00:51] andrew-mykhalchuk opened #2208 ""An unexpected error has occurred" - on newly opened design when selecting a layer"
This error occurred when I opened a PSD design and selected a layer. Avocado didn't crash - just the modal pope with this error message. In message body it says:
The application has encountered an error.
        If you see a pattern or have any information
        which might be of use for us.
 Please report this issue.

I'm currently on the latest version but prior to this message I had a message

[2018-10-23 01:00] andrew-mykhalchuk opened #2209 "Avocode crashed after unseccessful layer selection"
This is additional issue that happened following https://github.com/avocode/avocode/issues/2208
---
Here's what happened this time:
1. I restarted the app.
2. Attempted to select any layer again - received errors described in linked issue above.
3. After multiple unsuccessful attempts app crashed and suggested opening a new issue and this one seems to be different so I decided not to combine them

[2018-10-23 06:53] SerhiienkoRuslan opened #2210 "w"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 69985
---
[code]

[2018-10-23 06:53] sontrx opened #2211 "error?"
---
* **Version**: 3.6.0-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.12.6
* **Browser**: chrome 70.0.3538.67
* **Avocode UID**: 441716
---
[code]

[2018-10-23 07:34] iliamarkovski opened #2212 "An unexpected error has occurred [PSD to Avocode]"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 341127
---
[code]

[2018-10-23 07:43] sontrx opened #2213 "got this error today. please someone help me!"
---
* **Version**: 3.6.0-web.2
* **Web/Desktop**: Web
* **Platform**: macosx 10.12.6
* **Browser**: chrome 70.0.3538.67
* **Avocode UID**: 441716
---
[code]

[2018-10-23 07:49] SerhiienkoRuslan opened #2214 "wtf"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 69985
---
[code]

[2018-10-23 07:52] crashmajstr commented on #2202
Hi @salexpro , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Best,
Josef

[2018-10-23 07:53] crashmajstr commented on #2203
Hi @Demetryi  , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:53] #2203 closed, assigned to nobody

[2018-10-23 07:53] crashmajstr commented on #2204
Hi @renatolaurino   , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:53] #2204 closed, assigned to nobody

[2018-10-23 07:54] crashmajstr commented on #2208
Hi @mehocode  , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:54] #2208 closed, assigned to nobody

[2018-10-23 07:54] maxonik opened #2215 "TypeError"
Если в режиме инспектирования нажать на любой элемент появляется сообщение "An unexpected error has occurred".
Проблема наблюдается только в одном psd исходнике, в остальных все хорошо.

---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 1137
---
[code]

[2018-10-23 07:54] crashmajstr commented on #2210
Hi @brucet1s   , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:54] #2210 closed, assigned to nobody

[2018-10-23 07:54] crashmajstr commented on #2211
Hi @sontrx  , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:54] #2211 closed, assigned to nobody

[2018-10-23 07:55] crashmajstr commented on #2212
Hi @iliamarkovski   , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:55] #2212 closed, assigned to nobody

[2018-10-23 07:55] crashmajstr commented on #2213
Hi @sontrx  , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:55] #2213 closed, assigned to nobody

[2018-10-23 07:55] crashmajstr commented on #2214
Hi @brucet1s , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:55] #2214 closed, assigned to nobody

[2018-10-23 07:57] crashmajstr commented on #2207
Hi @travisedwardbrown  , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 07:57] #2207 closed, assigned to nobody

[2018-10-23 07:59] crashmajstr commented on #2209
Hi, please, can you tell me if the error poped out only when you inspected PSDs? @mehocode

[2018-10-23 08:04] crashmajstr commented on #2215
Hi @maxonik , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 08:04] #2215 closed, assigned to nobody

[2018-10-23 08:05] denisneposeda opened #2216 "Avodoce 3.6 bug for Windows 7"
---
* **Version**: 3.6.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: chrome 70.0.3538.67
* **Avocode UID**: 443836
---
[code]

[2018-10-23 08:05] crashmajstr commented on #2205
Hello @Ivan-Orlov  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-23 08:06] crashmajstr commented on #2206
Hello @Platman   ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-23 08:07] crashmajstr commented on #2216
Hi @denisneposeda , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 08:07] #2216 closed, assigned to nobody

[2018-10-23 08:08] Exteriordemonic opened #2217 "Avocode bug, cant inspect elements"
---
* **Version**: 3.6.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 69.0.3497.100
* **Avocode UID**: 430405
---
[code]

[2018-10-23 08:10] crashmajstr commented on #2217
Hi @Exteriordemonic  , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 08:10] #2217 closed, assigned to nobody

[2018-10-23 08:37] kub3c19 opened #2218 "Cannot inspect some elements, the browser alerts "An error occured, do you want to report it?" after clicking on it."
---
* **Version**: 3.6.0-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 70.0.3538.67
* **Avocode UID**: 434396
---
[code]

[2018-10-23 08:40] crashmajstr commented on #2218
Hi @kudlo , we're currently working on a fix, I am sorry for the inconvenience, we'll let you know once it's fixed.
Closing with respect to #2202
Best,
Josef

[2018-10-23 08:40] #2218 closed, assigned to nobody

[2018-10-23 09:04] crashmajstr commented on #2215
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2202
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2203
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2204
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2208
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2210
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2211
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2212
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:05] crashmajstr commented on #2213
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:06] crashmajstr commented on #2214
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:06] crashmajstr commented on #2207
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:06] crashmajstr commented on #2216
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:06] crashmajstr commented on #2217
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:06] crashmajstr commented on #2218
Hi, just wanna inform you that we’ll release the fix in an upcoming hour or so. It’ll be version 3.6.1.
For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

I’ll let you know once the fix is out. Sorry for the inconvenience.

[2018-10-23 09:37] maxdenaro opened #2219 "Avocode"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 241871
---
[code]

[2018-10-23 09:37] DmytroIvantsov opened #2220 "s"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 444604
---
[code]

[2018-10-23 10:22] crashmajstr commented on #2219
Hi @maxdenaro , thank you for reporting this, the fix should be released in an hour. I'll let you know.

For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

Closing with respect to #2202
Best,
Josef

[2018-10-23 10:22] #2219 closed, assigned to nobody

[2018-10-23 10:22] crashmajstr commented on #2220
Hi @DmytroIvantsov , thank you for reporting this, the fix should be released in an hour. I'll let you know.

For now, you can just download and use our older stable build 3.5.6

Download links
Mac: https://we.tl/t-bS4jyZufpT
Win: https://we.tl/t-12nDKmpafd
Linux: https://we.tl/t-krrbw7ZRvB

Closing with respect to #2202
Best,
Josef

[2018-10-23 10:22] #2220 closed, assigned to nobody

[2018-10-23 10:53] crashmajstr commented on #2202
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:53] #2202 closed, assigned to nobody

[2018-10-23 10:54] crashmajstr commented on #2220
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:54] crashmajstr commented on #2219
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:54] crashmajstr commented on #2218
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:54] crashmajstr commented on #2217
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:54] crashmajstr commented on #2216
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:54] crashmajstr commented on #2215
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:54] crashmajstr commented on #2207
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:54] crashmajstr commented on #2214
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:55] crashmajstr commented on #2213
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:55] crashmajstr commented on #2212
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:55] crashmajstr commented on #2211
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:55] crashmajstr commented on #2210
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:55] crashmajstr commented on #2208
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:55] crashmajstr commented on #2204
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:55] crashmajstr commented on #2203
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 containing the fix for this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Hope everything will be ok from now on.
I am very sorry for the inconvenience.
On behalf of Avocode,
Josef Kettner

[2018-10-23 10:57] crashmajstr commented on #2205
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 which could fix this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Let me know if the problem still persists or not. Thank you

[2018-10-23 10:57] crashmajstr commented on #2206
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 which could fix this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Let me know if the problem still persists or not. Thank you

[2018-10-23 10:57] crashmajstr commented on #2209
Hi, just wanna inform you that we’ve just released the new version of Avocode 3.6.1 which could fix this issue.
Please, update your desktop app, if you use the web app the new version is already there.
Let me know if the problem still persists or not. Thank you

[2018-10-23 12:41] salexpro commented on #2202
Still, receive the same error
Do I need to re-upload my Figma design?
![image](https://user-images.githubusercontent.com/4237964/47361146-e9967880-d6d9-11e8-898b-b4d107118db0.png)
![image](https://user-images.githubusercontent.com/4237964/47361173-f9ae5800-d6d9-11e8-8f30-0863225f74e4.png)

---
* **Version**: 3.6.1
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwi

[2018-10-23 12:43] jakubzitny commented on #2202
Could you please send us the private/public to the design where this is happening, please @salexpro?

[2018-10-23 15:56] t1gu1 opened #2221 "Click on a image with ruler | An inexpected error has occurred"
- It's the first time on this build (it looks like it's not frequent.. pretty sure if I restart, all will be ok)
- I just click on a image.
- The present tools is the ruler

![image](https://user-images.githubusercontent.com/12479055/47373680-500b9e80-d6ba-11e8-87b6-0399d425dc3b.png)

---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 136162
---
[code]

[2018-10-23 16:10] Platman commented on #2206
Hi @crashmajstr - this error occurred when I received an email alert that a design was updated.  I clicked a link and thus was trying to open a specific design in the webapp, not the desktop app.  I have not installed the desktop app as I'm mostly a consumer / commenter on designs, not an individual contributor.

[2018-10-23 16:11] Platman commented on #2206
I'll note I've received this same error from multiple designs in our account, fairly regularly.  I can usually bypass the issue by going to our account and clicking on the designs individually, but I'd appreciate the convenience of going directly to updated designs via email alert.

[2018-10-23 16:50] andrew-mykhalchuk commented on #2209
Hi @crashmajstr - I can confirm this is now fixed. I'm on v3.6.2 already. Appreciate blazing fast updates!

Thank you

[2018-10-23 16:51] andrew-mykhalchuk commented on #2208
Hi @crashmajstr - I can confirm this is now fixed. I'm on v3.6.2 already. Appreciate blazing fast updates!

Thank you

[2018-10-23 16:57] ghost opened #2222 "help"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2018-10-24 08:02] AndreyBragin opened #2223 "Can't load file"
I'm using mac mini 2014

---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 117474
---
[code]

[2018-10-24 08:05] vojtatranta commented on #2221
Hi @t1gu1 ,
this issue is already fixed in `3.6.2`. Just update you application and you should be go to go.

Sorry for this error.

[2018-10-24 08:05] #2221 closed, assigned to nobody

[2018-10-24 08:06] #2209 closed, assigned to nobody

[2018-10-24 08:08] crashmajstr commented on #2222
Hi @darianelski  ,
this issue is already fixed in `3.6.2`. Just update your application and you should be good to go.

I am sorry for the inconvenience.
Best,
Josef

[2018-10-24 08:08] #2222 closed, assigned to nobody

[2018-10-24 08:09] crashmajstr commented on #2223
Hi @AndreyBragin , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-24 08:35] AndreyBragin commented on #2223
https://app.avocode.com/projects/715806/

[2018-10-24 08:35] vojtatranta commented on #2202
@salexpro this is definitely fixed in `3.6.2`

[2018-10-24 08:37] crashmajstr commented on #2202
@salexpro already replied via intercom that it's fixed and working ok. cc @vojtatranta @jakubzitny

[2018-10-24 08:39] crashmajstr commented on #2206
@Platman Thanks for reporting this, I'll take a look and try to reproduce this problem on my end. May I ask you for a screencast, just to make sure that I get it correctly, please?

[2018-10-24 09:14] crashmajstr commented on #2223
Hi, I've just tried to upload your file on my end and it's working just fine. Please, can you try to reupload it or reupload via web app if the problem is the same? Thank you

[2018-10-24 09:35] crashmajstr commented on #2206
@Platman can you please, send me links to the design files you have a problem with? If it's not with every file it's weird.

[2018-10-24 12:13] VaranCollins opened #2224 "Crashed after update"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2018-10-24 13:20] crashmajstr commented on #2224
Hello @VaranCollins  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-24 13:59] VaranCollins commented on #2224
This happened with only one design.
But I downloaded this design from the program, downloaded it back, and now
it opens normally. Magic.

ср, 24 окт. 2018 г. в 16:20, Josef Kettner <notifications@github.com>:

--

С уважением, Илья К.

[2018-10-24 14:00] crashmajstr commented on #2224
Great, glad it works now.
​
Feel free to let us know in case of any questions, issues or feedback in the future!

[2018-10-24 14:00] #2224 closed, assigned to nobody

[2018-10-24 14:46] TIIUNDER opened #2225 "Avocode App crashes on Ubuntu"
At the first start on Ubuntu 16.04 Avocode crashes. Clicking the "restart" button restarts it and after that it works.

---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-10-24 20:18] obalaushko opened #2226 "Error"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 320600
---
[code]

[2018-10-25 07:33] vojtatranta commented on #2226
Hi @ZolotoeKoputo ,
this issue is fiex in 3.6.2. Please, update your application.

Sorry for this troubles.

[2018-10-25 07:33] #2226 closed, assigned to nobody

[2018-10-25 07:37] crashmajstr commented on #2225
Hello @TIIUNDER ,
thank you for reaching out. Does this happen every time you first start Avocode or it was only once?
Thanks for letting me know!

[2018-10-25 08:10] TIIUNDER commented on #2225
@crashmajstr No, it's happening every time. Also closing and and opening it again crashes it. Only using the restart button after the first crash is working.

[2018-10-25 08:51] #2175 closed, assigned to nobody

[2018-10-25 08:52] #2170 closed, assigned to nobody

[2018-10-25 08:55] crashmajstr commented on #2225
Hi, thank you, we noticed that some of our user ~3 reported this problem as well, but we can't reproduce it on our end. So we'll try to investigate it more on our end. One thing you can try is to delete your ~.avocode folder, maybe it'll help. Otherwise, please use the web app it should work ok. Thank you!

Closing with respect to #2109 #2146

[2018-10-25 08:55] #2225 closed, assigned to nobody

[2018-10-25 19:44] timhwang21 opened #2227 "Too much recursion"
---
* **Version**: 3.6.2-web.1
* **Web/Desktop**: Web
* **Platform**: macosx 10.13
* **Browser**: firefox 62.0
* **Avocode UID**: 240986
---
[code]

[2018-10-26 08:17] crashmajstr commented on #2227
Hello @timhwang21 ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-26 09:10] Andrew-Dyachenko opened #2228 "Avocode has crashed after Monroe checkbox was checked"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-10-26 14:15] lubomirblazekcz commented on #967
Since Ilustrator is supported now, when this will be available in PSD? Exporting the vector smart objects is the only thing that delays switch of my team to Avocode.

[2018-10-26 14:20] crashmajstr commented on #967
@evromalarkey  Although we started experimentally supporting Illustrator recently, it is Illustrator just as a whole file. Unfortunately, the structure of Illustrator imported objects into PSD is different and we will need more time to address that so Illustrator objects imported in PSD are inspectable the same way.

You can upvote the feature request here so we know what we should prioritize: htt

[2018-10-26 14:53] timhwang21 commented on #2227
Sorry if I'm not helpful but I dont think I was doing anything dramatically different. However I was seeing errors on literally everything I did while I had a Google Meet video chat on with 10+ participants. Once I left the meeting this error stopped as well.

[2018-10-26 14:56] crashmajstr commented on #2227
@timhwang21 it's ok, I reached out to the dev team and it's a known issue. We should be able to release the fix during the next week! Sorry for the inconvenience.

[2018-10-26 14:58] timhwang21 commented on #2227
Thanks! Out of curiosity does it in fact have an interaction with other resource-heavy things going on in the browser like webchat? Or was it unrelated?

[2018-10-26 14:59] crashmajstr commented on #2227
I guess it's unrelated, but can't be 100% sure about that.

[2018-10-26 14:59] vojtatranta commented on #2227
@timhwang21 it is unrelated and it will be fixed in the next release.

[2018-10-27 07:50] ThomasMullagaliev opened #2229 "1"
---
* **Version**: 3.6.2-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: yandex 18.9.1.954
* **Avocode UID**: 442964
---
[code]

[2018-10-27 18:32] teremok1000 opened #2230 "Can't load file Please help"
Latest Avocode (3.6.2)
(strip off the file as soon as you say)

Please help! I need right now

[2018-10-29 07:39] crashmajstr commented on #2229
Hello @ThomasMullagaliev  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-29 07:39] crashmajstr commented on #2230
Hello @teremok1000 ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-29 08:32] crashmajstr commented on #2167
@BulatSa  Can you reproduce it? A screencast would be helpful, but I am afraid that there'll be a problem with Web-GL (technology used for rendering) on your computer. Did you manage to enable the non-integrated Graphics card?

[2018-10-29 08:32] #2168 closed, assigned to nobody

[2018-10-29 08:33] crashmajstr commented on #2177
@brunorilla there are two options in Grids and rulers. You can enable there Grid and Guides. Do you remember which one did you choose?

[2018-10-29 08:33] #2182 closed, assigned to nobody

[2018-10-29 08:38] crashmajstr commented on #2186
Hi @trendspb-developer , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-29 08:39] crashmajstr commented on #2187
Hi @d3signer , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-29 08:39] crashmajstr commented on #2188
Hi @maksimsukalov , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-29 08:40] crashmajstr commented on #2189
Hi, I was wondering if you get any further regarding this issue.

[2018-10-29 08:40] crashmajstr commented on #2193
Hello @Breeze8 ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-29 08:40] #2195 closed, assigned to nobody

[2018-10-29 08:40] crashmajstr commented on #2196
Hi @wpc1403s2 , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-29 08:41] crashmajstr commented on #2199
Hi @lockerok , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-29 08:41] crashmajstr commented on #2201
Hi @yastrebovb , thanks for reporting this problem. Can you please send us the link the project or design where this is happening? We'll investigate the problem.

In the meantime, you can try reloading or re-uploading the design to see if the problem still occurs.

[2018-10-29 08:41] #2205 closed, assigned to nobody

[2018-10-29 08:41] crashmajstr commented on #2206
@Platman can you please, send me links to the design files you have a problem with? If it's not with every file it's weird.

[2018-10-29 08:42] crashmajstr commented on #2223
Hi, I've just tried to upload your file on my end and it's working just fine. Please, can you try to reupload it or reupload via web app if the problem is the same? Thank you

[2018-10-29 08:42] #2228 closed, assigned to nobody

[2018-10-29 09:50] lubomirblazekcz opened #2231 "Letter spacing values are incorrect"
* **Version**:  3.6.2
* **Web/Desktop**: Desktop
* **Platform/Browser**: Windows

Letter spacing values exported from PSD are incorrect. Related to comments here - https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/7024976-show-letter-spacing-in-photoshop-documents

Maybe there should be also option how to show letter spacing values, px/rem or default Photoshop value.

EDIT: sa

[2018-10-29 10:21] crashmajstr commented on #2231
Hi @evromalarkey thanks for reaching out. I'll hand it out to our dev for further investigation.
Sorry for the inconvenience, I'll let you know about any updates regarding this.

[2018-10-29 12:26] #2230 closed, assigned to nobody

[2018-10-29 19:32] Platman commented on #2206
Here's one example: https://urldefense.proofpoint.com/v2/url?u=https-3A__app.avocode.com_view_cb029803a9c14edda6e30c9eb43a335d_&d=DwMFaQ&c=dPoBOqv_VR_8FJ9u6wUbpK3qzw_-m_ilvytUimbgu0s&r=kJs4TDPUQPdj134DV6WiM0Z3eyDqiy_PQoBvdiqUhYc&m=xxD7zVUeT7tfl_nLWMv1PrpCNJHS-X7m9o22wqBQRas&s=aZb1Js_YHNpTbL29WHdHKR-Mw-90ns0Oz57D_CXyPvI&e=

[2018-10-29 19:33] Platman commented on #2206
Note - the previous link obviously goes through my employers' spam / phishing filters.  Here's where it redirects to: https://app.avocode.com/view/cb029803a9c14edda6e30c9eb43a335d/33663879/comments/

[2018-10-30 04:42] Valentina-Aktanko opened #2232 "not download .psd"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 444355
---
[code]

[2018-10-30 07:07] EduardZiganshin opened #2233 "error"
---
* **Version**: 3.6.2-web.2
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: chrome 70.0.3538.77
* **Avocode UID**: 111132
---
[code]

[2018-10-30 07:42] crashmajstr commented on #2232
Hello @Valentina-Aktanko  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-30 07:43] crashmajstr commented on #2233
Hello @EduardZiganshin  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-30 07:54] FredUA opened #2234 "unexpected error"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 282611
---
[code]

[2018-10-30 07:57] Valentina-Aktanko commented on #2232
Good day!
The project was already open, but for some reason it began to load again. An error appeared in the middle of the download, restarting the desctop application did not help. After some time I tried again, successfully. Now the error no longer manifests itself.

[2018-10-30 08:49] crashmajstr commented on #2234
Hello @FredUA  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-30 08:51] crashmajstr commented on #2232
Ok, thank you for the provided info. I'll close this issue for now, but please let me know if it happens again in the future.
Best,
Josef

[2018-10-30 08:51] #2232 closed, assigned to nobody

[2018-10-30 09:12] truemoroz opened #2235 "crash"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-10-30 09:49] vojtatranta commented on #2227
@timhwang21 this should be fixed in `3.6.2-web.3` - currently deployed on the web.

[2018-10-30 09:49] #2227 closed, assigned to nobody

[2018-10-30 09:51] crashmajstr commented on #2235
Hello @truemoroz  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-30 10:43] bogusweb opened #2236 "Blured popover on colors hover"
* **Version**: 3.6.2

* **Web/Desktop**: Desktop and Web

* **Platform/Browser**: Linux/Chrome 69

Desktop app:
![image](https://user-images.githubusercontent.com/5169399/47712728-c79c7900-dc38-11e8-82ec-29c9c8dd9e2b.png)

Web app:
![image](https://user-images.githubusercontent.com/5169399/47712747-d6832b80-dc38-11e8-849a-66498be408bd.png)

[2018-10-30 11:49] crashmajstr commented on #2236
Hi @bogusweb , thank you for reporting this. Actually, I can't reproduce it on my end, are you sure that it's not connected to some resolution settings on your computer? Also, does it happen like every time or only occasionally?

Would you mind to test it on a different computer if the problem is the same?

Thank you

[2018-10-30 13:02] bogusweb commented on #2236
I checked on mac os and this error does not occur. In addition, I checked on another linux system (Manjaro Deepin and Deepin) and this blurring also occurs. And it happen every time on hover

[2018-10-30 15:05] jakubzitny commented on #2236
Thanks for the details @bogusweb, I'll review this and similar glitches we're experiencing on Linux recently. We'll let you know here once it's done.

[2018-10-30 16:03] orvn opened #2237 "Link to new design from email breaks"
When someone uploads a new design and I get an email notification about it, I click the `Open in Avocode` button . This takes me to the Avocode web app, but it breaks and asks me to send a report.

Tested in the latest Chrome and the latest Firefox.

Below is a GIF animation of the issue occurring. [This URL](https://app.avocode.com/view/cf294b980d634de6a6d19172f1e091fa/) is used in the example.

[2018-10-30 16:09] orvn opened #2238 "Links from email to desktop app"
Is there a feature in the roadmap to deep link into the desktop application?

I'm on MacOS and when I click an Avocode link in email, it opens in a new tab (web app). I would like it to open the Avocode app. Like if it downloaded a file with a special MIME type and all that file did was pass the link URI to the Avocode desktop app.

[2018-10-30 16:11] crashmajstr commented on #2237
Hi @orvn , thank you for reporting this. This is an issue we already know about and the fix should be out tomorrow :)
Best,
Josef

[2018-10-30 16:11] #2237 closed, assigned to nobody

[2018-10-30 16:15] crashmajstr commented on #2238
Hi @orvn , actually that's not possible at the moment, but if you would like to see this feature in Avocode, please create a feature request on our UserVoice, so other users can vote for your idea too. You'll also get notified when the status of the feature request changes. The more votes your idea has, the more likely we'll prioritize it:
​
https://avocode.uservoice.com/forums/277080-feature-voti

[2018-10-30 17:16] orvn commented on #2238
Yes thanks. You're right, this is a feature request, not an issue.

[2018-10-30 17:16] #2238 closed, assigned to nobody

[2018-10-31 07:29] truemoroz commented on #2235
this is a lack of video memory. I think you can close this issue

вт, 30 окт. 2018 г. в 13:51, Josef Kettner <notifications@github.com>:

[2018-10-31 07:31] truemoroz opened #2239 "crash with multiple selection"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-10-31 07:52] crashmajstr commented on #2235
ok, closing

[2018-10-31 07:52] #2235 closed, assigned to nobody

[2018-10-31 07:56] crashmajstr commented on #2239
Hello again @truemoroz :)
it was a lack of memory again or is it something that you can reproduce every time?

[2018-10-31 08:47] truemoroz opened #2240 "crash while opening layout"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-10-31 09:07] crashmajstr commented on #2240
closing with respect to #2239

[2018-10-31 09:07] #2240 closed, assigned to nobody

[2018-10-31 10:03] truemoroz opened #2241 "strange error"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 111132
---
[code]

[2018-10-31 12:01] crashmajstr commented on #2241
Hello @truemoroz  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-10-31 13:23] FredUA commented on #2234
Hi! I have uninstalled/installed my app and now it works fine. Thanks!

вт, 30 жовт. 2018 о 10:49 Josef Kettner <notifications@github.com> пише:

[2018-10-31 13:26] crashmajstr commented on #2234
Ok, thanks for letting me know!

[2018-10-31 13:26] #2234 closed, assigned to nobody

[2018-10-31 22:16] WARFALAMEY opened #2242 "error"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 451591
---
[code]

[2018-11-01 06:50] truemoroz commented on #2239
I get this crash again and again

ср, 31 окт. 2018 г. в 11:56, Josef Kettner <notifications@github.com>:

[2018-11-01 07:42] crashmajstr commented on #2242
Hello @WARFALAMEY ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-01 08:34] crashmajstr commented on #2239
@truemoroz Please, can you send me specs of your PC? Thank you

[2018-11-01 10:32] RomanKhasanov opened #2243 "Bug"
---
* **Version**: 3.6.2-web.3
* **Web/Desktop**: Web
* **Platform**: macosx 10.14.0
* **Browser**: chrome 70.0.3538.77
* **Avocode UID**: 160458
---
[code]

[2018-11-01 11:05] crashmajstr commented on #2243
Hello @RomanKhasanov  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-01 12:32] RomanKhasanov commented on #2243
Hello
I imported the layout from the Figma, it works yesterday, today there is
such an error

чт, 1 нояб. 2018 г. в 16:05, Josef Kettner <notifications@github.com>:

--
С Уважением, Роман Хасанов

[2018-11-01 12:50] crashmajstr commented on #2243
Thanks for reporting this @RomanKhasanov , does it happen every time you open the file?
If so, please, can you try to open the design in the desktop app if the problem is the same?
Also, would you mind sending me that Figma file (you'll find in the File > Save as .fig)? I'll try to troubleshoot it on my end.
Thank you

[2018-11-01 14:23] sergeykrupenich opened #2244 "When I tryied to leave 'psd' room I got this"
---
* **Version**: 3.5.6
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-11-01 15:43] crashmajstr commented on #2244
Hello @sjkrypa ,
this problem should be fixed in the latest version of Avocode, please update your app and let me know if it helped.

[2018-11-01 15:44] #2244 closed, assigned to nobody

[2018-11-03 17:34] shavidzet opened #2245 "I can't open regular psd files"
These files worked just fine, but now, it shows errors
<img src="https://i.imgur.com/zyyaYVi.png" />
and if I'll wait more than 10 min, it opens psd but missing some functionality.

Is there any way to debug avocode runtime software? I think it would help us to find problems quickly

---
* **Version**: 3.6.2
* **Sketch plugin version**: 51.2.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **

[2018-11-03 17:38] shavidzet commented on #2245
Same problem in web client

[2018-11-03 18:26] vojtatranta commented on #2245
HI @ShavidzeT ,
can you send me a private link to that design? Thanks.

[2018-11-03 19:12] shavidzet commented on #2245
@vojtatranta Hi,
I hope you are from Avocode team, but I'm not sure yet. 😄
Please provide me your email.

[2018-11-03 19:48] vojtatranta commented on #2245
@ShavidzeT sure, yeah, sorry :)) vojtatranta@avocode.com

[2018-11-03 19:52] shavidzet commented on #2245
@vojtatranta great, thank you.
I shared with you my dropbox mockup.

[2018-11-03 19:53] vojtatranta commented on #2245
@ShavidzeT aha, cool. I wanted a link to avocode like: `https://app.avocode.com/revision/123?design=333` just link to the app please.

[2018-11-03 19:58] shavidzet commented on #2245
How can I get a link, I can't find even in docs.

[2018-11-03 19:58] vojtatranta commented on #2245
@ShavidzeT just try to open that design in the web application :). Sorry, maybe I was not clear.

[2018-11-03 20:14] vojtatranta commented on #2245
@ShavidzeT I managed to open that design in the app. So I think reupload will work just OK, but I would like to look at why your design failed and for that I need that link.

[2018-11-03 22:14] shavidzet commented on #2245
@vojtatranta here it is: https://app.avocode.com/revisions/9419712/?design=6270244

[2018-11-03 22:45] vojtatranta commented on #2245
@ShavidzeT aha, no processing of that design started on the server, strange, there might be something wrong with the plugin.
I tried drag'n'drop importing of that PSD and it worked OK. Would you try it too?

[2018-11-03 22:59] shavidzet commented on #2245
Hey, yeah, reuploading works, but I want to avoid this process.
How can I enable/disable plugins? I'll test one-by-one

[2018-11-03 23:02] vojtatranta commented on #2245
@ShavidzeT sorry, I need this to be sorted out.

You uploaded the PSD for the first time with the plugin directly from Photoshop, right?  If so, just use Drag and Drop to the application to bypass Photoshop plugin.

I you imported the PSD right into the Avocode app via drag and drop, than there is such bug and we will look at it as soon as possible.

But surely, import should work all the time. It

[2018-11-03 23:06] shavidzet commented on #2245
@vojtatranta For the first time I uploaded mockups with drag & drop, without photoshop.

and now I imported same file with same way(directly drag&drop), but new uploaded files work, but old don't

[2018-11-03 23:08] vojtatranta commented on #2245
Aha, I see. We will definitely look at it as soon as possible and we will come back to you.

Thank you for your report and sorry for the complications.

[2018-11-04 10:25] rychlis commented on #2245
Hello, after investigation we found an issue that could prevent you from opening some PSDs uploaded in the first half of 2017 and before. There is now a fix deployed to our backend which should resolve the issue.

You should be able to open the design now, definitely let us know if you are still having any issues.

Thanks for the report and I want to say I'm especially sorry about this issue as it

[2018-11-04 10:25] #2245 closed, assigned to rychlis

[2018-11-05 09:39] exp-jinson opened #2246 "error"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 48.2.8
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 174597
---
[code]

[2018-11-05 09:43] crashmajstr commented on #2246
Hello @exp-jinson ,
thank you for reporting this. I believe that this issue is caused by your outdated app. Please, update your app and let me know if the problem still persists.
Best,
Josef

[2018-11-05 09:43] #2246 closed, assigned to nobody

[2018-11-05 11:47] Alimjanov-Ibragim opened #2247 "test"
---
* **Version**: 2.17.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 216707
---
[code]

[2018-11-05 12:14] crashmajstr commented on #2247
Hello @Alimjanov-Ibragim  ,
thank you for reporting this. I believe that this issue is caused by your outdated app. Please, update your app and let me know if the problem still persists.
Best,
Josef

[2018-11-05 12:14] #2247 closed, assigned to nobody

[2018-11-05 16:15] NecroSith commented on #2189
@crashmajstr Hi there
Sorry for the late response - had my hands full until recently.
I made a screencast with pretty much everythin happening with the desktop app while working. Check it out if you can open the link.
https://yadi.sk/i/ZQ8vpwjMq_h38A
Please tell me if you need some more info about anything

[2018-11-06 08:25] crashmajstr commented on #2189
@NecroSith thank you for sharing that with us. I'll hand it out to our dev for further investigation and let you asap.

[2018-11-06 08:47] vallis2 opened #2248 "project2"
---
* **Version**: 3.6.3-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: yandex 18.9.1.954
* **Avocode UID**: 455867
---
[code]

[2018-11-06 08:47] crashmajstr commented on #2248
Hello @vallis2  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-06 08:56] vallis2 opened #2249 "pro2"
---
* **Version**: 3.6.3-web
* **Web/Desktop**: Web
* **Platform**: windows 6.1
* **Browser**: yandex 18.9.1.954
* **Avocode UID**: 455867
---
[code]

[2018-11-06 09:09] crashmajstr commented on #2189
@NecroSith we're still trying to investigate this issue, but I have a question, do you use any type of antivirus/firewall systems on your PC?
If so please, can you try to disable it and try the desktop app again?
Let me know, thank you.

[2018-11-06 09:10] crashmajstr commented on #2249
Closing with respect to #2248

[2018-11-06 09:10] #2249 closed, assigned to nobody

[2018-11-06 11:23] lubomirblazekcz commented on #2231
Upon further investigation I found out via pixel checker, that the values are in fact correct. But as someone said in the comments it's different calculation than spacing points / 1000. Actually the avocode calculation might be more accurate.

Either way it would be best to have the option to show the original value (eg. 100, 75, 50 etc)

[2018-11-06 12:18] crashmajstr commented on #2231
Thanks for sharing it with us @evromalarkey ! We'll take a look at that and let you know.

[2018-11-06 12:53] crashmajstr commented on #2189
Hello @NecroSith
please, I have another question, do you use any proxy? Because it looks like that the desktop app can't reach out to our servers.
However, we've just made a build which may help to solve your issue
LINK: https://we.tl/t-xZYSjhdJYF
Please, give it a try and let me know if it helped or not.
Thank you and sorry for the inconvenience.

[2018-11-06 18:39] NecroSith commented on #2189
@crashmajstr Hello
I don't use any kind of antivirus and firewall on my PC. Also there is no proxy that I'm aware of.
I'm downloading the fix now. I'll let you know about the results

[2018-11-06 19:25] NecroSith commented on #2189
@crashmajstr
I've tested the build you provided me with and everything works fine, no problems at all. Dev console still throws at me tons of errors though but I can painlessly create new project and manage the designs.
The problem seems to be solved thanks to this new build. Send my thanks to the dev team and thank you, you guys are awesome!
I attached a [screenshot](https://yadi.sk/i/WlE53THjMS7

[2018-11-07 08:39] crashmajstr commented on #2189
Thanks for letting us know @NecroSith ! Hope everything will be ok from now on, we'll let you know once this change will be in a regular build so please, for now, use this build.

[2018-11-07 09:41] admin22222 opened #2250 "ивыиы"
---
* **Version**: 3.6.3-web
* **Web/Desktop**: Web
* **Platform**: windows 10.0
* **Browser**: yandex 18.9.1.954
* **Avocode UID**: 450118
---
[code]

[2018-11-07 09:41] admin22222 commented on #2250
ыви

[2018-11-07 09:41] admin22222 commented on #2250
ывм

[2018-11-07 09:43] crashmajstr commented on #2250
Hello @admin22222 ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-07 17:00] Walentun opened #2251 "ds"
---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 447477
---
[code]

[2018-11-07 17:43] ruslandjent opened #2252 "document failed to load"
---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 457046
---
[code]

[2018-11-07 17:45] ruslandjent commented on #2252
firstly some of the layers did not loaded, then this error appeared

[2018-11-08 08:10] crashmajstr commented on #2251
Hello @Walentun ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-08 08:11] crashmajstr commented on #2252
Hello @ruslandjent  ,
Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design? Does it also happen in the web app?
Let me know and we'll try to fix everything asap.

[2018-11-08 10:55] truemoroz commented on #2239
it was problem with small swap file

чт, 1 нояб. 2018 г. в 12:34, Josef Kettner <notifications@github.com>:

[2018-11-08 11:56] jakubzitny commented on #2239
Thanks for the info, let us know if you have any more problems ;)

[2018-11-08 11:56] #2239 closed, assigned to nobody

[2018-11-08 12:04] ruslandjent commented on #2252
All the layers loaded just fine, it is my fault i did not see it.
But error appeared when i tried to use the design menu
![screenshot from 2018-11-08 16-59-42](https://user-images.githubusercontent.com/41237074/48197674-4059ae80-e378-11e8-9d38-c3afb6ade52e.png)

Also everything is working fine now. Ty for response

[2018-11-08 12:09] crashmajstr commented on #2252
Ok, let me know if you have any other problem, comments or concerns in the future :)
Best,
Josef

[2018-11-08 12:09] #2252 closed, assigned to nobody

[2018-11-09 08:41] Kout opened #2253 "Application froze for a while during opening a PSD"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: linux
* **Avocode UID**: 54597
---
[code]

[2018-11-09 08:58] crashmajstr commented on #2253
Hello @Kout  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-09 11:02] Kout commented on #2253
Hi,

I think it is minor error, I just followed the dialogue which popped up.
Anyway, the PSD was old, from 2015, so I’d say it was some kind of
compatibility issue. I was able to stop frozen loading and get back to
projects overview. On the second trial, Avocode finished the loading
process, however loading some layers failed. I got back to project overview
and the third and last try was successf

[2018-11-09 11:17] crashmajstr commented on #2253
Thank you for letting us know. Please, can you send me a link to that design file? We'll take a closer look at it. Thank you and sorry for the inconvenience.

Since it looks like that it's working I'll close this issue.
Also, don't hesitate to contact us anytime in the future.
Best,
Josef

[2018-11-09 11:17] #2253 closed, assigned to nobody

[2018-11-09 12:02] Kout commented on #2253
It was absolutely fine, didn’t caused any troubles to me.

Here is the file:
https://app.avocode.com/view/810e8f7f970644d48c55a1775fc58074/_/comments

Regards,

Tomáš

pá 9. 11. 2018 v 12:17 odesílatel Josef Kettner <notifications@github.com>
napsal:

[2018-11-11 18:30] sayahov-damir opened #2254 "Hello. Avocode first install and crached before run"
---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2018-11-12 08:14] AdamColton8 opened #2255 "Crash avocode"
---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-11-12 08:22] crashmajstr commented on #2254
Hello @sayahov-damir
please, this error happened exactly one time or you can reproduce it every time?
Let me know and we'll try to fix everything asap.
Josef

[2018-11-12 08:22] crashmajstr commented on #2255
Hello @AdamColton8  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-12 08:40] trendspb-developer opened #2256 "It alert an error on just load a document. In that time i open this psd in browser on avocode site with out problems."
---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 223433
---
[code]

[2018-11-12 08:58] crashmajstr commented on #2256
Hello @trendspb-developer
thank you for reporting this. I am sorry for the inconvenience. We are aware of this issue, hopefully, we'll be able to release the fix this week. I'll let you know once it's out, for know please, use the web version.

[2018-11-12 10:13] lubomirblazekcz opened #2257 "Import fonts from typekit"
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform/Browser**: Windows

https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/34679989-allow-syncing-with-adobe-typekit-fonts
https://help.avocode.com/inspect-get-assets-and-specs/import-missing-fonts-to-to-designs-in-avocode

As described above, fonts from typekit should automatically import to Avocode, but that does not wo

[2018-11-12 10:23] jakubzitny commented on #2257
Hi @evromalarkey, thanks for reaching out to us. When you click on the missing font button/alert, you should see a "Font upload" modal where you can drag and drop files, or choose the fonts in your system. In Desktop app, most of the fonts in system should be automatically found and checked (with a green checkbox) for upload. However, you still need to upload them (by submitting the fonts for uplo

[2018-11-12 10:26] AdamColton8 commented on #2255
@crashmajstr
I used webshorm + gulp. I also used Google Chrome (3-4 tabs in the browser). After the error of this program, I moved the web version. Used the latest version of Avocode, Chrome, Ubuntu

[2018-11-12 10:27] crashmajstr commented on #2255
@AdamColton8 Does this happen like every time or it was only a "one-time" error?

[2018-11-12 10:29] AdamColton8 commented on #2255
It was 1 or 2 times

[2018-11-12 10:31] crashmajstr commented on #2255
Ok thanks, we noticed that some of our user ~4 reported this problem as well, but we can't reproduce it on our end. So we'll try to investigate it more on our end. One thing you can try is to delete your ~.avocode folder, maybe it'll help. Otherwise, please use the web app it should work ok. Thank you!

Closing with respect to #2109 #2146

[2018-11-12 10:31] #2255 closed, assigned to nobody

[2018-11-12 10:35] lubomirblazekcz commented on #2257
[font upload modal](https://user-images.githubusercontent.com/6872956/48341844-75168000-e66e-11e8-89d6-4adb7fd7a94f.png)

The modal miss my typekit fonts, they are synced though. The fonts are not located in C:\Windows\Fonts but are displayed in [windows settings](https://user-images.githubusercontent.com/6872956/48341962-c4f54700-e66e-11e8-97f7-f563b21f702d.png)

I can't upload them manually sinc

[2018-11-12 10:44] jakubzitny commented on #2257
I see, thanks. Avocode failed to find the font files locally then. Do you have a latest/regular Adobe Creative Cloud installation in your system? Also, what Windows version do you use, please?

Can you please try syncing another Typekit font if you have time? This would help us detect if this is a font-related problem or a system problem.

We usually search for Typekit fonts on Windows in your hom

[2018-11-12 10:48] lubomirblazekcz commented on #1635
I have the same problem with current version of Avocode (3.6.3)

Exported from Avocode:
[code]

Exported from Adobe XD
[code]

[2018-11-12 10:54] jakubzitny commented on #1635
This looks like you have disabled export optimization in Avocode preferences. Click on your avatar in the top right corner, go to `App preferences` and make sure the `Disable image export optimization` is unchecked.

If there is still a problem, can you please try the same on our web version? Of if you already use web version, can you try desktop?

Thanks @evromalarkey.

[2018-11-12 11:00] lubomirblazekcz commented on #2257
Yes I found the fonts in the appdata location thanks, I renamed them to ttf and imported them manually.
They were named - 36647,36648,36650,36651,36653,36656,36658

I have latest version of Creative Cloud 4.7.0.400 and Windows version is 10, build 1809

[2018-11-12 11:02] jakubzitny commented on #2257
Thanks a lot. Can you please send me your Avocode email so I can re-check on our backend why the detection failed in the first place?

[2018-11-12 11:05] lubomirblazekcz commented on #1635
The output is the same with export optimization enabled/disabled, also same happens in web version / desktop.

[2018-11-12 11:07] lubomirblazekcz commented on #2257
yep -> lubomir.blazek@newlogic.cz

[2018-11-12 11:07] jakubzitny commented on #1635
I just tried it and it works for me, so this might be a specific layer problem in your design, can you send us the private link to your design (and layer name, or just describe which layer it is), so we can inspect it on our end? Thanks.

[2018-11-12 11:16] lubomirblazekcz commented on #1635
https://app.avocode.com/view/038c5aabb64646d1a69d5aed1ef75545 and layer name is avatar-2708_0fd55e72-abf9-437a-8a9d-fce5f063b8a9 (it's top right in menu)

I got the feeling this worked for me ok few weeks ago in different XD design (on my personal account on 14 day trial)

[2018-11-12 12:03] yasserzakaria opened #2258 "Error: Could not download metadata (revision=34575333)"
---
* **Version**: 2.17.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 125302
---
[code]

[2018-11-12 12:21] crashmajstr commented on #1635
Hello @evromalarkey that's strange, I've just tried to export your layers and everything seems fine with the enabled image export optimization.

Please, can you record a screencast of the export scenario with enabled dev tools console tab?
How to enable dev tools: Hold Alt key and click on the "Help" menu in the navbar > Troubleshooting > Dev tools

Thank you and sorry for the inconvenience.

[2018-11-12 12:23] crashmajstr commented on #2258
Hello @yasserzakaria ,
thank you for reaching out. This error could be caused by your outdated app, please, update your app and let me know if it works ok.
Thank you.
Best,
Josef

[2018-11-12 12:23] #2258 closed, assigned to nobody

[2018-11-12 12:36] lubomirblazekcz commented on #1635
here - https://drive.google.com/file/d/1k08CB4vUQAfEbrBAF6sM6zLFVWvfBaq8/view?usp=sharing

output is
[code]

[2018-11-12 14:20] crashmajstr commented on #1635
@evromalarkey yes, that's right, I got the same export and it's different from the output with disabled image export optimization. Since we don't have the same export technology as XD is using, the output would have a different structure. So, may I ask you what's wrong about this SVG output, please?
Thanks

[2018-11-12 14:39] lubomirblazekcz commented on #1635
It uses defs and use, which is totally unnecessary and I dont think it's svgo, because svgomg doesn't do such thing.

This is output from XD & optimazed with svgomg (svgo gui)
[code]

To be honest desired output for me would be something like this (it's the most optimalized and does not using any classes and id's
[code]

[2018-11-12 17:54] jakubzitny commented on #1635
Thanks for the info @evromalarkey, this is actually a thing we've been talking about in our team already.

First thing is, svgo/svgomg behaves a bit differently for different non-optimized sources (XD vs. Avocode) and we don't use the default settings for svgo, which is also a source of more differences between us and svgomg. Moreover, our SVG export logic uses `defs` and `use` even if the shapes

[2018-11-12 18:35] lubomirblazekcz commented on #1635
Thanks, good to hear!

[2018-11-12 18:55] Francois-Francois opened #2259 "don't start"
crash at boot, on Archlinux

---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-11-13 07:07] svkote opened #2260 "1"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 450719
---
[code]

[2018-11-13 07:08] #2260 closed, assigned to nobody

[2018-11-13 07:46] lubomirblazekcz opened #2261 "Pixel checker not working"
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform/Browser**: Windows 10

It's XD imported design, link - https://app.avocode.com/view/038c5aabb64646d1a69d5aed1ef75545

![obrazek](https://user-images.githubusercontent.com/6872956/48398121-288b7d00-e720-11e8-96d0-bd7f7534b57c.png)

[2018-11-13 08:24] crashmajstr commented on #2259
Hello @rikless  ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-13 08:32] crashmajstr commented on #2261
Hello @evromalarkey again, please, can you send me a link to that design? We'll take a look what's wrong. I am sorry for the inconvenience.

[2018-11-13 08:34] lubomirblazekcz commented on #2261
np, link is above

[2018-11-13 08:35] crashmajstr commented on #2261
@evromalarkey sorry didn't notice... Thank you

[2018-11-13 08:43] vojtatranta commented on #2260
Hi @svkote , this is already fixed in the latest versions. Please update.

[2018-11-13 09:13] crashmajstr commented on #2189
Hello @NecroSith I am sorry but we won't be releasing the fix of the problem you had today since it requires more testing. So, use the build I provide you with till the next release, please.
Also I have a question regarding the problem, do you use VMWare or VirtualBox?
Let me know and sorry for the inconvenience.
Best,
Josef

[2018-11-13 11:49] d3signer opened #2262 "Design "tuso_main_new_top.psd" user t@d3signer.ru"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 46617
---
[code]

[2018-11-13 11:50] d3signer commented on #2262
design tuso_new_main_top.psd
user t@d3signer.ru

[2018-11-13 11:52] crashmajstr commented on #2261
@evromalarkey I am sorry for the inconvenience, but right now we can't reproduce your error which is strange. We'll do some further investigation in the future and let you know, once we find anything.

[2018-11-13 11:53] crashmajstr commented on #2262
Hi @d3signer ,
I am sorry for the inconvenience, but I can see that you have an outdated app, please, can you update your app and let me know if the problem still persists?
Thank you

[2018-11-13 12:21] lubomirblazekcz commented on #2261
Ha, fixed it. I've deleted previews via Troubleshooting -> Clear Previews

It probably was just corrupted preview image.

[2018-11-13 12:29] crashmajstr commented on #2261
oh, great @evromalarkey thanks for letting us know. At least we know how to fix it.

[2018-11-13 12:32] lubomirblazekcz commented on #2261
You will probably hate me, but I just found another issue with pixel checker / preview images 😃

Font in preview image is different than original (different font and letter spacing). Should I open a new issue on this?

[2018-11-13 13:24] mo-mansour opened #2263 "I get an "Export Failed" message while trying to export an asset from the desktop app!"
---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 460891
---
[code]

[2018-11-13 14:46] Vyachx opened #2264 "мерцает монитор"
---
* **Version**: 3.4.1
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]

[2018-11-13 15:06] crashmajstr commented on #2263
Hello @mo-mansour I heard you already discussed this bug with Maks so I'll close this issue.
Let us know if you have any problems in the future.

[2018-11-13 15:06] #2263 closed, assigned to nobody

[2018-11-13 15:07] crashmajstr commented on #2264
Hi @Vyachx ,
I am sorry for the inconvenience, but I can see that you have an outdated app, please, can you update your app and let me know if the problem still persists?
Thank you

[2018-11-13 15:12] crashmajstr commented on #2261
@evromalarkey in the same design, the homepage?

[2018-11-13 15:47] lubomirblazekcz commented on #2261
Yes, on homepage and all other artboards.

[2018-11-13 15:57] crashmajstr commented on #2261
Hmm that's weird because it works ok on my end. Can you send me a screenshot please of that problem?

[2018-11-13 16:03] lubomirblazekcz commented on #2261
![obrazek](https://user-images.githubusercontent.com/6872956/48425730-b178d780-e765-11e8-8623-c8ed7ff75d50.png)

Font is different, I tried it on different device and it has the same issue

[2018-11-13 16:55] crashmajstr commented on #2261
Hello @evromalarkey we've investigated it and found some bugs, thanks to you. What should help you regarding this issue is to re-upload the file again. Since you already have these fonts in Avocode it should work ok. Please, let me know.

[2018-11-13 19:40] NecroSith commented on #2189
Hi @crashmajstr
Don't worry - take your time guys to make the best possible experience, I'm fine with the build you provided.
Yes, I actually have both VMWare and VirtualBox installed on my PC. I use them from time to time but Avocode isn't installed on any of them.

[2018-11-14 14:48] Francois-Francois commented on #2259
I can't open any project. I start the application, there is the loader, then it crashes

[2018-11-14 15:06] crashmajstr commented on #2259
Ok thank you, we noticed that some of our user ~4 reported this problem as well, but we can't reproduce it on our end. So we'll try to investigate it more on our end. One thing you can try is to delete your ~.avocode folder, maybe it'll help. Otherwise, please use the web app it should work ok. I am very sorry for the inconvenience.

Closing with respect to #2109 #2146

[2018-11-14 15:06] #2259 closed, assigned to nobody

[2018-11-14 23:36] camburley opened #2265 "crash subfolder"
Crashed when trying to drag files into subfolder

---
* **Version**: 3.6.3-web-rollback.1
* **Web/Desktop**: Web
* **Platform**: macosx 10.14.2
* **Browser**: chrome 70.0.3538.102
* **Avocode UID**: 447812
---
[code]

[2018-11-15 09:10] crashmajstr commented on #2265
Hello @camburley ,
thank you for reporting this. I am sorry for the inconvenience. Does this error happen every time you try to move designs to subfolders or it was just a one time error?
Please, let me know, thank you

[2018-11-15 09:14] crashmajstr commented on #2251
Hello @Walentun ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-15 09:14] crashmajstr commented on #2254
Hello @sayahov-damir
please, this error happened exactly one time or you can reproduce it every time?
Let me know and we'll try to fix everything asap.
Josef

[2018-11-15 09:14] crashmajstr commented on #2250
Hello @admin22222 ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-15 09:15] crashmajstr commented on #2248
Hello @vallis2 ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-15 09:15] crashmajstr commented on #2243
Thanks for reporting this @RomanKhasanov , does it happen every time you open the file?
If so, please, can you try to open the design in the desktop app if the problem is the same?
Also, would you mind sending me that Figma file (you'll find in the File > Save as .fig)? I'll try to troubleshoot it on my end.
Thank you

[2018-11-15 09:16] crashmajstr commented on #2242
Hello @WARFALAMEY ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-15 09:16] crashmajstr commented on #2241
Hello @truemoroz ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-15 09:16] crashmajstr commented on #2233
Hello @EduardZiganshin ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-15 09:16] crashmajstr commented on #2229
Hello @ThomasMullagaliev ,
would you be able to describe when exactly did this error happen? Do you remember what were you doing when the error popped out?

Were you trying to open a specific design? If so, does the error pop up everytime you try to open the same design?

[2018-11-15 09:16] #2223 closed, assigned to nobody

[2018-11-15 09:16] #2201 closed, assigned to nobody

[2018-11-15 09:17] #2199 closed, assigned to nobody

[2018-11-15 09:17] #2196 closed, assigned to nobody

[2018-11-15 09:17] #2193 closed, assigned to nobody

[2018-11-15 09:17] #2187 closed, assigned to nobody

[2018-11-15 09:17] #2188 closed, assigned to nobody

[2018-11-15 09:44] crashmajstr commented on #2206
Hello @Platman sorry for the delayed answer, I accidentally missed your response. Please, can you tell me if the problem still persists in the new version?
Thank you

[2018-11-15 13:50] camburley commented on #2265
Not sure — haven’t reproduced it a bunch of times

CB

On Thu, Nov 15, 2018 at 4:10 AM Josef Kettner <notifications@github.com>
wrote:

[2018-11-15 14:31] ghost opened #2266 "Problem with upload .sketch file"
---
* **Version**: 3.6.4
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2018-11-15 14:37] crashmajstr commented on #2265
Ok, please let me know once this error will appear again. Thank you and sorry for the inconvenience. I'll close this issue for now.

[2018-11-15 14:37] #2265 closed, assigned to nobody

[2018-11-15 15:07] crashmajstr commented on #2266
We'll solve this via Intercom.
Closing with respect to #2109 #2146

[2018-11-15 15:07] #2266 closed, assigned to nobody

[2018-11-17 08:22] sayahov-damir commented on #2254
Hello @crashmajstr . Today I tried to run and there was no error. The launch was successful. I did not conduct any manipulation for this. Maybe not even restart the computer. Thank.

[2018-11-18 08:27] ievgenii-syrotenko opened #2267 "Document failed to load"
---
* **Version**: 3.6.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 65196
---
[code]

[2018-11-19 08:33] crashmajstr commented on #2267
Hello @justevgenii .
Could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design? Please, let me know and we'll try to fix the issue as soon as possible.

[2018-11-19 08:37] ievgenii-syrotenko commented on #2267
@crashmajstr Yes, I tried to open PSD design file. And yes, this error appers everytime when I try to open deisgn.

[2018-11-19 08:39] crashmajstr commented on #2267
@justevgenii please, can you send me a link to a design you have problems with? Thank you

[2018-11-19 08:41] #2254 closed, assigned to nobody

[2018-11-19 10:32] EmilEvil1 opened #2268 "Take it problem"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 465911
---
[code]

[2018-11-19 11:53] crashmajstr commented on #2268
Hello.
Could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?
Please, let me know and we'll try to fix the issue as soon as possible.

[2018-11-19 11:55] crashmajstr commented on #2268
Hello @EmilEvil1 it looks like you have an outdated version of Avocode, please update it and let me know if the error still persists.
Best,
Josef

[2018-11-19 11:55] #2268 closed, assigned to nobody

[2018-11-20 07:55] #2243 closed, assigned to nobody

[2018-11-20 11:45] #2153 closed, assigned to nobody

[2018-11-20 11:46] #2167 closed, assigned to nobody

[2018-11-20 11:46] #2177 closed, assigned to nobody

[2018-11-20 11:46] #2186 closed, assigned to nobody

[2018-11-20 11:46] #2229 closed, assigned to nobody

[2018-11-20 11:46] #2233 closed, assigned to nobody

[2018-11-20 11:46] #2241 closed, assigned to nobody

[2018-11-20 11:46] #2242 closed, assigned to nobody

[2018-11-20 11:47] #2248 closed, assigned to nobody

[2018-11-20 11:47] #2250 closed, assigned to nobody

[2018-11-20 11:47] #2251 closed, assigned to nobody

[2018-11-20 11:47] crashmajstr commented on #2264
Hi @Vyachx ,
I am sorry for the inconvenience, but I can see that you have an outdated app, please, can you update your app and let me know if the problem still persists?
Thank you

[2018-11-20 11:47] crashmajstr commented on #2262
Hi @d3signer ,
I am sorry for the inconvenience, but I can see that you have an outdated app, please, can you update your app and let me know if the problem still persists?
Thank you

[2018-11-20 12:11] AtomicHeart opened #2269 "ыв"
---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 231455
---
[code]

[2018-11-20 12:59] #2264 closed, assigned to nobody

[2018-11-20 13:00] crashmajstr commented on #2269
Hello @RhytmGuitar

Could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2018-11-21 07:05] ievgenii-syrotenko commented on #2267
@crashmajstr https://app.avocode.com/view/8f781fbb921a4832adbb7c4a0574c853/_/comments

[2018-11-21 08:24] crashmajstr commented on #2267
Thank you for sending this over, I've just tried to reproduce it on my end and everything is working just ok.
Do you have the same problem in the web app when you try to open this design? Can you try to re-upload it, please?
I am sorry for the inconvenience, let me know

[2018-11-23 14:48] sDLme opened #2270 "bug"
---
* **Version**: 3.6.2
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-11-23 14:56] crashmajstr commented on #2270
Hello @sDLme, we noticed that some of our user ~7 reported this problem as well, but we can't reproduce it on our end. So we'll try to investigate it more on our end. One thing you can try is to delete your ~.avocode folder, maybe it'll help. Otherwise, please use the web app it should work ok. Thank you!

Closing with respect to #2109 #2146

[2018-11-23 14:56] #2270 closed, assigned to nobody

[2018-11-26 16:07] ondraspala opened #2271 "Crashed when opening psd comments (3.6.5 testing)"
---
* **Version**: 3.6.5-beta.4
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-11-26 16:12] #2271 closed, assigned to nobody

[2018-11-27 22:37] mhlozek opened #2272 "Paragraph spacing from Adobe XD not preserved"
Avocode 3.6.4 (desktop, windows)

See attached screenshots.
Text formatted with paragraph spacing property is not correctly rendered in Avocode.

![adobe-xd](https://user-images.githubusercontent.com/2743172/49116136-fdb33400-f29c-11e8-9a5b-91566282611b.png)
![avocode](https://user-images.githubusercontent.com/2743172/49116137-fdb33400-f29c-11e8-8298-02381f877d4d.png)

[2018-11-28 08:58] crashmajstr commented on #2272
Hello @mhlozek , thank you for reporting this. Please, can you send a link to this design? I'll take a look and forward it to our dev team for further investigation and fixing.
I am sorry for the inconvenience.

[2018-11-28 09:12] mhlozek commented on #2272
Here is the link to Adobe XD source file:
https://1drv.ms/u/s!AlWfyeLZDhoRlapo1zH_pZ0ruQqnNw

[2018-11-28 09:27] crashmajstr commented on #2272
Thank you, I'll hand it out to our dev and let you know once it's fixed.
I am sorry for the inconvenience.

[2018-11-30 13:01] #2152 closed, assigned to nobody

[2018-11-30 13:03] #2269 closed, assigned to nobody

[2018-11-30 13:03] crashmajstr commented on #2267
Thank you for sending this over, I've just tried to reproduce it on my end and everything is working just ok.
Do you have the same problem in the web app when you try to open this design? Can you try to re-upload it, please?
I am sorry for the inconvenience, let me know

[2018-11-30 13:03] #2262 closed, assigned to nobody

[2018-11-30 13:04] #2261 closed, assigned to nobody

[2018-11-30 13:04] crashmajstr commented on #2256
Hello @trendspb-developer
thank you for reporting this. I am sorry for the inconvenience. We are aware of this issue, hopefully, we'll be able to release the fix this week. I'll let you know once it's out, for know please, use the web version.

[2018-11-30 13:05] crashmajstr commented on #2206
Hello @Platman sorry for the delayed answer, I accidentally missed your response. Please, can you tell me if the problem still persists in the new version?
Thank you

[2018-11-30 13:06] #2158 closed, assigned to nobody

[2018-11-30 16:31] jakubzitny commented on #2113
Hi @RADHAMANISRM, thanks again for reporting this problem, is it still happening? Did you try using a different browser than Chrome? Or our desktop app? Desktop app should work correctly for sure.

[2018-12-01 10:28] AlbertRAR opened #2273 "App crashes on layer select or toggling visibility of the layer"
---
* **Version**: 3.6.5
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-12-01 10:56] AlbertRAR commented on #2273
It seems a memory leak issue...

[2018-12-05 13:54] crashmajstr commented on #2273
Hello. Could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?
Please, let me know and we'll try to fix the issue as soon as possible.

[2018-12-05 15:36] mearaj commented on #2109
I was facing the same issue. It's solved now. I played around with lot of things to fix it. I even tried to start the app from terminal and I was getting out of memory error. I am not sure what resolved my issue but I believe that the most probable cause of my issue was ulimit(open file limits of user). I increased my ulimit in /etc/security/limits.conf. This is the link to better understand it
ht

[2018-12-06 15:43] AlbertRAR commented on #2273
Hello,
Yes, when I try to open a specific design. Yes, every time. I even tried to split it into several parts but is still freezes or crases. Same happens in the web app.

[2018-12-06 15:49] crashmajstr commented on #2273
@AlbertRAR please, can you send me a link to that design? I'll take a look and try to troubleshoot it on my end.
I am sorry for the inconvenience.

[2018-12-06 16:47] AlbertRAR commented on #2273
Please provide me an email so I can share a design privately to you.

[2018-12-07 08:01] crashmajstr commented on #2273
josefkettner@avocode.com

[2018-12-07 12:13] AlbertRAR commented on #2273
done

[2018-12-07 15:02] crashmajstr commented on #2273
Hello @AlbertRAR , it definitely looks like a memory leak issue. I've tried to upload this file and it worked for me, but the file is huge in the web app it was impossible to open it, but I managed to open it in the desktop app.

Then I tried to work with the file, except the slowness I didn't encounter any issue, but I can imagine that other computers can.

I am sorry for the inconvenience, but m

[2018-12-08 07:29] AlbertRAR commented on #2273
I already split it into several blocks but still, have issues even in a more powerful pc than my laptop.  This is especially noticeable when I switch the visibility of the layer that is embedded.
Anyway, thank you for the time you spent. I will try to split the design even more.

[2018-12-08 07:29] #2273 closed, assigned to nobody

[2018-12-08 09:07] crashmajstr commented on #2273
Thanks for letting me know @AlbertRAR I am still not happy how it went... I'll try to investigate a bit more on Monday on some Linux PC and we'll see.
When you manage to split the file please, feel free to send me links from Avocode (share) to my email and I'll take a look at it as well.
I am sorry for the inconvenience. Have a nice weekend,
Josef

[2018-12-08 14:03] igor-kovalev opened #2274 "Error. Avocode has crashed."
Avocode version 3.6.6. Web and Desktop version. OS Windows 10.

Layout exported from Figma. After export, I began to open my layout in the program Avocode and the program showed me an error: Avocode has crashed. Please report this issue to github..

My e-mail: aroundworld95@gmail.com

![error](https://user-images.githubusercontent.com/17835928/49686809-1e845080-fb0b-11e8-8aec-5549951679c3.jpg)

[2018-12-08 14:07] igor-kovalev commented on #2274
---
* **Version**: 3.6.6
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---

[2018-12-10 08:34] crashmajstr commented on #2274
Hello @igor-kovalev I am sorry for the inconvenience. My colleague just replied to you on our chat (it'll end up in your email). So I'll close this ticket here.

[2018-12-10 08:34] #2274 closed, assigned to nobody

[2018-12-10 11:38] #2206 closed, assigned to nobody

[2018-12-10 11:38] #2267 closed, assigned to nobody

[2018-12-10 17:42] artem67801 opened #2275 "ыы"
---
* **Version**: 3.0.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 482948
---
[code]

[2018-12-11 09:53] crashmajstr commented on #2275
Hello @artem67801 thank you for reporting this, but I can see that you have an outdated app, please update your app to the latest version https://avocode.com/download and let me know if the problem still persists.

[2018-12-11 09:53] #2275 closed, assigned to nobody

[2018-12-13 10:36] crashmajstr commented on #2272
Hello, I just want to inform you that the problem you had has been fixe please, re-upload your design.
Best,
Josef

[2018-12-13 10:36] #2272 closed, assigned to nobody

[2018-12-13 12:59] crashmajstr commented on #2166
Hello, I just want to inform you that the problem you had  has been fixed please, re-upload your design.
Best,
Josef

[2018-12-13 12:59] #2166 closed, assigned to nobody

[2018-12-14 17:41] Fire3galaxy opened #2276 "Blur + Shadow causes transparent rectangle"
Version 3.6.6
Desktop
Ubuntu 18.04.1
daniel.handojo@zii.aero

When opening an Adobe XD file that has an element with both shadow and blur, the following occurs. The issue does not occur with shadow only or blur only.
![image](https://user-images.githubusercontent.com/5578991/50018504-63cdd580-ff84-11e8-815f-0e37d30d2aa1.png)

[2018-12-14 18:12] Fire3galaxy opened #2277 "Blur does not have style code"
Version 3.6.6
Desktop
Ubuntu 18.04.1
daniel.handojo@zii.aero

Elements from Adobe XD with blur effect do not show blur attributes in style code.
![image](https://user-images.githubusercontent.com/5578991/50019764-b90be600-ff88-11e8-9671-64e5cb000d16.png)

[2018-12-17 10:06] rosinskiy-sergey opened #2278 "error"
---
* **Version**: 3.6.6
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2018-12-17 10:11] crashmajstr commented on #2278
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2018-12-17 10:13] crashmajstr commented on #2276
Hello, thank you for reaching out. I am sorry for the inconvenience. Please, can you send me a link to this Avocode design? I'll take a look and try to troubleshoot it on my end.
Thank you,
Josef

[2018-12-17 10:13] crashmajstr commented on #2277
Hello, thank you for reaching out. I am sorry for the inconvenience. Please, can you send me a link to this Avocode design? I'll take a look and try to troubleshoot it on my end.
Thank you,
Josef

[2018-12-17 10:31] rosinskiy-sergey commented on #2278
when i choose perfect pixel mode

[2018-12-17 10:38] crashmajstr commented on #2278
It happens every time when trying to open the "pixel checker"?

[2018-12-17 10:49] crashmajstr commented on #2276
Hello again, I tried to reproduce this and you are right. I am sorry for the inconvenience. I've raised an issue for our dev team.
I'll inform you once it gets fixed.

[2018-12-17 10:49] crashmajstr commented on #2277
Hello again, I tried to reproduce this and you are right. I am sorry for the inconvenience. I've raised an issue for our dev team.
I'll inform you once it gets fixed.

[2018-12-18 12:59] aneena-thomas opened #2279 "failed to load"
---
* **Version**: 3.5.3
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 174597
---
[code]

[2018-12-18 13:31] crashmajstr commented on #2279
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2018-12-18 19:17] Fire3galaxy commented on #2277
Thanks, let me know how it goes.

[2018-12-18 19:17] Fire3galaxy commented on #2276
Thanks!

[2018-12-22 19:28] utrumo opened #2280 "ubuntu 18.10 regular crashes every 10-15 minutes"
ubuntu 18.10 x64
Regular crashes: 10-15 minutes.
---
* **Version**: 3.6.7
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2018-12-22 22:39] utrumo opened #2281 "Ubuntu 18.10 do not show fill opacity on png"
* **Version**:
Version: 3.6.7

* **Web/Desktop**:
Desktop

* **Platform/Browser**:
Ubuntu 18.10

pvvnxdementor5@gmail.com

I have an png with opacity on my layout.
Avacode does not show it in css.

[2018-12-23 08:44] OdedYaron opened #2282 "crash"
---
* **Version**: 3.6.7
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2018-12-23 14:37] utrumo commented on #2281
[do not show fill opacity](https://ibb.co/SyGymb6)
[fill opacity 60% in photoshop](https://ibb.co/nzHfwp6)
Please save images, on this image hosting its will be removed in a month.

[2018-12-31 07:42] crashmajstr commented on #2282
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2018-12-31 07:42] crashmajstr commented on #2280
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2018-12-31 07:42] crashmajstr commented on #2278
It happens every time when trying to open the "pixel checker"?

[2018-12-31 07:43] crashmajstr commented on #2279
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2018-12-31 07:44] crashmajstr commented on #2281
Hello @dementor5, thank you for reaching out. I am sorry for the inconvenience.
Please, would you mind sending me a link to this file in Avocode (avocode share link)?
I'll take a look what went wrong.
Thanks

[2018-12-31 09:44] aneena-thomas commented on #2279
Hi,

It happened when I trying to open a design no the specific one.Sometimes it
occurs now its happening every time.Please have look at the screen shot i
have attached with this.But its working fine in website.App side only its
not working
[image: Screen Shot 2018-12-31 at 2.57.05 PM.png]

Thanks and Regards,
Aneena Susan Thomas | Software Engineer | Experion Technologies | [
www.experionglobal.c

[2018-12-31 10:19] crashmajstr commented on #2279
Ok, thank you for sharing this with me. We'll take a look at that. Please, for now, use the web version of our app. Thank you and sorry for the inconvenience.

[2019-01-02 07:53] hudri opened #2283 "Wrong vertical alignment of text"
* **Version**: 3.6.7

* **Web/Desktop**: Web

* **Platform/Browser**: Windows/Chrome

Avocode does not correctly align text vertically. See screenshot: In Sketch, the text is vertically aligned in the middle of the circle. After uploading to Sketch, the vertical alignment is gone.

![sketch_error_text_vertical_alignment](https://user-images.githubusercontent.com/556414/50583788-a12ed000-0e6b-11e9-

[2019-01-02 08:18] crashmajstr commented on #2283
Hello @hudri, thank you for reaching out. I am sorry for the inconvenience.
We are already aware of this problem and hopefully, it'll be fixed in one of the upcoming releases.

I'll keep you updated regarding the fix.
Best,
Josef

[2019-01-02 08:53] mhlozek opened #2284 "Remember pixel checker opacity settings"
When I close and open pixel checker window I have to set opacity again and again.
Could you add feature to save this settings?

[2019-01-02 08:54] crashmajstr commented on #2284
Hello @mhlozek thanks for reaching out.
It sounds like a reasonable request. If you would like to see this feature in Avocode, please create a feature request on our UserVoice, so other users can vote for this idea as well. We will also notify you when the status of the feature request changes. The more votes your idea has, the more likely we'll prioritize it:

https://avocode.uservoice.com/forums

[2019-01-02 08:54] #2284 closed, assigned to nobody

[2019-01-02 17:13] Fire3galaxy commented on #2276
Refreshing the above, and happy new years :+1:

[2019-01-02 17:13] Fire3galaxy commented on #2277
Refreshing the above, and happy new years :+1:

[2019-01-03 12:43] mhlozek opened #2285 "Bad position of image"
Avocode 3.6.7 (Windows, desktop)

Image in imported XD file is positioned incorrectly
(see attached image with "forklift" - in Adobe XD is forklift visible, in Avocode is cropped)
![bug-avocode](https://user-images.githubusercontent.com/2743172/50638227-45dd0a80-0f5d-11e9-97e0-d432c497ef07.png)
![bug-xd](https://user-images.githubusercontent.com/2743172/50638228-45dd0a80-0f5d-11e9-9aba-f75365ea882

[2019-01-03 13:16] crashmajstr commented on #2285
Hello @mhlozek, thank you for reporting this and I am sorry for the inconvenience. I reproduced this error on my end too so, I raised an issue for our dev team for further investigation.
I'll keep you updated regarding the fix.
Best,
Josef

[2019-01-03 13:17] crashmajstr commented on #2277
Thanks, noted, still under development.

[2019-01-03 13:17] crashmajstr commented on #2276
Thanks, noted, still under development.

[2019-01-06 13:14] artem67801 opened #2286 "вылетает"
---
* **Version**: 3.0.0
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 500373
---
[code]

[2019-01-07 08:10] crashmajstr commented on #2286
Hello @artem67801 , thank you for reporting this.
I am sorry that you had a problem with our program, but I can see that you have an outdated version. Please, try to upgrade it and let me know if the problem appears again.

https://avocode.com/download

[2019-01-07 08:10] #2286 closed, assigned to nobody

[2019-01-08 10:03] artem67801 commented on #2286
I have 32 bit windows

07 січня 2019, 10:10:44, від "Josef Kettner" <notifications@github.com>:

Hello @artem67801 , thank you for reporting this.
I am sorry that you had a problem with our program, but I can see that you have an outdated version. Please, try to upgrade it and let me know if the problem appears again.

https://avocode.com/download

—
You are receiving this because you were mention

[2019-01-08 10:07] crashmajstr commented on #2286
Ah, ok I understand, please keep in mind that we no longer support this version anymore.
If you use the 32-bit windows you can use the up to date web app at app.avocode.com

Have a nice day,
Josef

[2019-01-08 19:00] artem67801 commented on #2286
I have 4 GB of RAM, and the browser hangs, what else would you advise?

8 січня 2019, 12:07:04, від "Josef Kettner" <notifications@github.com>:

Ah, ok I understand, please keep in mind that we no longer support this version anymore.
If you use the 32-bit windows you can use the up to date web app at app.avocode.com

Have a nice day,
Josef

—
You are receiving this because you were mentioned.
Repl

[2019-01-10 12:26] morcegon opened #2287 "Save image in sub folder"
* **Version**: 3.6.8

* **Web/Desktop**: Desktop

* **Platform/Browser**: Ubuntu 18.04

* **Avocode e-mail**: renan@raessolucoes.com.br

When I trying to save an image on "subpath/imagename.jpg" instead save on this location, the app saves the image at root folder like "subpathimagename.jpg". I receive the alert: "Illegal characters used in filename".

[2019-01-10 13:10] crashmajstr commented on #2287
Hello @morcegon. thank you for reaching out. I am sorry for the inconvenience. Please, can you tell me more about your problem? If possible please attach some screenshot or screencast.
Let me know and we'll try to fix everything asap.

[2019-01-11 13:31] morcegon commented on #2287
Hello @crashmajstr.
I'll post some screen's records to show my issue.

Here how I'm trying to save a image in a sub-folder (always worked). After the save button was clicked you can see the filename changing.
![peek 2019-01-11 11-24](https://user-images.githubusercontent.com/31614/51036271-bbfff380-1593-11e9-80ec-e16fdcccb51d.gif)

Here the message it showed
![peek 2019-01-11 11-25](https://user-i

[2019-01-11 13:56] crashmajstr commented on #2287
thanks, @morcegon for sending this over, I'll ask our dev team why it's not working anymore.
I guess it's since 3.6.8 right?

[2019-01-11 14:30] crashmajstr commented on #2287
Hello, @morcegon I've just reached out to our dev team and really we changed it in the last update. We changed because some special symbols caused bugs in the paths. We weren't aware that users like you use it that way and actually it makes sense, but for now, we will leave it that way. To cheer you up a bit I'll forward this to our UX team to take a look at it and hopefully, they'll provide you w

[2019-01-11 14:57] morcegon commented on #2287
It's sad, but I understand. Thank you for the agility.
best regards :)

[2019-01-14 08:39] crashmajstr commented on #2287
Hey @morcegon actually we have discussed this with the team and it makes sense so we'll return this feature back in the upcoming weeks!
Sorry for the inconvenience and have a nice day!

[2019-01-14 08:39] #2287 closed, assigned to nobody

[2019-01-14 15:01] syro-os opened #2288 "Sketch font rendering glitch"
* **Version**: 3.6.9
* **Sketch plugin version**: 52.6
* **Web/Desktop**: desktop
* **Platform/Browser**: macOS High Sierra 10.13.6

Recently I noticed that whenever I upload a Sketch file into Avocode with text decoration like **underline** in the file, it does not show up in Avocode. Also text seems to be **breaking out of its text box** Please have someone to look into this as important informa

[2019-01-14 15:27] crashmajstr commented on #2288
Hello @syro-os , thank you for reaching out. Also, I am sorry for the inconvenience.
Please, would you be able to send me an Avocode share link to this design? I'll take a look and try to troubleshoot it on my end.
Let me know and we'll try to fix everything asap.

[2019-01-14 15:48] syro-os commented on #2288
Thanks! Here's the link to my file:

https://app.avocode.com/view/25e6e27887bd4d3fb92b35b197083c78/_/preview

[2019-01-14 16:05] crashmajstr commented on #2288
Thank you @syro-os I've just managed to reproduce this error. I am sorry for the inconvenience. I've also raised an issue for our dev team, hopefully, we'll be able to fix it soon.
I'll keep you informed.

[2019-01-15 11:54] #2257 closed, assigned to jakubzitny

[2019-01-15 13:00] viktorasri opened #2289 "crash"
---
* **Version**: 3.6.8
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-01-16 10:11] crashmajstr commented on #2289
Hello @viktorasri ,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2019-01-16 15:45] #2278 closed, assigned to nobody

[2019-01-16 15:45] crashmajstr commented on #2280
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2019-01-16 15:45] crashmajstr commented on #2281
Hello @dementor5, thank you for reaching out. I am sorry for the inconvenience.
Please, would you mind sending me a link to this file in Avocode (avocode share link)?
I'll take a look what went wrong.
Thanks

[2019-01-16 17:23] morcegon opened #2290 "Line height, box height and vertical alignment"
* **Version**: 3.6.9

* **Sketch plugin version**: 52.1.0

* **Web/Desktop**: Desktop and web

* **Platform/Browser**: Ubuntu 18.04 and Chorme

* **Avocode e-mail**: renan@raessolucoes.com.br

The app on desktop and web is crashing the line height, box height and vertical align in multiple elements.

this is the .png extract from sketch
![home](https://user-images.githubusercontent.com/31614/51266

[2019-01-17 09:20] utrumo commented on #2281
Hellow, @crashmajstr!
There is a link, but only preview (comment and prototype does not work now):
https://app.avocode.com/view/ffb8edd5137a491ca834181549eaf465/_/preview

[2019-01-17 09:28] crashmajstr commented on #2281
Hey, thanks for sending this over I'll take a look and let you know.

[2019-01-17 09:31] utrumo commented on #2280
Hello, @crashmajstr.
I just opened one of  available designs, that were loaded in my account and working with it about 15 minutes.
Now i have updated avacode to 3.6.9 and can't open any of designs. The app is simply freezing then i click to open one of them.

[2019-01-17 09:42] crashmajstr commented on #2280
Thanks for sharing this over. I am sorry for the inconvenience. So, it happens even when you open your designs not just the samples?

Please, would you mind trying the web app if the problem is the same? It's at app.avocode.com

Please, let me know

[2019-01-17 09:47] crashmajstr commented on #2281
Ok, I've instigated the file, actually, there is no opacity usage in your file. You just used the fill option and added a 60% of fill, that's something we can't display in the CSS. If you use the opacity option it will appear in the CSS correctly.

<img width="329" alt="screenshot 2019-01-17 10 46 36" src="https://user-images.githubusercontent.com/18406167/51309655-307bdc00-1a45-11e9-8462-f069ea90

[2019-01-17 09:53] utrumo commented on #2280
@crashmajstr, sorry, i not correctly said.
This problem happened to any of designs.
As an example you can look at the link from this theme https://github.com/avocode/avocode/issues/2281
In the web application everything perfectly opens, a problem in the native application.

[2019-01-17 09:55] crashmajstr commented on #2280
hmm, ok I am sorry for the inconvenience. We'll take a look at that, please for now just use the web app.

[2019-01-17 10:04] crashmajstr commented on #2290
Hello @morcegon thank you for reaching out. I am sorry for the inconvenience. Please, would you be able to send me an Avocode share link to this file? I'll take a look at what happened and let you know about the solution asap.

[2019-01-17 10:19] utrumo commented on #2281
@crashmajstr, i know that is not opacity, it's fill. I wrote about it in the second message.

You could specify in the app that fill is used and in css you can't correct to repeat it, but you have can try to use opacity with some values. Now avacode tells nothing about it at all.

I considered avacode as photoshop alternative, but to work without it is impossible. Yet avacode cannot replace photos

[2019-01-17 10:25] utrumo commented on #2280
In web app i have another problem.
The footer does not  loading fully in web version... :)

![footer_does_not_loading_in_web](https://user-images.githubusercontent.com/22612354/51311899-0fbe8100-1a5b-11e9-9751-327c0443b136.jpg)

[2019-01-17 10:26] crashmajstr commented on #2281
Actually, when you use the fill function it isn't a valid CSS property like opacity is, in photoshop it behaves like a normal image so if you want to see the correct value of opacity you should use the opacity.

Regarding the export of images without additional effects, that something we want to implement in the future, please if you can, you can upvote this feature on our UserVoice here:
https://

[2019-01-17 10:30] crashmajstr commented on #2280
I am sorry for the inconvenience @dementor5 it's an issue we already know about. It happens to PSD files with a really long canvas. I can advise you to split the file into a few smaller ones, it'll help and even the performance will be better.
Let me know if it helped.

[2019-01-17 10:42] utrumo commented on #2281
Thanks, I voted for it.

The model was drawn by the designer, I received it as is. I have no opportunity to look that something went wrong because the application of it simply does not show. :(

[2019-01-17 10:44] crashmajstr commented on #2281
I understand it's ok I've just tried to explain it to you a bit better :) So next time you can advise your designer better.
Let me know if you have any other questions, comments or concerns in the future.

[2019-01-17 10:44] #2281 closed, assigned to nobody

[2019-01-17 10:45] utrumo commented on #2280
I received the model from the designer as is. At the moment I just use the photoshop. :)

[2019-01-17 12:06] morcegon commented on #2290
Hello @crashmajstr. You got it: https://app.avocode.com/revisions/38706234?design=24872361

[2019-01-17 12:14] crashmajstr commented on #2290
Thank you for sending this over @morcegon I can see what you mean. Actually, that's a problem we already know about. I am sorry for the inconvenience. Right now we are working on a fix so, hopefully, we'll be able to release it soon. I'll keep you informed.

[2019-01-17 14:13] johnwbaxter opened #2291 "App nav items colour same as bg colour so you cannot see them"
Version 3.6.8
Using the desktop version

Ubuntu 18.0.4

The App nav menu (File Tools Edit View Window Help) font colour is the same as the background colour so you cannot see the menu items. This only happens when the app has focus. If you switch to another app, you can see them.

See attached screenshot

![avocode-black-toolbar-text](https://user-images.githubusercontent.com/338729/51324134-d2a9b

[2019-01-17 15:26] crashmajstr commented on #2291
Hello @johnwbaxter thank you for reaching out and I am sorry for the inconvenience.
Please, I think I don't get your issue right, can you elaborate more? I also have trouble to see something wrong in the screenshot.

Please, help me a bit with the description and I think we'll find the solution asap.
Best,
Josef

[2019-01-17 16:09] johnwbaxter commented on #2291
Here is a screenshot of the same area when the app is not in focus. As you can see, the menu is visible!

![avocode-black-toolbar-with-text](https://user-images.githubusercontent.com/338729/51331702-33d98c80-1a72-11e9-90f1-7bcca4b97ff9.png)

[2019-01-17 16:12] morcegon commented on #2290
Thank you :)

[2019-01-18 04:11] Mo- opened #2292 "The application crashed while idle."
The application crashed while idle.
Windows 10x64, 8GB of RAM.

---
* **Version**: 3.6.9
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-01-18 09:46] crashmajstr commented on #2292
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2019-01-18 09:50] crashmajstr commented on #2291
@johnwbaxter thank you for sending this over. I am sorry for the inconvenience. I'll hand this out to our dev team and hopefully, we'll able to fix it soon. I'll keep you informed.
Best,
Josef

[2019-01-18 10:16] johnwbaxter commented on #2291
Hey Josef, it's nothing i can't cope with, i was more letting you know there is a bug! Not sure, if it's worth mentioning or not, but i'm on the Ubuntu "community theme" too.

[2019-01-22 11:27] Mo- commented on #2292
it happened spontaneously.
I worked for a long time with the layouts, but the error occurred at the moment when I wrote the code (ie, your application was not used).
the error did not repeat, and had never met before (heisenbug, I suppose)

[2019-01-22 12:27] crashmajstr commented on #2292
Ok, thanks for providing me with this info. I'll close this issue for now. Let me know if it happens again, please.
Best,
Josef

[2019-01-22 12:27] #2292 closed, assigned to nobody

[2019-01-22 15:22] crashmajstr commented on #2189
Hello @NecroSith we've just released a new version of Avocode 3.6.10 which contains the new Electron 4 which should have fixed the issue you had. Please give it a try and let me know!
Best,
Josef

[2019-01-23 13:09] olkhovikmi opened #2293 "Error"
---
* **Version**: 2.18.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 513588
---
[code]

[2019-01-23 13:31] crashmajstr commented on #2293
Hello @olkhovikmi , thank you for reaching out. I am sorry for the inconvenience, but it looks like you have an outdated version of Avocode. Can you please update to the latest if the problem is the same? You can download the latest version at https://avocode.com/download
Thank you.
Best,
Josef

[2019-01-23 13:31] #2293 closed, assigned to nobody

[2019-01-24 20:58] jakecounsell opened #2294 "I've deleted and relinstalled, installed old version. Your product hasn't worked for weeks and your support isn't helpful! FURIOUS"
---
* **Version**: 3.6.10
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2019-01-25 09:59] crashmajstr commented on #2294
Hello @jakecounsell I am sorry for the inconvenience, I've just replied to you via email, hopefully, we'll solve it asap.

[2019-01-26 20:32] NecroSith commented on #2189
Hi there @crashmajstr
I have been testing new version of Avocode for some time and It seems this error no longer appears. The problem seems to be solved.

[2019-01-28 18:36] sakralbar commented on #2146
Some problem with Debian buster, desktop app 3.6.10. I can use app only after 3-4 restarts with blank screen.

I can confirm that changing the /etc/security/limits.conf file solves the problem for me.
I added this lines to my limits.conf:
[code]

[2019-01-28 19:50] sakralbar commented on #2109
I can confirm that changing the limits.conf file solves the problem for me in Debian buster.
I added this lines to my limits.conf:
[code]

[2019-01-29 20:53] octoxan opened #2295 "All black on start, then crashes and reloads fine"
---
* **Version**: 3.6.10
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2019-01-30 08:20] crashmajstr commented on #2295
Hello @octoxan , thank you for reaching out. I am sorry for the inconvenience. Please, does it happen every time you want open Avocode? We currently track some issue on Linux so we'll take a look at that and hopefully, we'll be able to fix it and provide you with a better experience.

[2019-01-31 12:23] vAhyThe opened #2296 "try find and crash"
---
* **Version**: 3.6.10
* **Web/Desktop**: Desktop
* **Platform**: darwin
---
[code]
---
[code]

[2019-01-31 12:47] crashmajstr commented on #2296
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2019-01-31 12:49] vAhyThe commented on #2296
Hi i go fromw chrome into avocode and pres `conmmand + f` for search for while nothing happen and when i try to close avocode goes down with error message

[2019-01-31 13:06] crashmajstr commented on #2296
I've just tried to reproduce it, without any luck. Would you mind sending me some screencast of that please?

[2019-02-01 10:09] jakubzitny commented on #2113
Hi @RADHAMANISRM, is this still happening to you please?

[2019-02-01 11:01] andreynav opened #2297 "Crash"
---
* **Version**: 3.6.10
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-02-01 12:27] jakubzitny commented on #2295
Are you still on Ubuntu @octoxan, please?

Is this the same as here #2146? Some users had luck with increasing limits.

[2019-02-03 16:55] obalaushko opened #2298 "Error linux"
---
* **Version**: 3.6.10
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2019-02-04 10:00] crashmajstr commented on #2297
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2019-02-04 10:01] crashmajstr commented on #2298
Hello,
​
could you describe exactly how this error happened? Were you trying to open a specific design? If so, does this error occur every time you try to open that design?

Please, let me know and we'll try to fix the issue as soon as possible.

[2019-02-05 13:00] mandeep-pixel2html opened #2299 "Export Image error"
* **Version**: 3.6.10

* **Web/Desktop**: Both

* **Avocode e-mail**: mandeep@pixel2html.com

When I export an image having text in SVG format. I get the Image but without text. I'm sharing the [gif](http://recordit.co/oI6gQXLjNF) related to this issue. Please check and let me know If I did something wrong, Otherwise, Please take care of this issue asap.

Thanks
Mandeep

[2019-02-05 13:58] crashmajstr commented on #2299
Hello @mandeep-pixel2html thank you for reaching out.
Unfortunately, we currently don't support export of text layers into SVG, but it's something we want to add in the future.
So, it's not an issue but more of a feature request which you can upvote here:
https://avocode.uservoice.com/forums/277080-feature-voting/suggestions/7741200-allow-svg-export-of-type-layers-especially-for-ic
Best,
Josef

[2019-02-05 13:58] #2299 closed, assigned to nobody

[2019-02-13 14:26] #2189 closed, assigned to nobody

[2019-02-27 21:40] vladarwise opened #2300 "Error"
---
* **Version**: 3.6.12
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-03-04 09:19] crashmajstr commented on #2276
Hello @Fire3galaxy just wanted to inform you that this issue has been fixed.
Have a nice day!
Josef

[2019-03-04 09:19] #2276 closed, assigned to nobody

[2019-03-07 13:30] crashmajstr commented on #2285
Hey there. I just wanted to follow up on this and let you know that the problem you reported should be fixed now. You need to upload the design to Avocode again in order to see the improvements.

[2019-03-07 13:30] #2285 closed, assigned to nobody

[2019-03-09 16:43] KozakevichVitaliy opened #2301 "Error"
---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 554628
---
[code]

[2019-03-11 08:42] crashmajstr commented on #2301
Hello @KozakevichVitaliy it looks like that you have an outdated version of our app. Please, download the latest one at avocode.com/download and let me know if the error still happens.
Best,
Josef

[2019-03-11 08:42] #2301 closed, assigned to nobody

[2019-03-11 13:04] KozakevichVitaliy commented on #2301
Hello Joseph
I've installed an updated version of app
And the error no longer exists
Tnx for help))

пн, 11 бер. 2019, 10:42 користувач Josef Kettner <notifications@github.com>
пише:

[2019-03-11 13:07] crashmajstr commented on #2301
Glad to hear that @KozakevichVitaliy

Let me know if you have any other questions, comments or concerns in the future.
Best,
Josef

[2019-03-19 08:55] yuvalsabar opened #2302 "Error"
---
* **Version**: 3.6.12
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-03-22 20:26] maks112v opened #2303 "Not Sure What Happened"
---
* **Version**: 3.6.12
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-03-25 06:59] vishalp36 opened #2304 "issue"
---
* **Version**: 3.6.12
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-03-26 08:54] crashmajstr commented on #2303
Hello, we are very sorry for this inconvenience. Could you describe exactly how this error occurred? For example, were you trying to open a specific design? If so, does this error occur every time you try to open it?

Please, let us know and we'll try to fix the issue as soon as possible.

[2019-03-26 08:54] crashmajstr commented on #2304
Hello, we are very sorry for this inconvenience. Could you describe exactly how this error occurred? For example, were you trying to open a specific design? If so, does this error occur every time you try to open it?

Please, let us know and we'll try to fix the issue as soon as possible.

[2019-03-26 08:54] crashmajstr commented on #2300
Hello, we are very sorry for this inconvenience. Could you describe exactly how this error occurred? For example, were you trying to open a specific design? If so, does this error occur every time you try to open it?

Please, let us know and we'll try to fix the issue as soon as possible.

[2019-03-27 10:48] yuvalsabar opened #2305 "crash"
---
* **Version**: 3.6.12
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-04-04 20:53] kmmathis opened #2306 "Can't turn off the layout guides"
* **Version**: 3.7.0

**Sketch plugin version**: Sketch 53.2 / Avocode plugin 51.2.0

* **Web/Desktop**: Desktop

* **Platform/Browser**: macOS Mojave - 10.14.3

**Avocode e-mail**: dev@usminteractive.com

I'm unable to turn off the Layout guides in my Avocode designs that were imported from Sketch. The Layout checkbox is checked, and does not respond to being clicked on. This seems to have happen

[2019-04-05 14:11] kmmathis commented on #2306
Also, I tested the design in the web app and I'm not seeing the red layout guides at all, which is good.

[2019-04-10 14:08] kmmathis commented on #2306
The latest update fixed this - thanks!

[2019-04-10 14:08] #2306 closed, assigned to nobody

[2019-04-11 14:01] Sergei8888 opened #2307 "Oops"
---
* **Version**: 3.6.12
* **Web/Desktop**: Desktop
* **Platform**: win32
---
[code]
---
[code]

[2019-04-18 11:21] vickymidson opened #2308 "PSD convert not uploading"
* **Version**:

* **Web/Desktop**:

* **Platform/Browser**:

[2019-04-18 11:21] #2308 closed, assigned to nobody

[2019-04-23 14:47] alex-misch opened #2309 "Fail to open file"
---
* **Version**: 2.17.1
* **Sketch plugin version**: 51.0.0
* **Web/Desktop**: Desktop
* **Platform**: darwin
* **Avocode UID**: 602865
---
[code]

[2019-04-26 06:45] manoj-madanmohan-toppr opened #2310 "crash report"
---
* **Version**: 3.6.12
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2019-04-29 12:02] crashmajstr commented on #2309
Hello @alex-misch  it looks like that you have an outdated version of our app. Please, download the latest one at avocode.com/download and let me know if the error still happens.
Best,
Josef

[2019-04-29 12:02] #2309 closed, assigned to nobody

[2019-04-29 12:03] crashmajstr commented on #2307
Hello @Sergei8888  it looks like that you have an outdated version of our app. Please, download the latest one at avocode.com/download and let me know if the error still happens.
Best,
Josef

[2019-04-29 12:03] crashmajstr commented on #2305
Hello @yuvalsabar it looks like that you have an outdated version of our app. Please, download the latest one at avocode.com/download and let me know if the error still happens.
Best,
Josef

[2019-04-29 12:04] crashmajstr commented on #2310
Hello @manoj-madanmohan-toppr  it looks like that you have an outdated version of our app. Please, download the latest one at avocode.com/download and let me know if the error still happens.
Best,
Josef

[2019-04-29 12:05] crashmajstr commented on #2303
Hello @maks112v, please try to update your app to the latest version and let me know if the problem still happens.
Best,
Josef

[2019-04-29 12:05] #2303 closed, assigned to nobody

[2019-04-29 12:06] #2296 closed, assigned to nobody

[2019-04-29 12:06] #2297 closed, assigned to nobody

[2019-04-29 12:06] #2298 closed, assigned to nobody

[2019-04-29 12:06] #2300 closed, assigned to nobody

[2019-05-07 03:25] zhangjie1314 opened #2311 "sync error"
---
* **Version**: 2.17.3
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 614871
---
[code]

[2019-05-23 13:54] samil-null opened #2312 "Error, big template ))"
---
* **Version**: 3.6.0
* **Web/Desktop**: Desktop
* **Platform**: linux
---
[code]
---
[code]

[2019-06-26 14:26] Artemsites opened #2313 "z"
---
* **Version**: 3.5.5
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 656431
---
[code]

[2019-11-15 18:11] lubomirblazekcz opened #2314 "Avocode can not be installed on Ubuntu 19.10"
* **Version**: the one listed here https://help.avocode.com/en/articles/513807-installing-avocode-on-linux

* **Web/Desktop**: Desktop

* **Platform/Browser**: Ubuntu 19.10

Avocode can not be installed on Ubuntu 19.10, because it depends on gir1.2-gnomekeyring-1.0 which is depricated and not available on ubuntu 19.10 packages. This package is still downloadable on 19.04, but manual install did no

[2019-11-16 13:36] jakubzitny commented on #2314
Thanks for the report @evromalarkey, we'll have a look at it 🙏 🐧

[2019-11-18 13:56] jakubzitny commented on #2314
We have a fix ready, it will be included in the next release of Avocode 🥑

[2019-11-18 13:57] lubomirblazekcz commented on #2314
Thanks a lot 👍

[2019-12-02 14:05] jakubzitny commented on #2314
We just released `4.1.0` where this is fixed. Please, let us know if there are any more problems 😉

[2019-12-02 14:05] #2314 closed, assigned to jakubzitny

[2019-12-02 15:30] lubomirblazekcz commented on #2314
Works great, thanks!

[2020-02-28 12:10] morcegon opened #2315 "Uppercase fonts for .xd file"
* **Version**: 4.4.2

* **Web/Desktop**: Desktop

* **Platform/Browser**:

* **Avocode e-mail**: renan@raessolucoes.com.br

The some uppercased fonts in my .xd file aren't uppercase in Avocode.

These are in XD file
![Screenshot from 2020-02-28 09-08-44](https://user-images.githubusercontent.com/31614/75547586-fb90d580-5a09-11ea-80f5-ce80fb6159f9.png)

These are in Avocode
![Screenshot from 2020-0

[2020-03-03 10:02] jakubzitny commented on #2315
We're addressing this via our support..

[2020-03-03 10:02] #2315 closed, assigned to nobody

[2020-03-31 08:01] Eldzej opened #2316 "AdobeXD import - Missing texts, misaligned elements"
* **Version**: 4.4.6
* **Web/Desktop**: Desktop
* **Platform/Browser**: Windows (same issue happens on Linux)

When importing Adobe XD file, the result is missing texts, elements are misaligned when I zoom closer, and some weirdness in recognizing styles, generating things like ```opacity: -1``` on many elements.

I suspect something changed in XD recently, as we only started having this issue rat

[2020-03-31 11:25] jakubzitny commented on #2316
Hi @Eldzej, thanks for letting us know. We already know about this issue and we'll be releasing a fix in coming weeks.

Please report similar issues via Intercom next time, we'll get back to you faster 😉

[2020-06-16 06:23] actraiser opened #2317 "Importing Variables with nested/dot notation does not work"
In my React-App with Styled-Components, I use dot/nested notation for my theme colors, example

[code]

I can add those variable names into Avocode one by one manually via the "+"-Button. No Problem here:

**This is how it is supposed to look:**
![Bildschirmfoto 2020-06-16 um 08 20 43](https://user-images.githubusercontent.com/5455/84738498-4da23a80-afaa-11ea-93a3-7e7b1a14c576.png)

However, I can

[2021-01-04 14:17] lubomirblazekcz opened #2318 "Pixel checker is not transparent on Linux"
* **Version**: 4.11.0
* **Web/Desktop**: Desktop
* **Platform/Browser**: Ubuntu 20.10

When using pixel checker on Ubuntu, the background is not transparent, so the pixel checker cannot be used. This might happen on other distros too, didn't test it though. It was working before, maybe it broke in some update? But it's a while since it's not working, so I cannot tell when.

[2021-02-03 15:45] PetrKulko opened #2319 "Error"
---
* **Version**: 2.26.2
* **Web/Desktop**: Desktop
* **Platform**: win32
* **Avocode UID**: 1150806
---
[code]

[2021-02-04 16:55] jakubzitny commented on #2319
Hi @KulkoP, thanks for the report, but do you realize you're using an extremely old version of Avocode? Please, download the latest from https://avocode.com/download and let us know how that goes 😉

[2021-02-04 16:55] #2319 closed, assigned to nobody

[2021-02-25 22:13] #1214 closed

[2021-03-26 09:19] jakubzitny commented on #2318
Hi @evromalarkey, this has been fixed in the latest version of Avocode. Please update, and if it still doesn't work for you, please follow the instructions in [our Help Center](https://help.avocode.com/en/articles/1673402-align-your-website-or-mobile-app-with-the-pixel-checker-tool-in-avocode#troubleshooting).

[2021-03-26 09:19] #2318 closed, assigned to nobody

[2021-08-11 09:21] ghost opened #2320 "Application vulnerability"
* **Version**: `4.15.0[latest]` [sidenote - the url in issue template doesn't work]

* **Web/Desktop**: Desktop [`electron`]

* **Platform/Browser**: MacOS

* **Avocode e-mail**: `freedfr0md3sire@wearehackerone.com`

Hi,
I'd like to disclose a severe vuln in your app. I failed to find your HackerOne program so I'm reaching through here.
Please contact me in the mail above.
Cheers.

[2021-09-26 11:17] #2307 closed, assigned to nobody